<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.ptp.debug.core.PTPDebugger">
      <debugger
            platform="*"
            name="%SDM.name"
            modes="run"
            cpu="*"
            class="org.eclipse.ptp.debug.external.core.debugger.ParallelDebugger"
            id="org.eclipse.ptp.debug.external.sdm">
      </debugger>
      <debugger
            platform="*"
            name="%Simulator.name"
            modes="run"
            cpu="*"
            class="org.eclipse.ptp.debug.external.core.simulator2.DebugSimulation2"
            id="org.eclipse.ptp.debug.external.sim2">
      </debugger>
   </extension>
</plugin>
