<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="SDMDebugger" name="SDM Debugger Configuration" schema="schema/SDMDebugger.exsd"/>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="org.eclipse.ptp.internal.debug.sdm.core.PreferenceInitializer">
        </initializer>
     </extension>
     <extension
           point="org.eclipse.ptp.debug.core.parallelDebuggers">
        <debugger
              class="org.eclipse.ptp.internal.debug.sdm.core.SDMDebugger"
              cpu="*"
              id="org.eclipse.ptp.debug.sdm"
              modes="run"
              name="%SDM.name"
              platform="*">
        </debugger>
     </extension>
     <extension
           point="org.eclipse.ptp.debug.sdm.core.SDMDebugger">
        <debugger
              name="gdb-mi"
              priority="10"
              sdmPath="/usr/local/bin/sdm">
        </debugger>
     </extension>
</plugin>
