<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="providerContributors" name="%extension-point.name" schema="schema/providerContributors.exsd"/>
   <extension-point id="serviceContributors" name="%extension-point.name.0" schema="schema/serviceContributors.exsd"/>
   <extension-point id="wizardExtensions" name="%extension-point.name.1" schema="schema/wizardExtensions.exsd"/>
   <extension
		point="org.eclipse.ui.views">
	<category
		name="%ServicesViewCategory.name"
		id="org.eclipse.ptp.services.ui.views">
	</category>
  	 <view
          category="org.eclipse.ptp.services.ui.views"
          class="org.eclipse.ptp.internal.services.ui.views.ServiceConfigurationView"
          icon="icons/etool16/service.gif"
          id="org.eclipse.ptp.services.ui.views.serviceConfigurationView"
          name="%ServiceConfigurationView.name">
     </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.ptp.services.ui.ServiceConfigurationPropertyPage"
            id="org.eclipse.ptp.services.ui.properties"
            name="%ServiceConfigurationsPropertyPage.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.remote.ui.RemoteDevelopmentPreferencePage"
            class="org.eclipse.ptp.internal.services.ui.preferences.ServiceConfigurationPreferencePage"
            id="org.eclipse.ptp.services.ui.ServiceConfigurationPreference"
            name="%ServiceConfigurationsPreferencePage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ptp.services.core.IServiceConfiguration"
            class="org.eclipse.ptp.internal.services.ui.adapters.ServiceModelWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ptp.services.core.IServiceProvider"
            class="org.eclipse.ptp.internal.services.ui.adapters.ServiceModelWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ptp.services.core.IServiceModelManager"
            class="org.eclipse.ptp.internal.services.ui.adapters.ServiceModelWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ptp.services.core.IService"
            class="org.eclipse.ptp.internal.services.ui.adapters.ServiceModelWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.ptp.services.ui.serviceConfiguration.popupMenu"
            objectClass="org.eclipse.ptp.services.core.IServiceConfiguration">
         <action
               class="org.eclipse.ptp.internal.services.ui.actions.EditServiceConfigurationAction"
               enablesFor="1"
               id="org.eclipse.ptp.services.ui.actions.editServiceConfiguration"
               label="%EditServiceConfiguration.label">
         </action>
         <action
               class="org.eclipse.ptp.internal.services.ui.actions.RemoveServiceConfigurationAction"
               enablesFor="+"
               id="org.eclipse.ptp.services.ui.actions.removeServiceConfiguration"
               label="%RemoveServiceConfiguration.label">
         </action>
         <action
               class="org.eclipse.ptp.internal.services.ui.actions.SelectActiveServiceConfigurationAction"
               enablesFor="1"
               id="org.eclipse.ptp.services.ui.actions.selectActiveServiceConfiguration"
               label="%SetActiveServiceConfiguration.label">
         </action>
      </objectContribution>
      <viewerContribution
            id="org.eclipse.ptp.services.ui.serviceConfiguration.popupMenu2"
            targetID="org.eclipse.ptp.services.ui.views.serviceConfigurationView">
         <action
               class="org.eclipse.ptp.internal.services.ui.actions.AddServiceConfigurationAction"
               enablesFor="*"
               id="org.eclipse.ptp.services.ui.actions.addServiceConfiguration"
               label="%AddServiceConfiguration.label">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.ptp.services.ui.importWizardCategory"
            name="%ServiceImportWizardCategory.name">
      </category>
      <wizard
            category="org.eclipse.ptp.services.ui.importWizardCategory"
            class="org.eclipse.ptp.services.ui.wizards.ServiceConfigurationImportWizard"
            icon="icons/obj16/service_configuration_obj.gif"
            id="org.eclipse.ptp.services.ui.serviceConfigurationImportWizard"
            name="%ServiceConfigurationImportWizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.eclipse.ptp.services.ui.exportWizardCategory"
            name="%ServiceExportWizardCategory.name">
      </category>
      <wizard
            category="org.eclipse.ptp.services.ui.exportWizardCategory"
            class="org.eclipse.ptp.services.ui.wizards.ServiceConfigurationExportWizard"
            icon="icons/obj16/service_configuration_obj.gif"
            id="org.eclipse.ptp.services.ui.serviceConfigurationExportWizard"
            name="%ServiceConfigurationExportWizard.name">
      </wizard>
   </extension>
</plugin>
