<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="providerContributors" name="Service Provider Contributors" schema="schema/providerContributors.exsd"/>
   <extension-point id="serviceContributors" name="Service Contributors" schema="schema/serviceContributors.exsd"/>
   <extension-point id="wizardExtensions" name="Service Configuration Wizard Extensions" schema="schema/wizardExtensions.exsd"/>
</plugin>
