<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

     <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            name="%MngResourceProp.name"
            nameFilter="*.f"
            class="org.eclipse.cdt.managedbuilder.ui.properties.ResourceBuildPropertyPage"
            id="org.eclipse.photran.managedbuilder.ui.properties.ResourceBuildProperties.f">
      </page>
      <page
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            name="%MngResourceProp.name"
            nameFilter="*.f90"
            class="org.eclipse.cdt.managedbuilder.ui.properties.ResourceBuildPropertyPage"
            id="org.eclipse.photran.managedbuilder.ui.properties.ResourceBuildProperties.f90">
      </page>
      <page
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            name="%MngResourceProp.name"
            nameFilter="*.f95"
            class="org.eclipse.cdt.managedbuilder.ui.properties.ResourceBuildPropertyPage"
            id="org.eclipse.photran.managedbuilder.ui.properties.ResourceBuildProperties.f95">
      </page>
   </extension>
 
</plugin>
