<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.eclipse.ptp.rdt.core.RemoteFastIndexer"
         name="%remoteIndexer.name"
         point="org.eclipse.cdt.core.CIndexer">
      <run
            class="org.eclipse.ptp.internal.rdt.core.index.RemoteFastIndexer">
      </run>
   </extension>
   <extension
         point="org.eclipse.ptp.rdt.services.services">
      <service
            id="org.eclipse.ptp.rdt.core.CIndexingService"
            name="%CIndexingService.name">
         <nature
               id="org.eclipse.cdt.core.cnature">
         </nature>
         <nature
               id="org.eclipse.cdt.core.ccnature">
         </nature>
      </service>
      <service
            id="org.eclipse.ptp.rdt.core.BuildService"
            name="%BuildService.name">
         <nature
               id="org.eclipse.cdt.core.cnature">
         </nature>
         <nature
               id="org.eclipse.cdt.core.ccnature">
         </nature>
      </service>
   </extension>
   <extension
         id="remoteMakeNature"
         name="%RemoteMakeNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.ptp.rdt.core.resources.RemoteMakeNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.ptp.rdt.core.remoteMakeBuilder">
      </builder>
   </extension>
   <extension
         id="org.eclipse.ptp.rdt.core.remoteMakeBuilder"
         name="%RemoteMakeBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true">
         <run
               class="org.eclipse.ptp.rdt.core.remotemake.RemoteMakeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="RemoteGCCStandardMakePerProjectProfile"
         name="Remote GCC Standard Make Per Project Profile"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="org.eclipse.ptp.rdt.core.remotemake.ProjectDescriptionCollector"
            scope="project"/>
      <buildOutputProvider>
         <open/>
         <scannerInfoConsoleParser class="org.eclipse.cdt.make.internal.core.scannerconfig.gnu.GCCScannerInfoConsoleParser"/>
      </buildOutputProvider>
      <scannerInfoProvider providerId="specsFile">
         <run
               command="gcc"
               arguments="-E -P -v -dD ${specs_file_path}"
               class="org.eclipse.ptp.rdt.core.remotemake.RemoteGCCSpecsRunSIProvider"/>
         <scannerInfoConsoleParser class="org.eclipse.cdt.make.internal.core.scannerconfig.gnu.GCCSpecsConsoleParser"/>
      </scannerInfoProvider>
   </extension>
   <extension
         id="remoteNature"
         name="%RemoteNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.ptp.rdt.core.resources.RemoteNature">
         </run>
      </runtime>
   </extension>
</plugin>
