<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="dataManagers" name="Performance Data Managers" schema="schema/dataManagers.exsd"/>
   <extension-point id="workflows" name="Performance Workflow Definitions" schema="schema/workflows.exsd"/>
   <extension-point id="configurationTabs" name="Performance Configuration Tabs" schema="schema/configurationTabs.exsd"/>
   <extension-point id="toolUITabs" name="External Tool UI Tabs" schema="schema/toolUITabs.exsd"/>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.ptp.etfw.ui.ToolLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.etfw.tau.performance.launchConfigurationTabGroup"
            type="org.eclipse.cdt.launch.applicationLaunchType">
         <launchMode
               description="Build C, C++ or Fortran applications with performance analysis tools.  Launch as sequential programs or use the command line for parallel execution."
               mode="profile"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.ui.preferences.ptpPreferencesPage"
            class="org.eclipse.ptp.etfw.preferences.ExternalToolPreferencePage"
            id="org.eclipse.ptp.etfw.preferences.ExternalToolsMainPage"
            name="External Tools"/>
      <page
            category="org.eclipse.ptp.etfw.preferences.ExternalToolsMainPage"
            class="org.eclipse.ptp.etfw.preferences.ToolLocationPreferencePage"
            id="org.eclipse.ptp.etfw.preferences.ExternalToolLocationPreferencePage"
            name="Tool Location Configuration"/> 
   </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
       <actionSet id="org.eclipse.debug.ui.profileActionSet"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.photran.ui.FortranPerspective">
       <actionSet id="org.eclipse.debug.ui.profileActionSet"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.ptp.ui.PTPRunPerspective">
       <actionSet id="org.eclipse.debug.ui.profileActionSet"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
       <actionSet id="org.eclipse.debug.ui.profileActionSet"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
       <actionSet id="org.eclipse.debug.ui.profileActionSet"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
       <actionSet id="org.eclipse.debug.ui.profileActionSet"/>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.ptp.rdt.ui.remoteCPerspective">
       <actionSet
             id="org.eclipse.debug.ui.profileActionSet">
       </actionSet>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.ptp.rm.lml.ui.SystemMonitoringPerspective">
       <actionSet
             id="org.eclipse.debug.ui.profileActionSet">
       </actionSet>
    </perspectiveExtension>
   </extension>
 <extension
       point="org.eclipse.debug.core.launchDelegates">
    <launchDelegate
          delegate="org.eclipse.ptp.etfw.internal.ToolLaunchConfigurationDelegate"
          id="org.eclipse.ptp.etfw.tau.performance.performancelaunch"
          modes="profile"
          name="Performance Analysis"
          type="org.eclipse.cdt.launch.applicationLaunchType">
    </launchDelegate>
 </extension>
</plugin>
