<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Makefile Editor extensions.  -->
   <extension point="org.eclipse.ui.editors">
      <editor
            name="%MakefileEditor.name"
            icon="icons/etool16/makefile.gif"
            contributorClass="org.eclipse.cdt.make.internal.ui.editor.MakefileEditorActionContributor"
            class="org.eclipse.ptp.rdt.make.internal.ui.editor.RemoteMakefileEditor"
            id="org.eclipse.ptp.rdt.make.editor"
            extensions="mk"
            filenames="makefile, Makefile">
            <contentTypeBinding contentTypeId="org.eclipse.cdt.make.core.makefile"/>
      </editor>
   </extension>
</plugin>
