<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.mpi.mpich2.ui.launch.MPICH2RMLaunchConfigurationFactory"
            id="org.eclipse.ptp.rm.mpich2.ui.launchConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.ui.wizards.RMProviderContributor"
            id="org.eclipse.ptp.rm.mpi.mpich2.resourceManager">
      </providerContributor>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.runtimeModelPresentations">
      <runtimeModelPresentation
            class="org.eclipse.ptp.rm.mpi.mpich2.ui.MPICH2RuntimeModelPresentation"
            id="org.eclipse.ptp.rm.mpi.mpich2.resourceManager">
      </runtimeModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationWizards">
      <configurationWizard
            class="org.eclipse.ptp.rm.mpi.mpich2.ui.wizards.MPICH2RMConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.mpi.mpich2.resourceManager">
      </configurationWizard>
   </extension>
</plugin>
