<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurations">
      <configurationWizard
            class="org.eclipse.ptp.rm.mpi.mpich2.ui.wizards.MPICH2RMConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.mpich2.ui.configurationWizard"/>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.mpi.mpich2.ui.launch.MPICH2RMLaunchConfigurationFactory"
            id="org.eclipse.ptp.rm.mpich2.ui.launchConfiguration"/>
   </extension>
</plugin>
