<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rdt.core.languageProperties">
      <propertyProvider
            class="org.eclipse.ptp.rdt.xlc.XlcLanguagePropertyProvider">
         <language
               id="org.eclipse.cdt.core.lrparser.xlc.cpp">
         </language>
         <language
               id="org.eclipse.cdt.core.lrparser.xlc.c">
         </language>
      </propertyProvider>
   </extension>

</plugin>
