<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManagerMonitor
            class="org.eclipse.ptp.rm.lml.monitor.core.LMLResourceManagerFactory"
            id="org.eclipse.ptp.rm.lml.monitor">
      </resourceManagerMonitor>
   </extension>

</plugin>
