<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.views.MonitorView"
            icon="icons/eview16/monitor_view.gif"
            id="org.eclipse.ptp.rm.ui.views.MonitorView"
            name="%MonitorView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%Commands.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            name="%Commands.name">
      </category>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.addMonitor"
            name="%AddMonitorCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.removeMonitor"
            name="%RemoveMonitorCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.startMonitor"
            name="%StartMonitorCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.stopMonitor"
            name="%StopMonitorCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.refreshMonitor"
            name="%RefreshMonitorCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%JobCommands.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            name="%JobCommands.name">
      </category>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%CancelJobCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.cancelJob"
            name="%CancelJobCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%HoldJobCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.holdJob"
            name="%HoldJobCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%ReleaseJobCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.releaseJob"
            name="%ReleaseJobCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%SuspendJobCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.suspendJob"
            name="%SuspendJobCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%ResumeJobCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.resumeJob"
            name="%ResumeJobCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%RerunJobCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.rerunJob"
            name="%RerunJobCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%GetJobOutputCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.getJobOutput"
            name="%GetJobOutputCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%GetJobErrorCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.getJobError"
            name="%GetJobErrorCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%RefreshJobCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.refreshJob"
            name="%RefreshJobCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.jobCommands"
            description="%RemoveJobCommand.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.removeJob"
            name="%RemoveJobCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.AddMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.addMonitor">
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.RemoveMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.removeMonitor">
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.StartMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.startMonitor">
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.StopMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.stopMonitor">
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.RefreshMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.refreshMonitor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.CancelJobHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.cancelJob">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
         	<with
                  variable="selection">
                <iterate
                      ifEmpty="false">
                   <test
                         property="org.eclipse.ptp.rm.authorized"
                         value="true">
                   </test>
                   <test
                         property="org.eclipse.ptp.rm.operationSupported"
                         value="TERMINATE">
                   </test>
                   <not>
                      <test
                            property="org.eclipse.ptp.rm.jobState"
                            value="COMPLETED">
                      </test>
                   </not>
                </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.HoldJobHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.holdJob">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
         	<with
                  variable="selection">
                <iterate
                      ifEmpty="false">
                   <test
                         property="org.eclipse.ptp.rm.authorized"
                         value="true">
                   </test>
                   <test
                         property="org.eclipse.ptp.rm.operationSupported"
                         value="HOLD">
                   </test>
                   <not>
                      <test
                            property="org.eclipse.ptp.rm.jobState"
                            value="COMPLETED">
                      </test>
                   </not>
                   <not>
                      <test
                            property="org.eclipse.ptp.rm.jobStateDetail"
                            value="USER_ON_HOLD">
                      </test>
                   </not>
                   <not>
                      <test
                            property="org.eclipse.ptp.rm.jobStateDetail"
                            value="SYSTEM_ON_HOLD">
                      </test>
                   </not>
                </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.ReleaseJobHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.releaseJob">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
         	<with
                  variable="selection">
                <iterate
                      ifEmpty="false">
                   <test
                         property="org.eclipse.ptp.rm.authorized"
                         value="true">
                   </test>
                   <test
                         property="org.eclipse.ptp.rm.operationSupported"
                         value="RELEASE">
                   </test>
                   <test
                         property="org.eclipse.ptp.rm.jobStateDetail"
                         value="USER_ON_HOLD">
                   </test>
                   <test
                         property="org.eclipse.ptp.rm.jobStateDetail"
                         value="SYSTEM_ON_HOLD">
                   </test>
                </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.SuspendJobHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.suspendJob">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
         	<with
                  variable="selection">
                <iterate
                      ifEmpty="false">
                   <test
                         property="org.eclipse.ptp.rm.authorized"
                         value="true">
                   </test>
                   <test
                         property="org.eclipse.ptp.rm.operationSupported"
                         value="SUSPEND">
                   </test>
                   <not>
                      <test
                            property="org.eclipse.ptp.rm.jobState"
                            value="COMPLETED">
                      </test>
                   </not>
                   <not>
                      <test
                            property="org.eclipse.ptp.rm.jobState"
                            value="SUSPENDED">
                      </test>
                   </not>
                </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.ResumeJobHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.resumeJob">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
         	<with
                  variable="selection">
                <iterate
                      ifEmpty="false">
                   <test
                         property="org.eclipse.ptp.rm.authorized"
                         value="true">
                   </test>
                   <test
                         property="org.eclipse.ptp.rm.operationSupported"
                         value="RESUME">
                   </test>
                   <test
                         property="org.eclipse.ptp.rm.jobState"
                         value="SUSPENDED">
                   </test>
                </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.RerunJobHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.rerunJob">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        property="org.eclipse.ptp.rm.authorized"
                        value="true">
                  </test>
                  <test
                        property="org.eclipse.ptp.rm.jobState"
                        value="RUNNING">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.GetJobOutputHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.getJobOutput">
         <activeWhen>
            <with
                  variable="selection">
               <iterate ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        property="org.eclipse.ptp.rm.outputReady"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.GetJobErrorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.getJobError">
         <activeWhen>
            <with
                  variable="selection">
               <iterate ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        property="org.eclipse.ptp.rm.errorReady"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.RefreshJobHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.refreshJob">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
         	<with
                  variable="selection">
                <iterate
                      ifEmpty="false">
                   <test
                         property="org.eclipse.ptp.rm.operationSupported"
                         value="GET_JOB_STATUS">
                   </test>
                </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.ptp.internal.rm.lml.monitor.ui.handlers.RemoveJobHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.removeJob">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.ptp.rm.lml.internal.core.model.Row">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
         	<with
                  variable="selection">
                <iterate
                      ifEmpty="false">
                   <test
                         property="org.eclipse.ptp.rm.jobState"
                         value="COMPLETED">
                   </test>
                </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ptp.rm.ui.views.MonitorView">
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.startMonitor"
               icon="icons/eview16/start_monitor.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.stopMonitor"
               icon="icons/eview16/stop_monitor.gif"
               style="push">
         </command>
         <separator
               name="monitor1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.refreshMonitor"
               icon="icons/eview16/refresh_monitor.gif"
               style="push">
         </command>
         <separator
               name="monitor2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.addMonitor"
               icon="icons/eview16/add_monitor.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.removeMonitor"
               icon="icons/eview16/remove_monitor.gif"
               style="push">
         </command>
         <separator
               name="monitor3"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ptp.rm.lml.ui.InactiveJobsView?after=additions">
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.cancelJob"
               icon="icons/eview16/cancel_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.holdJob"
               icon="icons/eview16/suspend_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.resumeJob"
               icon="icons/eview16/resume_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.suspendJob"
               icon="icons/eview16/suspend_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.releaseJob"
               icon="icons/eview16/release_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.rerunJob"
               icon="icons/eview16/rerun_job.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <separator
               name="job1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.getJobOutput"
               icon="icons/eview16/get_output.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.getJobError"
               icon="icons/eview16/get_error.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
         <separator
               name="job2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.refreshJob"
               icon="icons/eview16/refresh_job.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <separator
               name="job3"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.removeJob"
               icon="icons/eview16/remove_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ptp.rm.lml.ui.ActiveJobsView?after=additions">
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.cancelJob"
               icon="icons/eview16/cancel_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.holdJob"
               icon="icons/eview16/suspend_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.resumeJob"
               icon="icons/eview16/resume_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.suspendJob"
               icon="icons/eview16/suspend_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.releaseJob"
               icon="icons/eview16/release_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.rerunJob"
               icon="icons/eview16/rerun_job.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <separator
               name="job1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.getJobOutput"
               icon="icons/eview16/get_output.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.getJobError"
               icon="icons/eview16/get_error.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
         <separator
               name="job2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.refreshJob"
               icon="icons/eview16/refresh_job.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
         <separator
               name="job3"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.removeJob"
               icon="icons/eview16/remove_job.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="+">
               </count>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="org.eclipse.ptp.internal.rm.lml.monitor.ui.propertyTesters.JobPropertyTester"
               id="org.eclipse.ptp.rm.lml.monitor.ui.jobPropertyTester"
               namespace="org.eclipse.ptp.rm"
               properties="outputReady,errorReady,operationSupported,jobState,jobStateDetail,authorized"
               type="java.lang.Object">
         </propertyTester>
      </extension>
</plugin>
