<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ptp.rm.lml.monitor.ui.views.MonitorView"
            icon="icons/eview16/started.gif"
            id="org.eclipse.ptp.rm.ui.views.MonitorView"
            name="%MonitorView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%Commands.description"
            id="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            name="%Commands.name">
      </category>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.addMonitor"
            name="%AddMonitorCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.removeMonitor"
            name="%RemoveMonitorCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.startMonitor"
            name="%StartMonitorCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.stopMonitor"
            name="%StopMonitorCommand.name">
      </command>
      <command
            categoryId="org.eclipse.ptp.rm.lml.monitor.ui.monitorCommands"
            id="org.eclipse.ptp.rm.lml.monitor.ui.refreshMonitor"
            name="%RefreshMonitorCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ptp.rm.lml.monitor.ui.handlers.AddMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.addMonitor">
      </handler>
      <handler
            class="org.eclipse.ptp.rm.lml.monitor.ui.handlers.RemoveMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.removeMonitor">
      </handler>
      <handler
            class="org.eclipse.ptp.rm.lml.monitor.ui.handlers.StartMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.startMonitor">
      </handler>
      <handler
            class="org.eclipse.ptp.rm.lml.monitor.ui.handlers.StopMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.stopMonitor">
      </handler>
      <handler
            class="org.eclipse.ptp.rm.lml.monitor.ui.handlers.RefreshMonitorHandler"
            commandId="org.eclipse.ptp.rm.lml.monitor.ui.refreshMonitor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ptp.rm.ui.views.MonitorView">
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.startMonitor"
               icon="icons/eview16/start.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.stopMonitor"
               icon="icons/eview16/stop.gif"
               style="push">
         </command>
         <separator
               name="org.eclipse.ptp.rm.lml.monitor.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.refreshMonitor"
               icon="icons/eview16/refresh.gif"
               style="push">
         </command>
         <separator
               name="org.eclipse.ptp.rm.lml.monitor.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.addMonitor"
               icon="icons/eview16/add_monitor.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ptp.rm.lml.monitor.ui.removeMonitor"
               icon="icons/eview16/rem_monitor.gif"
               style="push">
         </command>
         <separator
               name="org.eclipse.ptp.rm.lml.monitor.ui.separator3"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.ptp.rm.lml.ui.persistentStatusContribution"
            objectClass="org.eclipse.ptp.rm.lml.internal.core.model.Row">
         <action
               class="org.eclipse.ptp.rm.lml.monitor.ui.actions.SuspendJob"
               enablesFor="+"
               icon="icons/eview16/job_suspended.gif"
               id="org.eclipse.ptp.rm.lml.monitor.ui.actions.SuspendJob"
               label="%action.label"
               menubarPath="job"
               tooltip="%action.tooltip">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.monitor.ui.actions.GetOutput"
               enablesFor="+"
               icon="icons/eview16/refresh.gif"
               id="org.eclipse.ptp.rm.lml.monitor.ui.actions.GetOutput"
               label="%action.label.0"
               menubarPath="file"
               tooltip="%action.tooltip.0">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.monitor.ui.actions.GetError"
               enablesFor="+"
               icon="icons/eview16/refresh.gif"
               id="org.eclipse.ptp.rm.lml.monitor.ui.actions.GetError"
               label="%action.label.1"
               menubarPath="file"
               tooltip="%action.tooltip.1">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.monitor.ui.actions.RefreshJobStatus"
               enablesFor="+"
               icon="icons/eview16/view-refresh.png"
               id="org.eclipse.ptp.rm.lml.monitor.ui.actions.RefreshJobStatus"
               label="%action.label.2"
               menubarPath="status"
               tooltip="%action.tooltip.2">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.monitor.ui.actions.ReleaseJob"
               enablesFor="+"
               icon="icons/eview16/job_starting.gif"
               id="org.eclipse.ptp.rm.lml.monitor.ui.actions.ReleaseJob"
               label="%action.label.3"
               menubarPath="job"
               tooltip="%action.tooltip.3">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.monitor.ui.actions.HoldJob"
               enablesFor="+"
               icon="icons/eview16/job_suspended.gif"
               id="org.eclipse.ptp.rm.lml.monitor.ui.actions.HoldJob"
               label="%action.label.4"
               menubarPath="job"
               tooltip="%action.tooltip.4">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.monitor.ui.actions.CancelJob"
               enablesFor="+"
               icon="icons/eview16/job_completed.gif"
               id="org.eclipse.ptp.rm.lml.monitor.ui.actions.CancelJob"
               label="%action.label.5"
               menubarPath="job"
               tooltip="%action.tooltip.5">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.monitor.ui.actions.RemoveJob"
               enablesFor="+"
               icon="icons/eview16/delete.gif"
               id="org.eclipse.ptp.rm.lml.monitor.ui.actions.RemoveJob"
               label="%action.label.6"
               menubarPath="table"
               tooltip="%action.tooltip.6">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.monitor.ui.actions.ResumeJob"
               enablesFor="+"
               icon="icons/eview16/job_running.gif"
               id="org.eclipse.ptp.rm.lml.monitor.ui.actions.ResumeJob"
               label="%action.label.7"
               menubarPath="job"
               tooltip="%action.tooltip.7">
         </action>
      </objectContribution>
   </extension>
</plugin>
