<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationWizards">
      <configurationWizard
            class="org.eclipse.ptp.rm.lml.monitor.ui.wizards.LMLRMMonitorConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.lml.monitor">
      </configurationWizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ptp.ui.views.resourceManagerView">
         <menu
               id="org.eclipse.ptp.ui.views.resourceManagerView.closedLL.menu"
               label="%resourceManagerView.closedLL.label"
               mnemonic="%resourceManagerView.closedLL.mnemonic"
               tooltip="Re-open closed LLview tables">
             <dynamic
               class="org.eclipse.ptp.rm.lml.monitor.ui.menus.LLGuiOpenContributionItem"
               id="org.eclipse.ptp.rm.lml.monitor.LLGuiOpenContributionItem">
         </dynamic>
        </menu>
      </menuContribution>
   </extension>
</plugin>
