<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.ptp.rm.lml.ui.views"
            name="%ParallelViewCategory.name">
      </category>
      <view
            allowMultiple="true"
            category="org.eclipse.ptp.rm.lml.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.NodesView"
            icon="icons/parallel_perspective.gif"
            id="org.eclipse.ptp.rm.lml.ui.views.NodesView"
            name="org.eclipse.ptp.rm.lml.ui.views.NodesView"
            restorable="false">
      </view>
      <view
            category="org.eclipse.ptp.rm.lml.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.LMLView"
            icon="icons/rm/rm_view.gif"
            id="org.eclipse.ptp.rm.lml.ui.views.LMLView"
            name="%LMLView.name">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.ptp.rm.lml.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.TableView"
            icon="icons/parallel_perspective.gif"
            id="org.eclipse.ptp.rm.lml.ui.views.TableView"
            name="org.eclipse.ptp.rm.lml.ui.views.TableView"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.ptp.rm.lml.internal.ui.LMLRuntimePerspectiveFactory"
            icon="icons/parallel_perspective.gif"
            id="org.eclipse.ptp.rm.lml.ui.LMLRunPerspective"
            name="%Perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ptp.rm.lml.ui..views.TableView?afetr=additions">
         <menu
               label="Hide column">
         </menu>
         <menu
               label="Show column">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.ptp.rm.lml.ui.persistentStatusContribution"
            objectClass="org.eclipse.ptp.rm.lml.internal.core.model.Row">
         <action
               class="org.eclipse.ptp.rm.lml.ui.actions.SuspendJob"
               enablesFor="+"
               id="org.eclipse.ptp.rm.lml.ui.actions.SuspendJob"
               label="Suspend Job"
               menubarPath="job"
               tooltip="Suspend the job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.ui.actions.GetOutput"
               enablesFor="+"
               id="org.eclipse.ptp.rm.lml.ui.actions.GetOutput"
               label="Get Job Output"
               menubarPath="file"
               tooltip="Display the job output in a console.">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.ui.actions.GetError"
               enablesFor="+"
               id="org.eclipse.ptp.rm.lml.ui.actions.GetError"
               label="Get Job Error"
               menubarPath="file"
               tooltip="Display the job error in a console.">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.ui.actions.RefreshJobStatus"
               enablesFor="+"
               id="org.eclipse.ptp.rm.lml.ui.actions.RefreshJobStatus"
               label="Refresh Job Status"
               menubarPath="status"
               tooltip="Refresh the state and state detail for this job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.ui.actions.ReleaseJob"
               enablesFor="+"
               id="org.eclipse.ptp.rm.lml.ui.actions.ReleaseJob"
               label="Release Job"
               menubarPath="job"
               tooltip="Release the job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.ui.actions.HoldJob"
               enablesFor="+"
               id="org.eclipse.ptp.rm.lml.ui.actions.HoldJob"
               label="Hold Job"
               menubarPath="job"
               tooltip="Hold the job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.ui.actions.CancelJob"
               enablesFor="+"
               id="org.eclipse.ptp.rm.lml.ui.actions.CancelJob"
               label="Cancel Job"
               menubarPath="job"
               tooltip="Terminate the job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.ui.actions.RemoveJob"
               enablesFor="+"
               id="org.eclipse.ptp.rm.lml.ui.actions.RemoveJob"
               label="Remove Job Entry"
               menubarPath="table"
               tooltip="Permanently remove job entry from table.">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml.ui.actions.ResumeJob"
               enablesFor="+"
               id="org.eclipse.ptp.rm.lml.ui.actions.ResumeJob"
               label="Resume Job"
               menubarPath="job"
               tooltip="Resume the job.">
         </action>
      </objectContribution>
   </extension>

</plugin>
