<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.NodesView"
            icon="icons/nodes_view.gif"
            id="org.eclipse.ptp.rm.lml.ui.SystemMonitorView"
            name="%NodediesplayView.name">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.TableView"
            icon="icons/active_jobs_view.gif"
            id="org.eclipse.ptp.rm.lml.ui.ActiveJobsView"
            name="%TableView1.name">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.TableView"
            icon="icons/inactive_jobs_view.gif"
            id="org.eclipse.ptp.rm.lml.ui.InactiveJobsView"
            name="%TableView2.name">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.InfoView"
            id="org.eclipse.ptp.rm.lml.ui.InfoView"
            name="%InfoView.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.ptp.rm.lml.internal.ui.LMLRuntimePerspectiveFactory"
            icon="icons/system_monitoring_perspective.gif"
            id="org.eclipse.ptp.rm.lml.ui.SystemMonitoringPerspective"
            name="%Perspective.name">
      </perspective>
   </extension>
   	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.debug.ui.DebugPerspective">
			<perspectiveShortcut
				id="org.eclipse.ptp.rm.lml.ui.SystemMonitoringPerspective">
			</perspectiveShortcut>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			<perspectiveShortcut
				id="org.eclipse.ptp.rm.lml.ui.SystemMonitoringPerspective">
			</perspectiveShortcut>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.ptp.rm.lml.ui.SystemMonitoringPerspective">
			<actionSet
				id="org.eclipse.debug.ui.launchActionSet">
			</actionSet>
   			<hiddenToolBarItem
         		id="org.eclipse.cdt.ui.navigate.opentype">
   			</hiddenToolBarItem>
		</perspectiveExtension>
	</extension>
    <extension
          point="org.eclipse.ui.activities">
       <activity
             id="org.eclipse.ptp.rm.lml.ui.systemMonitoringActivity"
             name="SystemMonitoringActivity">
          <enabledWhen>
             <with
                   variable="activeWorkbenchWindow.activePerspective">
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <equals
                         value="org.eclipse.ptp.rm.lml.ui.SystemMonitoringPerspective">
                   </equals>
                </iterate>
             </with>
          </enabledWhen>
       </activity>
       <activityPatternBinding
             activityId="org.eclipse.ptp.rm.lml.ui.systemMonitoringActivity"
             isEqualityPattern="true"
             pattern="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ptp.rm.lml.ui.systemMonitoringActivity"
             isEqualityPattern="false"
             pattern="org\.eclipse\.debug\.ui\..*/.*">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ptp.rm.lml.ui.systemMonitoringActivity"
             isEqualityPattern="false"
             pattern="org\.eclipse\.ui\.edit\..*/.*">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ptp.rm.lml.ui.systemMonitoringActivity"
             isEqualityPattern="false"
             pattern="org\.eclipse\.search\..*/.*">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ptp.rm.lml.ui.systemMonitoringActivity"
             isEqualityPattern="false"
             pattern="org\.eclipse\.navigate\..*/.*">
       </activityPatternBinding>
       <!--activityPatternBinding
             activityId="org.eclipse.ptp.rm.lml.ui.systemMonitoringActivity"
             isEqualityPattern="false"
             pattern="org\.eclipse\.mylyn\.tasks\..*/.*">
       </activityPatternBinding-->
    </extension>
   

</plugin>
