<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.ptp.rm.lml.ui.views"
            name="%ParallelViewCategory.name">
      </category>
      <view
            allowMultiple="true"
            category="org.eclipse.ptp.rm.lml.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.NodesView"
            icon="icons/parallel_perspective.gif"
            id="org.eclipse.ptp.rm.lml.ui.views.NodesView"
            name="org.eclipse.ptp.rm.lml.ui.views.NodesView"
            restorable="false">
      </view>
      <view
            category="org.eclipse.ptp.rm.lml.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.LMLView"
            icon="icons/rm/rm_view.gif"
            id="org.eclipse.ptp.rm.lml.ui.views.LMLView"
            name="%LMLView.name">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.ptp.rm.lml.ui.views"
            class="org.eclipse.ptp.rm.lml.ui.views.TableView"
            icon="icons/parallel_perspective.gif"
            id="org.eclipse.ptp.rm.lml.ui.views.TableView"
            name="org.eclipse.ptp.rm.lml.ui.views.TableView"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.ptp.rm.lml.internal.ui.LMLRuntimePerspectiveFactory"
            icon="icons/parallel_perspective.gif"
            id="org.eclipse.ptp.rm.lml.ui.LMLRunPerspective"
            name="%Perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ptp.rm.lml.ui..views.TableView?afetr=additions">
         <menu
               label="Hide column">
         </menu>
         <menu
               label="Show column">
         </menu>
      </menuContribution>
   </extension>

</plugin>
