<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!--=========================================-->
   <!-- Fortran-specific project property pages -->
   <!--=========================================-->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Analysis/Refactoring"
            class="org.eclipse.photran.internal.ui.properties.SearchPathsPropertyPage"
            id="org.eclipse.photran.ui.SearchPathsPropertyPage"
            category="org.eclipse.photran.ui.newui.Page_head_general">
         <!--filter
               name="nature"
               value="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
         </filter-->
      </page>
   </extension>

   <!-- Commands, key bindings, and popup menu entries

        Each command should have its ID declared as a constant in AbstractFortranEditor, and
        it must be set up in AbstractFortranEditor#createActions().

        For menubarPath, see class ITextEditorActionConstants -->

   <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
         carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->

   <!--==================================-->
   <!-- Open Declaration (F3 or Ctrl+F3) -->
   <!--==================================-->
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Navigation"
            description="Navigation"
            id="org.eclipse.photran.ui.NavigationCategory">
      </category>
      <command
            categoryId="org.eclipse.photran.ui.NavigationCategory"
            description="Open Declaration"
            id="org.eclipse.photran.ui.OpenDeclarationCommand"
            name="Open Declaration">
      </command>
   </extension>
   <extension
            point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
        <key
            sequence="F3"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.OpenDeclarationCommand"/>
        <key
            sequence="M1+F3"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.OpenDeclarationCommand"/>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Fortran Analysis Actions"
            description="Fortran Analysis Actions"
            visible="false"
            id="org.eclipse.photran.ui.AnalysisActionSet">
         <action
               label="&amp;Open Declaration"
               definitionId="org.eclipse.photran.ui.OpenDeclarationCommand"
               class="org.eclipse.photran.internal.ui.actions.OpenDeclaration"
               menubarPath="navigate/additions"
               id="org.eclipse.photran.ui.OpenDeclarationAction"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.photran.ui.AnalysisActionSet">
         <part id="org.eclipse.photran.ui.FreeFormFortranEditor"/>
         <part id="org.eclipse.photran.ui.FixedFormFortranEditor"/>
      </actionSetPartAssociation>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
     <viewerContribution
        targetID="#FixedFormFortranEditorContextMenu"
        id="org.eclipse.photran.ui.FixedNavigationContribution">
       <action
            class="org.eclipse.photran.internal.ui.actions.OpenDeclaration"
            definitionId="org.eclipse.photran.ui.OpenDeclarationCommand"
            id="org.eclipse.photran.ui.OpenDeclarationMenuAction"
            label="&amp;Open Declaration"
            menubarPath="group.open"/>
     </viewerContribution>
     <viewerContribution
        targetID="#FreeFormFortranEditorContextMenu"
        id="org.eclipse.photran.ui.FreeNavigationContribution">
       <action
            class="org.eclipse.photran.internal.ui.actions.OpenDeclaration"
            definitionId="org.eclipse.photran.ui.OpenDeclarationCommand"
            id="org.eclipse.photran.ui.OpenDeclarationMenuAction"
            label="&amp;Open Declaration"
            menubarPath="group.open"/>
     </viewerContribution>
   </extension>
   <!--================-->
   <!-- Fortran Search -->
   <!--================-->
   <extension
      id="vpgSearchPage"
      name="vpg search name"
      point="org.eclipse.search.searchPages">
     <page
        canSearchEnclosingProjects="true"
        class="org.eclipse.photran.internal.ui.search.VPGSearchPage"
        extensions="f:90,f90:90,f77:90"
        icon="icons/full/obj16/fsearch_obj.gif"
        id="org.eclipse.photran.ui.vpgSearchPage"
        label="Fortran Search"
        showScopeSection="true"
        sizeHint="460, 160"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Fortran Search"
            id="org.eclipse.photran.ui.vpg.SearchActionSet"
            label="Fortran Search">
         <action
               class="org.eclipse.photran.internal.ui.search.OpenFortranSearchPageAction"
               icon="icons/full/obj16/fsearch_obj.gif"
               id="org.eclipse.photran.ui.vpg.actions.OpenFortranSearchPage"
               label="F&amp;ortran..."
               menubarPath="org.eclipse.search.menu/dialogGroup">
         </action>
         <menu
               id="org.eclipse.search.menu"
               label="Se&amp;arch">
         </menu>
      </actionSet>
   </extension>
   <!--=====================-->
   <!-- Find All References -->
   <!--=====================-->
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.photran.internal.ui.search.ReferenceSearchViewPage"
            id="searchreferences.search.ReferenceSearchViewPage"
            searchResultClass="org.eclipse.photran.internal.ui.search.ReferenceSearchResult"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Fortran Search"
            description="Fortran Search"
            id="org.eclipse.photran.ui.SearchCategory">
      </category>
      <command
            categoryId="org.eclipse.photran.ui.SearchCategory"
            description="Searches the workspace for all references to a Fortran identifier"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceCommand"
            name="Find All References in Workspace" />
   </extension>
   <extension
            point="org.eclipse.ui.bindings">
        <!--win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
        <!-- Bind Shift+Ctrl+G to References > Workspace -->
        <key
            sequence="M2+M1+G"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceCommand"/>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Fortran Search Actions"
            description="Fortran Search Actions"
            visible="false"
            id="org.eclipse.photran.ui.SearchActionSet">
                <!-- Copied from org.eclipse.search plugin.xml to ensure menu and groups are present -->
	      	<menu
	            id="org.eclipse.search.menu"
	            label="Se&amp;arch"
	            path="navigate">
				<groupMarker name="internalDialogGroup"/>   <!-- not to be used by clients  -->
				<groupMarker name="dialogGroup"/>           <!-- to be used by clients      -->
				<separator name="fileSearchContextMenuActionsGroup"/> <!-- to be used by clients      -->
	         	<separator name="contextMenuActionsGroup"/> <!-- to be used by clients -->
	         	<separator name="occurencesActionsGroup"/> <!-- to be used by clients -->
	         	<separator name="extraSearchGroup"/> <!-- to be used by clients -->
	      	</menu>

         <menu
               id="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu"
               label="R&amp;eferences"
               path="org.eclipse.search.menu/occurencesActionsGroup"><!-- See plugin.xml for org.eclipse.search -->
           <separator
               name="FindAllReferencesGroup">
           </separator>
         </menu>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesFileActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesFileCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesFileAction"
            label="File"
            menubarPath="org.eclipse.search.menu/org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesProjectActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectAction"
            label="Project"
            menubarPath="org.eclipse.search.menu/org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesWorkspaceActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceAction"
            label="Workspace"
            menubarPath="org.eclipse.search.menu/org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.photran.ui.SearchActionSet">
         <part id="org.eclipse.photran.ui.FreeFormFortranEditor"/>
         <part id="org.eclipse.photran.ui.FixedFormFortranEditor"/>
      </actionSetPartAssociation>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
     <viewerContribution
         id="org.eclipse.photran.ui.vpg.FixedFortranFindReferencesContribution"
         targetID="#FixedFormFortranEditorContextMenu">
      <menu
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu"
            label="Re&amp;ferences"
            path="group.search"><!-- See IContextMenuConstants -->
         <separator
               name="FindAllReferencesGroup">
         </separator>
      </menu>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesFileActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesFileCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesFileAction"
            label="File"
            menubarPath="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesProjectActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectAction"
            label="Project"
            menubarPath="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesWorkspaceActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceAction"
            label="Workspace"
            menubarPath="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
     </viewerContribution>
     <viewerContribution
         id="org.eclipse.photran.ui.vpg.FreeFortranFindReferencesContribution"
         targetID="#FreeFormFortranEditorContextMenu">
      <menu
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu"
            label="Re&amp;ferences"
            path="group.search"><!-- See IContextMenuConstants -->
         <separator
               name="FindAllReferencesGroup">
         </separator>
      </menu>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesFileActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesFileCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesFileAction"
            label="File"
            menubarPath="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesProjectActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectAction"
            label="Project"
            menubarPath="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesWorkspaceActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceAction"
            label="Workspace"
            menubarPath="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
     </viewerContribution>
   </extension>

   <!--=======================================-->
   <!-- Debugging Actions in Refactoring Menu -->
   <!--=======================================-->
   <!--extension
         point="org.eclipse.ui.commands">
      <category
            name="Fortran Refactoring Debugging Commands"
            id="org.eclipse.photran.ui.DebuggingCategory">
      </category>
      <command
            name="Select Enclosing Scope"
            categoryId="org.eclipse.photran.ui.DebuggingCategory"
            id="org.eclipse.photran.ui.SelectEnclosingScopeCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
     <key
            sequence="M3+M2+M1+D"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.SelectEnclosingScopeCommand"
     />
   </extension-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Easter Egg"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.EasterEggCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
     <key
            sequence="M1+M2+M3+M4+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.EasterEggCommand"
     />
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Fortran Debug Actions"
            description="Fortran Debug Actions"
            visible="false"
            id="org.eclipse.photran.ui.DebugActionSet">
         <menu
               label="Refac&amp;tor"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
            <separator name="scriptGroup"/>
         </menu>

         <menu
               label="(&amp;Debugging)"
               path="org.eclipse.jdt.ui.refactoring.menu/scriptGroup"
               id="org.eclipse.photran.ui.AnalysisDebuggingMenu">
            <separator name="debugging"/>
            <separator name="debugginginterfaces"/>
            <separator name="vpgstats"/>
            <separator name="vpgdb"/>
         </menu>
         <action
               label=""
               definitionId="org.eclipse.photran.ui.EasterEggCommand"
               class="org.eclipse.photran.ui.vpg.EasterEggAction"
               id="org.eclipse.photran.ui.EasterEggAction"/>
         <action
               label="Find Matching &amp;Interface Declarations"
               class="org.eclipse.photran.internal.ui.actions.FindMatchingInterfaceDeclarations"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/debugginginterfaces"
               id="org.eclipse.photran.ui.FindMatchingInterfaceDeclarationsAction"/>
         <action
               label="Resolve &amp;Interface Binding"
               class="org.eclipse.photran.internal.ui.actions.ResolveInterfaceBinding"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/debugginginterfaces"
               id="org.eclipse.photran.ui.ResolveInterfaceBindingAction"/>
         <action
               label="Select &amp;Enclosing Scope"
               class="org.eclipse.photran.internal.ui.actions.SelectEnclosingScope"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/debugging"
               definitionId="org.eclipse.photran.ui.SelectEnclosingScopeCommand"
               id="org.eclipse.photran.ui.FindEnclosingScopeAction"/>
         <action
               label="&amp;Find All Declarations in Scope"
               class="org.eclipse.photran.internal.ui.actions.FindAllDeclarationsInScope"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/debugging"
               id="org.eclipse.photran.ui.FindAllDeclarationsInScopeAction"/>
         <action
               class="org.eclipse.photran.internal.ui.actions.DisplaySymbolTable"
               id="org.eclipse.photran.ui.DisplaySymbolTableAction"
               label="Display Symbol &amp;Table for Current File"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/debugging"/>
         <action
               class="org.eclipse.photran.internal.ui.actions.DisplayVPGErrorLog"
               id="org.eclipse.photran.ui.DisplayVPGErrorLogAction"
               label="Display VPG &amp;Error/Warning Log"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/debugging"/>
         <!-- -->
         <action
               class="org.eclipse.photran.internal.ui.actions.ResetVPGStatistics"
               id="org.eclipse.photran.ui.ResetVPGStatisticsAction"
               label="&amp;Reset VPG Statistics"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/vpgstats"/>
         <action
               class="org.eclipse.photran.internal.ui.actions.DisplayVPGStatistics"
               id="org.eclipse.photran.ui.DisplayVPGStatisticsAction"
               label="Display VPG &amp;Statistics"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/vpgstats"/>
         <!-- -->
         <action
               class="org.eclipse.photran.internal.ui.actions.ClearVPGDatabase"
               id="org.eclipse.photran.ui.ClearVPGDatabaseAction"
               label="Clear and Rebuild VPG Database"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/vpgdb"/>
         <action
               class="org.eclipse.photran.internal.ui.actions.RefreshVPGDatabase"
               id="org.eclipse.photran.ui.RefreshVPGDatabaseAction"
               label="Refresh VPG Database"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/vpgdb"/>
         <action
               class="org.eclipse.photran.internal.ui.actions.DisplayVPGDatabase"
               id="org.eclipse.photran.ui.DisplayVPGDatabaseAction"
               label="Display VPG Database"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.photran.ui.AnalysisDebuggingMenu/vpgdb"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.photran.ui.DebugActionSet">
         <part id="org.eclipse.photran.ui.FreeFormFortranEditor"/>
         <part id="org.eclipse.photran.ui.FixedFormFortranEditor"/>
      </actionSetPartAssociation>
   </extension>

   <!--==============-->
   <!-- Refactorings -->
   <!--==============-->

   <!-- Please put the refactorings in the same order in each section -->

   <!-- 1. Define a command -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Fortran Refactoring Commands"
            id="org.eclipse.photran.ui.RefactoringCategory">
      </category>
      <command
            name="Replace Obsolete Operators"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.RepObsOpersRefactoringCommand">
      </command>
      <command
            name="Unify Keyword Case"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.KeywordCaseRefactoringCommand">
      </command>
      <command
            name="Interchange Loops"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.InterchangeLoopsRefactoringCommand">
      </command>
      <command
            name="Extract Common Block to Module"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.MoveCommonToModuleRefactoringCommand">
      </command>
      <command
            name="Move Saved Variables to Global Common Block"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.MoveSavedToCommonBlockRefactoringCommand">
      </command>
      <command
            name="Encapsulate Variable"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.EncapsulateVariableRefactoringCommand">
      </command>
      <command
            name="Introduce Implicit None"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.IntroImplicitNoneRefactoringCommand">
      </command>
      <command
            name="Extract Local Variable"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.ExtractLocalVariableRefactoringCommand">
      </command>
      <command
            name="Extract Procedure"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.ExtractProcedureRefactoringCommand">
      </command>
      <command
            name="Rename"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.RenameRefactoringCommand">
      </command>
      <command
      		name="Make COMMON variable names consistent"
      		categoryId="org.eclipse.photran.ui.RefactoringCategory"
      		id="org.eclipse.photran.ui.CommonVarNamesRefactoringCommand">
      </command>
      <command
            name="Make Private Entity Public"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.MakePrivateEntityPublicRefactoringCommand">
      </command>
      <command
            name="Add ONLY clause to USE Statement"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.AddOnlyToUseStmtRefactoringCommand">
      </command>
      <command
            name="Minimize ONLY list for selected module"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.MinOnlyListRefactoringCommand">
      </command>
   </extension>
   <!-- 2. Optionally associate the command with an accelerator key -->
   <extension
         point="org.eclipse.ui.bindings">
     <key
            sequence="M3+M2+M"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.ExtractProcedureRefactoringCommand"
     />
     <key
            sequence="M3+M2+L"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.ExtractLocalVariableRefactoringCommand"
     />
     <key
            sequence="M3+M2+I"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.IntroImplicitNoneRefactoringCommand"
     />
     <key
            sequence="M3+M2+R"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.RenameRefactoringCommand"
     />
     <key
            sequence="M3+M2+S"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.MoveSavedToCommonBlockRefactoringCommand"
     />
   </extension>
   <!-- 3. Add the refactoring to the Refactoring dropdown menu (in the menu bar) -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Fortran Refactorings"
            description="Fortran Refactorings"
            visible="false"
            id="org.eclipse.photran.ui.RefactoringActionSet">
         <!-- Menu mimicks org.eclipse.jdt.ui's (as does CDT's Refactor menu)
              http://dev.eclipse.org/viewcvs/index.cgi/org.eclipse.jdt.ui/plugin.xml?view=markup -->
         <menu
               label="Refac&amp;tor"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
                                                          <!-- JAVA REFACTORINGS IN THIS GROUP: -->
                                                          <!-- ================================ -->
            <separator name="reorgGroup"/>                <!-- Rename, Move -->
            <separator name="codingGroup"/>               <!-- Change Signature, Extract Var/Method, Inline -->
            <separator name="reorgGroup2"/>               <!-- Convert -->
            <separator name="typeGroup"/>                 <!-- Extract Superclass, Pull Up, Push Down -->
            <separator name="typeGroup2"/>                <!-- Extract Class, Intro Parameter Obj -->
            <separator name="codingGroup2"/>              <!-- Introduce Factory, Encapsulate -->
            <separator name="typeGroup3"/>                <!-- Generalize Type, Infer Generics -->
            <separator name="photranUseStmtGroup"/>
            <separator name="photranCommonBlockGroup"/>
            <separator name="photranOptimizationGroup"/>
            <separator name="photranFormattingGroup"/>
            <separator name="scriptGroup"/>               <!-- Create/Apply Script, History -->
         </menu>
         <!-- Note that actions are listed in REVERSE order by group -->
         <action
               label="Replace Obsolete &amp;Operators..."
               definitionId="org.eclipse.photran.ui.RepObsOpersRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.RepObsOpersAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/photranFormattingGroup"
               id="org.eclipse.photran.ui.RepObsOpersRefactoringCommand"/>
         <action
               label="&amp;Unify Keyword Case..."
               definitionId="org.eclipse.photran.ui.KeywordCaseRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.KeywordCaseAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/photranFormattingGroup"
               id="org.eclipse.photran.ui.KeywordCaseRefactoringCommand"/>
         <!-- -->
         <action
               label="Interchange L&amp;oops (Unchecked)..."
               definitionId="org.eclipse.photran.ui.InterchangeLoopsRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.InterchangeLoopsAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/photranOptimizationGroup"
               id="org.eclipse.photran.ui.InterchangeLoopsAction"/>
         <!-- -->
         <!--action
               label="Extract Common Block to Mo&amp;dule..."
               definitionId="org.eclipse.photran.ui.MoveCommonToModuleRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.MoveCommonToModuleAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/photranCommonBlockGroup"
               id="org.eclipse.photran.ui.MoveCommonToModuleRefactoringAction"/-->
         <action
               label="Move &amp;Saved Variables to Common Block..."
               definitionId="org.eclipse.photran.ui.MoveSavedToCommonBlockRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.MoveSavedToCommonBlockAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/photranCommonBlockGroup"
               id="org.eclipse.photran.ui.MoveSavedToCommonBlockAction"/>
         <action
         	   label="Make COMMON Variable Names Consistent..."
         	   definitionId="org.eclipse.photran.ui.CommonVarNamesRefactoringCommand"
         	   class="org.eclipse.photran.internal.refactoring.ui.CommonVarNamesAction"
         	   menubarPath="org.eclipse.jdt.ui.refactoring.menu/photranCommonBlockGroup"
         	   id="org.eclipse.photran.ui.CommonVarNamesRefactoringAction"/>          
         <!-- -->
         <action
               label="Minimize ONLY List for Selected Module..."
               definitionId="org.eclipse.photran.uui.MinOnlyListRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.MinOnlyListAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/photranUseStmtGroup"
               id="org.eclipse.photran.ui.MinOnlyListRefactoringAction"/>
         <action
               label="Add ONLY clause to USE statement..."
               definitionId="org.eclipse.photran.ui.AddOnlyToUseStmtRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.AddOnlyToUseStmtAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/photranUseStmtGroup"
               id="org.eclipse.photran.ui.AddOnlyToUseStmtRefactoringAction"/>
         <!-- -->
         <action
               label="Encapsulate Variable..."
               definitionId="org.eclipse.photran.ui.EncapsulateVariableRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.EncapsulateVariableAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup2"
               id="org.eclipse.photran.ui.EncapsulateVariableAction"/>
         <!-- -->
         <action
               label="Make Private Entity Public..."
               definitionId="org.eclipse.photran.ui.MakePrivateEntityPublicRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.MakePrivateEntityPublicAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/typeGroup"
               id="org.eclipse.photran.ui.MakePrivateEntityPublicRefactoringAction"/>
         <action
               label="&amp;Introduce Implicit None..."
               definitionId="org.eclipse.photran.ui.IntroImplicitNoneRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.IntroImplicitNoneAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/typeGroup"
               id="org.eclipse.photran.ui.IntroImplicitNoneRefactoringAction"/>
         <!-- -->
         <action
               label="Extract &amp;Local Variable..."
               definitionId="org.eclipse.photran.ui.ExtractLocalVariableRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.ExtractLocalVariableAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
               id="org.eclipse.photran.ui.ExtractLocalVariableRefactoringAction"/>
         <action
               label="E&amp;xtract Procedure..."
               definitionId="org.eclipse.photran.ui.ExtractProcedureRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.ExtractProcedureAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
               id="org.eclipse.photran.ui.ExtractProcedureRefactoringAction"/>
         <!-- -->
         <action
               label="Re&amp;name..."
               definitionId="org.eclipse.photran.ui.RenameRefactoringCommand"
               class="org.eclipse.photran.internal.refactoring.ui.RenameAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup"
               id="org.eclipse.photran.ui.RenameRefactoringAction"/>
      </actionSet>
   </extension>
   <!--extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.photran.ui.FortranPerspective">
         <actionSet id="org.eclipse.photran.ui.RefactoringActionSet"/>
      </perspectiveExtension>
   </extension-->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.photran.ui.RefactoringActionSet">
         <part id="org.eclipse.photran.ui.FreeFormFortranEditor"/>
         <!--part id="org.eclipse.photran.ui.FixedFormFortranEditor"/-->
      </actionSetPartAssociation>
   </extension>
   <!-- 4. Add the refactoring to the editor's popup menu. -->
   <!-- **** DO NOT list a refactoring here if it is listed in #5 below **** -->
   <!-- **** (i.e., it is added to the Package Explorer's context menu) **** -->
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#FreeFormFortranEditorContextMenu"
            id="org.eclipse.photran.refactoring.refactoringEditorContribution">
         <menu
               id="org.eclipse.photran.ui.RefactoringMenu"
               label="Refac&amp;tor"
               path="group.reorganize"><!-- See IContextMenuConstants -->
                                                          <!-- JAVA REFACTORINGS IN THIS GROUP: -->
                                                          <!-- ================================ -->
            <separator name="reorgGroup"/>                <!-- Rename, Move -->
            <separator name="codingGroup"/>               <!-- Change Signature, Extract Var/Method, Inline -->
            <separator name="reorgGroup2"/>               <!-- Convert -->
            <separator name="typeGroup"/>                 <!-- Extract Superclass, Pull Up, Push Down -->
            <separator name="typeGroup2"/>                <!-- Extract Class, Intro Parameter Obj -->
            <separator name="codingGroup2"/>              <!-- Introduce Factory, Encapsulate -->
            <separator name="typeGroup3"/>                <!-- Generalize Type, Infer Generics -->
            <separator name="photranUseStmtGroup"/>
            <separator name="photranCommonBlockGroup"/>
            <separator name="photranOptimizationGroup"/>
            <separator name="photranFormattingGroup"/>
            <separator name="scriptGroup"/>               <!-- Create/Apply Script, History -->
         </menu>
         <action
               label="Interchange L&amp;oops (Unchecked)..."
               class="org.eclipse.photran.internal.refactoring.ui.InterchangeLoopsAction"
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/photranOptimizationGroup"
               id="org.eclipse.photran.ui.InterchangeLoopsAction"/>
         <!-- -->
         <!--action
               label="Extract Common Block to Mo&amp;dule"
               class="org.eclipse.photran.internal.refactoring.ui.MoveCommonToModuleAction"
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/photranCommonBlockGroup"
               id="org.eclipse.photran.ui.MoveCommonToModuleRefactoringAction"/-->
         <action
               label="Move &amp;Saved Variables to Global Common Block..."
               class="org.eclipse.photran.internal.refactoring.ui.MoveSavedToCommonBlockAction"
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/photranCommonBlockGroup"
               id="org.eclipse.photran.ui.MoveSavedToCommonBlockAction"/>
         <action
         	   label="&amp;Make COMMON Variable Names Consistent..."
         	   class="org.eclipse.photran.internal.refactoring.ui.CommonVarNamesAction"
         	   menubarPath="org.eclipse.photran.ui.RefactoringMenu/photranCommonBlockGroup"
         	   id="org.eclipse.photran.ui.CommonVarNamesRefactoringAction"/>
         <!-- -->
         <action
               label="&amp;Minimize ONLY List for Selected Module..."
               class="org.eclipse.photran.internal.refactoring.ui.MinOnlyListAction"
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/photranUseStmtGroup"
               id="org.eclipse.photran.ui.MinOnlyListRefactoringAction"/>
         <action
               label="&amp;Add ONLY clause to USE Statement..."
               class="org.eclipse.photran.internal.refactoring.ui.AddOnlyToUseStmtAction"
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/photranUseStmtGroup"
               id="org.eclipse.photran.ui.AddOnlyToUseStmtRefactoringAction"/>
         <!-- -->
         <action
               label="Encapsulate Variable..."
               class="org.eclipse.photran.internal.refactoring.ui.EncapsulateVariableAction"
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/codingGroup2"
               id="org.eclipse.photran.ui.EncapsulateVariableAction"/>
         <!-- -->
         <action 
               label="Extract &amp;Local Variable..." 
               class="org.eclipse.photran.internal.refactoring.ui.ExtractLocalVariableAction" 
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/codingGroup" 
               id="org.eclipse.photran.ui.ExtractLocalVariableRefactoringAction"/>
         <action 
               label="E&amp;xtract Procedure..." 
               class="org.eclipse.photran.internal.refactoring.ui.ExtractProcedureAction" 
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/codingGroup" 
               id="org.eclipse.photran.ui.ExtractProcedureRefactoringAction"/>
         <!-- -->
         <action
               label="&amp;Make Private Entity Public..."
               class="org.eclipse.photran.internal.refactoring.ui.MakePrivateEntityPublicAction"
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/typeGroup"
               id="org.eclipse.photran.ui.MakePrivateEntityPublicRefactoringAction"/>
         <!-- -->
         <action 
               label="&amp;Rename..." 
               class="org.eclipse.photran.internal.refactoring.ui.RenameAction" 
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/reorgGroup" 
               id="org.eclipse.photran.ui.RenameRefactoringAction"/>
      </viewerContribution>
   </extension>
   <!-- 5. Add multi-file refactorings to the context menu for files selected in the Package Explorer or elsewhere -->
   <!-- **** DO NOT list a refactoring here if it is listed in #4 above **** -->
   <!-- **** (i.e., it is added to the Fortran editor's context menu) **** -->
   <extension point="org.eclipse.ui.popupMenus">
   <objectContribution
   		adaptable="true"
   		objectClass="org.eclipse.core.resources.IFile"
   		nameFilter="*"
   		id="org.eclipse.photran.ui.FortranFileRefactoring">
          <!--enablement>
            <or>
                <instanceof value="org.eclipse.core.resources.IFile" />
                <instanceof value="org.eclipse.core.resources.IFolder" />
                <and>
                   <instanceof value="org.eclipse.core.resources.IProject" />
                   <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
                </and>
            </or>
          </enablement-->
          <visibility>
           <!--objectState
                name="contentTypeId"
                value="org.eclipse.photran.core.fortranSource"/-->
           <objectState
                name="contentTypeId"
                value="org.eclipse.photran.core.freeFormFortranSource"/>
         </visibility>
         <menu
               id="org.eclipse.photran.ui.RefactoringMenu"
               label="Refac&amp;tor"
               path="group.reorganize"><!-- See IContextMenuConstants -->
                                                          <!-- JAVA REFACTORINGS IN THIS GROUP: -->
                                                          <!-- ================================ -->
            <separator name="reorgGroup"/>                <!-- Rename, Move -->
            <separator name="codingGroup"/>               <!-- Change Signature, Extract Var/Method, Inline -->
            <separator name="reorgGroup2"/>               <!-- Convert -->
            <separator name="typeGroup"/>                 <!-- Extract Superclass, Pull Up, Push Down -->
            <separator name="typeGroup2"/>                <!-- Extract Class, Intro Parameter Obj -->
            <separator name="codingGroup2"/>              <!-- Introduce Factory, Encapsulate -->
            <separator name="typeGroup3"/>                <!-- Generalize Type, Infer Generics -->
            <separator name="photranUseStmtGroup"/>
            <separator name="photranCommonBlockGroup"/>
            <separator name="photranOptimizationGroup"/>
            <separator name="photranFormattingGroup"/>
            <separator name="scriptGroup"/>               <!-- Create/Apply Script, History -->
         </menu>
         <action
               label="Replace Obsolete &amp;Operators..."
               class="org.eclipse.photran.internal.refactoring.ui.RepObsOpersAction"
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/photranFormattingGroup"
               id="org.eclipse.photran.ui.RepObsOpersRefactoringAction"/>
         <action
               label="&amp;Unify Keyword Case..."
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/photranFormattingGroup"
               class="org.eclipse.photran.internal.refactoring.ui.KeywordCaseAction"
               id="org.eclipse.photran.ui.KeywordCaseFileRefactoringAction">
         </action>
         <!-- -->
         <action
               label="&amp;Introduce Implicit None..."
               class="org.eclipse.photran.internal.refactoring.ui.IntroImplicitNoneAction"
               menubarPath="org.eclipse.photran.ui.RefactoringMenu/typeGroup"
               id="org.eclipse.photran.ui.IntroImplicitNoneRefactoringAction"/>
   	</objectContribution>
   	</extension>

   <!--==========================================-->
   <!-- Experimental Editor with VPG Integration -->
   <!--==========================================-->
   <extension
         point="org.eclipse.ui.editors"
         id="org.eclipse.photran.ui.VPGFortranEditor">

      <!-- Since freeFormFortranSource and fixedFormFortranSource are "sub-content types" of fortranSource,
           we will bind both editors to the fortranSource content type; however, whichever content type
           binding is given first will be "tighter" and used as the default.
           That way, fixed form files will open in the fixed form editor by default, but they can also
           be opened in the free form editor (right click, and choose Open With).  Similarly, free form files
           can be opened in the fixed form editor. -->
      <!--editor
            default="false"
            name="Fortran Editor (VPG Experimental Features)"
            icon="icons/full/obj16/f_file_obj.gif"
            class="org.eclipse.photran.internal.ui.editor_vpg.OldExperimentalFreeFormFortranEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="org.eclipse.photran.ui.FreeFormVPGEditor">
         <contentTypeBinding
              contentTypeId="org.eclipse.photran.core.freeFormFortranSource" />
         <contentTypeBinding
              contentTypeId="org.eclipse.photran.core.fortranSource" />
      </editor-->
   </extension>

   <!--==================-->
   <!-- Declaration View -->
   <!--==================-->
   <!--
 		Added for the Declaration view Project
 		@author John Goode, Abe Hassan, Sean Kim
 		Group: Fennel-Garlic
 		University of Illinois at Urbana-Champaign
 		CS 427 Fall 2007  -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.photran.ui.views"
            name="Fortran Views">
      </category>
      <view
            category="org.eclipse.photran.ui.views"
            class="org.eclipse.photran.internal.ui.views.DeclarationView"
            icon="icons/full/eview16/source.gif"
            id="org.eclipse.photran.ui.DeclarationView"
            name="Fortran Declaration">
      </view>

      <!--TODO: Need to find a better icon for this view-->
      <view
            category="org.eclipse.photran.ui.views"
            class="org.eclipse.photran.internal.ui.views.vpgproblems.VGPProblemView"
            icon="icons/full/eview16/source.gif"
            id="org.eclipse.photran.ui.VGPProblemView"
            name="Fortran Analysis/Refactoring Problems">
      </view>
   </extension>
       <!--
   <extension
      point="org.eclipse.ui.ide.markerSupport">
      <markerField
               class="org.eclipse.photran.internal.ui.views.ProjectField"
                   id="com.eclipse-tips.markers.projectField"
                   name="Project">
      </markerField>
          <markerContentGenerator
                id="org.eclipse.photran.ui.vpg.myCustomMarkerGenerator"
                name="My Marker Generator">
               <markerTypeReference
                   id="org.eclipse.core.resources.marker"/>
               <markerFieldReference
                   id="org.eclipse.ui.ide.descriptionField"/>
                       <markerFieldReference
                       id="com.eclipse-tips.markers.projectField"/>
           </markerContentGenerator>
       </extension>
    -->


   <!--=================================-->
   <!-- VPG Source Viewer Configuration -->
   <!--=================================-->
   <extension
   	point="org.eclipse.photran.ui.sourceViewerConfig">
   	<sourceViewerConfig
          factory="org.eclipse.photran.internal.ui.editor_vpg.FortranVPGSourceViewerConfigurationFactory" />
   </extension>
</plugin>
