<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!--==============-->
   <!-- Refactorings -->
   <!--==============-->

   <!-- NOTE: When adding refactorings, please update
        http://wiki.eclipse.org/PTP/photran/refactorings -->

   <extension
         point="org.eclipse.rephraserengine.ui.refactoring.refactorings">
      <resourceFilter class="org.eclipse.photran.internal.ui.vpg.PhotranResourceFilter" />

      <!-- Define the Refactor menu -->

      <group><!-- Rename and Move -->
         <editorRefactoring command="org.eclipse.photran.ui.RenameRefactoringCommand" />
      </group>
      <group><!-- Extract XYZ -->
         <editorRefactoring command="org.eclipse.photran.ui.ExtractProcedureRefactoringCommand" />
         <editorRefactoring command="org.eclipse.photran.ui.ExtractLocalVariableRefactoringCommand" />
      </group>
      <group><!-- Refactorings that change local variable declarations -->
         <resourceRefactoring
             class="org.eclipse.photran.internal.core.refactoring.IntroImplicitNoneRefactoring"
         />
         <resourceRefactoring
             class="org.eclipse.photran.internal.core.refactoring.DataToParameterRefactoring"
         />
         <resourceRefactoring
             class="org.eclipse.photran.internal.core.refactoring.RemoveUnusedVariablesRefactoring"
         />
         <resourceRefactoring
             class="org.eclipse.photran.internal.core.refactoring.StandardizeStatementsRefactoring"
         />
      </group>
      <group><!-- Refactorings that change declarations in modules -->
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.MakePrivateEntityPublicRefactoring"
         />
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.EncapsulateVariableRefactoring"
         />
      </group>
      <group><!-- Refactorings for USE statements -->
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.AddOnlyToUseStmtRefactoring"
             inputPage="org.eclipse.photran.internal.ui.refactoring.AddOnlyToUseStmtInputPage"
         />
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.MinOnlyListRefactoring"
         />
      </group>
      <group><!-- Refactorings for COMMON blocks -->
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.CommonVarNamesRefactoring"
             inputPage="org.eclipse.photran.internal.ui.refactoring.CommonVarNamesInputPage"
         />
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.MoveSavedToCommonBlockRefactoring"
         />
         <!--editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.MoveCommonToModuleRefactoring"
         /-->
      </group>
      <group><!-- Refactorings that eliminate old language constructs -->
         <resourceRefactoring
         	class="org.eclipse.photran.internal.core.refactoring.RemoveArithmeticIfRefactoring"
         />
         <editorRefactoring
         	class="org.eclipse.photran.internal.core.refactoring.RemoveComputedGoToRefactoring"
         />
      </group>
      <group><!-- Refactorings for performance/loop transformations -->
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.InterchangeLoopsRefactoring"
         />
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.ReverseLoopRefactoring"
         />
      </group>
      <group><!-- Refactorings that reformat code -->
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.RemoveUnreferencedLabelsRefactoring"
         />         
         <editorRefactoring
             class="org.eclipse.photran.internal.core.refactoring.ReplaceCharacterStarRefactoring"
         />
         <resourceRefactoring
             class="org.eclipse.photran.internal.core.refactoring.RepObsOpersRefactoring"
         />
         <resourceRefactoring
             class="org.eclipse.photran.internal.core.refactoring.KeywordCaseRefactoring"
             inputPage="org.eclipse.photran.internal.ui.refactoring.KeywordCaseInputPage"
         />
      </group>
   </extension>

   <!--=====================================-->
   <!-- Advanced Refactoring Configurations -->
   <!--=====================================-->

   <!-- If a refactoring was contributed as a "command" above... -->
   <!-- (usually, this is just so that we can associate a keybinding with it) -->

   <!-- 1. Define the command -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="org.eclipse.photran.ui.RefactoringCategory">
      </category>

      <command
            name="%command.name"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.RenameRefactoringCommand">
      </command>
      <command
            name="%command.name.0"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.ExtractProcedureRefactoringCommand">
      </command>
      <command
            name="%command.name.1"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.ExtractLocalVariableRefactoringCommand">
      </command>
   </extension>

   <!-- 2. Optionally associate the command with an accelerator key -->
   <extension
         point="org.eclipse.ui.bindings">
     <key
            sequence="M3+M2+R"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.RenameRefactoringCommand"
     />
     <key
            sequence="M3+M2+M"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.ExtractProcedureRefactoringCommand"
     />
     <key
            sequence="M3+M2+L"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.ExtractLocalVariableRefactoringCommand"
     />
   </extension>

   <!-- 3. Add the command to Photran's Refactoring action set -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label"
            description="%actionSet.description"
            visible="false"
            id="org.eclipse.photran.ui.RefactoringActionSet">

         <action
               label="%action.label"
               definitionId="org.eclipse.photran.ui.RenameRefactoringCommand"
               class="org.eclipse.photran.internal.ui.refactoring.RenameAction"
               id="org.eclipse.photran.ui.RenameRefactoringAction"/>
         <action
               label="%action.label.0"
               definitionId="org.eclipse.photran.ui.ExtractProcedureRefactoringCommand"
               class="org.eclipse.photran.internal.ui.refactoring.ExtractProcedureAction"
               id="org.eclipse.photran.ui.ExtractProcedureRefactoringAction"/>
         <action
               label="%action.label.1"
               definitionId="org.eclipse.photran.ui.ExtractLocalVariableRefactoringCommand"
               class="org.eclipse.photran.internal.ui.refactoring.ExtractLocalVariableAction"
               id="org.eclipse.photran.ui.ExtractLocalVariableRefactoringAction"/>
      </actionSet>
   </extension>

   <!-- 4. Associate the Refactoring action set with the Fortran perspective & editor -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.photran.ui.FortranPerspective">
         <actionSet id="org.eclipse.photran.ui.RefactoringActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.photran.ui.RefactoringActionSet">
         <part id="org.eclipse.photran.ui.FortranEditor"/>
      </actionSetPartAssociation>
   </extension>

   <!--=========================================-->
   <!-- Fortran-specific project property pages -->
   <!--=========================================-->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%page.name"
            class="org.eclipse.photran.internal.ui.properties.SearchPathsPropertyPage"
            id="org.eclipse.photran.ui.SearchPathsPropertyPage"
            category="org.eclipse.photran.ui.newui.Page_head_general">
         <filter
               name="projectNature"
               value="org.eclipse.photran.core.fnature">
         </filter>            
         <enabledWhen>
            <or>
              <instanceof value="org.eclipse.core.resources.IProject"/>
              <instanceof value="org.eclipse.cdt.core.model.ICProject"/>
            </or>          
         </enabledWhen>
      </page>
   </extension>

   <!-- Commands, key bindings, and popup menu entries

        Each command should have its ID declared as a constant in AbstractFortranEditor, and
        it must be set up in AbstractFortranEditor#createActions().

        For menubarPath, see class ITextEditorActionConstants -->

   <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
         carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->

   <!--==================================-->
   <!-- Open Declaration (F3 or Ctrl+F3) -->
   <!--==================================-->
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name.0"
            description="%category.description"
            id="org.eclipse.photran.ui.NavigationCategory">
      </category>
      <command
            categoryId="org.eclipse.photran.ui.NavigationCategory"
            description="%command.description"
            id="org.eclipse.photran.ui.OpenDeclarationCommand"
            name="%command.name.2">
      </command>
   </extension>
   <extension
            point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
        <key
            sequence="F3"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.OpenDeclarationCommand"/>
        <key
            sequence="M1+F3"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.OpenDeclarationCommand"/>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label.0"
            description="%actionSet.description.0"
            visible="false"
            id="org.eclipse.photran.ui.AnalysisActionSet">
         <action
               label="%action.label.2"
               definitionId="org.eclipse.photran.ui.OpenDeclarationCommand"
               class="org.eclipse.photran.internal.ui.actions.OpenDeclaration"
               menubarPath="navigate/additions"
               id="org.eclipse.photran.ui.OpenDeclarationAction"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.photran.ui.AnalysisActionSet">
         <part id="org.eclipse.photran.ui.FortranEditor"/>
      </actionSetPartAssociation>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
     <viewerContribution
        targetID="#FortranEditorContextMenu"
        id="org.eclipse.photran.ui.NavigationContribution">
       <action
            class="org.eclipse.photran.internal.ui.actions.OpenDeclaration"
            definitionId="org.eclipse.photran.ui.OpenDeclarationCommand"
            id="org.eclipse.photran.ui.OpenDeclarationMenuAction"
            label="%action.label.3"
            menubarPath="group.open"/>
     </viewerContribution>
   </extension>

   <!--============-->
   <!-- Reindenter -->
   <!--============-->
   <extension point="org.eclipse.ui.popupMenus">
	  <viewerContribution 
	        targetID="#FortranEditorContextMenu" 
	        id="org.eclipse.photran.ui.FixedReindenterContribution">
	     <action 
	           label="%action.label.reindent" 
               definitionId="org.eclipse.photran.ui.ReindenterCommand"
	           class="org.eclipse.photran.internal.ui.actions.ReindentAction" 
	           menubarPath="group.edit" 
	           id="org.eclipse.photran.ui.ReindenterMenuAction"/>
	  </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            description="%category.description"
            id="org.eclipse.photran.ui.SourceEditingCategory">
      </category>
      <command
            categoryId="org.eclipse.photran.ui.SourceEditingCategory"
            description="%command.description"
            id="org.eclipse.photran.ui.ReindenterCommand"
            name="%command.name.reindent">
      </command>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label.reindent"
            description="%actionSet.description.reindent"
            visible="false"
            id="org.eclipse.photran.ui.Reindenter">
	     <action 
	           label="%action.label.reindent.0" 
               menubarPath="edit/additions"
               definitionId="org.eclipse.photran.ui.ReindenterCommand"
	           class="org.eclipse.photran.internal.ui.actions.ReindentAction" 
	           id="org.eclipse.photran.ui.ReindenterAction">
	     </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.photran.ui.Reindenter">
         <part id="org.eclipse.photran.ui.FortranEditor"/>
      </actionSetPartAssociation>
   </extension>
   <extension
            point="org.eclipse.ui.bindings">
        <!--win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
        <!-- Bind Ctrl+I to Reindent -->
        <key
            sequence="M1+I"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.ReindenterCommand"/>
   </extension>

   <!--====================================-->
   <!-- Fortran Search and Find References -->
   <!--====================================-->
   <extension
      id="vpgSearchPage"
      name="%extension.name"
      point="org.eclipse.search.searchPages">
     <page
        canSearchEnclosingProjects="true"
        class="org.eclipse.photran.internal.ui.search.FortranSearchPage"
        icon="icons/full/obj16/fsearch_obj.gif"
        id="org.eclipse.photran.ui.vpgSearchPage"
        label="%page.label"
        showScopeSection="true"
        sizeHint="460, 160"/>
   </extension>

   <!-- 1. Define the command -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name.1"
            description="%category.description.0"
            id="org.eclipse.photran.ui.SearchCategory">
      </category>
      <command
            categoryId="org.eclipse.photran.ui.SearchCategory"
            description="%command.description.0"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceCommand"
            name="%command.name.3" />
      <command
            categoryId="org.eclipse.photran.ui.SearchCategory"
            description="%command.description.1"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectCommand"
            name="%command.name.4" />
      <command
            categoryId="org.eclipse.photran.ui.SearchCategory"
            description="%command.description.2"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesFileCommand"
            name="%command.name.5" />
   </extension>
   <!-- 2. Optionally associate the command with an accelerator key -->
   <extension
            point="org.eclipse.ui.bindings">
        <!--win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
        <!-- Bind Shift+Ctrl+G to References > Workspace -->
        <key
            sequence="M2+M1+G"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceCommand"/>
   </extension>
   <!-- 3. Add the command to an action set -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label.1"
            description="%actionSet.description.1"
            visible="false"
            id="org.eclipse.photran.ui.SearchActionSet">
         <menu
               id="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu"
               label="%menu.label"
               path="org.eclipse.search.menu/occurencesActionsGroup"><!-- See plugin.xml for org.eclipse.search -->
           <separator
               name="FindAllReferencesGroup">
           </separator>
         </menu>
         <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesActionDelegate$FileActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesFileCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesFileAction"
            label="%action.label.4"
            menubarPath="org.eclipse.search.menu/org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
         </action>
         <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesActionDelegate$ProjectActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectAction"
            label="%action.label.5"
            menubarPath="org.eclipse.search.menu/org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
         </action>
         <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesActionDelegate$WorkspaceActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceAction"
            label="%action.label.6"
            menubarPath="org.eclipse.search.menu/org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
         </action>
         <action
               class="org.eclipse.photran.internal.ui.search.FortranSearchPage$OpenAction"
               icon="icons/full/obj16/fsearch_obj.gif"
               id="org.eclipse.photran.ui.vpg.actions.OpenFortranSearchPage"
               label="%action.label.7"
               menubarPath="org.eclipse.search.menu/dialogGroup">
         </action>
      </actionSet>
   </extension>
   <!-- 4. Associate the action set with the Fortran perspective & editors -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.photran.ui.FortranPerspective">
         <actionSet id="org.eclipse.photran.ui.SearchActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.photran.ui.SearchActionSet">
         <part id="org.eclipse.photran.ui.FortranEditor"/>
      </actionSetPartAssociation>
   </extension>
   <!-- 5. Contribute the actions to the Fortran editors' popup menus -->
   <extension point="org.eclipse.ui.popupMenus">
     <viewerContribution
         id="org.eclipse.photran.ui.vpg.FortranFindReferencesContribution"
         targetID="#FortranEditorContextMenu">
      <menu
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu"
            label="%menu.label.0"
            path="group.find"><!-- See ITextEditorActionConstants - was originally group.search according to IContextMenuConstants -->
         <separator
               name="FindAllReferencesGroup">
         </separator>
      </menu>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesActionDelegate$FileActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesFileCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesFileAction"
            label="%action.label.8"
            menubarPath="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesActionDelegate$ProjectActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesProjectAction"
            label="%action.label.9"
            menubarPath="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
      <action
            class="org.eclipse.photran.internal.ui.search.FortranFindReferencesActionDelegate$WorkspaceActionDelegate"
            definitionId="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceCommand"
            icon="icons/full/obj16/search_ref_obj.gif"
            id="org.eclipse.photran.ui.vpg.FortranFindReferencesWorkspaceAction"
            label="%action.label.10"
            menubarPath="org.eclipse.photran.ui.vpg.FortranFindReferencesMenu/FindAllReferencesGroup">
      </action>
     </viewerContribution>
   </extension>

   <!--=======================================-->
   <!-- Debugging Actions in Refactoring Menu -->
   <!--=======================================-->

   <!-- Contribution to the Rephraser Engine UI -->
   <!--     This will automatically add some actions to the (Debugging) sub-menu of the Refactor -->
   <!--     menu in the menu bar, such as Display VPG Database, Refresh VPG Database, etc.       -->
   <!--     All of these actions are language-independent.                                       -->
   <extension
         point="org.eclipse.rephraserengine.ui.vpg.vpg">
      <vpg
         id="org.eclipse.photran.ui.vpg"
         name="Fortran"
         class="org.eclipse.photran.internal.ui.vpg.PhotranVPGContribution" />
   </extension>

   <!-- Fortran-specific debugging actions -->
   <!--     These actions (e.g., Display Symbol Table and Resolve INTERFACE Binding) are  -->
   <!--     Fortran-specific, but they are also contributed to the Refactor > (Debugging) -->
   <!--     menu.                                                                         -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label.2"
            description="%actionSet.description.2"
            visible="false"
            id="org.eclipse.photran.ui.DebugActionSet">
         <menu
               label="%menu.label.1"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
            <separator name="scriptGroup"/>
         </menu>

         <menu
               label="%menu.label.2"
               path="org.eclipse.jdt.ui.refactoring.menu/scriptGroup"
               id="debugging">
            <separator name="debugging"/>
            <separator name="debugginginterfaces"/>
            <separator name="vpgstats"/>
            <separator name="vpgdb"/>
         </menu>
         <action
               label="%action.label.11"
               class="org.eclipse.photran.internal.ui.actions.FindMatchingInterfaceDeclarations"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/debugginginterfaces"
               id="org.eclipse.photran.ui.FindMatchingInterfaceDeclarationsAction"/>
         <action
               label="%action.label.12"
               class="org.eclipse.photran.internal.ui.actions.ResolveInterfaceBinding"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/debugginginterfaces"
               id="org.eclipse.photran.ui.ResolveInterfaceBindingAction"/>
         <!-- -->
         <action
               label="%action.label.13"
               class="org.eclipse.photran.internal.ui.actions.SelectEnclosingScope"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/debugging"
               id="org.eclipse.photran.ui.FindEnclosingScopeAction"/>
         <action
               label="%action.label.14"
               class="org.eclipse.photran.internal.ui.actions.FindAllDeclarationsInScope"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/debugging"
               id="org.eclipse.photran.ui.FindAllDeclarationsInScopeAction"/>
         <action
               class="org.eclipse.photran.internal.ui.actions.DisplaySymbolTable"
               id="org.eclipse.photran.ui.DisplaySymbolTableAction"
               label="%action.label.15"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/debugging"/>
         <!-- -->
         <action
               label="%action.label.19"
               class="org.eclipse.photran.internal.ui.actions.HighlightVariableAccesses"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/debugging"
               id="org.eclipse.photran.ui.HighlightVariableAccessesAction"/>
         <!-- -->
         <action
               class="org.eclipse.photran.internal.ui.actions.ResetBinderStatistics"
               id="org.eclipse.photran.ui.ResetBinderStatisticsAction"
               label="%action.label.16"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/vpgstats"/>
         <action
               class="org.eclipse.photran.internal.ui.actions.DisplayBinderStatistics"
               id="org.eclipse.photran.ui.DisplayBinderStatisticsAction"
               label="%action.label.17"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/vpgstats"/>
         <!-- -->
         <action
               label="%action.label.18"
               definitionId="org.eclipse.photran.ui.EasterEggCommand"
               class="org.eclipse.photran.internal.ui.actions.EasterEggAction"
               id="org.eclipse.photran.ui.EasterEggAction"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.name.6"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.photran.ui.EasterEggCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
     <key
            sequence="M1+M2+M3+M4+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.photran.ui.FortranEditorContext"
            commandId="org.eclipse.photran.ui.EasterEggCommand"
     />
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.photran.ui.FortranPerspective">
         <!-- Omitting this since most of the actions are only meaningful when an editor is open:
         <actionSet id="org.eclipse.photran.ui.DebugActionSet"/-->
         <actionSet id="org.eclipse.rephraserengine.ui.DebugActionSet"/>
         <actionSet id="org.eclipse.rephraserengine.ui.vpg.BrowserActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.photran.ui.DebugActionSet">
         <part id="org.eclipse.photran.ui.FortranEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation targetID="org.eclipse.rephraserengine.ui.DebugActionSet">
         <part id="org.eclipse.photran.ui.FortranEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation targetID="org.eclipse.rephraserengine.ui.vpg.BrowserActionSet">
         <part id="org.eclipse.photran.ui.FortranEditor"/>
      </actionSetPartAssociation>
   </extension>

   <!--=======-->
   <!-- Views -->
   <!--=======-->
   <extension point="org.eclipse.ui.views">
      <category
            id="org.eclipse.photran.ui.views"
            name="%category.name.2">
      </category>
      
      <!-- Declaration View -->
      <view
            category="org.eclipse.photran.ui.views"
            class="org.eclipse.photran.internal.ui.views.declaration.DeclarationView"
            icon="icons/full/eview16/source.gif"
            id="org.eclipse.photran.ui.DeclarationView"
            name="%view.name">
      </view>

      <!-- Analysis/Refactoring Problems View -->
      <view
            category="org.eclipse.photran.ui.views"
            class="org.eclipse.photran.internal.ui.views.vpgproblems.VPGProblemView"
            icon="icons/full/eview16/problems_view.gif"
            id="org.eclipse.photran.ui.VPGProblemView"
            name="%view.name.0">
      </view>
   </extension>

   <!--=================================-->
   <!-- VPG Source Viewer Configuration -->
   <!--=================================-->
   <extension point="org.eclipse.photran.ui.sourceViewerConfig">
      <sourceViewerConfig
          factory="org.eclipse.photran.internal.ui.editor_vpg.FortranVPGSourceViewerConfigurationFactory" />
   </extension>
</plugin>
