<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!--======================-->
   <!-- CDT Core Integration -->
   <!--======================-->
   <extension
         point="org.eclipse.cdt.core.language">
      <language
            class="org.eclipse.photran.cdtinterface.core.FortranLanguage"
            id="fortran"
            name="Fortran">
         <contentType id="org.eclipse.photran.core.fixedFormFortranSource"/>
         <contentType id="org.eclipse.photran.core.freeFormFortranSource"/>
      </language>
   </extension>

   <!--==============-->
   <!-- CDT UI Clone -->
   <!--==============-->

   <!-- Fortran Perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Fortran"
            icon="icons/etool16/f_pers.gif"
            class="org.eclipse.photran.cdtinterface.ui.FortranPerspectiveFactory"
            id="org.eclipse.photran.ui.FortranPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.photran.ui.FortranPerspective">
         <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
         <perspectiveShortcut id="org.eclipse.team.ui.TeamSynchronizingPerspective"/>
         <view
               id="org.eclipse.cdt.make.ui.views.MakeView"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true"/>
         <viewShortcut id="org.eclipse.cdt.make.ui.views.MakeView"/>
         <actionSet id="org.eclipse.cdt.make.ui.makeTargetActionSet"/>

	 <!-- Copied from CDT UI for CDT 4.0 -->
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
         <actionSet id="org.eclipse.cdt.ui.buildConfigActionSet"/>
         <actionSet id="org.eclipse.cdt.ui.NavigationActionSet"/>
         <actionSet id="org.eclipse.cdt.ui.OpenActionSet"/>
         <actionSet id="org.eclipse.ui.edit.text.actionSet.presentation"/>
         <!--showInPart id="org.eclipse.cdt.ui.includeBrowser"/-->
         <!--showInPart id="org.eclipse.cdt.ui.CView"/-->
         <!--showInPart id="org.eclipse.ui.navigator.ProjectExplorer"/-->
         <viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer"/>
         <viewShortcut id="org.eclipse.cdt.ui.includeBrowser"/>
      </perspectiveExtension>
   </extension>

   <!-- Fortran Projects View -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Fortran"
            id="org.eclipse.photran.ui.views">
      </category>
      <view
            name="Fortran Projects"
            icon="icons/etool16/fview.gif"
            category="org.eclipse.photran.ui.views"
            class="org.eclipse.photran.cdtinterface.ui.FortranView"
            id="org.eclipse.photran.ui.FortranView">
      </view>
   </extension>

   <!-- Fortran Wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Fortran"
            id="org.eclipse.photran.ui.newFortranWizards" />
            
      <!-- New Fortran Project Wizards -->
      
      <!-- CDT 4.0 and later -->
       <wizard
             canFinishEarly="false"
             category="org.eclipse.photran.ui.newFortranWizards"
             class="org.eclipse.photran.cdtinterface.ui.FortranProjectWizard"
             finalPerspective="org.eclipse.photran.ui.FortranPerspective"
             hasPages="true"
             icon="icons/etool16/newfortran_app.gif"
             id="org.eclipse.photran.ui.wizards.CDT4FortranProjectWizard"
             name="Fortran Project"
             project="true">
         <description>
             Create a new Fortran project
         </description>
      </wizard>
 
      <!-- New File Wizards -->
      <wizard
            name="Source File"
            icon="icons/etool16/newfortranfile_wiz.gif"
            category="org.eclipse.photran.ui.newFortranWizards"
            finalPerspective="org.eclipse.photran.ui.FortranPerspective"
            id="org.eclipse.photran.ui.wizards.NewSourceFileCreationWizard">
         <class class="org.eclipse.photran.cdtinterface.ui.NewSourceFileCreationWizard">
            <parameter name="cfile" value="true"/>
         </class>
         <description>
            Create a new source file
         </description>
      </wizard>
      <wizard
            name="File"
            icon="icons/etool16/newfile_wiz.gif"
            category="org.eclipse.photran.ui.newFortranWizards"
            finalPerspective="org.eclipse.photran.ui.FortranPerspective"
            id="org.eclipse.photran.ui.wizards.NewFileCreationWizard">
         <class class="org.eclipse.cdt.ui.wizards.NewFileCreationWizard">
            <parameter name="cfile" value="true"/>
         </class>
         <description>
            Create a new file (not necessarily source code)
         </description>
      </wizard>
      <wizard
            name="Source Folder"
            icon="icons/etool16/newsrcfldr_wiz.gif"
            category="org.eclipse.photran.ui.newFortranWizards"
            finalPerspective="org.eclipse.photran.ui.FortranPerspective"
            id="org.eclipse.photran.ui.wizards.NewSourceFolderCreationWizard">
         <class class="org.eclipse.photran.cdtinterface.ui.NewSourceFolderCreationWizard">
            <parameter name="cfolder" value="true"/>
         </class>
         <description>
            Create a new folder intended to contain source code
         </description>
      </wizard>
      <wizard
            name="Folder"
            icon="icons/etool16/newfolder_wiz.gif"
            category="org.eclipse.photran.ui.newFortranWizards"
            finalPerspective="org.eclipse.photran.ui.FortranPerspective"
            id="org.eclipse.photran.ui.wizards.NewFolderCreationWizard">
         <class class="org.eclipse.cdt.ui.wizards.NewFolderCreationWizard">
            <parameter name="cfolder" value="true"/>
         </class>
         <description>
            Create a new folder (not necessarily containing source code)
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Fortran Element Creation Action Set"
            id="org.eclipse.photran.cdtinterface.FortranElementCreationActionSet"
            label="Fortran Element Creation"
            visible="false">
         <action
               class="org.eclipse.photran.cdtinterface.ui.NewFileDropDownAction"
               icon="icons/etool16/newfortranfile_wiz.gif"
               id="org.eclipse.photran.cdtinterface.actions.NewFileDropDown"
               label="&amp;Source File..."
               style="pulldown"
               toolbarPath="Normal/FortranWizards"
               tooltip="New Source File"/>
         <action
               class="org.eclipse.photran.cdtinterface.ui.NewFolderDropDownAction"
               icon="icons/etool16/newsrcfldr_wiz.gif"
               id="org.eclipse.photran.cdtinterface.actions.NewFolderDropDown"
               label="&amp;Source Folder..."
               style="pulldown"
               toolbarPath="Normal/FortranWizards"
               tooltip="New Source Folder"/>
         <action
               class="org.eclipse.photran.cdtinterface.ui.NewProjectDropDownAction"
               icon="icons/etool16/newfortran_app.gif"
               id="org.eclipse.photran.cdtinterface.actions.NewProjectDropDown"
               label="&amp;Project..."
               style="pulldown"
               toolbarPath="Normal/FortranWizards"
               tooltip="New Compiled Language Project"/>
      </actionSet>
   </extension>
   
   <!--=============================-->
   <!-- ActionSet-part associations -->
   <!--=============================-->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.cdt.ui.SearchActionSet">
         <part id="org.eclipse.photran.ui.FortranView"/>
         <part id="org.eclipse.search.SearchResultView"/>
      </actionSetPartAssociation>
   </extension>

   <!--===============================-->
   <!-- Model Builder Extension Point -->
   <!--===============================-->

   <extension-point id="modelbuilder" name="Model Builder" schema="schema/modelbuilder.exsd"/>
</plugin>
