<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utk.nics.kraken.pbs.batch.xml"
            name="edu.utk.nics.kraken.pbs.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utk.nics.keeneland.pbs.batch.xml"
            name="edu.utk.nics.keeneland.pbs.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.bluewaters.pbs.batch.xe.xml"
            name="edu.illinois.ncsa.bluewaters.pbs.batch.xe">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.bluewaters.pbs.batch.xk.xml"
            name="edu.illinois.ncsa.bluewaters.pbs.batch.xk">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.forge.pbs.batch.mvapich2.xml"
            name="edu.illinois.ncsa.forge.pbs.batch.mvapich2">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.forge.pbs.batch.openmpi.xml"
            name="edu.illinois.ncsa.forge.pbs.batch.openmpi">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.forge.pbs.interactive.openmpi.xml"
            name="edu.illinois.ncsa.forge.pbs.interactive.openmpi">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.sdsc.trestles.torque.batch.xml"
            name="edu.sdsc.trestles.torque.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.sdsc.trestles.torque.interactive.openmpi.xml"
            name="edu.sdsc.trestles.torque.interactive.openmpi">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utexas.tacc.lonestar.sge.batch.xml"
            name="edu.utexas.tacc.lonestar.sge.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utexas.tacc.ranger.sge.batch.xml"
            name="edu.utexas.tacc.ranger.sge.batch">
      </JAXBResourceManagerConfiguration>      
      <JAXBResourceManagerConfiguration
            configurationFile="data/gov.anl.alcf.bgp.pbs.batch.xml"
        name="gov.anl.alcf.bgp.pbs.batch">
      </JAXBResourceManagerConfiguration>      
      <JAXBResourceManagerConfiguration
            configurationFile="data/gov.anl.alcf.bgq.pbs.batch.xml"
        name="gov.anl.alcf.bgq.pbs.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/de.fz-juelich.juropa.torque.batch.xml"
            name="de.fz-juelich.juropa.torque.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/de.fz-juelich.judge.torque.batch.xml"
            name="de.fz-juelich.judge.torque.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/de.fz-juelich.juqueen.ll_bg.xml"
            name="de.fz-juelich.juqueen.ll_bg">
      </JAXBResourceManagerConfiguration>
   </extension>

</plugin>
