<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utk.nics.kraken.pbs.batch.xml"
            name="edu.utk.nics.kraken.pbs.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utk.nics.keeneland.pbs.batch.xml"
            name="edu.utk.nics.keeneland.pbs.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.bluewaters.pbs.batch.xe.xml"
            monitorType="TORQUE_ALPS"
            name="edu.illinois.ncsa.bluewaters.pbs.batch.xe">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.bluewaters.pbs.batch.xk.xml"
            monitorType="TORQUE_ALPS"
            name="edu.illinois.ncsa.bluewaters.pbs.batch.xk">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.forge.pbs.batch.mvapich2.xml"
            name="edu.illinois.ncsa.forge.pbs.batch.mvapich2">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.forge.pbs.batch.openmpi.xml"
            name="edu.illinois.ncsa.forge.pbs.batch.openmpi">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.forge.pbs.interactive.openmpi.xml"
            name="edu.illinois.ncsa.forge.pbs.interactive.openmpi">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.sdsc.trestles.pbs.batch.xml"
            name="edu.sdsc.trestles.pbs.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utexas.tacc.lonestar.sge.batch.xml"
            name="edu.utexas.tacc.lonestar.sge.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utexas.tacc.ranger.sge.batch.xml"
            name="edu.utexas.tacc.ranger.sge.batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/gridengine-generic-batch.xml"
            monitorType="GRIDENGINE"
            name="Grid Engine-Generic-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/openmpi-generic-interactive.xml"
            monitorType="OPENMPI"
            name="Open MPI-Generic-Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-bgp-batch.xml"
            monitorType="SLURM"
            name="SLURM-BGP-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-bgq-batch.xml"
            monitorType="SLURM"
            name="SLURM-BGQ-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-generic-batch.xml"
            monitorType="SLURM"
            name="SLURM-Generic-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/torque-generic-batch.xml"
            monitorType="TORQUE"
            name="Torque-Generic-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/torque-generic-interactive.xml"
            monitorType="TORQUE"
            name="Torque-Generic-Interactive">
      </JAXBResourceManagerConfiguration>
   </extension>

</plugin>
