<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utk.nics.keeneland.pbs.batch.xml"
            name="Keeneland PBS Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.illinois.ncsa.bluewaters.pbs.batch.xml"
            name="BlueWaters PBS Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.sdsc.trestles.torque.batch.xml"
            name="Trestles Torque Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.sdsc.trestles.torque.interactive.openmpi.xml"
            name="Trestles Torque OpenMPI Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utexas.tacc.lonestar.sge.batch.xml"
            name="Lonestar SGE Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/edu.utexas.tacc.stampede.slurm.batch.xml"
            name="Stampede SLURM Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/gov.anl.alcf.bgp.pbs.batch.xml"
        name="ALCF PBS BGP Batch">
      </JAXBResourceManagerConfiguration>      
      <JAXBResourceManagerConfiguration
            configurationFile="data/gov.anl.alcf.bgq.pbs.batch.xml"
        name="ALCF PBS BGQ Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/de.fz-juelich.juropa.torque.batch.xml"
            name="Juropa Torque Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/de.fz-juelich.judge.torque.batch.xml"
            name="Judge Torque Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/de.fz-juelich.juqueen.ll_bg.xml"
            name="Juqueen LoadLeveler BGQ">
      </JAXBResourceManagerConfiguration>
   </extension>
</plugin>
