<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.internal.rdt.sync.git.core.GitServiceProvider"
            id="org.eclipse.ptp.rdt.sync.git.core.GitServiceProvider"
            name="%GitServiceProvider.name"
            serviceId="org.eclipse.ptp.rdt.sync.core.SyncService">
      </provider>
   </extension>

</plugin>
