<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rdt.sync.core.synchronizeService">
      <synchronizeService
            class="org.eclipse.ptp.internal.rdt.sync.git.core.GitSyncService"
            id="org.eclipse.ptp.rdt.sync.git.core.synchronizeService"
            name="GIT">
      </synchronizeService>
   </extension>

</plugin>
