<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			name="%ParallelLaunch.name"
			delegate="org.eclipse.ptp.rm.launch.ParallelLaunchConfigurationDelegate"
			sourceLocatorId="org.eclipse.ptp.debug.core.sourceLocator"
			sourcePathComputerId="org.eclipse.ptp.debug.core.sourcePathComputer"
			modes="run,debug"
			public="true"
			id="org.eclipse.ptp.rm.launch.parallelLaunch">
		</launchConfigurationType>
	</extension>

	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			icon="icons/parallel_run.gif"
			configTypeID="org.eclipse.ptp.rm.launch.parallelLaunch"
			id="org.eclipse.ptp.rm.launch.parallelLaunchImage">
		</launchConfigurationTypeImage>
	</extension>   
   
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			type="org.eclipse.ptp.rm.launch.parallelLaunch"
			class="org.eclipse.ptp.launch.ui.ParallelLaunchConfigurationTabGroup"
			id="org.eclipse.ptp.rm.launch.parallelLaunchConfigurationTabGroup">
    	    <launchMode
               description="%ParallelLaunch.run"
               mode="run"
               perspective="org.eclipse.ptp.rm.lml.ui.systemMonitoringPerspective">
         	</launchMode>
		</launchConfigurationTabGroup>
    <launchConfigurationTabGroup
          class="org.eclipse.ptp.launch.ui.ParallelDebugLaunchConfigurationTabGroup"
          id="org.eclipse.ptp.rm.launch.parallelDebugLaunchConfigurationTabGroup"
          type="org.eclipse.ptp.rm.launch.parallelLaunch">
       <launchMode
             description="%ParallelLaunch.debug"
             mode="debug"
             perspective="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
       </launchMode>
    </launchConfigurationTabGroup>
	</extension>

<!-- PDT Shortcut //-->	
   <extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
            label="%PTPShortcut.label"
			icon="icons/parallel_run.gif"
            class="org.eclipse.ptp.launch.internal.PTPLaunchShortcut"
            modes="run, debug"
            id="org.eclipse.ptp.rm.launch.ptpShortcut">
			<perspective id="org.eclipse.ptp.ui.PTPRunPerspective"/>
			<perspective id="org.eclipse.ptp.debug.ui.PTPDebugPerspective"/>
		</shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ResourcesTab"
            group="org.eclipse.ptp.rm.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.resourcesTabRun"
            name="%ResourcesLaunchTab.name">
      </tab>
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ApplicationTab"
            group="org.eclipse.ptp.rm.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.applicationTabRun"
            name="%ApplicationLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.resourcesTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.ArgumentsTab"
            group="org.eclipse.ptp.rm.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.argumentsTabRun"
            name="%ArgumentsLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.applicationTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnvironmentTab"
            group="org.eclipse.ptp.rm.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.environmentTabRun"
            name="%EnvironmentLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.argumentsTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnhancedSynchronizeTab"
            group="org.eclipse.ptp.rm.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.synchronizeTabRun"
            name="%SynchronizeLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.environmentTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="org.eclipse.ptp.rm.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.commonTabRun"
            name="%CommonLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.synchronizeTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ApplicationTab"
            group="org.eclipse.ptp.rm.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.applicationTabDebug"
            name="%ApplicationLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.resourcesTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.ArgumentsTab"
            group="org.eclipse.ptp.rm.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.argumentsTabDebug"
            name="%ArgumentsLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.applicationTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.ApplicationDebuggerTab"
            group="org.eclipse.ptp.rm.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.debuggerTab"
            name="%DebuggerLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.synchronizeTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ResourcesTab"
            group="org.eclipse.ptp.rm.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.resourcesTabDebug"
            name="%ResourcesLaunchTab.name">
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnvironmentTab"
            group="org.eclipse.ptp.rm.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.environmentTabDebug"
            name="%EnvironmentLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.argumentsTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnhancedSynchronizeTab"
            group="org.eclipse.ptp.rm.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.synchronizeTabDebug"
            name="%SynchronizeLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.environmentTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="org.eclipse.ptp.rm.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.sourceLookupTab"
            name="%SourceLookupLaunchTab.name">
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.debuggerTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="org.eclipse.ptp.rm.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.commonTabDebug"
            name="%CommonLaunchTab.name">
         <placement
               after="org.eclipse.debug.ui.sourceLookupTab">
         </placement>
      </tab>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.rm.launch.internal.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
