<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.ptp.rm.launch.ParallelLaunchConfigurationDelegate"
            delegateDescription="%ParallelLaunchDelegate.desc"
            id="org.eclipse.ptp.rm.launch.parallelLaunch"
            modes="run,debug"
            name="%ParallelLaunchDelegate.name"
            type="org.eclipse.ptp.launch.parallelLaunch">
      </launchDelegate>
   </extension>

   <extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
            label="%PTPShortcut.label"
			icon="icons/parallel_run.gif"
            class="org.eclipse.ptp.launch.internal.PTPLaunchShortcut"
            modes="run, debug"
            id="org.eclipse.ptp.rm.launch.ptpShortcut">
		</shortcut>
   </extension>
   
   <!-- 
        Tab ID's specified in the extension must be unique (across plugins), even if they are 
        not the same as the ID specified by the getId() method in the class. However, the 
        'placement' element MUST use the ID specified by the class. It all seems a bit clunky, 
        but it seems to work.
   -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <!-- Tabs for run mode -->
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ResourcesTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.resourcesTab"
            name="%ResourcesLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
      </tab>
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ApplicationTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.applicationTab"
            name="%ApplicationLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.resourcesTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ArgumentsTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.argumentsTab"
            name="%ArgumentsLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.applicationTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnvironmentTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.rm.environmentTab"
            name="%EnvironmentLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.argumentsTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnhancedSynchronizeTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.rm.synchronizeTab"
            name="%SynchronizeLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.environmentTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.rm.commonTab"
            name="%CommonLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.synchronizeTab">
         </placement>
      </tab>
      <!-- tabs for debug mode -->
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ResourcesTab"
            group="org.eclipse.ptp.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.resourcesTab"
            name="%ResourcesLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
      </tab>
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ApplicationTab"
            group="org.eclipse.ptp.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.applicationTab"
            name="%ApplicationLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.resourcesTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.rm.launch.ui.ArgumentsTab"
            group="org.eclipse.ptp.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rm.launch.applicationLaunch.argumentsTab"
            name="%ArgumentsLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.applicationTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.ApplicationDebuggerTab"
            group="org.eclipse.ptp.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.rm.debuggerTab"
            name="%DebuggerLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.rm.launch.applicationLaunch.argumentsTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnvironmentTab"
            group="org.eclipse.ptp.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.applicationLaunch.environmentTab"
            name="%EnvironmentLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.debuggerTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnhancedSynchronizeTab"
            group="org.eclipse.ptp.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.rm.synchronizeTab"
            name="%SynchronizeLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.environmentTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="org.eclipse.ptp.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.rm.sourceLookupTab"
            name="%SourceLookupLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.synchronizeTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="org.eclipse.ptp.launch.parallelDebugLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.rm.commonTab"
            name="%CommonLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rm.launch.parallelLaunch">
         </associatedDelegate>
         <placement
               after="org.eclipse.debug.ui.sourceLookupTab">
         </placement>
      </tab>
   </extension>
</plugin>
