<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.ptp.rdt.ui.views"
            name="%rdtViewCategory.name">
      </category>
      <view
            category="org.eclipse.ptp.rdt.ui.views"
            class="org.eclipse.ptp.internal.rdt.ui.includebrowser.IBViewPart"
            icon="icons/view16/includeBrowser.gif"
            id="org.eclipse.ptp.rdt.ui.includeBrowser"
            name="%includeBrowser.name"/>
      <view
            category="org.eclipse.ptp.rdt.ui.views"
            class="org.eclipse.ptp.internal.rdt.ui.callhierarchy.RemoteCHViewPart"
            icon="icons/view16/call_hierarchy.gif"
            id="org.eclipse.ptp.rdt.ui.callHierarchy"
            name="%callHierarchyView.name"/>
      <view
            category="org.eclipse.ptp.rdt.ui.views"
            class="org.eclipse.ptp.internal.rdt.ui.typehierarchy.RemoteTHViewPart"
            icon="icons/view16/class_hi.gif"
            id="org.eclipse.ptp.rdt.ui.typeHierarchy"
            name="%typeHierarchyView.name"/>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.ptp.internal.rdt.ui.search.RemoteSearchPage"
            extensions="c:90,cpp:90, cxx:90, cc:90,C:90, h:90, hh:90, hpp:90, H:90"
            icon="icons/obj16/csearch_obj.gif"
            id="org.eclipse.ptp.rdt.ui.searchPage"
            label="%remoteCSearchPage.label"
            showScopeSection="true"
            sizeHint="460, 160">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.ptp.internal.rdt.ui.search.RemoteSearchViewPage"
            id="org.eclipse.ptp.ui.SearchViewPage"
            searchResultClass="org.eclipse.ptp.internal.rdt.ui.search.RemoteSearchResult">
      </viewPage>
   </extension>
    <extension
        point="org.eclipse.cdt.ui.completionProposalComputer"
        id="remoteParserProposalCategory"
        name="%RemoteProposals.name">
        <proposalCategory
            icon="$nl$/icons/elcl16/codeassist_co.gif"/>
    </extension>
   <extension
         id="RemoteCompletionProposalAdapter"
         point="org.eclipse.cdt.ui.completionProposalComputer">
      <completionProposalComputer
            activate="true"
            categoryId="org.eclipse.ptp.rdt.ui.remoteParserProposalCategory"
            class="org.eclipse.ptp.internal.rdt.ui.contentassist.RemoteCompletionProposalAdapter">
         <partition type="__dftl_partition_content_type" />
         <partition type="__c_preprocessor" />
      </completionProposalComputer>
   </extension>

   <extension
         id="org.eclipse.ptp.rdt.ui.RemoteCIndexSubsystemConfiguration"
         name="Remote C/C++ Indexing Subsystem"
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            class="org.eclipse.ptp.rdt.ui.subsystems.RSECIndexSubsystemConfiguration"
            description="%configuration.description.0"
            id="org.eclipse.ptp.rdt.ui.RemoteCIndexSubsystemConfiguration"
            name="%configuration.name.0"
            systemTypeIds="org.eclipse.rse.systemtype.unix;org.eclipse.rse.systemtype.windows;org.eclipse.rse.systemtype.linux"
            vendor="%configuration.vendor.0">
      </configuration>
   </extension>
   <!-- Disable service model wizard page
   <extension
         point="org.eclipse.cdt.managedbuilder.ui.newWizardPages">
      <wizardPage
            ID="org.eclipse.ptp.rdt.ui.serviceModelWizardPage"
            pageClass="org.eclipse.ptp.rdt.ui.wizards.ServiceModelWizardPage">
         <nature
               natureID="org.eclipse.ptp.rdt.core.remoteNature">
         </nature>
      </wizardPage>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.ptp.rdt.ui.wizardCategory.Remote"
            name="%category.name.0">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.eclipse.ptp.rdt.ui.wizardCategory.Remote"
            class="org.eclipse.ptp.rdt.ui.wizards.NewRemoteProjectWizard"
            finalPerspective="org.eclipse.ptp.rdt.ui.remoteCPerspective"
            hasPages="true"
            icon="icons/etool16/newremote_c_proj.gif"
            id="org.eclipse.ptp.rdt.ui.newRemoteProjectWizard"
            name="%wizard.name.0"
            project="true">
            <description>
             	%remoteCCPPproject.desc
         	</description>
      </wizard>
      
      
      <wizard
            category="org.eclipse.ptp.rdt.ui.wizardCategory.Remote"
            class="org.eclipse.ptp.rdt.ui.wizards.ConvertToRemoteWizard"
            finalPerspective="org.eclipse.ptp.rdt.ui.remoteCPerspective"
            hasPages="true"
            icon="icons/obj16/convert-normal.gif"
            id="org.eclipse.ptp.rdt.ui.wizards.ConvertToMakeWizard"
            name="%WizardConvertRemoteProject.name"
            >
         <description>
            %WizardConvertRemoteProject.description
         </description>
         <selection
            class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>      
   </extension>
   <extension
         point="org.eclipse.cdt.ui.IndexerPage">
      <indexerUI
            class="org.eclipse.ptp.internal.rdt.ui.preferences.RemoteFastIndexerBlock"
            id="org.eclipse.ptp.rdt.ui.indexerUI"
            indexerID="org.eclipse.ptp.rdt.core.RemoteFastIndexer"
            name="%RDTRemoteFastIndexerName">
      </indexerUI>
      
   </extension>
   <extension
		 id="org.eclipse.ptp.rdt.ui.RSECIndexServiceProvider"
		 name="RDT Remote C/C++ Indexing Service"
		 point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rdt.ui.serviceproviders.RSECIndexServiceProvider"
            id="org.eclipse.ptp.rdt.ui.RSECIndexServiceProvider"
            name="%RSERemoteCIndexingService.name"
            priority="1"
            serviceId="org.eclipse.ptp.rdt.core.CIndexingService">
      </provider>
      <provider
            class="org.eclipse.ptp.rdt.ui.serviceproviders.RemoteBuildServiceProvider"
            id="org.eclipse.ptp.rdt.ui.RemoteBuildServiceProvider"
            name="%RemoteBuildService.name"
            priority="1"
            serviceId="org.eclipse.ptp.rdt.core.BuildService">
      </provider>
      <provider
            class="org.eclipse.ptp.rdt.ui.serviceproviders.LocalCIndexServiceProvider"
            id="org.eclipse.ptp.rdt.ui.LocalCIndexServiceProvider"
            name="%LocalCIndexServiceProvider.name"
            priority="2"
            serviceId="org.eclipse.ptp.rdt.core.CIndexingService">
      </provider>
   </extension>
   <extension
         id="org.eclipse.ptp.rdt.core.remoteNature"
         name="RDT Remote Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.ptp.rdt.core.resources.RemoteNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.CDTWizard">
      <wizard
            class="org.eclipse.ptp.rdt.ui.wizards.RemoteMakefileWizard"
            name="Remote Makefile Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
         <page
            class="org.eclipse.ptp.rdt.ui.properties.RemoteDevelopmentPropertiesPage"
            id="org.eclipse.ptp.rdt.ui.properties.Page_head_remote"
            name="%page.remote"
            >
         <filter
               name="projectNature"
               value="org.eclipse.ptp.rdt.core.remoteNature">
         </filter>          
         <enabledWhen>
            <or>
		     <instanceof value="org.eclipse.core.resources.IProject"/>
		     <instanceof value="org.eclipse.cdt.core.model.ICProject"/>
		     
		     <instanceof value="org.eclipse.core.resources.IFolder"/>
		     <instanceof value="org.eclipse.cdt.core.model.ICContainer"/>

         	 <instanceof value="org.eclipse.cdt.core.model.ITranslationUnit"/>
	         <instanceof value="org.eclipse.core.resources.IFile"/>
		    </or>          
         </enabledWhen>
        </page>    
      <page
            category="org.eclipse.ptp.rdt.ui.properties.Page_head_remote"
            class="org.eclipse.ptp.internal.rdt.ui.scannerinfo.RemoteScannerInfoPropertiesPage"
            id="org.eclipse.ptp.internal.rdt.ui.scannerinfo.RemoteScannerInfoPropertiesPage"
            name="%page.name.0">
         <filter
               name="projectNature"
               value="org.eclipse.ptp.rdt.core.remoteNature">
         </filter>
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ITranslationUnit">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.cdt.ui.newui.Page_head_general"
            class="org.eclipse.ptp.rdt.ui.properties.IndexerOptionPropertyPage"
            id="org.eclipse.ptp.rdt.ui.indexer"
            name="%CDTIndexerProperty.name">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
            class="org.eclipse.ptp.rdt.ui.properties.RemotePage_Environment"
            id="org.eclipse.ptp.rdt.ui.properties.RemotePage_Environment"
            name="%Environment">
         <filter
               name="projectNature"
               value="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
         </filter>
         <filter
               name="projectNature"
               value="org.eclipse.ptp.rdt.core.remoteNature">
         </filter>
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICProject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
      <!-- CDT Environment property page -->
      <page
            class="org.eclipse.cdt.managedbuilder.ui.properties.Page_Environment"
            id="org.eclipse.ptp.rdt.ui.properties.Page_Environment_CDT"
            category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
            name="%Environment"
            >
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
            	<and>
		           <test property="org.eclipse.core.resources.projectNature"
		                  value="org.eclipse.cdt.managedbuilder.core.managedBuildNature"/>
		            <not>
		            	<test property="org.eclipse.core.resources.projectNature"
							value="org.eclipse.ptp.rdt.core.remoteNature"/>
					</not>
                </and>
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.ptp.services.ui.ServiceConfigurationPropertyPage"
            id="org.eclipse.ptp.rdt.ui.properties.ServiceConfigurationPropertyPage"
            name="%ServiceConfigurationsPropertyPage.name">
         <filter
               name="projectNature"
               value="org.eclipse.ptp.rdt.core.remoteNature">
         </filter>
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICProject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.cPropertyTab">
      <tab
            class="org.eclipse.ptp.internal.rdt.ui.scannerinfo.RemoteIncludeTab"
            icon="icons/obj16/hfolder_obj.gif"
            name="%RemoteIncludeTab.name"
            parent="org.eclipse.ptp.internal.rdt.ui.scannerinfo.RemoteScannerInfoPropertiesPage"
            tooltip="%Includes.tooltip"
            weight="001">
      </tab>
      <tab
            class="org.eclipse.ptp.internal.rdt.ui.scannerinfo.RemoteSymbolTab"
            icon="icons/obj16/define_obj.gif"
            name="%SymbolTab.name"
            parent="org.eclipse.ptp.internal.rdt.ui.scannerinfo.RemoteScannerInfoPropertiesPage"
            weight="002">
      </tab>
      <tab
            class="org.eclipse.ptp.rdt.ui.properties.RemoteEnvironmentTab"
            helpId="cdt_u_prop_build_environment"
            icon="icons/obj16/environment.gif"
            name="(Single) Environment"
            parent="org.eclipse.ptp.rdt.ui.properties.RemotePage_Environment"
            weight="005">
      </tab>
      <!-- bug 348105
      <tab
            class="org.eclipse.ptp.rdt.ui.properties.RemoteEnvironmentTab"
            helpId="cdt_u_prop_build_environment"
            icon="icons/obj16/environment.gif"
            name="(Single) Environment"
            parent="org.eclipse.ptp.rdt.ui.preferences.RemotePrefPage_Env">
      </tab>
      -->
      <!-- CDT Environment property page tab -->
      <tab
           class="org.eclipse.cdt.ui.newui.EnvironmentTab"
           icon="icons/obj16/environment.gif"
           name="(Single) Environment - CDT"
           weight="050"
           helpId="cdt_u_prop_build_environment"
           parent="org.eclipse.ptp.rdt.ui.properties.Page_Environment_CDT"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.ptp.rdt.ui.perspectives.RemoteCPerspectiveFactory"
            icon="icons/etool16/remote_c_pers.gif"
            id="org.eclipse.ptp.rdt.ui.remoteCPerspective"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ptp.rdt.ui.remoteCPerspective">
         <newWizardShortcut
               id="org.eclipse.ptp.rdt.ui.newRemoteProjectWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
         <actionSet id="org.eclipse.cdt.ui.buildConfigActionSet"/>
         <actionSet id="org.eclipse.cdt.ui.NavigationActionSet"/>
         <actionSet id="org.eclipse.cdt.ui.OpenActionSet"/>
         <!-- Source/Refactor menus should only show up when the editor is present, not for the perspective
         <actionSet id="org.eclipse.cdt.ui.CodingActionSet"/>
         -->
         <actionSet id="org.eclipse.ui.edit.text.actionSet.presentation"/>
      </perspectiveExtension>
   </extension>
   <extension
         name="RSE extensions to Remote C/C++ Development Perspective"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ptp.rdt.ui.remoteCPerspective">
         <view
               id="org.eclipse.rse.ui.view.systemView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
         <view
               id="org.eclipse.rse.shells.ui.view.commandsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ptp.rdt.ui.callHierarchy">
         </view>
         <viewShortcut
               id="org.eclipse.rse.ui.view.systemView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.rse.shells.ui.view.commandsView">
         </viewShortcut>
         <newWizardShortcut
               id="org.eclipse.rse.ui.newWizards.connection">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
   		 name="Add Remote C/C++ Development Perspective Shortcut to CDT"
   		 point="org.eclipse.ui.perspectiveExtensions">
   	  <perspectiveExtension
   	  		targetID="org.eclipse.cdt.ui.CPerspective">
   	  	 <perspectiveShortcut
   	  	 	   id="org.eclipse.ptp.rdt.ui.remoteCPerspective">
   	  	 </perspectiveShortcut>
   	  </perspectiveExtension>
   </extension>
   <extension
   		 name="Add Remote System Explorer Perspective Shortcut to CDT"
   		 point="org.eclipse.ui.perspectiveExtensions">
   	  <perspectiveExtension
   	  		targetID="org.eclipse.cdt.ui.CPerspective">
   	  	 <perspectiveShortcut
   	  	 	   id="org.eclipse.rse.ui.view.SystemPerspective">
   	  	 </perspectiveShortcut>
   	  </perspectiveExtension>
   </extension>	  		
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%CSearchActionSet.label"
            visible="false"
            id="org.eclipse.ptp.rdt.ui.SearchActionSet">
         <action
               label="%openCSearchPageAction.label"
               icon="icons/obj16/csearch_obj.gif"
               class="org.eclipse.ptp.internal.rdt.ui.search.actions.OpenRemoteCSearchPageAction"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               id="org.eclipse.ptp.rdt.ui.OpenRemoteCSearchPage">
         </action>
         <menu
               label="%searchMenu.label"
               id="org.eclipse.search.menu">
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.cdt.internal.ui.navigator.CNavigatorContentProvider"
            id="org.eclipse.ptp.rdt.ui.navigator.content"
            labelProvider="org.eclipse.cdt.internal.ui.navigator.CNavigatorLabelProvider"
            name="RDT elements"
            priority="highest">
         <triggerPoints>
         	<!--
            <and>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.ptp.rdt.core.remoteNature">
               </test>
            </and>
            -->
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </test>
               </adapt>
               <instanceof
                     value="org.eclipse.cdt.ui.CElementGrouping">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.ui.CElementGrouping">
               </instanceof>
            </or>
         </possibleChildren>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.cdt.ui.navigator.content">
         </override>
         <actionProvider
               class="org.eclipse.ptp.internal.rdt.ui.navigtor.RemoteCNavigatorOpenViewActionProvider"
               id="org.eclipse.ptp.rdt.ui.navigator.actions.open.view"
               overrides="org.eclipse.cdt.ui.navigator.actions.open.view"
               priority="highest">
          <enablement>
             <instanceof
                   value="org.eclipse.cdt.core.model.ICElement">
             </instanceof>
          </enablement>
       </actionProvider>
       <actionProvider
             class="org.eclipse.ptp.internal.rdt.ui.navigtor.RemoteCNavigatorSearchActionProvider"
             id="org.eclipse.ptp.rdt.ui.navigator.actions.search"
             overrides="org.eclipse.cdt.ui.navigator.actions.search"
             priority="highest">
          <enablement>
             <and>
                <instanceof
                      value="org.eclipse.cdt.core.model.ISourceReference">
                </instanceof>
                <not>
                   <instanceof
                         value="org.eclipse.cdt.core.model.ITranslationUnit">
                   </instanceof>
                </not>
             </and>
          </enablement>
       </actionProvider>
       <actionProvider
             class="org.eclipse.ptp.internal.rdt.ui.navigtor.RemoteCNavigatorRefactorActionProvider"
             id="org.eclipse.ptp.rdt.ui.navigator.actions.refactor"
             overrides="org.eclipse.cdt.ui.navigator.actions.refactor"
             priority="highest">
          <enablement>
			<or>
				<instanceof value="org.eclipse.cdt.core.model.ICElement" />
				<and>
				   <instanceof value="org.eclipse.core.resources.IProject" />
	               <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
				</and>
			</or>
          </enablement>
       </actionProvider>
       <commonWizard
	         associatedExtensionId="org.eclipse.ptp.rdt.ui.navigator.content"
	         menuGroupId="org.eclipse.ptp.rdt.ui.newProject"
	         type="new"
	         wizardId="org.eclipse.ptp.rdt.ui.newRemoteProjectWizard">
		 <enablement/>
	   </commonWizard>
      </navigatorContent>
   </extension>
     <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
       <includes>
          <contentExtension pattern="org.eclipse.ptp.rdt.ui.navigator.content"/>
       </includes>
    </viewerContentBinding>
  </extension>
     <extension
           point="org.eclipse.ui.popupMenus">
        <objectContribution
              id="org.eclipse.ptp.rdt.ui.cproject.in.explorer.contrib"
              objectClass="org.eclipse.core.resources.IProject">
           <visibility>
              <objectState
                    name="projectNature"
                    value="org.eclipse.ptp.rdt.core.remoteNature">
              </objectState>
           </visibility>
           <action
                 class="org.eclipse.ptp.internal.rdt.ui.search.actions.FindUnresolvedIncludesProjectAction"
                 id="org.eclipse.ptp.rdt.ui.searchUnresolvedIncludes"
                 label="%SearchUnresolvedIncludes.name"
                 menubarPath="org.eclipse.cdt.ui.indexmenu/search"
                 overrideActionId="org.eclipse.cdt.ui.searchUnresolvedIncludes">
           </action>
           <menu
                 id="org.eclipse.cdt.ui.indexmenu"
                 label="%Index.menu"
                 path="buildGroup">
              <groupMarker
                    name="rebuild">
              </groupMarker>
              <separator
                    name="update">
              </separator>
              <separator
                    name="search">
              </separator>
              <separator
                    name="log">
              </separator>
           </menu>
        </objectContribution>
        <objectContribution
              id="org.eclipse.ptp.rdt.ui.cproject.contrib"
              objectClass="org.eclipse.cdt.core.model.ICProject">
           <action
                 class="org.eclipse.ptp.internal.rdt.ui.search.actions.FindUnresolvedIncludesProjectAction"
                 id="org.eclipse.ptp.rdt.ui.searchUnresolvedIncludes"
                 label="%SearchUnresolvedIncludes.name"
                 menubarPath="org.eclipse.cdt.ui.indexmenu/search"
                 overrideActionId="org.eclipse.cdt.ui.searchUnresolvedIncludes">
           </action>
           <menu
                 id="org.eclipse.cdt.ui.indexmenu"
                 label="%Index.menu"
                 path="buildGroup">
              <groupMarker
                    name="rebuild">
              </groupMarker>
              <separator
                    name="update">
              </separator>
              <separator
                    name="search">
              </separator>
              <separator
                    name="log">
              </separator>
           </menu>
           <visibility>
              <objectState
                    name="projectNature"
                    value="org.eclipse.ptp.rdt.core.remoteNature">
              </objectState>
           </visibility>
        </objectContribution>
     </extension>
     
     <extension
           point="org.eclipse.ptp.services.ui.providerContributors">
        <providerContributor
              class="org.eclipse.ptp.rdt.ui.wizards.RSECIndexServiceProviderContributer"
              configurationUIClass="org.eclipse.ptp.rdt.ui.wizards.RemoteCIndexServiceProviderConfigurer"
              id="org.eclipse.ptp.rdt.ui.RSECIndexServiceProvider">
        </providerContributor>
        <providerContributor
              class="org.eclipse.ptp.rdt.ui.wizards.RemoteServicesServiceProviderContributor"
              configurationUIClass="org.eclipse.ptp.rdt.ui.wizards.RemoteServicesServiceProviderConfigurer"
              id="org.eclipse.ptp.rdt.ui.RemoteBuildServiceProvider">
        </providerContributor>
     </extension>
     <extension
           point="org.eclipse.ptp.services.core.serviceCategories">
        <category
              id="org.eclipse.ptp.rdt.core.category.cDevelopment"
              name="%CDevelopment.name">
        </category>
     </extension>
     <extension
           point="org.eclipse.ptp.services.core.services">
        <service
              categoryId="org.eclipse.ptp.rdt.core.category.cDevelopment"
              id="org.eclipse.ptp.rdt.core.CIndexingService"
              name="%CIndexingService.name"
              nullProviderClass="org.eclipse.ptp.rdt.ui.serviceproviders.NullCIndexServiceProvider"
              priority="1">
           <nature
                 id="org.eclipse.cdt.core.cnature">
           </nature>
           <nature
                 id="org.eclipse.cdt.core.ccnature">
           </nature>
        </service>
        <service
              categoryId="org.eclipse.ptp.rdt.core.category.cDevelopment"
              id="org.eclipse.ptp.rdt.core.BuildService"
              name="%BuildService.name"
              nullProviderClass="org.eclipse.ptp.rdt.ui.serviceproviders.NullBuildServiceProvider"
              priority="2">
           <nature
                 id="org.eclipse.cdt.core.cnature">
           </nature>
           <nature
                 id="org.eclipse.cdt.core.ccnature">
           </nature>
        </service>
     </extension>
     
     <extension point="org.eclipse.ui.activities">
       <!--<category
             id="org.eclipse.ptp.rdt.ui.rdtCategory"
             name="%rdt.category.name.0">
       </category>-->
       
       <!--<categoryActivityBinding
             activityId="org.eclipse.ptp.rdt.ui.cdtIndexerPropertyActivity"
             categoryId="org.eclipse.ptp.rdt.ui.rdtCategory">
       </categoryActivityBinding>-->
       
       <activity
             id="org.eclipse.ptp.rdt.ui.cdtIndexerPropertyActivity"
             name="%cdtIndexerProperty.name">
       </activity>
    
       <activityPatternBinding
             activityId="org.eclipse.ptp.rdt.ui.cdtIndexerPropertyActivity"
             pattern="org\.eclipse\.cdt\.ui/org\.eclipse\.cdt\.ui\.indexer">
       </activityPatternBinding>
       
       <!-- bug 348105
       <activity
       		 id="org.eclipse.ptp.rdt.ui.EnvironmentPreferencePageActivity"
       		 name="%CDTEnvironmentPref.name">
       </activity>
       <activityPatternBinding
       		 activityId="org.eclipse.ptp.rdt.ui.EnvironmentPreferencePageActivity"
       		 pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.preferences.PrefPage_Env">
       </activityPatternBinding>
       -->

        <activity
       		 id="org.eclipse.ptp.rdt.ui.EnvironmentPropertiesPageActivity"
       		 name="%CDTEnvironmentProp.name">
       </activity>
       <activityPatternBinding
       		 activityId="org.eclipse.ptp.rdt.ui.EnvironmentPropertiesPageActivity"
       		 pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.properties.Page_Environment">
       </activityPatternBinding>
       
       <activity
       		 id="org.eclipse.ptp.rdt.ui.RemoteRebuildIndexActionActivity"
       		 name="%RDTREBUILDINDEX.name">
       </activity>
       <!--<categoryActivityBinding
       		 activityId="org.eclipse.ptp.rdt.ui.RemoteRebuildIndexActionActivity"
       		 categoryId="org.eclipse.ptp.rdt.ui.rdtCategory">
       </categoryActivityBinding>-->
       <activityPatternBinding
       		 activityId="org.eclipse.ptp.rdt.ui.RemoteRebuildIndexActionActivity"
       		 pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.rebuildIndexAction">
       </activityPatternBinding>
       
       
     </extension>
     <extension
           id="indexerproblemmarker"
           name="%indexerProblemName"
           point="org.eclipse.core.resources.markers">
        <super
              type="org.eclipse.core.resources.problemmarker">
        </super>
     </extension>
     <!-- bug 348105
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
              class="org.eclipse.ptp.rdt.ui.preferences.RemotePrefPage_Env"
              id="org.eclipse.ptp.rdt.ui.preferences.RemotePrefPage_Env"
              name="%Environment">
        </page>
     </extension>
     -->
       <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
          id="org.eclipse.cdt.ui.cproject.contrib"
          objectClass="org.eclipse.cdt.core.model.ICProject">
         <action
             class="org.eclipse.ptp.internal.rdt.ui.actions.RemoteRebuildIndexAction"
             id="org.eclipse.ptp.internal.rdt.ui.rebuildIndexAction"
             label="%RebuildIndex.name"
             menubarPath="org.eclipse.cdt.ui.indexmenu/rebuild"/>
         <!--action
             class="org.eclipse.cdt.internal.ui.search.actions.FindUnresolvedIncludesProjectAction"
             id="org.eclipse.cdt.ui.searchUnresolvedIncludes"
             label="%SearchUnresolvedIncludes.name"
             menubarPath="org.eclipse.cdt.ui.indexmenu/search"/-->
         <menu
               id="org.eclipse.cdt.ui.indexmenu"
               label="%Index.menu"
               path="buildGroup">
            <groupMarker name="rebuild"/>
            <separator name="update"/>
            <separator name="search"/>
            <separator name="log"/>
         </menu>
      </objectContribution>
      
       <!-- project explorer shows IProjects, we need to handle this -->
      <objectContribution 
          id="org.eclipse.cdt.ui.cproject.in.explorer.contrib"
          objectClass="org.eclipse.core.resources.IProject">
         <visibility>
              <objectState
                 name="projectNature"
                 value="org.eclipse.cdt.core.cnature"/>
         </visibility>          
         <!--action
             class="org.eclipse.cdt.internal.ui.actions.FreshenIndexAction"
             id="org.eclipse.cdt.ui.updateIndexAction"
             label="%FreshenIndex.name"
             menubarPath="org.eclipse.cdt.ui.indexmenu/update"/-->
         <!--action
             class="org.eclipse.cdt.internal.ui.actions.UpdateIndexWithModifiedFilesAction"
             id="org.eclipse.cdt.ui.syncIndexWithDiskAction"
             label="%SyncIndex.name"
             menubarPath="org.eclipse.cdt.ui.indexmenu/update"/-->
        <action
             class="org.eclipse.ptp.internal.rdt.ui.actions.RemoteRebuildIndexAction"
             id="org.eclipse.ptp.internal.rdt.ui.rebuildIndexAction"
             label="%RebuildIndex.name"
             menubarPath="org.eclipse.cdt.ui.indexmenu/rebuild"/>
         <!--action
             class="org.eclipse.cdt.internal.ui.search.actions.FindUnresolvedIncludesProjectAction"
             id="org.eclipse.cdt.ui.searchUnresolvedIncludes"
             label="%SearchUnresolvedIncludes.name"
             menubarPath="org.eclipse.cdt.ui.indexmenu/search"/-->
         <menu
               id="org.eclipse.cdt.ui.indexmenu"
               label="%Index.menu"
               path="buildGroup">
            <groupMarker name="rebuild"/>
            <separator name="update"/>
            <separator name="search"/>
            <separator name="log"/>
         </menu>
      </objectContribution>
      </extension>
     
     <extension point="org.eclipse.ptp.rdt.editor.editorInfoProvider">
        <editorInfoProvider
              class="org.eclipse.ptp.internal.rdt.ui.editor.RemoteCEditorInfoProvider">
        </editorInfoProvider>
     </extension> 
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="org.eclipse.ptp.remote.ui.RemoteDevelopmentPreferencePage"
              class="org.eclipse.ptp.rdt.ui.preferences.RemoteDevelopmentPreferencePage"
              id="org.eclipse.ptp.rdt.ui.RemoteDevPreferencePage"
              name="%RemoteDevPrefPage.name">
        </page>
     </extension> 
     <extension
           point="org.eclipse.core.runtime.preferences">
           <initializer class="org.eclipse.ptp.rdt.ui.preferences.PreferenceInitializer"/>
     </extension>
</plugin>
