<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration>
            configurationFile="data/pbs-generic-batch.xml"
            name="PBS-Generic-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-generic-interactive.xml"
            name="PBS-Generic-Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/gridengine-generic-batch.xml"
            name="Grid Engine-Generic-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/openmpi-generic-interactive.xml"
            name="Open MPI-Generic-Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-bgp-batch.xml"
            name="SLURM-BGP-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-bgq-batch.xml"
            name="SLURM-BGQ-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-bgp-batch.xml"
            name="PBS-BGP-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-bgq-batch.xml"
            name="PBS-BGQ-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-alps-generic-batch.xml"
            name="SLURM-ALPS-Generic-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-generic-batch.xml"
            name="SLURM-Generic-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/torque-generic-batch.xml"
            name="Torque-Generic-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/torque-generic-interactive.xml"
            name="Torque-Generic-Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/remote-generic-interactive.xml"
            name="Remote-Generic-Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/mpich2-generic-interactive.xml"
            name="MPICH2-Generic-Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/ibm-platform-mpi-interactive.xml"
            name="IBM Platform MPI">
      </JAXBResourceManagerConfiguration>
      
   </extension>
</plugin>
