<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-generic-batch.xml"
            name="Generic PBS Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-generic-interactive.xml"
            name="Generic PBS Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/gridengine-generic-batch.xml"
            name="Generic Grid Engine Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/openmpi-generic-interactive.xml"
            name="Generic OpenMPI Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-bgp-batch.xml"
            name="Generic SLURM BGP Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-bgq-batch.xml"
            name="Generic SLURM BGQ Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-bgp-batch.xml"
            name="Generic PBS BGP Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-bgq-batch.xml"
            name="Generic PBS BGQ Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-alps-generic-batch.xml"
            name="Generic SLURM ALPS Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/slurm-generic-batch.xml"
            name="Generic SLURM Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/torque-generic-batch.xml"
            name="Generic Torque Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/torque-generic-interactive.xml"
            name="Generic Torque Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/remote-generic-interactive.xml"
            name="Generic Remote Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/mpich2-generic-interactive.xml"
            name="Generic MPICH2 Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/ibm-platform-mpi-interactive.xml"
            name="Generic IBM Platform MPI">
      </JAXBResourceManagerConfiguration>
   </extension>
</plugin>
