<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.etfw.dataManagers">
      <PerformanceDataManager
            class="org.eclipse.ptp.etfw.tau.TAUPerformanceDataManager">
      </PerformanceDataManager>
   </extension>
   <extension
         point="org.eclipse.ptp.etfw.configurationTabs">
   </extension>
   <extension
         point="org.eclipse.ptp.etfw.workflows">
      <workflowDefinitionXML
            XMLFile="data/tau_tool.xml">
      </workflowDefinitionXML>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.etfw.preferences.ExternalToolsMainPage"
            class="org.eclipse.ptp.etfw.tau.TAUPrefPage"
            id="org.eclipse.ptp.etfw.tau.tauconfigpage"
            name="TAU Configuration">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
   </extension>
   <extension
         point="org.eclipse.ptp.etfw.toolUITabs">
      <tooluitab
            class="org.eclipse.ptp.etfw.tau.TAUMakefileTab">
      </tooluitab>
      <tooluitab
            class="org.eclipse.ptp.etfw.tau.TAUSelectiveTab">
      </tooluitab>
      <tooluitab
            class="org.eclipse.ptp.etfw.tau.TAUDataTab">
      </tooluitab>
   </extension>

</plugin>
