<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.etfw.dataManagers">
      <PerformanceDataManager
            class="org.eclipse.ptp.etfw.tau.TAUPerformanceDataManager">
      </PerformanceDataManager>
   </extension>
   <extension
         point="org.eclipse.ptp.etfw.configurationTabs">
      <perfconfigurationtab
            class="org.eclipse.ptp.etfw.tau.TAUAnalysisTab">
      </perfconfigurationtab>
   </extension>
   <extension
         point="org.eclipse.ptp.etfw.workflows">
      <workflowDefinitionXML
            XMLFile="toolxml/tau_tool.xml">
      </workflowDefinitionXML>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.etfw.preferences.ExternalToolsMainPage"
            class="org.eclipse.ptp.etfw.tau.TAUPrefPage"
            id="org.eclipse.ptp.etfw.tau.tauconfigpage"
            name="TAU Configuration">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.eclipse.ptp.etfw.tau.TAUAnalysisTab"
            group="org.eclipse.ptp.etfw.launchConfigurationTabGroup"
            id="org.eclipse.ptp.etfw.tau.TAUANalysisTab"
            name="TAU">
         <placement
               after="org.eclipse.ptp.etfw.parallelToolSelectionTab">
         </placement>
      </tab>
   </extension>

</plugin>
