<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<!-- Managed Make Builder Tool Specifications -->
   <extension
         id="cdt.managed.build.info"
         name="Managed Build Tools Description"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="3.1.0">
      </managedBuildRevision>

      <tool
            natureFilter="cnature"
            name="%ToolName.linker.xlf.fortran"
            outputFlag="-o"
            command="xlf95"
            id="photran.managedbuild.tool.xlf.fortran.linker">
         <envVarBuildPath 
         	pathType="buildpathLibrary"
         	variableList="LIBRARY_PATH">
         </envVarBuildPath>
         
         <optionCategory
               owner="photran.managedbuild.tool.xlf.fortran.linker"
               name="%OptionCategory.General"
               id="xlf.fortran.link.category.general">
         </optionCategory>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoStartFiles"
               category="xlf.fortran.link.category.general"
               command="-nostartfiles"
               id="xlf.fortran.link.option.nostart"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoDefLibs"
               category="xlf.fortran.link.category.general"
               command="-nodefaultlibs"
               id="xlf.fortran.link.option.nodeflibs"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoStdLibs"
               category="xlf.fortran.link.category.general"
               command="-nostdlib"
               id="xlf.fortran.link.option.nostdlibs"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Strip"
               category="xlf.fortran.link.category.general"
               command="--strip-all"
               id="xlf.fortran.link.option.strip"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Static"
               category="xlf.fortran.link.category.general"
               command="-static"
               id="xlf.fortran.link.option.noshared"
               valueType="boolean">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.xlf.fortran.linker"
               name="%OptionCategory.Libs"
               id="xlf.fortran.link.category.libs">
         </optionCategory>
         <option
               name="%Option.Posix.Libs"
               category="xlf.fortran.link.category.libs"
               command="-l"
               id="xlf.fortran.link.option.libs"
               browseType="file"
               valueType="libs">
         </option>
         <option
               name="%Option.Posix.Libsearch"
               category="xlf.fortran.link.category.libs"
               command="-L"
               id="xlf.fortran.link.option.paths"
               browseType="directory"
               valueType="stringList">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.xlf.fortran.linker"
               name="%OptionCategory.Misc"
               id="xlf.fortran.link.category.other">
         </optionCategory>
         <option
               name="%Option.Posix.Linker.Flags"
               category="xlf.fortran.link.category.other"
               valueType="string"
               id="xlf.fortran.link.option.ldflags">
         </option>
         <option
               name="%Option.Posix.Linker.XLinker"
               category="xlf.fortran.link.category.other"
               command="-Xlinker ${VALUE}"
               valueType="stringList"
               id="xlf.fortran.link.option.other">
         </option>
         <option
               name="%Option.Posix.UserObjs"
               category="xlf.fortran.link.category.other"
               browseType="file"
               valueType="userObjs"
               id="xlf.fortran.link.option.userobjs">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.xlf.fortran.linker"
               name="%OptionCategory.Shared.Settings"
               id="xlf.fortran.link.category.shared">
         </optionCategory>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Shared"
               category="xlf.fortran.link.category.shared"
               command="-shared"
               id="xlf.fortran.link.option.shared"
               valueType="boolean">
         </option>
         <option
               name="%Option.Posix.Linker.SOName"
               category="xlf.fortran.link.category.shared"
               command="-Wl,-soname="
               id="xlf.fortran.link.option.soname"
               valueType="string">
         </option>
         <option
               name="%Option.Posix.Linker.Implib"
               category="xlf.fortran.link.category.shared"
               command="-Wl,--out-implib="
               id="xlf.fortran.link.option.implname"
               valueType="string">
         </option>
         <option
               name="%Option.Posix.Linker.Defname"
               category="xlf.fortran.link.category.shared"
               command="-Wl,--output-def="
               id="xlf.fortran.link.option.defname"
               valueType="string">
         </option>
         <inputType
            sourceContentType="org.eclipse.cdt.managedbuilder.core.compiledObjectFile"
            sources="o"
			multipleOfType="true"
            dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.internal.DefaultNoDependencyCalculator"
            buildVariable="OBJS"
            id="photran.managedbuild.tool.xlf.fortran.linker.input">
            <additionalInput
            	paths="$(USER_OBJS)"
            	kind="additionalinputdependency">
            </additionalInput>
            <additionalInput
            	paths="$(LIBS)"
            	kind="additionalinput">
            </additionalInput>
         </inputType>
         <outputType
			outputs=""
            buildVariable="EXECUTABLES"
            nameProvider="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuLinkOutputNameProvider"
            id="photran.managedbuild.tool.xlf.fortran.linker.output">
         </outputType>
      </tool>

      <tool
            natureFilter="cnature"
            name="%ToolName.linker.macosx.xlf.fortran"
            outputFlag="-o"
            command="xlf95"
            commandLinePattern="${COMMAND} ${FLAGS} ${OUTPUT_FLAG} ${OUTPUT_PREFIX}${OUTPUT} ${INPUTS}"
            id="photran.managedbuild.tool.macosx.fortran.xlf.linker">
         <envVarBuildPath 
         	pathType="buildpathLibrary"
         	variableList="LIBRARY_PATH">
         </envVarBuildPath>
         
         <optionCategory
               owner="photran.managedbuild.tool.macosx.fortran.xlf.linker"
               name="%OptionCategory.General"
               id="macosx.fortran.xlf.link.category.general">
         </optionCategory>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoStartFiles"
               category="macosx.fortran.xlf.link.category.general"
               command="-nostartfiles"
               id="macosx.fortran.xlf.link.option.nostart"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoDefLibs"
               category="macosx.fortran.xlf.link.category.general"
               command="-nodefaultlibs"
               id="macosx.fortran.xlf.link.option.nodeflibs"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoStdLibs"
               category="macosx.fortran.xlf.link.category.general"
               command="-nostdlib"
               id="macosx.fortran.xlf.link.option.nostdlibs"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Strip"
               category="macosx.fortran.xlf.link.category.general"
               command="--strip-all"
               id="macosx.fortran.xlf.link.option.strip"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Static"
               category="macosx.fortran.xlf.link.category.general"
               command="-static"
               id="macosx.fortran.xlf.link.option.noshared"
               valueType="boolean">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.macosx.fortran.xlf.linker"
               name="%OptionCategory.Libs"
               id="macosx.fortran.xlf.link.category.libs">
         </optionCategory>
         <option
               name="%Option.Posix.Libs"
               category="macosx.fortran.xlf.link.category.libs"
               command="-l"
               id="macosx.fortran.xlf.link.option.libs"
               browseType="file"
               valueType="libs">
         </option>
         <option
               name="%Option.Posix.Libsearch"
               category="macosx.fortran.xlf.link.category.libs"
               command="-L"
               id="macosx.fortran.xlf.link.option.paths"
               browseType="directory"
               valueType="stringList">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.macosx.fortran.xlf.linker"
               name="%OptionCategory.Misc"
               id="macosx.fortran.xlf.link.category.other">
         </optionCategory>
         <option
               name="%Option.Posix.Linker.Flags"
               category="macosx.fortran.xlf.link.category.other"
               valueType="string"
               id="macosx.fortran.xlf.link.option.ldflags">
         </option>
         <option
               name="%Option.Posix.Linker.XLinker"
               category="macosx.fortran.xlf.link.category.other"
               command="-Xlinker ${VALUE}"
               valueType="stringList"
               id="macosx.fortran.xlf.link.option.other">
         </option>
         <option
               name="%Option.Posix.UserObjs"
               category="macosx.fortran.xlf.link.category.other"
               browseType="file"
               valueType="userObjs"
               id="macosx.fortran.xlf.link.option.userobjs">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.macosx.fortran.xlf.linker"
               name="%OptionCategory.Shared.Settings"
               id="macosx.fortran.xlf.link.category.shared">
         </optionCategory>
         <option
               defaultValue="false"
               name="%Option.MacOSX.Linker.Shared"
               category="macosx.fortran.xlf.link.category.shared"
               command="-Wl,-dylib"
               id="macosx.fortran.xlf.link.option.shared"
               valueType="boolean">
         </option>
         <inputType
            sourceContentType="org.eclipse.cdt.managedbuilder.core.compiledObjectFile"
            sources="o"
			multipleOfType="true"
            dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.internal.DefaultNoDependencyCalculator"
            buildVariable="OBJS"
            id="photran.managedbuild.tool.macosx.fortran.xlf.linker.input">
            <additionalInput
            	paths="$(USER_OBJS)"
            	kind="additionalinputdependency">
            </additionalInput>
            <additionalInput
            	paths="$(LIBS)"
            	kind="additionalinput">
            </additionalInput>
         </inputType>
         <outputType
			outputs=""
            buildVariable="EXECUTABLES"
            nameProvider="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuLinkOutputNameProvider"
            id="photran.managedbuild.tool.macosx.fortran.xlf.linker.output">
         </outputType>
      </tool>
    
      <tool
		  name="%ToolName.compiler.xlf.fortran"
		  id="photran.managedbuild.tool.xlf.fortran.compiler"
		  isAbstract="true"
		  command="xlf95"
		  natureFilter="both"
		  outputFlag="-o">
         <envVarBuildPath 
         	pathType="buildpathInclude"
         	variableList="CPATH,C_INCLUDE_PATH">
         </envVarBuildPath>

		  <optionCategory
               owner="photran.managedbuild.tool.xlf.fortran.compiler"
               name="%OptionCategory.Source"
               id="xlf.fortran.compiler.category.source">
		  </optionCategory>
		  <option
               name="%Option.XLF.Source.extension"
               category="xlf.fortran.compiler.category.source"
               id="xlf.fortran.compiler.option.source.extention"
               valueType="enumerated">
			<enumeratedOptionValue
                 name="f"
                 isDefault="false"
                 command=""
                 id="xlf.fortran.source.extention.f">
			</enumeratedOptionValue>
			<enumeratedOptionValue
                 name="f90"
                 isDefault="true"
                 command="-qsuffix=f=f90"
                 id="xlf.fortran.source.extention.f90">
			</enumeratedOptionValue>
			<enumeratedOptionValue
                 name="f95"
                 isDefault="false"
                 command="-qsuffix=f=f95"
                 id="xlf.fortran.source.extention.f95">
			</enumeratedOptionValue>
		  </option>
		  <option
               defaultValue=""
               name="%Option.OtherFlags"
               category="xlf.fortran.compiler.category.source"
               id="xlf.fortran.compiler.option.source.other"
               valueType="string">
		  </option>
		  <option
               name="%Option.XLF.Source.free"
               category="xlf.fortran.compiler.category.source"
               command="-qfree=f90"
               id="xlf.fortran.compiler.option.source.free"
               valueType="boolean">
		  </option>
		  <option
               name="%Option.XLF.Source.free.ibm"
               category="xlf.fortran.compiler.category.source"
               command="-qfree=ibm"
               id="xlf.fortran.compiler.option.source.free.ibm"
               valueType="boolean">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.xlf.fortran.compiler"
			  name="%OptionCategory.Symbols"
			  id="xlf.fortran.compiler.category.symbols">
		  </optionCategory>
		  <option
               name="%Option.Posix.DefSym"
               category="xlf.fortran.compiler.category.symbols"
               command="-D"
               id="xlf.fortran.compiler.option.preprocessor.def.symbols"
               valueType="definedSymbols">
		  </option>
		<option
               name="%Option.Posix.UndefSym"
               category="xlf.fortran.compiler.category.symbols"
               command="-U"
               id="xlf.f.compiler.option.preprocessor.undef.symbol"
               valueType="stringList">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.xlf.fortran.compiler"
			  name="%OptionCategory.Dirs"
			  id="xlf.fortran.compiler.category.dirs">
		  </optionCategory>
		  <option
			  name="%Option.Posix.InclPaths"
			  category="xlf.fortran.compiler.category.dirs"
			  command="-I"
			  id="xlf.fortran.compiler.option.include.paths"
			  valueType="includePath"
			  browseType="directory">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.xlf.fortran.compiler"
			  name="%OptionCategory.Optimize"
			  id="xlf.fortran.compiler.category.optimization">
		  </optionCategory>
		  <option
			  name="%Option.Posix.OptLevel"
			  category="xlf.fortran.compiler.category.optimization"
			  id="xlf.fortran.compiler.option.optimization.level"
			  valueType="enumerated">
		  <enumeratedOptionValue
		  		  name="%Option.Posix.Optimize.None"
				  isDefault="false"
				  command="-O0"
				  id="xlf.fortran.optimization.level.none">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.Optimize"
				  command="-O1"
				  id="xlf.fortran.optimization.level.optimize">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.More"
				  isDefault="true"
				  command="-O2"
				  id="xlf.fortran.optimization.level.more">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.Most"
				  command="-O3"
				  id="xlf.fortran.optimization.level.most">
		  </enumeratedOptionValue>
		  </option>
		  <option
			  name="%Option.Posix.Optimize.Flags"
			  category="xlf.fortran.compiler.category.optimization"
			  id="xlf.fortran.compiler.option.optimization.flags"
			  valueType="string">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.xlf.fortran.compiler"
			  name="%OptionCategory.Debug"
			  id="xlf.fortran.compiler.category.debug">
		  </optionCategory>
		  <option
			  name="%Option.Posix.DebugLevel"
			  category="xlf.fortran.compiler.category.debug"
			  id="xlf.fortran.compiler.option.debugging.level"
			  valueType="enumerated">
		  <enumeratedOptionValue
				  name="%Option.Posix.Debug.None"
				  isDefault="false"
				  id="xlf.fortran.debugging.level.none">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Debug.Def"
				  isDefault="true"
				  command="-g"
				  id="xlf.fortran.debugging.level.default">
		  </enumeratedOptionValue>
		  </option>
		  <option
			  name="%Option.Posix.Debug.Other"
			  category="xlf.fortran.compiler.category.debug"
			  id="xlf.fortran.compiler.option.debugging.other"
			  valueType="string">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Debug.gprof"
			  category="xlf.fortran.compiler.category.debug"
			  command="-pg"
			  id="xlf.fortran.compiler.option.debugging.gprof"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Debug.prof"
			  category="xlf.fortran.compiler.category.debug"
			  command="-p"
			  id="xlf.fortran.compiler.option.debugging.prof"
			  valueType="boolean">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.xlf.fortran.compiler"
			  name="%OptionCategory.Warn"
			  id="xlf.fortran.compiler.category.warnings">
		  </optionCategory>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Warn.nowarn"
			  category="xlf.fortran.compiler.category.warnings"
			  command="-w"
			  id="xlf.fortran.compiler.option.warnings.nowarn"
			  valueType="boolean">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.xlf.fortran.compiler"
			  name="%OptionCategory.Misc"
			  id="xlf.fortran.compiler.category.other">
		  </optionCategory>
		  <option
			  defaultValue="-c"
			  name="%Option.OtherFlags"
			  category="xlf.fortran.compiler.category.other"
			  id="xlf.fortran.compiler.option.misc.other"
			  valueType="string">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Verbose"
			  category="xlf.fortran.compiler.category.other"
			  command="-v"
			  id="xlf.fortran.compiler.option.misc.verbose"
			  valueType="boolean">
		  </option>
          <!--inputType
		      sources="f90,f95,f03,f08,F90,F95,F03,F08,f,for,ftn,fix,f77,fpp,F,FOR,FTN,FIX,FPP,i,i90"
              dependencyExtensions="f90,f95,f03,f08,F90,F95,F03,F08,f,for,ftn,fix,f77,fpp,F,FOR,FTN,FIX,FPP,i,i90"
              dependencyCalculator="org.eclipse.photran.managedbuilder.core/org.eclipse.photran.managedbuilder.core.makegen.DefaultFortranDependencyCalculator"
              id="photran.managedbuild.tool.xlf.fortran.compiler.input">
          </inputType-->
          <inputType
              sourceContentType="org.eclipse.photran.core.fortranSource"
              dependencyContentType="org.eclipse.photran.core.fortranSource"
              dependencyCalculator="org.eclipse.photran.managedbuilder.core/org.eclipse.photran.managedbuilder.core.makegen.DefaultFortranDependencyCalculator"
              id="photran.managedbuild.tool.xlf.fortran.compiler.input">
          </inputType>
          <outputType
			  outputs="o"
              buildVariable="OBJS"
              id="photran.managedbuild.tool.xlf.fortran.compiler.output">
          </outputType>
	  </tool>  

	  <projectType 
            name="%TargetName.xlf.fortran.macosx.exe"
            id="photran.managedbuild.target.xlf.fortran.macosx.exe"
            isTest="false"
            isAbstract="false">
         <configuration
               name="%ConfigName.Dbg"
               cleanCommand="rm -rf"
			   errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.photran.core.XLFErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"               
               id="photran.managedbuild.config.xlf.fortran.macosx.exe.debug">
               <toolChain
                     archList="all"
                     osList="macosx"
                     name="%XLFToolChainName.Dbg"
                     targetTool="photran.managedbuild.tool.macosx.fortran.xlf.linker.macosx.exe.debug"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="photran.managedbuild.toolchain.xlf.fortran.macosx.exe.debug">
                  <targetPlatform
					  id="photran.managedbuild.target.xlf.platform.macosx.exe.debug"
				 	  name="%PlatformName.Dbg"
                      binaryParser="org.eclipse.cdt.core.MachO"
					  osList="macosx"					  
					  archList="all">
				  </targetPlatform>
			  	  <builder
					  superClass="cdt.managedbuild.target.gnu.builder"
					  id="photran.managedbuild.target.xlf.builder.macosx.exe.debug"
					  name="%BuilderName.Dbg"
					  command="make"
					  arguments="-k"
					  buildfileGenerator="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuMakefileGenerator">		              
			      </builder>               		         
                  <tool
                      id="photran.managedbuild.tool.xlf.c.compiler.macosx.exe.debug"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">
                      <option
                          id="photran.xlf.c.compiler.macosx.exe.debug.option.optimization.level"
                          defaultValue="gnu.c.optimization.level.none"
                          superClass="gnu.c.compiler.option.optimization.level">
                      </option>
                      <option
                          id="photran.xlf.c.compiler.macosx.exe.debug.option.debugging.level"
                          defaultValue="gnu.c.debugging.level.max"
                          superClass="gnu.c.compiler.option.debugging.level">
                      </option>
                  </tool>
                  <tool
                      id="photran.managedbuild.tool.xlf.fortran.compiler.macosx.exe.debug"
                      superClass="photran.managedbuild.tool.xlf.fortran.compiler">
                      <option
                          id="xlf.fortran.compiler.macosx.exe.debug.option.optimization.level"
                          defaultValue="xlf.fortran.optimization.level.none"
                          superClass="xlf.fortran.compiler.option.optimization.level">
                      </option>
                      <option
                          id="xlf.fortran.compiler.macosx.exe.debug.option.debugging.level"
                          defaultValue="xlf.fortran.debugging.level.default"
                          superClass="xlf.fortran.compiler.option.debugging.level">
                      </option>
                  </tool>
				  <tool
				      id="photran.managedbuild.tool.macosx.fortran.xlf.linker.macosx.exe.debug"
					  superClass="photran.managedbuild.tool.macosx.fortran.xlf.linker">
				  </tool>
				  <tool
					  id="photran.managedbuild.tool.xlf.assembler.macosx.exe.debug"
					  superClass="cdt.managedbuild.tool.gnu.assembler">
				  </tool>   
               </toolChain>                    
         </configuration>
         <configuration
               name="%ConfigName.Rel"
               cleanCommand="rm -rf"               
			   errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.photran.core.XLFErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"                              
               id="photran.managedbuild.config.xlf.fortran.macosx.exe.release">
               <toolChain
                     archList="all"
                     osList="macosx"
                     name="%XLFToolChainName.Rel"
                     targetTool="photran.managedbuild.tool.macosx.fortran.xlf.linker.macosx.exe.release"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="photran.managedbuild.toolchain.xlf.fortran.macosx.exe.release">
                  <targetPlatform
					  id="photran.managedbuild.target.xlf.platform.fortran.macosx.exe.release"
				 	  name="%PlatformName.Rel"
                      binaryParser="org.eclipse.cdt.core.MachO"
					  osList="macosx"					  
					  archList="all">
				  </targetPlatform>
			  	  <builder
					  superClass="cdt.managedbuild.target.gnu.builder"
					  id="photran.managedbuild.target.xlf.builder.macosx.exe.release"
					  name="%BuilderName.Rel"
					  command="make"
					  arguments="-k"
					  buildfileGenerator="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuMakefileGenerator">		              
			      </builder>               		         
                  <tool
                      id="photran.managedbuild.tool.xlf.c.compiler.macosx.exe.release"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">
                      <option
                          id="photran.xlf.c.compiler.macosx.exe.release.option.optimization.level"
                          defaultValue="gnu.c.optimization.level.most"
                          superClass="gnu.c.compiler.option.optimization.level">
                      </option>
                      <option
                          id="photran.xlf.c.compiler.macosx.exe.release.option.debugging.level"
                          defaultValue="gnu.c.debugging.level.none"
                          superClass="gnu.c.compiler.option.debugging.level">
                      </option>
                   </tool>
                   <tool
                      id="photran.managedbuild.tool.xlf.fortran.compiler.macosx.exe.release"
                      superClass="photran.managedbuild.tool.xlf.fortran.compiler">
                      <option
                          id="xlf.fortran.compiler.macosx.exe.release.option.optimization.level"
                          defaultValue="xlf.fortran.optimization.level.most"
                          superClass="xlf.fortran.compiler.option.optimization.level">
                      </option>
                      <option
                          id="xlf.fortran.compiler.macosx.exe.release.option.debugging.level"
                          defaultValue="xlf.fortran.debugging.level.none"
                          superClass="xlf.fortran.compiler.option.debugging.level">
                      </option>
                   </tool>
				   <tool
				       id="photran.managedbuild.tool.macosx.fortran.xlf.linker.macosx.exe.release"
					   superClass="photran.managedbuild.tool.macosx.fortran.xlf.linker">
					</tool>
				  <tool
					  id="photran.managedbuild.tool.xlf.assembler.macosx.exe.release"
					  superClass="cdt.managedbuild.tool.gnu.assembler">
				  </tool>   
               </toolChain>                             
         </configuration>
       </projectType>         

   </extension>
           
</plugin>
