<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="remoteSyncNature"
         name="%RemoteSyncNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.ptp.rdt.sync.core.resources.RemoteSyncNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="remoteMakeNature"
         name="%RemoteMakeNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.ptp.rdt.sync.core.resources.RemoteMakeNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.ptp.rdt.sync.core.remoteMakeBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.services">
      <service
            id="org.eclipse.ptp.rdt.sync.core.SyncService"
            name="%SyncService.name">
      </service>
   </extension>
   <extension
         point="org.eclipse.cdt.core.UNCPathConverter">
      <UNCPathConverter
            class="org.eclipse.ptp.rdt.sync.core.SyncUNCPathConverter">
      </UNCPathConverter>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <builder
            commandLauncher="org.eclipse.ptp.rdt.sync.core.remotemake.SyncCommandLauncher"
            id="org.eclipse.ptp.rdt.sync.core.SyncBuilder"
            isAbstract="false"
            isVariableCaseSensitive="false"
            name="%Builder.name">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rdt.sync.core.serviceproviders.SyncBuildServiceProvider"
            id="org.eclipse.ptp.rdt.sync.BuildServiceProvider"
            name="%SyncBuildService.name"
            priority="1"
            serviceId="org.eclipse.ptp.rdt.core.BuildService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ptp.internal.rdt.sync.core.SyncCommand"
            id="org.eclipse.ptp.internal.rdt.sync.core.SyncCommand"
            name="Sync Operations">
         <commandParameter
               id="org.eclipse.ptp.internal.rdt.sync.core.syncCommand.syncModeParameter"
               name="Sync Mode"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               label="Synchronization">
            <menu
                  label="Set Sync">
               <command
                     commandId="org.eclipse.ptp.internal.rdt.sync.core.SyncCommand"
                     label="Sync Active"
                     style="radio">
                  <parameter
                        name="org.eclipse.ptp.internal.rdt.sync.core.syncCommand.syncModeParameter"
                        value="active">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ptp.internal.rdt.sync.core.SyncCommand"
                     label="Sync All"
                     style="radio">
                  <parameter
                        name="org.eclipse.ptp.internal.rdt.sync.core.syncCommand.syncModeParameter"
                        value="all">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ptp.internal.rdt.sync.core.SyncCommand"
                     label="Sync None"
                     style="radio">
                  <parameter
                        name="org.eclipse.ptp.internal.rdt.sync.core.syncCommand.syncModeParameter"
                        value="none">
                  </parameter>
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ptp.internal.rdt.sync.core.SyncCommand"
                  label="Sync Active Now"
                  style="push">
               <parameter
                     name="org.eclipse.ptp.internal.rdt.sync.core.syncCommand.syncModeParameter"
                     value="sync">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ptp.internal.rdt.sync.core.SyncCommand"
                  label="Sync All Now"
                  style="push">
               <parameter
                     name="org.eclipse.ptp.internal.rdt.sync.core.syncCommand.syncModeParameter"
                     value="sync_all">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ptp.internal.rdt.sync.core.SyncCommand"
                  label="Sync Automatically"
                  style="toggle">
               <parameter
                     name="org.eclipse.ptp.internal.rdt.sync.core.syncCommand.syncModeParameter"
                     value="toggle_auto_sync">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
