<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="synchronizeParticipants" name="Synchronize Participant" schema="schema/synchronizeParticipants.exsd"/>
   <extension-point id="synchronizeProperties" name="Synchronize Properies" schema="schema/synchronizeProperties.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
	   <wizard
	      name="%NewWizards.project"
	      icon="icons/etool16/newprj_wiz.gif"
	      category="org.eclipse.ptp.rdt.ui.wizardCategory.Remote"
	      class="org.eclipse.ptp.internal.rdt.sync.ui.wizards.NewSyncProjectWizardProxy"
	      project="true"
	      id="org.eclipse.ptp.rdt.sync.ui.newSyncProjectWizard">
	      <description>
	            %NewWizards.project.description
	      </description>
	   </wizard>
    <wizard
          category="org.eclipse.ptp.rdt.ui.wizardCategory.Remote"
          class="org.eclipse.ptp.internal.rdt.sync.ui.wizards.ConvertToSyncProjectWizardProxy"
          icon="icons/etool16/newprj_wiz.gif"
          id="org.eclipse.ptp.rdt.sync.ui.convertToSyncProjectWizard"
          name="%ConvertWizards.project"
          project="false">
       <description>
          %NewWizards.project.description
       </description>
    </wizard>
   </extension>
   <extension
       point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
              <contentExtension pattern="org.eclipse.ptp.rdt.sync.ui.navigator.content"/>
          </includes>
       </viewerContentBinding>
   </extension> 
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ptp.internal.rdt.sync.ui.menus.SyncMenuOperation"
            id="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
            name="Sync Operations">
         <commandParameter
               id="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
               name="Sync Mode"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=buildGroup">
         <menu
               label="%SynchronizeMenu.name">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="%SyncActiveNow.name"
                  style="push">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_active">
               </parameter>
            </command>
            <menu
                  label="%SetActive.name">
               <dynamic
                     class="org.eclipse.ptp.internal.rdt.sync.ui.menus.SetActiveMenu"
                     id="org.eclipse.ptp.rdt.sync.ui.dynamic">
               </dynamic>
            </menu>
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="%SyncAllNow.name"
                  style="push">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_all">
               </parameter>
            </command>
            <separator
                  name="org.eclipse.ptp.rdt.sync.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="%AutoSync.name"
                  style="toggle">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_auto">
               </parameter>
            </command>
            <menu
                  label="%AutoSyncSettings.name">
               <command
                     commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                     label="%SyncActive.name"
                     style="radio">
                  <parameter
                        name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                        value="set_active">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                     label="%SyncAll.name"
                     style="radio">
                  <parameter
                        name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                        value="set_all">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                     label="%SyncNone.name"
                     style="radio">
                  <parameter
                        name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                        value="set_none">
                  </parameter>
               </command>
            </menu>
            <separator
                  name="org.eclipse.ptp.rdt.sync.ui.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="Filter..."
                  style="push">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_file_list">
               </parameter>
            </command>
            <dynamic
                  class="org.eclipse.ptp.internal.rdt.sync.ui.menus.InitSyncMenu"
                  id="org.eclipse.ptp.rdt.sync.ui.InitSyncMenu">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ptp.rdt.sync.ui.SyncMergeFileTableViewer">
         <separator
               name="org.eclipse.ptp.rdt.sync.ui.separator0"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
               label="Reset to version before merge"
               style="push">
            <parameter
                  name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                  value="checkout">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
               label="Mark as resolved"
               style="push">
            <parameter
                  name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                  value="resolve">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
               label="Resolve as remote"
               style="push">
            <parameter
                  name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                  value="checkout_remote_copy">
            </parameter>
         </command>
         <separator
               name="org.eclipse.ptp.rdt.sync.ui.separator1"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="icons/ovr16/sync_ovr.gif"
            id="org.eclipse.ptp.rdt.sync.ui.decorator"
            label="%SyncProjectDecorator.name"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.remote.ui.RemoteDevelopmentPreferencePage"
            class="org.eclipse.ptp.internal.rdt.sync.ui.preferences.SyncPreferencePage"
            id="org.eclipse.ptp.rdt.sync.ui.SyncPreferencePage"
            name="%SynchronizedProjectsPreferencePage.name">
      </page>
      <page
            category="org.eclipse.ptp.rdt.sync.ui.SyncPreferencePage"
            class="org.eclipse.ptp.internal.rdt.sync.ui.preferences.SyncFileFilterPage"
            id="org.eclipse.ptp.rdt.sync.ui.SyncPreferencePage.SyncFileFilterPage"
            name="%FileFilteringPreferencePage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ptp.rdt.ui.views"
            class="org.eclipse.ptp.internal.rdt.sync.ui.SyncMergeFileTableViewer"
            id="org.eclipse.ptp.rdt.sync.ui.SyncMergeFileTableViewer"
            name="Synchronized Merge View"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="org.eclipse.ptp.rdt.ui.newProject"
            type="new"
            wizardId="org.eclipse.ptp.rdt.sync.ui.newSyncProjectWizard">
         <enablement/>
      </commonWizard>
   </extension>
   <extension
       point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
              <contentExtension pattern="org.eclipse.ptp.rdt.sync.ui.navigator.content"/>
          </includes>
       </viewerContentBinding>
   </extension>
   <extension
           point="org.eclipse.ui.propertyPages">
        <page
              class="org.eclipse.ptp.internal.rdt.sync.ui.properties.SyncPropertyPage"
              id="org.eclipse.ptp.rdt.sync.ui.properties.SyncConfigPropertiesPage"
              name="%SyncConfigPropteryPage.name">
           <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject">
                 <test
                    property="org.eclipse.core.resources.projectNature"
                    value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
                 </test>
              </adapt>
           </enabledWhen>
        </page>

     </extension>
</plugin>
