<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="synchronizeParticipants" name="Synchronize Participant" schema="schema/synchronizeParticipants.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.ptp.rdt.ui.wizardCategory.Remote"
            class="org.eclipse.ptp.rdt.sync.ui.wizards.NewRemoteSyncProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="icons/etool16/new_sync_c_proj.gif"
            id="org.eclipse.ptp.rdt.sync.ui.newRemoteProjectWizard"
            name="%wizard.name.0"
            project="true">
            <description>
             	%syncProject.desc
         	</description>
      </wizard>
      
      
      <wizard
            category="org.eclipse.ptp.rdt.ui.wizardCategory.Remote"
            class="org.eclipse.ptp.rdt.sync.ui.wizards.ConvertLocalToSyncProjectWizard"
            hasPages="true"
            icon="icons/obj16/convert-normal.gif"
            id="org.eclipse.ptp.rdt.sync.ui.wizards.ConvertLocalToSyncProjectWizard"
            name="%WizardConvertLocalProject.name"
            >
         <description>
            %WizardConvertProject.description
         </description>
         <selection
            class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.cdt.internal.ui.navigator.CNavigatorContentProvider"
            id="org.eclipse.ptp.rdt.sync.ui.navigator.content"
            labelProvider="org.eclipse.cdt.internal.ui.navigator.CNavigatorLabelProvider"
            name="Synchronize Elements"
            priority="highest">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </test>
               </adapt>
               <instanceof
                     value="org.eclipse.cdt.ui.CElementGrouping">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.ui.CElementGrouping">
               </instanceof>
            </or>
         </possibleChildren>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.cdt.ui.navigator.content">
         </override>
       <commonWizard
	         associatedExtensionId="org.eclipse.ptp.rdt.sync.ui.navigator.content"
	         menuGroupId="org.eclipse.ptp.rdt.ui.newProject"
	         type="new"
	         wizardId="org.eclipse.ptp.rdt.sync.ui.newRemoteProjectWizard">
		 <enablement/>
	   </commonWizard>
      </navigatorContent>
   </extension>
   <extension
       point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
              <contentExtension pattern="org.eclipse.ptp.rdt.sync.ui.navigator.content"/>
          </includes>
       </viewerContentBinding>
   </extension> 
     <extension
           point="org.eclipse.ui.propertyPages">
        <page
              category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
              class="org.eclipse.ptp.rdt.sync.ui.properties.BuildRemotePropertiesPage"
              id="org.eclipse.ptp.rdt.sync.ui.properties.BuildRemotePropertiesPage"
              name="Synchronize">
  <enabledWhen>
     <adapt
           type="org.eclipse.core.resources.IProject">
        <test
              property="org.eclipse.core.resources.projectNature"
              value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
        </test>
     </adapt>
  </enabledWhen>
        </page>
        <!-- category="org.eclipse.cdt.managedbuilder.ui.properties.Page_Environment -->
        <page
              category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
              class="org.eclipse.ptp.rdt.sync.ui.properties.EnvManagerPropertiesPage"
              id="org.eclipse.ptp.rdt.sync.ui.properties.ModulesPropertiesPage"
              name="Environment Management">
           <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject">
                 <test
                    property="org.eclipse.core.resources.projectNature"
                    value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
                 </test>
              </adapt>
           </enabledWhen>
        </page>

     </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ptp.rdt.sync.ui.SyncMenuOperation"
            id="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
            name="Sync Operations">
         <commandParameter
               id="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
               name="Sync Mode"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=buildGroup">
         <menu
               label="Synchronization">
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="Auto-Sync"
                  style="toggle">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_auto">
               </parameter>
            </command>
            <menu
                  label="Project Auto-Sync Settings">
               <command
                     commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                     label="Sync Active"
                     style="radio">
                  <parameter
                        name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                        value="set_active">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                     label="Sync All"
                     style="radio">
                  <parameter
                        name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                        value="set_all">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                     label="Sync None"
                     style="radio">
                  <parameter
                        name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                        value="set_none">
                  </parameter>
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="Sync Active Now"
                  style="push">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_active">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="Sync All Now"
                  style="push">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_all">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
            <dynamic
                  class="org.eclipse.ptp.rdt.sync.ui.InitSyncMenu"
                  id="org.eclipse.ptp.rdt.sync.ui.InitSyncMenu">
            </dynamic>
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="Exclude Selection"
                  style="push">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_exclude">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                        </not>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="Include Selection"
                  style="push">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_include">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof></not>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
                  label="Filter..."
                  style="push">
               <parameter
                     name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                     value="sync_file_list">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ptp.rdt.sync.ui.SyncMergeFileTableViewer">
         <separator
               name="org.eclipse.ptp.rdt.sync.ui.separator0"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
               label="Reset to version before merge"
               style="push">
            <parameter
                  name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                  value="checkout">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
               label="Mark as resolved"
               style="push">
            <parameter
                  name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                  value="resolve">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ptp.rdt.sync.ui.SyncCommand"
               label="Resolve as remote"
               style="push">
            <parameter
                  name="org.eclipse.ptp.rdt.sync.ui.syncCommand.syncModeParameter"
                  value="checkout_remote_copy">
            </parameter>
         </command>
         <separator
               name="org.eclipse.ptp.rdt.sync.ui.separator1"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="icons/ovr16/sync_ovr.gif"
            id="org.eclipse.ptp.rdt.sync.ui.decorator"
            label="%SyncProjectDecorator.name"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.remote.ui.RemoteDevelopmentPreferencePage"
            class="org.eclipse.ptp.rdt.sync.ui.SyncPreferencePage"
            id="org.eclipse.ptp.rdt.sync.ui.SyncPreferencePage"
            name="Synchronized Projects">
      </page>
      <page
            category="org.eclipse.ptp.rdt.sync.ui.SyncPreferencePage"
            class="org.eclipse.ptp.rdt.sync.ui.SyncFileFilterPage"
            id="org.eclipse.ptp.rdt.sync.ui.SyncPreferencePage.SyncFileFilterPage"
            name="File Filtering">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ptp.rdt.ui.views"
            class="org.eclipse.ptp.rdt.sync.ui.SyncMergeFileTableViewer"
            id="org.eclipse.ptp.rdt.sync.ui.SyncMergeFileTableViewer"
            name="Synchronized Merge View"
            restorable="false">
      </view>
   </extension>
</plugin>
