<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<!-- Managed Make Builder Tool Specifications -->
   <extension
         id="cdt.managed.build.info"
         name="Managed Build Tools Description"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="3.1.0">
      </managedBuildRevision>

      <tool
            natureFilter="cnature"
            name="%ToolName.linker.gnu.fortran"
            outputFlag="-o"
            command="gfortran"
            id="photran.managedbuild.tool.gnu.fortran.linker">
         <envVarBuildPath
         	pathType="buildpathLibrary"
         	variableList="LIBRARY_PATH">
         </envVarBuildPath>

         <optionCategory
               owner="photran.managedbuild.tool.gnu.fortran.linker"
               name="%OptionCategory.General"
               id="gnu.fortran.link.category.general">
         </optionCategory>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoStartFiles"
               category="gnu.fortran.link.category.general"
               command="-nostartfiles"
               id="gnu.fortran.link.option.nostart"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoDefLibs"
               category="gnu.fortran.link.category.general"
               command="-nodefaultlibs"
               id="gnu.fortran.link.option.nodeflibs"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoStdLibs"
               category="gnu.fortran.link.category.general"
               command="-nostdlib"
               id="gnu.fortran.link.option.nostdlibs"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Strip"
               category="gnu.fortran.link.category.general"
               command="--strip-all"
               id="gnu.fortran.link.option.strip"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Static"
               category="gnu.fortran.link.category.general"
               command="-static"
               id="gnu.fortran.link.option.noshared"
               valueType="boolean">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.gnu.fortran.linker"
               name="%OptionCategory.Libs"
               id="gnu.fortran.link.category.libs">
         </optionCategory>
         <option
               name="%Option.Posix.Libs"
               category="gnu.fortran.link.category.libs"
               command="-l"
               id="gnu.fortran.link.option.libs"
               browseType="file"
               valueType="libs">
         </option>
         <option
               name="%Option.Posix.Libsearch"
               category="gnu.fortran.link.category.libs"
               command="-L"
               id="gnu.fortran.link.option.paths"
               browseType="directory"
               valueType="stringList">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.gnu.fortran.linker"
               name="%OptionCategory.Misc"
               id="gnu.fortran.link.category.other">
         </optionCategory>
         <option
               name="%Option.Posix.Linker.Flags"
               category="gnu.fortran.link.category.other"
               valueType="string"
               id="gnu.fortran.link.option.ldflags">
         </option>
         <option
               name="%Option.Posix.Linker.XLinker"
               category="gnu.fortran.link.category.other"
               command="-Xlinker ${VALUE}"
               valueType="stringList"
               id="gnu.fortran.link.option.other">
         </option>
         <option
               name="%Option.Posix.UserObjs"
               category="gnu.fortran.link.category.other"
               browseType="file"
               valueType="userObjs"
               id="gnu.fortran.link.option.userobjs">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.gnu.fortran.linker"
               name="%OptionCategory.Shared.Settings"
               id="gnu.fortran.link.category.shared">
         </optionCategory>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Shared"
               category="gnu.fortran.link.category.shared"
               command="-shared"
               id="gnu.fortran.link.option.shared"
               valueType="boolean">
         </option>
         <option
               name="%Option.Posix.Linker.SOName"
               category="gnu.fortran.link.category.shared"
               command="-Wl,-soname="
               id="gnu.fortran.link.option.soname"
               valueType="string">
         </option>
         <option
               name="%Option.Posix.Linker.Implib"
               category="gnu.fortran.link.category.shared"
               command="-Wl,--out-implib="
               id="gnu.fortran.link.option.implname"
               valueType="string">
         </option>
         <option
               name="%Option.Posix.Linker.Defname"
               category="gnu.fortran.link.category.shared"
               command="-Wl,--output-def="
               id="gnu.fortran.link.option.defname"
               valueType="string">
         </option>
         <inputType
            sourceContentType="org.eclipse.cdt.managedbuilder.core.compiledObjectFile"
            sources="o"
			multipleOfType="true"
            dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.internal.DefaultNoDependencyCalculator"
            buildVariable="OBJS"
            id="photran.managedbuild.tool.gnu.fortran.linker.input">
            <additionalInput
            	paths="$(USER_OBJS)"
            	kind="additionalinputdependency">
            </additionalInput>
            <additionalInput
            	paths="$(LIBS)"
            	kind="additionalinput">
            </additionalInput>
         </inputType>
         <outputType
			outputs=""
            buildVariable="EXECUTABLES"
            nameProvider="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuLinkOutputNameProvider"
            id="photran.managedbuild.tool.gnu.fortran.linker.output">
         </outputType>
      </tool>

      <tool
            natureFilter="cnature"
            name="%ToolName.linker.macosx.fortran"
            outputFlag="-o"
            command="gfortran"
            commandLinePattern="${COMMAND} ${FLAGS} ${OUTPUT_FLAG} ${OUTPUT_PREFIX}${OUTPUT} ${INPUTS}"
            id="photran.managedbuild.tool.macosx.fortran.linker">
         <envVarBuildPath
         	pathType="buildpathLibrary"
         	variableList="LIBRARY_PATH">
         </envVarBuildPath>

         <optionCategory
               owner="photran.managedbuild.tool.macosx.fortran.linker"
               name="%OptionCategory.General"
               id="macosx.fortran.link.category.general">
         </optionCategory>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoStartFiles"
               category="macosx.fortran.link.category.general"
               command="-nostartfiles"
               id="macosx.fortran.link.option.nostart"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoDefLibs"
               category="macosx.fortran.link.category.general"
               command="-nodefaultlibs"
               id="macosx.fortran.link.option.nodeflibs"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.NoStdLibs"
               category="macosx.fortran.link.category.general"
               command="-nostdlib"
               id="macosx.fortran.link.option.nostdlibs"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Strip"
               category="macosx.fortran.link.category.general"
               command="--strip-all"
               id="macosx.fortran.link.option.strip"
               valueType="boolean">
         </option>
         <option
               defaultValue="false"
               name="%Option.Posix.Linker.Static"
               category="macosx.fortran.link.category.general"
               command="-static"
               id="macosx.fortran.link.option.noshared"
               valueType="boolean">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.macosx.fortran.linker"
               name="%OptionCategory.Libs"
               id="macosx.fortran.link.category.libs">
         </optionCategory>
         <option
               name="%Option.Posix.Libs"
               category="macosx.fortran.link.category.libs"
               command="-l"
               id="macosx.fortran.link.option.libs"
               browseType="file"
               valueType="libs">
         </option>
         <option
               name="%Option.Posix.Libsearch"
               category="macosx.fortran.link.category.libs"
               command="-L"
               id="macosx.fortran.link.option.paths"
               browseType="directory"
               valueType="stringList">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.macosx.fortran.linker"
               name="%OptionCategory.Misc"
               id="macosx.fortran.link.category.other">
         </optionCategory>
         <option
               name="%Option.Posix.Linker.Flags"
               category="macosx.fortran.link.category.other"
               valueType="string"
               id="macosx.fortran.link.option.ldflags">
         </option>
         <option
               name="%Option.Posix.Linker.XLinker"
               category="macosx.fortran.link.category.other"
               command="-Xlinker ${VALUE}"
               valueType="stringList"
               id="macosx.fortran.link.option.other">
         </option>
         <option
               name="%Option.Posix.UserObjs"
               category="macosx.fortran.link.category.other"
               browseType="file"
               valueType="userObjs"
               id="macosx.fortran.link.option.userobjs">
         </option>
         <optionCategory
               owner="photran.managedbuild.tool.macosx.fortran.linker"
               name="%OptionCategory.Shared.Settings"
               id="macosx.fortran.link.category.shared">
         </optionCategory>
         <option
               defaultValue="false"
               name="%Option.MacOSX.Linker.Shared"
               category="macosx.fortran.link.category.shared"
               command="-Wl,-dylib"
               id="macosx.fortran.link.option.shared"
               valueType="boolean">
         </option>
         <inputType
            sourceContentType="org.eclipse.cdt.managedbuilder.core.compiledObjectFile"
            sources="o"
			multipleOfType="true"
            dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.internal.DefaultNoDependencyCalculator"
            buildVariable="OBJS"
            id="photran.managedbuild.tool.macosx.fortran.linker.input">
            <additionalInput
            	paths="$(USER_OBJS)"
            	kind="additionalinputdependency">
            </additionalInput>
            <additionalInput
            	paths="$(LIBS)"
            	kind="additionalinput">
            </additionalInput>
         </inputType>
         <outputType
			outputs=""
            buildVariable="EXECUTABLES"
            nameProvider="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuLinkOutputNameProvider"
            id="photran.managedbuild.tool.macosx.fortran.linker.output">
         </outputType>
      </tool>

      <tool
		  name="%ToolName.compiler.gnu.fortran"
		  id="photran.managedbuild.tool.gnu.fortran.compiler"
		  isAbstract="true"
		  command="gfortran"
		  natureFilter="both"
		  outputFlag="-o">
         <envVarBuildPath
         	pathType="buildpathInclude"
         	variableList="CPATH,C_INCLUDE_PATH">
         </envVarBuildPath>
		  <optionCategory
			  owner="photran.managedbuild.tool.gnu.fortran.compiler"
			  name="%OptionCategory.Symbols"
			  id="gnu.fortran.compiler.category.symbols">
		  </optionCategory>
		  <option
			  name="%Option.Gnu.Fortran.symbols.underscoring"
			  category="gnu.fortran.compiler.category.symbols"
			  id="gnu.fortran.compiler.option.underscoring.level"
			  valueType="enumerated">
		  <enumeratedOptionValue
		  		  name="%Option.Gnu.Fortran.symbols.underscoring.none"
				  isDefault="false"
				  command="-fno-underscoring"
				  id="gnu.fortran.underscoring.none">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Gnu.Fortran.symbols.underscoring.one"
				  isDefault="true"
				  command="-funderscoring"
				  id="gnu.fortran.underscoring.one">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Gnu.Fortran.symbols.underscoring.notwo"
				  isDefault="false"
				  command="-fno-second-underscore"
				  id="gnu.fortran.underscoring.notwo">
		  </enumeratedOptionValue>
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Warn.Syntax"
			  category="gnu.fortran.compiler.category.symbols"
			  command="-fcase-lower"
			  id="gnu.fortran.compiler.symbols.lowercase"
			  valueType="boolean">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.gnu.fortran.compiler"
			  name="%OptionCategory.Dirs"
			  id="gnu.fortran.compiler.category.dirs">
		  </optionCategory>
		  <option
			  name="%Option.Posix.InclPaths"
			  category="gnu.fortran.compiler.category.dirs"
			  command="-I"
			  id="gnu.fortran.compiler.option.include.paths"
			  valueType="includePath"
			  browseType="directory">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.gnu.fortran.compiler"
			  name="%OptionCategory.Optimize"
			  id="gnu.fortran.compiler.category.optimization">
		  </optionCategory>
		  <option
			  name="%Option.Posix.OptLevel"
			  category="gnu.fortran.compiler.category.optimization"
			  id="gnu.fortran.compiler.option.optimization.level"
			  valueType="enumerated">
		  <enumeratedOptionValue
		  		  name="%Option.Posix.Optimize.None"
				  isDefault="false"
				  command="-O0"
				  id="gnu.fortran.optimization.level.none">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.Optimize"
				  command="-O1"
				  id="gnu.fortran.optimization.level.optimize">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.More"
				  isDefault="true"
				  command="-O2"
				  id="gnu.fortran.optimization.level.more">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.Most"
				  command="-O3"
				  id="gnu.fortran.optimization.level.most">
		  </enumeratedOptionValue>
		  </option>
		  <option
			  name="%Option.Posix.Optimize.Flags"
			  category="gnu.fortran.compiler.category.optimization"
			  id="gnu.fortran.compiler.option.optimization.flags"
			  valueType="string">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.gnu.fortran.compiler"
			  name="%OptionCategory.Debug"
			  id="gnu.fortran.compiler.category.debug">
		  </optionCategory>
		  <option
			  name="%Option.Posix.DebugLevel"
			  category="gnu.fortran.compiler.category.debug"
			  id="gnu.fortran.compiler.option.debugging.level"
			  valueType="enumerated">
		  <enumeratedOptionValue
				  name="%Option.Posix.Debug.None"
				  isDefault="false"
				  id="gnu.fortran.debugging.level.none">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Debug.Min"
				  command="-g1"
				  id="gnu.fortran.debugging.level.minimal">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Debug.Def"
				  isDefault="true"
				  command="-g"
				  id="gnu.fortran.debugging.level.default">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Debug.Max"
				  isDefault="false"
				  command="-g3"
				  id="gnu.fortran.debugging.level.max">
		  </enumeratedOptionValue>
		  </option>
		  <option
			  name="%Option.Posix.Debug.Other"
			  category="gnu.fortran.compiler.category.debug"
			  id="gnu.fortran.compiler.option.debugging.other"
			  valueType="string">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Debug.gprof"
			  category="gnu.fortran.compiler.category.debug"
			  command="-pg"
			  id="gnu.fortran.compiler.option.debugging.gprof"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Debug.prof"
			  category="gnu.fortran.compiler.category.debug"
			  command="-p"
			  id="gnu.fortran.compiler.option.debugging.prof"
			  valueType="boolean">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.gnu.fortran.compiler"
			  name="%OptionCategory.Warn"
			  id="gnu.fortran.compiler.category.warnings">
		  </optionCategory>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Warn.Syntax"
			  category="gnu.fortran.compiler.category.warnings"
			  command="-fsyntax-only"
			  id="gnu.fortran.compiler.option.warnings.syntax"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Warn.Pedandic"
			  category="gnu.fortran.compiler.category.warnings"
			  command="-pedantic"
			  id="gnu.fortran.compiler.option.warnings.pedantic"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Warn.PedErrors"
			  category="gnu.fortran.compiler.category.warnings"
			  command="-pedantic-errors"
			  id="gnu.fortran.compiler.option.warnings.pedantic.error"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Warn.nowarn"
			  category="gnu.fortran.compiler.category.warnings"
			  command="-w"
			  id="gnu.fortran.compiler.option.warnings.nowarn"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Warn.allwarn"
			  category="gnu.fortran.compiler.category.warnings"
			  command="-Wall"
			  id="gnu.fortran.compiler.option.warnings.allwarn"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Warn.toerrs"
			  category="gnu.fortran.compiler.category.warnings"
			  command="-Werror"
			  id="gnu.fortran.compiler.option.warnings.toerrors"
			  valueType="boolean">
		  </option>
		  <optionCategory
			  owner="photran.managedbuild.tool.gnu.fortran.compiler"
			  name="%OptionCategory.Misc"
			  id="gnu.fortran.compiler.category.other">
		  </optionCategory>
		  <option
			  defaultValue="-c -fmessage-length=0"
			  name="%Option.OtherFlags"
			  category="gnu.fortran.compiler.category.other"
			  id="gnu.fortran.compiler.option.misc.other"
			  valueType="string">
		  </option>
		  <option
			  defaultValue="false"
			  name="%Option.Posix.Verbose"
			  category="gnu.fortran.compiler.category.other"
			  command="-v"
			  id="gnu.fortran.compiler.option.misc.verbose"
			  valueType="boolean">
		  </option>

<!-- CDT does not yet support multiple content types so comment out these inputType attributes for now
            sourceContentType="org.eclipse.photran.core.fortranSource"
            dependencyContentType="org.eclipse.cdt.core.fortranSource"
-->

          <inputType
              sources="f,f90,ftn,for,i,fpp,F,FOR,FTN,FPP,F90,i90"
              dependencyExtensions="f,f90,ftn,for,i,fpp,F,FOR,FTN,FPP,F90,i90"
              dependencyCalculator="org.eclipse.photran.managedbuilder.core.makegen.DefaultFortranDependencyCalculator"
              id="photran.managedbuild.tool.gnu.fortran.compiler.input">
          </inputType>
          <outputType
			  outputs="o"
              buildVariable="OBJS"
              id="photran.managedbuild.tool.gnu.fortran.compiler.output">
          </outputType>
	  </tool>

      <!--
        -
        - GNU Fortran on Linux/*nix Project Type
        -
        -->
      <projectType
            isAbstract="false"
            isTest="false"
            name="%TargetName.gnu.fortran.exe"
            id="photran.managedbuild.target.gnu.fortran.exe">
         <configuration
               name="%ConfigName.Dbg"
               id="photran.managedbuild.config.gnu.fortran.exe.debug"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.photran.core.GFortranErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser">
               <toolChain
                     archList="all"
                     osList="solaris,linux,hpux,aix,qnx"
                     name="%ToolChainName.Dbg"
                     targetTool="photran.managedbuild.tool.gnu.fortran.linker.exe.debug"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="photran.managedbuild.toolchain.gnu.fortran.exe.debug">
		          <targetPlatform
		              id="photran.managedbuild.target.gnu.platform.exe.debug"
		              name="%PlatformName.Dbg"
		              binaryParser="org.eclipse.cdt.core.ELF"
		              osList="solaris,linux,hpux,aix,qnx"
		              archList="all">
	              </targetPlatform>
				  <builder
					  superClass="cdt.managedbuild.target.gnu.builder"
				      id="photran.managedbuild.target.gnu.builder.exe.debug"
		              name="%BuilderName.Dbg"
		              command="make"
		              arguments="-k"
		              buildfileGenerator="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuMakefileGenerator">
		     	  </builder>
                  <tool
                      id="photran.managedbuild.tool.gnu.c.compiler.exe.debug"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">
			  	      <option
					      id="photran.gnu.c.compiler.exe.debug.option.optimization.level"
						  defaultValue="gnu.c.optimization.level.none"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  <option
					      id="photran.gnu.c.compiler.exe.debug.option.debugging.level"
						  defaultValue="gnu.c.debugging.level.max"
					      superClass="gnu.c.compiler.option.debugging.level">
					  </option>
				  </tool>
		  		<tool
                      id="photran.managedbuild.tool.gnu.fortran.compiler.exe.debug"
                      superClass="photran.managedbuild.tool.gnu.fortran.compiler">
                      <option
                          id="gnu.fortran.compiler.exe.debug.option.optimization.level"
                          defaultValue="gnu.fortran.optimization.level.none"
                          superClass="gnu.fortran.compiler.option.optimization.level">
                      </option>
                      <option
                          id="gnu.fortran.compiler.exe.debug.option.debugging.level"
                          defaultValue="gnu.fortran.debugging.level.default"
                          superClass="gnu.fortran.compiler.option.debugging.level">
                      </option>
                  </tool>
		          <tool
        		      id="photran.managedbuild.tool.gnu.fortran.linker.exe.debug"
        		      superClass="photran.managedbuild.tool.gnu.fortran.linker">
        		  </tool>
        		  <tool
        		      id="photran.managedbuild.tool.gnu.assembler.exe.debug"
        		      superClass="cdt.managedbuild.tool.gnu.assembler">
        		  </tool>
	     </toolChain>
         </configuration>
         <configuration
               name="%ConfigName.Rel"
               id="photran.managedbuild.config.gnu.fortran.exe.release"
               cleanCommand="rm -rf"
			   errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.photran.core.GFortranErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser">
               <toolChain
                     archList="all"
                     osList="solaris,linux,hpux,aix,qnx"
                     name="%ToolChainName.Rel"
                     targetTool="photran.managedbuild.tool.gnu.fortran.linker.exe.release"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="photran.managedbuild.toolchain.gnu.fortran.exe.release">
		          <targetPlatform
		              id="photran.managedbuild.target.gnu.platform.fortran.exe.release"
		              name="%PlatformName.Rel"
		              binaryParser="org.eclipse.cdt.core.ELF"
		              osList="solaris,linux,hpux,aix,qnx"
		              archList="all">
		          </targetPlatform>
				  <builder
				  	  superClass="cdt.managedbuild.target.gnu.builder"
				      id="photran.managedbuild.target.gnu.builder.exe.release"
		              name="%BuilderName.Rel"
		              command="make"
		              arguments="-k"
		              buildfileGenerator="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuMakefileGenerator">
				  </builder>
                  <tool
                      id="photran.managedbuild.tool.gnu.c.compiler.exe.release"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">
					  <option
						  id="photran.gnu.c.compiler.exe.release.option.optimization.level"
						  defaultValue="gnu.c.optimization.level.most"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  <option
						  id="photran.gnu.c.compiler.exe.release.option.debugging.level"
						  defaultValue="gnu.c.debugging.level.none"
						  superClass="gnu.c.compiler.option.debugging.level">
					  </option>
                  </tool>
                  <tool
                      id="photran.managedbuild.tool.gnu.fortran.compiler.exe.release"
                      superClass="photran.managedbuild.tool.gnu.fortran.compiler">
					  <option
						  id="gnu.fortran.compiler.exe.release.option.optimization.level"
						  defaultValue="gnu.fortran.optimization.level.most"
						  superClass="gnu.fortran.compiler.option.optimization.level">
					  </option>
					  <option
						  id="gnu.fortran.compiler.exe.release.option.debugging.level"
						  defaultValue="gnu.fortran.debugging.level.none"
						  superClass="gnu.fortran.compiler.option.debugging.level">
					  </option>
                  </tool>
                  <tool
                      id="photran.managedbuild.tool.gnu.fortran.linker.exe.release"
                      superClass="photran.managedbuild.tool.gnu.fortran.linker">
                  </tool>
        		  <tool
        			id="photran.managedbuild.tool.gnu.assembler.exe.release"
        			superClass="cdt.managedbuild.tool.gnu.assembler">
    	          </tool>
               </toolChain>
         </configuration>
      </projectType>

      <!--
        -
        - GNU Fortran on Mac OS X Project Type
        -
        -->
      <projectType
            name="%TargetName.gnu.fortran.macosx.exe"
            id="photran.managedbuild.target.gnu.fortran.macosx.exe"
            isTest="false"
            isAbstract="false">
         <configuration
               name="%ConfigName.Dbg"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.photran.core.GFortranErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="photran.managedbuild.config.gnu.fortran.macosx.exe.debug">
               <toolChain
                     archList="all"
                     osList="macosx"
                     name="%ToolChainName.Dbg"
                     targetTool="photran.managedbuild.tool.macosx.fortran.linker.macosx.exe.debug"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="photran.managedbuild.toolchain.gnu.fortran.macosx.exe.debug">
                  <targetPlatform
					  id="photran.managedbuild.target.gnu.platform.macosx.exe.debug"
				 	  name="%PlatformName.Dbg"
                      binaryParser="org.eclipse.cdt.core.MachO"
					  osList="macosx"
					  archList="all">
				  </targetPlatform>
			  	  <builder
					  superClass="cdt.managedbuild.target.gnu.builder"
					  id="photran.managedbuild.target.gnu.builder.macosx.exe.debug"
					  name="%BuilderName.Dbg"
					  command="make"
					  arguments="-k"
					  buildfileGenerator="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuMakefileGenerator">
			      </builder>
                  <tool
                      id="photran.managedbuild.tool.gnu.c.compiler.macosx.exe.debug"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">
                      <option
                          id="photran.gnu.c.compiler.macosx.exe.debug.option.optimization.level"
                          defaultValue="gnu.c.optimization.level.none"
                          superClass="gnu.c.compiler.option.optimization.level">
                      </option>
                      <option
                          id="photran.gnu.c.compiler.macosx.exe.debug.option.debugging.level"
                          defaultValue="gnu.c.debugging.level.max"
                          superClass="gnu.c.compiler.option.debugging.level">
                      </option>
                  </tool>
                  <tool
                      id="photran.managedbuild.tool.gnu.fortran.compiler.macosx.exe.debug"
                      superClass="photran.managedbuild.tool.gnu.fortran.compiler">
                      <option
                          id="gnu.fortran.compiler.macosx.exe.debug.option.optimization.level"
                          defaultValue="gnu.fortran.optimization.level.none"
                          superClass="gnu.fortran.compiler.option.optimization.level">
                      </option>
                      <option
                          id="gnu.fortran.compiler.macosx.exe.debug.option.debugging.level"
                          defaultValue="gnu.fortran.debugging.level.default"
                          superClass="gnu.fortran.compiler.option.debugging.level">
                      </option>
                  </tool>
        		  <tool
        		      id="photran.managedbuild.tool.macosx.fortran.linker.macosx.exe.debug"
        			  superClass="photran.managedbuild.tool.macosx.fortran.linker">
        		  </tool>
        		  <tool
        			  id="photran.managedbuild.tool.gnu.assembler.macosx.exe.debug"
        			  superClass="cdt.managedbuild.tool.gnu.assembler">
        		  </tool>
               </toolChain>
         </configuration>
         <configuration
               name="%ConfigName.Rel"
               cleanCommand="rm -rf"
			   errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.photran.core.GFortranErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="photran.managedbuild.config.gnu.fortran.macosx.exe.release">
               <toolChain
                     archList="all"
                     osList="macosx"
                     name="%ToolChainName.Rel"
                     targetTool="photran.managedbuild.tool.macosx.fortran.linker.macosx.exe.release"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="photran.managedbuild.toolchain.gnu.fortran.macosx.exe.release">
                  <targetPlatform
					  id="photran.managedbuild.target.gnu.platform.fortran.macosx.exe.release"
				 	  name="%PlatformName.Rel"
                      binaryParser="org.eclipse.cdt.core.MachO"
					  osList="macosx"
					  archList="all">
				  </targetPlatform>
			  	  <builder
					  superClass="cdt.managedbuild.target.gnu.builder"
					  id="photran.managedbuild.target.gnu.builder.macosx.exe.release"
					  name="%BuilderName.Rel"
					  command="make"
					  arguments="-k"
					  buildfileGenerator="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuMakefileGenerator">
			      </builder>
                  <tool
                      id="photran.managedbuild.tool.gnu.c.compiler.macosx.exe.release"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">
                      <option
                          id="photran.gnu.c.compiler.macosx.exe.release.option.optimization.level"
                          defaultValue="gnu.c.optimization.level.most"
                          superClass="gnu.c.compiler.option.optimization.level">
                      </option>
                      <option
                          id="photran.gnu.c.compiler.macosx.exe.release.option.debugging.level"
                          defaultValue="gnu.c.debugging.level.none"
                          superClass="gnu.c.compiler.option.debugging.level">
                      </option>
                   </tool>
                   <tool
                      id="photran.managedbuild.tool.gnu.fortran.compiler.macosx.exe.release"
                      superClass="photran.managedbuild.tool.gnu.fortran.compiler">
                      <option
                          id="gnu.fortran.compiler.macosx.exe.release.option.optimization.level"
                          defaultValue="gnu.fortran.optimization.level.most"
                          superClass="gnu.fortran.compiler.option.optimization.level">
                      </option>
                      <option
                          id="gnu.fortran.compiler.macosx.exe.release.option.debugging.level"
                          defaultValue="gnu.fortran.debugging.level.none"
                          superClass="gnu.fortran.compiler.option.debugging.level">
                      </option>
                   </tool>
				   <tool
				       id="photran.managedbuild.tool.macosx.fortran.linker.macosx.exe.release"
					   superClass="photran.managedbuild.tool.macosx.fortran.linker">
					</tool>
				  <tool
					  id="photran.managedbuild.tool.gnu.assembler.macosx.exe.release"
					  superClass="cdt.managedbuild.tool.gnu.assembler">
				  </tool>
               </toolChain>
         </configuration>
	  </projectType>

      <!--
        -
        - GNU Fortran on Windows Project Type
        -
        -->
      <projectType
            name="%TargetName.gnu.fortran.win32.exe"
            id="photran.managedbuild.target.gnu.fortran.win32.exe"
            isTest="false"
            isAbstract="false">
         <configuration
               name="%ConfigName.Dbg"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.photran.core.GFortranErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="photran.managedbuild.config.gnu.fortran.win32.exe.debug">
               <toolChain
                     archList="all"
                     osList="win32"
                     name="%ToolChainName.Dbg"
                     targetTool="photran.managedbuild.tool.gnu.fortran.linker.exe.debug"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="photran.managedbuild.toolchain.gnu.fortran.win32.exe.debug">
                  <targetPlatform
					  id="photran.managedbuild.target.gnu.platform.win32.exe.debug"
				 	  name="%PlatformName.Dbg"
                      binaryParser="org.eclipse.cdt.core.PE"
					  osList="win32"
					  archList="all">
				  </targetPlatform>
			  	  <builder
					  superClass="cdt.managedbuild.target.gnu.builder"
					  id="photran.managedbuild.target.gnu.builder.win32.exe.debug"
					  name="%BuilderName.Dbg"
					  command="make"
					  arguments="-k"
					  buildfileGenerator="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuMakefileGenerator">
			      </builder>
                  <tool
                      id="photran.managedbuild.tool.gnu.c.compiler.win32.exe.debug"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">
                      <option
                          id="photran.gnu.c.compiler.win32.exe.debug.option.optimization.level"
                          defaultValue="gnu.c.optimization.level.none"
                          superClass="gnu.c.compiler.option.optimization.level">
                      </option>
                      <option
                          id="photran.gnu.c.compiler.win32.exe.debug.option.debugging.level"
                          defaultValue="gnu.c.debugging.level.max"
                          superClass="gnu.c.compiler.option.debugging.level">
                      </option>
                  </tool>
                  <tool
                      id="photran.managedbuild.tool.gnu.fortran.compiler.win32.exe.debug"
                      superClass="photran.managedbuild.tool.gnu.fortran.compiler">
                      <option
                          id="gnu.fortran.compiler.win32.exe.debug.option.optimization.level"
                          defaultValue="gnu.fortran.optimization.level.none"
                          superClass="gnu.fortran.compiler.option.optimization.level">
                      </option>
                      <option
                          id="gnu.fortran.compiler.win32.exe.debug.option.debugging.level"
                          defaultValue="gnu.fortran.debugging.level.default"
                          superClass="gnu.fortran.compiler.option.debugging.level">
                      </option>
                  </tool>
                  <tool
                      id="photran.managedbuild.tool.gnu.fortran.linker.win32.exe.debug"
                      superClass="photran.managedbuild.tool.gnu.fortran.linker">
                  </tool>
                  <tool
                      id="photran.managedbuild.tool.gnu.assembler.win32.exe.debug"
                      superClass="cdt.managedbuild.tool.gnu.assembler">
                  </tool>
               </toolChain>
         </configuration>
         <configuration
               name="%ConfigName.Rel"
               cleanCommand="rm -rf"
			   errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.photran.core.GFortranErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="photran.managedbuild.config.gnu.fortran.win32.exe.release">
               <toolChain
                     archList="all"
                     osList="win32"
                     name="%ToolChainName.Rel"
                     targetTool="photran.managedbuild.tool.gnu.fortran.linker.exe.release"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="photran.managedbuild.toolchain.gnu.fortran.win32.exe.release">
                  <targetPlatform
					  id="photran.managedbuild.target.gnu.platform.fortran.win32.exe.release"
				 	  name="%PlatformName.Rel"
                      binaryParser="org.eclipse.cdt.core.PE"
					  osList="win32"
					  archList="all">
				  </targetPlatform>
			  	  <builder
					  superClass="cdt.managedbuild.target.gnu.builder"
					  id="photran.managedbuild.target.gnu.builder.win32.exe.release"
					  name="%BuilderName.Rel"
					  command="make"
					  arguments="-k"
					  buildfileGenerator="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuMakefileGenerator">
			      </builder>
                  <tool
                      id="photran.managedbuild.tool.gnu.c.compiler.win32.exe.release"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">
                      <option
                          id="photran.gnu.c.compiler.win32.exe.release.option.optimization.level"
                          defaultValue="gnu.c.optimization.level.most"
                          superClass="gnu.c.compiler.option.optimization.level">
                      </option>
                      <option
                          id="photran.gnu.c.compiler.win32.exe.release.option.debugging.level"
                          defaultValue="gnu.c.debugging.level.none"
                          superClass="gnu.c.compiler.option.debugging.level">
                      </option>
                   </tool>
                   <tool
                      id="photran.managedbuild.tool.gnu.fortran.compiler.win32.exe.release"
                      superClass="photran.managedbuild.tool.gnu.fortran.compiler">
                      <option
                          id="gnu.fortran.compiler.win32.exe.release.option.optimization.level"
                          defaultValue="gnu.fortran.optimization.level.most"
                          superClass="gnu.fortran.compiler.option.optimization.level">
                      </option>
                      <option
                          id="gnu.fortran.compiler.win32.exe.release.option.debugging.level"
                          defaultValue="gnu.fortran.debugging.level.none"
                          superClass="gnu.fortran.compiler.option.debugging.level">
                      </option>
                   </tool>
                   <tool
                      id="photran.managedbuild.tool.gnu.fortran.linker.win32.exe.release"
                      superClass="photran.managedbuild.tool.gnu.fortran.linker">
                   </tool>
                   <tool
                      id="photran.managedbuild.tool.gnu.assembler.win32.exe.release"
                      superClass="cdt.managedbuild.tool.gnu.assembler">
                   </tool>
               </toolChain>
         </configuration>
	  </projectType>

   </extension>

</plugin>
