<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.pbs.ui.launch.PBSRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.pbs.ui.launchConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rm.pbs.ui.PBSResourceManagerConfiguration"
            id="org.eclipse.ptp.rm.pbs.PBSServiceProvider"
            name="PBS"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.rm.pbs.ui.PBSProviderContributor"
            id="org.eclipse.ptp.rm.pbs.PBSServiceProvider">
      </providerContributor>
   </extension>
</plugin>
