<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.pbs.ui.launch.PBSRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.pbs.ui.launchConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.ui.wizards.RMProviderContributor"
            id="org.eclipse.ptp.rm.pbs.resourceManager">
      </providerContributor>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationWizards">
      <configurationWizard
            class="org.eclipse.ptp.rm.pbs.ui.wizards.PBSRMConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.pbs.resourceManager">
      </configurationWizard>
   </extension>
</plugin>
