<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.etfw.jaxb.workflows">
      <workflowDefinitionXML
            file="data/ppw_upc-jaxb.xml"
            name="PPW_UPC">
      </workflowDefinitionXML>
      <workflowDefinitionXML
            file="data/tau_tool-jaxb.xml"
            name="TAU">
      </workflowDefinitionXML>
      <workflowDefinitionXML
            file="data/perfsuite-tool.xml"
            name="PerfSuite">
      </workflowDefinitionXML>
   </extension>

</plugin>
