<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="synchronizeService" name="Synchronize Service" schema="schema/synchronizeService.exsd"/>
   <extension
         id="remoteSyncNature"
         name="%RemoteSyncNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.ptp.rdt.sync.core.resources.RemoteSyncNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.services">
      <service
            id="org.eclipse.ptp.rdt.sync.core.SyncService"
            name="%SyncService.name">
      </service>
      <service
            id="org.eclipse.ptp.rdt.sync.core.BuildService"
            name="%SyncBuildService.name">
      </service>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rdt.sync.core.services.SyncBuildServiceProvider"
            id="org.eclipse.ptp.rdt.sync.core.BuildServiceProvider"
            name="%SyncBuildProvider.name"
            priority="1"
            serviceId="org.eclipse.ptp.rdt.sync.core.BuildService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ptp.remote.core.remoteResources">
      <remoteResource
            class="org.eclipse.ptp.rdt.sync.core.SynchronizedResource"
            nature="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
      </remoteResource>
   </extension>
</plugin>
