<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="remoteSyncNature"
         name="%RemoteSyncNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.ptp.rdt.sync.core.resources.RemoteSyncNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.services">
      <service
            id="org.eclipse.ptp.rdt.sync.core.SyncService"
            name="%SyncService.name">
      </service>
   </extension>
   <extension
         point="org.eclipse.cdt.core.UNCPathConverter">
      <UNCPathConverter
            class="org.eclipse.ptp.rdt.sync.core.SyncUNCPathConverter">
      </UNCPathConverter>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rdt.sync.core.serviceproviders.SyncBuildServiceProvider"
            id="org.eclipse.ptp.rdt.sync.BuildServiceProvider"
            name="%SyncBuildService.name"
            priority="1"
            serviceId="org.eclipse.ptp.rdt.core.BuildService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <builder
            commandLauncher="org.eclipse.ptp.rdt.sync.core.remotemake.SyncCommandLauncher"
            id="org.eclipse.ptp.rdt.sync.core.SyncBuilder"
            isAbstract="false"
            isVariableCaseSensitive="false"
            name="%Builder.name">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ptp.remote.core.remoteResources">
      <remoteResource
            class="org.eclipse.ptp.rdt.sync.core.SynchronizedResource"
            nature="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
      </remoteResource>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="org.eclipse.ptp.rdt.sync.core.SyncGCCBuiltinSpecsDetector"
            id="org.eclipse.ptp.rdt.sync.core.GCCBuiltinSpecsDetector"
            name="Sync GCC Builtin Compiler Settings"
            parameter="${COMMAND} -E -P -v -dD ${INPUTS}"
            prefer-non-shared="true">
         <language-scope
               id="org.eclipse.cdt.core.gcc">
         </language-scope>
         <language-scope
               id="org.eclipse.cdt.core.g++">
         </language-scope>
      </provider>
   </extension>
</plugin>
