<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
       <actionSet id="org.eclipse.debug.ui.profileActionSet"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.photran.ui.FortranPerspective">
       <actionSet id="org.eclipse.debug.ui.profileActionSet"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.ptp.ui.PTPRunPerspective">
       <actionSet id="org.eclipse.debug.ui.profileActionSet"/>
    </perspectiveExtension>
 </extension>

	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			type="org.eclipse.ptp.launch.parallelLaunch"
			class="org.eclipse.ptp.tau.launch.internal.ui.TAULaunchConfigurationTabGroup"
			id="org.eclipse.ptp.tau.launch.tauLaunchConfigurationTabGroup">
         <launchMode
               description="Create a configuration to launch a program to be instrumented and profiled by TAU."
               mode="profile"/>
		</launchConfigurationTabGroup>
	</extension>

   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.ptp.tau.launch.internal.TAULaunchConfigurationDelegate"
            id="org.eclipse.ptp.tau.launch.TAULaunchConfigurationDelegate"
            modes="profile"
            sourceLocatorId="org.eclipse.ptp.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.ptp.debug.core.sourcePathComputer"
            type="org.eclipse.ptp.launch.parallelLaunch"/>
   </extension>

</plugin>
