<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<!-- =========================== -->
<!-- Nature for Fortran Projects -->
<!-- =========================== -->
   <extension
         id="fnature"
         name="%fnature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.photran.internal.core.FProjectNature">
         </run>
      </runtime>
   </extension>

<!-- ==============-->
<!-- Error Parsers -->
<!-- ==============-->
   <extension
         id="AbsoftErrorParser"
         name="Photran Error Parser for Absoft Fortran"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.AbsoftErrorParser">
      </errorparser>
   </extension>
   <!--extension
         id="XLFErrorParser"
         name="%FDTXLFErrorParser.name"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.errorparsers.XLFErrorParser">
      </errorparser>
   </extension-->
   <extension
         id="GFortranErrorParser"
         name="%FDTGFortranErrorParser.name"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.GFortranErrorParser">
      </errorparser>
   </extension>
   <extension
         id="IntelFortranErrorParser"
         name="Photran Error Parser for Intel Fortran 8.1"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.IntelFortranErrorParser">
      </errorparser>
   </extension>
   <extension
         id="LaheyFortranErrorParser"
         name="Photran Error Parser for Lahey/Fujitsu Fortran 7.1"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.LaheyFortranErrorParser">
      </errorparser>
   </extension>
   <extension
         id="G95FortranErrorParser"
         name="Photran Error Parser for G95 Fortran"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.G95FortranErrorParser">
      </errorparser>
   </extension>
   <extension
         id="NAGErrorParser"
         name="Photran Error Parser for NAG Fortran"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.NAGErrorParser">
      </errorparser>
   </extension>
   <extension
         id="PGIErrorParser"
         name="Photran Error Parser for PGI Fortran"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.PGIErrorParser">
      </errorparser>
   </extension>

<!-- =====================================-->
<!-- Fortran Content Type/File Extensions -->
<!-- =====================================-->
  <extension point="org.eclipse.core.contenttype.contentTypes">

	  <content-type id="fortranSource" name="%content-type.name"
		  base-type="org.eclipse.core.runtime.text"/>

      <!-- Associated filename extensions -->
      <!-- NOTE: These extensions are duplicated in the following files...
                 org.eclipse.photran.managedbuilder.intel.ui/plugin.xml
                 org.eclipse.photran.managedbuilder.gnu.ui/plugin.xml
                 org.eclipse.photran.managedbuilder.xlf.ui/plugin.xml
                 org.eclipse.photran.core/plugin.xml
          ...as well as in the source-form contributions in
                 org.eclipse.photran.core/plugin.xml   (this file)
                 org.eclipse.photran.core.vpg/plugin.xml
                 org.eclipse.photran.core.vpg.preprocessor.c/plugin.xml
          If you change them here, change them in the other places as well.-->
	  <file-association 
          content-type="org.eclipse.photran.core.fortranSource"
          file-extensions="f90,f95,f03,f08,F90,F95,F03,F08,f,for,ftn,fix,f77,fpp,F,FOR,FTN,FIX,F77,FPP"/>

  </extension>

<!-- =========================== -->
<!-- Source Form Extension Point -->
<!-- =========================== -->

  <extension-point id="sourceForms" name="%extension-point.name" schema="schema/sourceForms.exsd"/>

</plugin>
