<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


<!-- ==============-->
<!-- Error Parsers -->
<!-- ==============-->
   <extension
         id="AbsoftErrorParser"
         name="Photran Error Parser for Absoft Fortran"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.AbsoftErrorParser">
      </errorparser>
   </extension>
   <!--extension
         id="XLFErrorParser"
         name="%FDTXLFErrorParser.name"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.errorparsers.XLFErrorParser">
      </errorparser>
   </extension-->
   <extension
         id="GFortranErrorParser"
         name="%FDTGFortranErrorParser.name"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.GFortranErrorParser">
      </errorparser>
   </extension>
   <extension
         id="IntelFortranErrorParser"
         name="Photran Error Parser for Intel Fortran 8.1"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.IntelFortranErrorParser">
      </errorparser>
   </extension>
   <extension
         id="LaheyFortranErrorParser"
         name="Photran Error Parser for Lahey/Fujitsu Fortran 7.1"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.LaheyFortranErrorParser">
      </errorparser>
   </extension>
   <extension
         id="G95FortranErrorParser"
         name="Photran Error Parser for G95 Fortran"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.G95FortranErrorParser">
      </errorparser>
   </extension>
   <extension
         id="NAGErrorParser"
         name="Photran Error Parser for NAG Fortran"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.NAGErrorParser">
      </errorparser>
   </extension>
   <extension
         id="PGIErrorParser"
         name="Photran Error Parser for PGI Fortran"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.photran.internal.core.errorparsers.PGIErrorParser">
      </errorparser>
   </extension>

<!-- Old CDT stuff, don't think we need it - Jeff -->
<!--
   <extension
         point="org.eclipse.cdt.core.CLanguage">
      <language
            name="Fortran"
            id="org.eclipse.photran.core.language.fortran">
      </language>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CFileType">
      <fileType
            name="%fileTypeMapping.fortranSourceFile"
            type="source"
            id="org.eclipse.photran.core.fileType.fortran_source"
            language="org.eclipse.photran.core.language.fortran">
      </fileType>
      <fileType
            name="%fileTypeMapping.fortranHeaderFile"
            type="header"
            id="org.eclipse.photran.core.fileType.fortran_header"
            language="org.eclipse.photran.core.language.fortran">
      </fileType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CFileTypeAssociation">
      <association
            type="org.eclipse.photran.core.fileType.fortran_source"
            pattern="*.f,*.f77,*.f90,*.f95">
      </association>
      <association
            type="org.eclipse.photran.core.fileType.fortran_header"
            pattern="*.fh">
      </association>
   </extension>
   -->

<!-- ======================================-->
<!-- Fortran Content Types/File Extensions -->
<!-- ======================================-->
  <extension point="org.eclipse.core.contenttype.contentTypes">

      <!-- A "base" content type, so that we can refer to both free and fixed form at once -->
	  <content-type id="fortranSource" name="Fortran Source File"
		  base-type="org.eclipse.core.runtime.text"/>

      <!-- Individual content types for free and fixed format -->
	  <content-type id="freeFormFortranSource" name="Fortran Source File - Free Format"
		  base-type="org.eclipse.photran.core.fortranSource"/>
	  <content-type id="fixedFormFortranSource" name="Fortran Source File - Fixed Format"
		  base-type="org.eclipse.photran.core.fortranSource"/>
		  
      <!-- Associated filename extensions -->
	  <file-association 
          content-type="org.eclipse.photran.core.freeFormFortranSource"
          file-extensions="f90,f95,f03,f08,F90,F95,F03,F08"/>
	  <file-association 
          content-type="org.eclipse.photran.core.fixedFormFortranSource"
          file-extensions="f,for,ftn,fix,f77,fpp,F,FOR,FTN,FIX,FPP"/>
  </extension>

<!-- =================================================================================== -->
<!-- Photran Nature for Fortran Projects                                                 -->
<!-- =================================================================================== -->
   <extension
         id="fnature"
         name="%fnature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.photran.internal.core.FProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
