<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.ptp.rm.lml.ui.persistentStatusContribution"
            objectClass="org.eclipse.ptp.rm.lml.internal.core.model.Row">
         <action
               class="org.eclipse.ptp.rm.lml_jaxb.actions.SuspendJob"
               enablesFor="+"
               icon="icons/job_suspended.gif"
               id="org.eclipse.ptp.rm.lml_jaxb.actions.SuspendJob"
               label="%action.label"
               menubarPath="job"
               tooltip="%action.tooltip">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml_jaxb.actions.GetOutput"
               enablesFor="+"
               icon="icons/refresh.gif"
               id="org.eclipse.ptp.rm.lml_jaxb.actions.GetOutput"
               label="%action.label.0"
               menubarPath="file"
               tooltip="%action.tooltip.0">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml_jaxb.actions.GetError"
               enablesFor="+"
               icon="icons/refresh.gif"
               id="org.eclipse.ptp.rm.lml_jaxb.actions.GetError"
               label="%action.label.1"
               menubarPath="file"
               tooltip="%action.tooltip.1">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml_jaxb.actions.RefreshJobStatus"
               enablesFor="+"
               icon="icons/view-refresh.png"
               id="org.eclipse.ptp.rm.lml_jaxb.actions.RefreshJobStatus"
               label="%action.label.2"
               menubarPath="status"
               tooltip="%action.tooltip.2">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml_jaxb.actions.ReleaseJob"
               enablesFor="+"
               icon="icons/job_starting.gif"
               id="org.eclipse.ptp.rm.lml_jaxb.actions.ReleaseJob"
               label="%action.label.3"
               menubarPath="job"
               tooltip="%action.tooltip.3">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml_jaxb.actions.HoldJob"
               enablesFor="+"
               icon="icons/job_suspended.gif"
               id="org.eclipse.ptp.rm.lml_jaxb.actions.HoldJob"
               label="%action.label.4"
               menubarPath="job"
               tooltip="%action.tooltip.4">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml_jaxb.actions.CancelJob"
               enablesFor="+"
               icon="icons/job_completed.gif"
               id="org.eclipse.ptp.rm.lml_jaxb.actions.CancelJob"
               label="%action.label.5"
               menubarPath="job"
               tooltip="%action.tooltip.5">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml_jaxb.actions.RemoveJob"
               enablesFor="+"
               icon="icons/delete.gif"
               id="org.eclipse.ptp.rm.lml_jaxb.actions.RemoveJob"
               label="%action.label.6"
               menubarPath="table"
               tooltip="%action.tooltip.6">
         </action>
         <action
               class="org.eclipse.ptp.rm.lml_jaxb.actions.ResumeJob"
               enablesFor="+"
               icon="icons/job_running.gif"
               id="org.eclipse.ptp.rm.lml_jaxb.actions.ResumeJob"
               label="%action.label.7"
               menubarPath="job"
               tooltip="%action.tooltip.7">
         </action>
      </objectContribution>
   </extension>
</plugin>
