<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.ptp.rdt.ui.wizardCategory.Remote"
            class="org.eclipse.ptp.internal.rdt.sync.cdt.ui.wizards.NewRemoteSyncProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="icons/etool16/new_sync_c_proj.gif"
            id="org.eclipse.ptp.rdt.sync.cdt.ui.newSyncProjectWizard"
            name="%wizard.name.0"
            project="true">
            <description>
             	%syncProject.desc
         	</description>
      </wizard>
      <wizard
            category="org.eclipse.ptp.rdt.ui.wizardCategory.Remote"
            class="org.eclipse.ptp.internal.rdt.sync.cdt.ui.wizards.ConvertLocalToSyncProjectWizard"
            hasPages="true"
            icon="icons/obj16/convert-normal.gif"
            id="org.eclipse.ptp.rdt.sync.cdt.ui.convertLocalToSyncProjectWizard"
            name="%WizardConvertLocalProject.name">
         <description>
            %WizardConvertProject.description
         </description>
         <selection
            class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.cdt.internal.ui.navigator.CNavigatorContentProvider"
            id="org.eclipse.ptp.rdt.sync.cdt.ui.navigator.content"
            labelProvider="org.eclipse.cdt.internal.ui.navigator.CNavigatorLabelProvider"
            name="Synchronize Elements"
            priority="highest">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </test>
               </adapt>
               <instanceof
                     value="org.eclipse.cdt.ui.CElementGrouping">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.ui.CElementGrouping">
               </instanceof>
            </or>
         </possibleChildren>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.cdt.ui.navigator.content">
         </override>
       <commonWizard
	         associatedExtensionId="org.eclipse.ptp.rdt.sync.cdt.ui.navigator.content"
	         menuGroupId="org.eclipse.ptp.rdt.ui.newProject"
	         type="new"
	         wizardId="org.eclipse.ptp.rdt.sync.cdt.ui.newSyncProjectWizard">
		 <enablement/>
	   </commonWizard>
      </navigatorContent>
   </extension>
   <extension
       point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
              <contentExtension pattern="org.eclipse.ptp.rdt.sync.cdt.ui.navigator.content"/>
          </includes>
       </viewerContentBinding>
   </extension> 
     <extension
           point="org.eclipse.ui.propertyPages">
        <!--page
              category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
              class="org.eclipse.ptp.internal.rdt.sync.cdt.ui.properties.BuildRemotePropertiesPage"
              id="org.eclipse.ptp.rdt.sync.cdt.ui.properties.BuildRemotePropertiesPage"
              name="Synchronize">
  <enabledWhen>
     <adapt
           type="org.eclipse.core.resources.IProject">
        <test
              property="org.eclipse.core.resources.projectNature"
              value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
        </test>
     </adapt>
  </enabledWhen>
        </page-->
        <!-- category="org.eclipse.cdt.managedbuilder.ui.properties.Page_Environment -->
        <page
              category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
              class="org.eclipse.ptp.internal.rdt.sync.cdt.ui.properties.EnvManagerPropertiesPage"
              id="org.eclipse.ptp.rdt.sync.cdt.ui.properties.ModulesPropertiesPage"
              name="Environment Management">
           <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject">
                 <test
                    property="org.eclipse.core.resources.projectNature"
                    value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature">
                 </test>
              </adapt>
           </enabledWhen>
        </page>

     </extension>
</plugin>
