<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.control.ui.widget">
      <widget
            id="envconfig"
            updateModelClass="org.eclipse.ptp.internal.ems.ui.EnvConfigButtonUpdateModel"
            widgetClass="org.eclipse.ptp.internal.ems.ui.EnvManagerConfigButton">
      </widget>
   </extension>
   <extension
         point="org.eclipse.ui.trace.traceComponents">
      <component
            id="org.eclipse.ptp.ems.core.component"
            label="EMS Core">
         <bundle
               consumed="true"
               name="org.eclipse.ptp.ems.core">
         </bundle>
      </component>
   </extension>


</plugin>
