<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.internal.core.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.services">
      <service
            categoryId="org.eclipse.ptp.core.category.Runtime"
            id="org.eclipse.ptp.core.LaunchService"
            name="%LaunchServiceName">
      </service>
      <service
            categoryId="org.eclipse.ptp.core.category.Runtime"
            id="org.eclipse.ptp.core.DebugService"
            name="%DebugServiceName">
      </service>
      <service
            categoryId="org.eclipse.ptp.core.category.Runtime"
            id="org.eclipse.ptp.core.ProfileService"
            name="%ProfileServiceName">
      </service>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.serviceCategories">
      <category
            id="org.eclipse.ptp.core.category.Runtime"
            name="Runtime">
      </category>
   </extension>

		
</plugin>
