<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <builder
            commandLauncher="org.eclipse.ptp.rdt.core.remotemake.RemoteCommandLauncher"
            id="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.builder1"
            isAbstract="false"
            isVariableCaseSensitive="false"
            name="%builder.name"
            superClass="cdt.managedbuild.target.gnu.builder">
      </builder>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="org.eclipse.ptp.rdt.managedbuild.target.xlc.exe"
            isAbstract="false"
            isTest="false"
            name="%TargetName.xlc.exe"
            projectEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.RemoteProjectEnvironmentSupplier"
            projectMacroSupplier="org.eclipse.cdt.managedbuilder.xlc.ui.XLCProjectMacroSupplier">
      	<configuration
      		name="%ConfigName.Dbg"
      		artifactExtension="exe"
      		cleanCommand="rm -rf"
      		errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
			id="org.eclipse.ptp.rdt.managedbuild.config.xlc.exe.debug">
			<toolChain
                  archList="all"
                  configurationEnvironmentSupplier="org.eclipse.cdt.managedbuilder.xlc.aix.AixConfigurationEnvironmentSupplier"
                  id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlc.exe.debug"
                  name="%ToolChainName.Dbg"
                  osList="all"
                  targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.linker.exe.debug;org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.linker.exe.debug">
			      <targetPlatform
					  id="org.eclipse.ptp.rdt.managedbuild.target.xlc.platform.exe.debug"
				 	  name="%PlatformName.Dbg"
                      binaryParser="org.eclipse.cdt.core.XCOFF32"            					  
					  osList="all"					  
					  archList="all">
				  </targetPlatform>
			  	  <builder
					  superClass="org.eclipse.ptp.rdt.managedbuilder.xlc.builder.base"
					  id="org.eclipse.ptp.rdt.managedbuilder.xlc.builder.exe.debug">		              
			      </builder>
			      <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.compiler.exe.debug"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.compiler.base">
                      <option
                          id="org.eclipse.ptp.rdt.xlc.cpp.compiler.exe.debug.option.optimization.level"
                          defaultValue="xlc.c.compiler.optimization.level.none"
                          superClass="xlc.c.compiler.option.optimization.level">
                      </option>
                      <option
						  id="org.eclipse.ptp.rdt.xlc.cpp.compiler.exe.debug.option.debugging.g"
                          defaultValue="true"
                          superClass="xlc.c.compiler.option.ecd.g">
                      </option>
                  </tool>
                  <tool
					  id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.compiler.exe.debug"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.compiler.base">
					  <option
						  id="org.eclipse.ptp.rdt.xlc.c.compiler.exe.debug.option.optimization.level"
						  defaultValue="xlc.c.optimization.level.none"
						  superClass="xlc.c.compiler.option.optimization.level">
					  </option>
					  <option
						  id="org.eclipse.ptp.rdt.xlc.c.compiler.exe.debug.option.debugging.g"
						  defaultValue="true"
						  superClass="xlc.c.compiler.option.ecd.g">
					  </option>
                  </tool>
                  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.linker.exe.debug"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.linker.exe.base">
                  </tool>
                  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.linker.exe.debug"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.linker.exe.base">
                  </tool>                  
				  <tool
					  id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.assembler.exe.debug"
					  superClass="cdt.managedbuild.tool.xlc.assembler">
				  </tool>
			 </toolChain>  
		</configuration>
		<configuration
			name="%ConfigName.Rel"
			artifactExtension="exe"
			cleanCommand="rm -rf"
			errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
			id="org.eclipse.ptp.rdt.managedbuild.config.xlc.exe.release">
			<toolChain
                  archList="all"
                  id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlc.exe.release"
                  name="%ToolChainName.Rel"
                  osList="all"
                  targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.linker.exe.release;org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.linker.exe.release">
		          <targetPlatform
		              id="org.eclipse.ptp.rdt.managedbuild.target.xlc.platform.exe.release"
		              name="%PlatformName.Rel"		             
		              binaryParser="org.eclipse.cdt.core.XCOFF32"
		              osList="all"
		              archList="all">		              
		          </targetPlatform>
				  <builder
				  	  superClass="org.eclipse.ptp.rdt.managedbuilder.xlc.builder.base"
				      id="org.eclipse.ptp.rdt.managedbuilder.xlc.builder.release">
				  </builder> 
				  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.compiler.exe.release"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.compiler.base">                     
					  <option
						  id="org.eclipse.ptp.rdt.xlc.cpp.compiler.exe.release.option.optimization.level"
						  defaultValue="xlc.c.optimization.level.Level5"
						  superClass="xlc.c.compiler.option.optimization.level">
					  </option>
					  <option
						  id="org.eclipse.ptp.rdt.xlc.cpp.compiler.exe.release.option.debugging.g"
						  defaultValue="false"
						  superClass="xlc.c.compiler.option.ecd.g">
					  </option>
                  </tool>
                  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.compiler.exe.release"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.compiler.base">                          
					  <option
						  id="org.eclipse.ptp.rdt.xlc.c.compiler.exe.release.option.optimization.level"
						  defaultValue="xlc.c.optimization.level.Level5"
						  superClass="xlc.c.compiler.option.optimization.level">
					  </option>
					  <option
						  id="org.eclipse.ptp.rdt.xlc.c.compiler.exe.release.option.debugging.g"
						  defaultValue="false"
						  superClass="xlc.c.compiler.option.ecd.g">
					  </option>
                  </tool>
                  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.linker.exe.release"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.linker.exe.base">
                  </tool> 
                  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.linker.exe.release"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.linker.exe.base">
                  </tool>  
				  <tool
					  id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.assembler.exe.release"
					  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlc.assembler.exe.base">
				  </tool>
            </toolChain>
            
		</configuration>
	</projectType>	
	<toolChain
                  archList="all"
                  configurationEnvironmentSupplier="RemoteConfigurationEnvironmentSupplier"
                  id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlc.base"
                  name="%ToolChainName.Dbg"
                  osList="all"
                  targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.linker.exe.debug;org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.linker.exe.debug">
			  	  <builder
					  superClass="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.builder1"
					  id="org.eclipse.ptp.rdt.managedbuilder.xlc.builder.base">		              
			      </builder>
			      <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.compiler.base"
                      superClass="cdt.managedbuild.tool.xlc.cpp.compiler">
                  </tool>
                  <tool
					  id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.compiler.base"
                      superClass="cdt.managedbuild.tool.xlc.c.compiler">
                  </tool>
                  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.c.linker.exe.base"
                      superClass="cdt.managedbuild.tool.xlc.c.linker">
                  </tool>
                  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.cpp.linker.exe.base"
                      superClass="cdt.managedbuild.tool.xlc.cpp.linker">
                  </tool>                  
				  <tool
					  id="org.eclipse.ptp.rdt.managedbuild.tool.xlc.assembler.exe.base"
					  superClass="cdt.managedbuild.tool.xlc.assembler">
				  </tool>
			 </toolChain>        		
   </extension>
   <extension
         id="RemoteXLCPerProjectProfile"
         name="%extension.name"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
     <scannerInfoCollector
            class="org.eclipse.ptp.rdt.core.remotemake.ProjectDescriptionCollector"
            scope="project"/>
     		<!-- The ScannerInfoProvider search for the information needed by the profile and send it to the ScannerInfoCollector -->
		<scannerInfoProvider providerId="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.specsFile">
			<!-- Specifies the compiler command that returns the information about standard include directories and standard definitions -->
			<!-- The compiler command used will be always a C compiler command -->
			<!-- The output for C or C++ projects will be different as the ScannerInfoProvider substitute the ${specs_file} variable below with a dummy "c" file or "cpp" file -->
			<run
					arguments="-E -v ${specs_file_path}"
					command="${XL_compilerRoot}/xlC"
					class="org.eclipse.ptp.rdt.core.remotemake.RemoteSpecsRunSIProvider">
			</run>
			<!-- Specifies the parser for the output generated by the compiler with the above command line -->
			<scannerInfoConsoleParser
					class="org.eclipse.cdt.make.xlc.core.scannerconfig.XlCSpecsConsoleParser">
			</scannerInfoConsoleParser>
		</scannerInfoProvider>
   </extension>

</plugin>
