<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <remoteServices
            class="org.eclipse.ptp.internal.remote.remotetools.core.RemoteToolsServicesFactory"
            id="org.eclipse.ptp.remote.RemoteTools"
            name="Remote Tools"
            scheme="remotetools">
      </remoteServices>
   </extension>
   <extension
         id="org.eclipse.ptp.remotetools.filesystem"
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="remotetools">
         <run
               class="org.eclipse.ptp.internal.remote.remotetools.core.RemoteToolsFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
		point="org.eclipse.cdt.core.EFSExtensionProvider">
		<EFSExtensionProvider
			scheme="remotetools"
			class="org.eclipse.ptp.internal.remote.remotetools.core.RemoteToolsExtensionProvider">
		</EFSExtensionProvider>
   </extension>
</plugin>
