<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.remote.core.remoteServices">
      <remoteServices
            class="org.eclipse.ptp.remote.remotetools.RemoteToolsServicesFactory"
            id="org.eclipse.ptp.remote.RemoteTools"
            name="Remote Tools">
      </remoteServices>
   </extension>
   <extension
         id="org.eclipse.ptp.remotetools.filesystem"
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="remotetools">
         <run
               class="org.eclipse.ptp.remote.remotetools.RemoteToolsFileSystem">
         </run>
      </filesystem>
   </extension>
  <extension
         point="org.eclipse.ptp.remotetools.environment.core.remoteEnvironmentControlDelegate">
      <control
            class="org.eclipse.ptp.remote.remotetools.environment.core.Environment"
            name="Remote Host"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.remotetools.preferences.ui.RemoteToolsPreferencePage.EnvironmentPreferencePage"
            class="org.eclipse.ptp.remote.remotetools.environment.preferences.ui.PreferencePage"
            id="org.eclipse.ptp.remotetools.preferences.ui.RemoteToolsPreferencePage.EnvironmentPreferencePage"
            name="Remote Host"/>      
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.ptp.remote.remotetools.environment.preferences.ui.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ptp.remote.ui.remoteUIServices">
      <remoteUIServices
            class="org.eclipse.ptp.remote.remotetools.RemoteToolsUIServicesFactory"
            id="org.eclipse.ptp.remote.RemoteTools"
            name="Remote Tools">
      </remoteUIServices>
   </extension>

</plugin>
