<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.remote.remoteServices">
      <remoteServices
            class="org.eclipse.ptp.remote.remotetools.RemoteToolsServicesFactory"
            id="org.eclipse.ptp.remote.RemoteTools"
            name="Remote Tools">
      </remoteServices>
   </extension>
   <extension
         id="org.eclipse.ptp.remotetools.filesystem"
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="remotetools">
         <run
               class="org.eclipse.ptp.remote.remotetools.RemoteToolsFileSystem">
         </run>
      </filesystem>
   </extension>

</plugin>
