<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Eclipse for Parallel Application Developers">
         <property
               name="appName"
               value="Eclipse for Parallel Application Developers">
         </property>
         <property
               name="aboutText"
               value="Specified in the plugin.xml of the branding plugin.">
         </property>
         <property
               name="startupForegroundColor"
               value="FEFFFE">
         </property>
         <property
               name="startupProgressRect"
               value="5,310,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,280,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
          <property
               name="windowImages"
               value="ptp_logo_icon16.png,ptp_logo_icon32.png,ptp_logo_icon48.png">
         </property>
         <property
              name="introBrandingImage"
              value="product:intro-eclipse.png"/>
         <property
               name="introTitle"
               value="Welcome to Eclipse for Parallel Application Developers">
         </property>
         <property
               name="introBrandingImageText"
               value="Eclipse Project">
         </property>
         <property 
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources" 
               value="platform:/plugin/org.eclipse.platform/images/"> 
         </property>
      </product>
   </extension>

</plugin>
