<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="rmLaunchConfigurations" name="Resource Manager Launch Configurations" schema="schema/rmLaunchConfigurations.exsd"/>
	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			name="%ParallelLaunch.name"
			delegate="org.eclipse.ptp.launch.ParallelLaunchConfigurationDelegate"
			sourceLocatorId="org.eclipse.ptp.debug.core.sourceLocator"
			sourcePathComputerId="org.eclipse.ptp.debug.core.sourcePathComputer"
			modes="run,debug"
			public="true"
			id="org.eclipse.ptp.launch.parallelLaunch">
		</launchConfigurationType>
	</extension>

	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			icon="icons/parallel_run.gif"
			configTypeID="org.eclipse.ptp.launch.parallelLaunch"
			id="org.eclipse.ptp.launch.parallelLaunchImage">
		</launchConfigurationTypeImage>
	</extension>   
   
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			type="org.eclipse.ptp.launch.parallelLaunch"
			class="org.eclipse.ptp.launch.ui.ParallelLaunchConfigurationTabGroup"
			id="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup">
			<launchMode
               perspective="org.eclipse.ptp.debug.ui.PTPDebugPerspective"
               description="%ParallelLaunch.debug"
               mode="debug">
	        </launchMode>
    	    <launchMode
               perspective="org.eclipse.ptp.ui.PTPRunPerspective"
               description="%ParallelLaunch.run"
               mode="run">
         	</launchMode>
		</launchConfigurationTabGroup>
	</extension>

<!-- PDT Shortcut //-->	
   <extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
            label="%PTPShortcut.label"
			icon="icons/parallel_run.gif"
            class="org.eclipse.ptp.launch.internal.PTPLaunchShortcut"
            modes="run, debug"
            id="org.eclipse.ptp.ptpShortcut">
			<perspective id="org.eclipse.ptp.ui.PTPRunPerspective"/>
			<perspective id="org.eclipse.ptp.debug.ui.PTPDebugPerspective"/>
		</shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.eclipse.ptp.launch.ui.ResourcesTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.applicationLaunch.resourcesTab"
            name="%ResourcesLaunchTab.name">
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.ApplicationTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.applicationLaunch.applicationTab"
            name="%ApplicationLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.resourcesTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.ArgumentsTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.applicationLaunch.argumentsTab"
            name="%ArgumentsLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.applicationTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnvironmentTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.applicationLaunch.environmentTab"
            name="%EnvironmentLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.argumentsTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnhancedSynchronizeTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.applicationLaunch.synchronizeTab"
            name="%SynchronizeLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.environmentTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.ApplicationDebuggerTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.applicationLaunch.debuggerTab"
            name="%DebuggerLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.synchronizeTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.applicationLaunch.sourceLookupTab"
            name="%SourceLookupLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.debuggerTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.launch.applicationLaunch.commonTab"
            name="%CommonLaunchTab.name">
         <placement
               after="org.eclipse.debug.ui.sourceLookupTab">
         </placement>
      </tab>
   </extension>	
</plugin>
