<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.debug.ui.CDebuggerPage">
         <debuggerPage
            class="org.eclipse.ptp.cell.debug.be.cdi.ui.pages.CellCombinedGDBServerDebuggerPage"
            debuggerID="org.eclipse.ptp.cell.debug.be.cdi.combinedGDBServerCDIDebugger"
            id="org.eclipse.ptp.cell.debug.be.cdi.ui.pages.combinedGDBServerDebuggerPage">
      </debuggerPage>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%SignalsView.name"
            category="org.eclipse.debug.ui"
            class="org.eclipse.ptp.cell.debug.be.ui.views.spu.signals.SPUSignalsView"
            id="org.eclipse.ptp.cell.debug.be.ui.views.spu.signals.SPUSignalsView">
      </view>
      <view
            name="%EventView.name"
            category="org.eclipse.debug.ui"
            class="org.eclipse.ptp.cell.debug.be.ui.views.spu.event.SPUEventView"
            id="org.eclipse.ptp.cell.debug.be.ui.views.spu.event.SPUEventView">
      </view>
      <view
            name="%MailboxView.name"
            category="org.eclipse.debug.ui"
            class="org.eclipse.ptp.cell.debug.be.ui.views.spu.mailbox.SPUMailboxView"
            id="org.eclipse.ptp.cell.debug.be.ui.views.spu.mailbox.SPUMailboxView">
      </view>
      <view
            name="%DMAView.name"
            category="org.eclipse.debug.ui"
            class="org.eclipse.ptp.cell.debug.be.ui.views.spu.dma.SPUDMAView"
            id="org.eclipse.ptp.cell.debug.be.ui.views.spu.dma.SPUDMAView">
      </view>
      <view
            name="%ProxyDMAView.name"
            category="org.eclipse.debug.ui"
            class="org.eclipse.ptp.cell.debug.be.ui.views.spu.proxydma.SPUProxyDMAView"
            id="org.eclipse.ptp.cell.debug.be.ui.views.spu.proxydma.SPUProxyDMAView">
      </view>
    </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.VariableView"
               visible="false"
               relationship="stack"
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.signals.SPUSignalsView">
         </view>
         <view
               relative="org.eclipse.debug.ui.VariableView"
               visible="false"
               relationship="stack"
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.event.SPUEventView">
         </view>
         <view
               relative="org.eclipse.debug.ui.VariableView"
               visible="false"
               relationship="stack"
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.mailbox.SPUMailboxView">
         </view>
         <view
               relative="org.eclipse.debug.ui.VariableView"
               visible="false"
               relationship="stack"
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.dma.SPUDMAView">
         </view>
         <view
               relative="org.eclipse.debug.ui.VariableView"
               visible="false"
               relationship="stack"
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.proxydma.SPUProxyDMAView">
         </view>
         <viewShortcut
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.signals.SPUSignalsView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.event.SPUEventView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.mailbox.SPUMailboxView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.dma.SPUDMAView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ptp.cell.debug.be.ui.views.spu.proxydma.SPUProxyDMAView">
         </viewShortcut>
      </perspectiveExtension>
    </extension>
    <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            autoClose="false"
            autoOpen="false"
            contextId="org.eclipse.cdt.debug.ui.debugging"
            viewId="org.eclipse.ptp.cell.debug.be.ui.views.spu.signals.SPUSignalsView">
      </contextViewBinding>
      <contextViewBinding
            autoClose="false"
            autoOpen="false"
            contextId="org.eclipse.cdt.debug.ui.debugging"
            viewId="org.eclipse.ptp.cell.debug.be.ui.views.spu.event.SPUEventView">
      </contextViewBinding>
      <contextViewBinding
            autoClose="false"
            autoOpen="false"
            contextId="org.eclipse.cdt.debug.ui.debugging"
            viewId="org.eclipse.ptp.cell.debug.be.ui.views.spu.mailbox.SPUMailboxView">
      </contextViewBinding>
      <contextViewBinding
            autoClose="false"
            autoOpen="false"
            contextId="org.eclipse.cdt.debug.ui.debugging"
            viewId="org.eclipse.ptp.cell.debug.be.ui.views.spu.dma.SPUDMAView">
      </contextViewBinding>
      <contextViewBinding
            autoClose="false"
            autoOpen="false"
            contextId="org.eclipse.cdt.debug.ui.debugging"
            viewId="org.eclipse.ptp.cell.debug.be.ui.views.spu.proxydma.SPUProxyDMAView">
      </contextViewBinding>
    </extension>
    <extension
         point="org.eclipse.ptp.cell.debug.core.CellRemoteDebugger">
      <remotedebugger
            class="org.eclipse.ptp.cell.debug.be.launch.remote.debugger.Combined64GDBServer"
            debuggerId="org.eclipse.ptp.cell.debug.be.cdi.combinedGDBServerCDIDebugger"
            name="Cell BE gdbserver"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.cell.debug.ui.preferences.CellDebugPreferencePage"
            class="org.eclipse.ptp.cell.debug.be.ui.preferences.CellDebugBEPreferencePage"
            id="org.eclipse.ptp.cell.debug.be.ui.preferences.CellDebugBEPreferencePage"
            name="%CellBEPreferencePage.name"/>
    </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.cell.debug.be.preferences.BEDebugPreferencesInitializer">
      </initializer>
   </extension>
</plugin>
