<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="icons/openMP.gif"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.pldt.openmp.core.views.OpenMPArtifactView"
            id="org.eclipse.ptp.pldt.openmp.core.views.OpenMPArtifactView">
      </view>

   </extension>
   <!--  openMP markers -->
   <!-- MARKER_ID       = "org.eclipse.ptp.pldt.openmp.core.openMPMarker" -->
   <extension point="org.eclipse.core.resources.markers"
		id="openMPMarker"
        name="%extension.name">
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="fileName"/>
      <attribute name="theLineNo"/>
      <attribute name="columnNo"/>
      <attribute name="name"/>
      <attribute name="description"/>
      <attribute name="constructType"/>
      <attribute name="uniqueID"/>
   </extension>
   <!-- this changes the marker image in the editor marker bar  -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.ptp.pldt.openmp.core.openMPMarker"
            name="org.eclipse.ptp.pldt.openmp.core.openMPMarkerAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.ptp.pldt.openmp.core.openMPMarkerAnnotation"
            icon="icons/openMP.gif" 
            
            presentationLayer="5"
            label="%specification.label"
            
            textPreferenceKey="openopenmpndication"
            textPreferenceValue="true"
            highlightPreferenceKey="artifactHighlighting"
            highlightPreferenceValue="false"
            colorPreferenceKey="artifactIndicationColor"
            colorPreferenceValue="0,128,192"
            verticalRulerPreferenceKey="artifactIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
			showInNextPrevDropdownToolbarActionKey="showOpenopenmpnNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="false"
            overviewRulerPreferenceKey="artifactIndicationInOpldt.verviewRuler"
            overviewRulerPreferenceValue="true"
            
            includeOnPreferencePage="true"
            isGoToPreviousNavigationTargetKey="isopenmpGoToPreviousNavigationTarget"

            isGoToNextNavigationTargetKey="isopenmpRecordGoToNextNavigationTarget"
            >
      </specification>  
   </extension>
   <extension
      point="org.eclipse.ui.preferencePages">
          <page id="org.eclipse.ptp.pldt.openmp.core.prefpage"
            class="org.eclipse.ptp.pldt.openmp.core.prefs.OpenMPPreferencePage"
            name="%page.name"
           category="org.eclipse.ptp.pldt.common.prefs.PLDTPreferencePage"
  />
   </extension>
      <extension
         point="org.eclipse.cdt.ui.CHelpProvider">
      <provider
            class="org.eclipse.ptp.pldt.openmp.core.editorHelp.OpenMPCHelpProvider"
            id="org.eclipse.ptp.pldt.openmp.core.editorHelp.OpenMPCHelpProvider"/>
   </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="org.eclipse.ptp.pldt.openmp.core.actions.RunAnalyseOpenMPcommandHandler"
               id="org.eclipse.ptp.pldt.openmp.core.command2"
               name="%command.name">
         </command>
      </extension>
      <extension
            id="teopenmpD"
            name="%extension.name.0"
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:org.eclipse.ptp.pldt.common.toolbar.command1?after=separator2.openmp">
            <command
                  commandId="org.eclipse.ptp.pldt.openmp.core.command2"
                  icon="icons/openMP.gif"
                  label="%command.label"
                  style="push">
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.eclipse.ptp.pldt.openmp.core.prefs.OpenMPPreferenceInitializer">
         </initializer>
      </extension>

   <!-- Artifact analysis extension point -->
   <extension-point
      id="artifactAnalysis"
      name="OpenMP Artifact Analysis"
      schema="schema/artifactAnalysis.exsd"/>
   <!-- Artifact analysis for C -->
   <extension point="org.eclipse.ptp.pldt.openmp.core.artifactAnalysis">
      <artifactAnalysis
            languageID="org.eclipse.cdt.core.gcc"
            class="org.eclipse.ptp.pldt.openmp.core.analysis.OpenMPCArtifactAnalysis" />
      <artifactAnalysis
            languageID="org.eclipse.cdt.core.g++"
            class="org.eclipse.ptp.pldt.openmp.core.analysis.OpenMPCArtifactAnalysis" />
   </extension>

</plugin>
