<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- ============================-->
  <!-- C-Preprocessed Source Forms -->
  <!-- ============================-->
  <extension point="org.eclipse.photran.core.sourceForms">
      <source-form
          id="cppFreeForm"
          name="Free Form - C Preprocessed"
          class="org.eclipse.photran.internal.core.lexer.sourceform.CPreprocessedFreeSourceForm"
          priority="high"
          defaultForFilenameExtensions="F90,F95,F03,F08" />
      <!--source-form
          id="cppFixedForm"
          name="Fixed Form - C Preprocessed"
          class="org.eclipse.photran.internal.core.lexer.sourceform.CPreprocessedFixedSourceForm"
          priority="high"
          defaultForFilenameExtensions="fpp,F,FOR,FTN,FIX,F77,FPP" /-->
  </extension>
</plugin>
