<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="observer" name="org.eclipse.ptp.remotetools.environment.launcher" schema="schema/launcherObserver.exsd"/>

	<extension-point
			id="launchConfigurationMacroSupplier"
			name="Launch Configuration Macro Supplier"
			schema="schema/launchConfigurationMacroSupplier.exsd">
	</extension-point>
   
	<extension
			point="org.eclipse.core.variables.dynamicVariables">
		<variable
				name="user_workspace"
				description="%UserWorkspaceVariableDescription"
				resolver="org.eclipse.ptp.remotetools.environment.launcher.variables.RemoteWorkspaceResolver">
		</variable>
	</extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="org.eclipse.ptp.remotetools.environment.launcher.preferences.PreferenceInitializer"/>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.ptp.remotetools.preferences.ui.RemoteToolsPreferencePage"
          class="org.eclipse.ptp.remotetools.environment.launcher.preferences.LauncherPreferencePage"
          id="org.eclipse.ptp.remotetools.environment.launcher.LauncherPreferencePage"
          name="Launcher"/>
 </extension>

</plugin>
