<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.rm.slurm.core.SLURMPreferenceManager">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="org.eclipse.ptp.rm.slurm.core.rmsystem.SLURMResourceManagerFactory"
            id="org.eclipse.ptp.rm.slurm.resourceManager">
         <resourceManagerControl
             class="org.eclipse.ptp.rm.slurm.core.rmsystem.SLURMResourceManagerFactory"
             id="org.eclipse.ptp.rm.slurm.control">
         </resourceManagerControl>
         <resourceManagerMonitor
            class="org.eclipse.ptp.rm.slurm.core.rmsystem.SLURMResourceManagerFactory"
            id="org.eclipse.ptp.rm.slurm.monitor">
         </resourceManagerMonitor>
      </resourceManager>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rm.slurm.core.rmsystem.SLURMResourceManagerConfiguration"
            id="org.eclipse.ptp.rm.slurm.resourceManager"
            name="SLURM"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ptp.core.runtimeSystems">
      <runtimeSystem
            class="org.eclipse.ptp.rm.slurm.core.rtsystem.SLURMRuntimeSystemFactory"
            id="org.eclipse.ptp.rm.slurm.resourceManager">
      </runtimeSystem>
   </extension>

</plugin>
