<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
      <extension point="org.eclipse.cdt.core.templates">
      <template
            filterPattern=" "
            id="org.eclipse.ptp.pldt.projects.MPIhelloWorldCProject"
            location="templates/MPIhelloWorldCproject/template.xml"
            pagesAfterTemplateSelectionProvider="org.eclipse.ptp.pldt.wizards.wizardPages.MPIProjectProcessPages"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
      <template
                  filterPattern=" "
                  id="org.eclipse.ptp.pldt.projects.MPIpiCProject"
                  location="templates/MPIpiCproject/template.xml"
                  pagesAfterTemplateSelectionProvider="org.eclipse.ptp.pldt.wizards.wizardPages.MPIProjectProcessPages"
                  projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
      <template
                  filterPattern=" "
                  id="org.eclipse.ptp.pldt.projects.MPIpiCPPproject"
                  location="templates/MPIpiCPPproject/template.xml"
                  pagesAfterTemplateSelectionProvider="org.eclipse.ptp.pldt.wizards.wizardPages.MPIProjectProcessPagesCPP"
                  projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
      <template
            id="org.eclipse.ptp.pldt.projects.MPIemptyCproject"
            location="templates/MPIemptyCproject/template.xml"
            pagesAfterTemplateSelectionProvider="org.eclipse.ptp.pldt.wizards.wizardPages.MPIProjectProcessPages"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
      <template
               id="org.eclipse.ptp.pldt.projects.OpenMPhelloWorldCProject"
               location="templates/OpenMPhelloWorldCproject/template.xml"
               pagesAfterTemplateSelectionProvider="org.eclipse.ptp.pldt.wizards.wizardPages.OpenMPProjectProcessPages"
               projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
      <template
            id="org.eclipse.ptp.pldt.projects.OpenMPemptyCproject"
            location="templates/OpenMPemptyCproject/template.xml"
            pagesAfterTemplateSelectionProvider="org.eclipse.ptp.pldt.wizards.wizardPages.OpenMPProjectProcessPages"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
   
   </extension>
      <extension point="org.eclipse.cdt.core.templateProcessTypes">
         <processType
               name="mpiProjectProcess"
               processRunner="org.eclipse.ptp.pldt.wizards.wizardPages.MPIProjectProcess">
         </processType>
         <processType
               name="openMPProjectProcess"
               processRunner="org.eclipse.ptp.pldt.wizards.wizardPages.OpenMPProjectProcess">
         </processType>
      </extension>

</plugin>
