<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!--===============================-->
   <!-- VPG Extension Point -->
   <!--===============================-->
   <extension-point id="vpg" name="%extension-point.name" schema="schema/vpg.exsd" />

   <!--=======================================-->
   <!-- Debugging Actions in Refactoring Menu -->
   <!--=======================================-->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label"
            description="%actionSet.description"
            visible="false"
            id="org.eclipse.rephraserengine.ui.DebugActionSet">
         <!-- Menu mimicks org.eclipse.jdt.ui's (as does CDT's Refactor menu)
              http://dev.eclipse.org/viewcvs/index.cgi/org.eclipse.jdt.ui/plugin.xml?view=markup -->
         <menu
               label="%menu.label"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
                                                          <!-- JAVA REFACTORINGS IN THIS GROUP: -->
            <separator name="undoRedoGroup"/>             <!-- ================================ -->
            <separator name="reorgGroup"/>                <!-- Rename, Move -->
            <separator name="codingGroup"/>               <!-- Change Signature, Extract Var/Method, Inline -->
            <separator name="reorgGroup2"/>               <!-- Convert -->
            <separator name="typeGroup"/>                 <!-- Extract Superclass, Pull Up, Push Down -->
            <separator name="typeGroup2"/>                <!-- Extract Class, Intro Parameter Obj -->
            <separator name="codingGroup2"/>              <!-- Introduce Factory, Encapsulate -->
            <separator name="typeGroup3"/>                <!-- Generalize Type, Infer Generics -->
            <separator name="scriptGroup"/>               <!-- Create/Apply Script, History -->
         </menu>

         <menu
               label="%menu.label.0"
               path="org.eclipse.jdt.ui.refactoring.menu/scriptGroup"
               id="debugging">
            <separator name="debugging"/>
            <separator name="debugginginterfaces"/>
            <separator name="vpgstats"/>
            <separator name="vpgdb"/>
         </menu>
         <action
               class="org.eclipse.rephraserengine.internal.ui.actions.DisplayVPGErrorLogAction"
               id="org.eclipse.rephraserengine.ui.DisplayVPGErrorLogAction"
               label="%action.label"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/debugging"/>
         <!-- -->
         <action
               class="org.eclipse.rephraserengine.internal.ui.actions.ResetDBStatisticsAction"
               id="org.eclipse.rephraserengine.ui.ResetVPGStatisticsAction"
               label="%action.label.0"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/vpgstats"/>
         <action
               class="org.eclipse.rephraserengine.internal.ui.actions.DisplayDBStatisticsAction"
               id="org.eclipse.rephraserengine.ui.DisplayVPGStatisticsAction"
               label="%action.label.1"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/vpgstats"/>
         <!-- -->
         <action
               class="org.eclipse.rephraserengine.internal.ui.actions.ClearDBAction"
               id="org.eclipse.rephraserengine.ui.ClearVPGDatabaseAction"
               label="%action.label.2"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/vpgdb"/>
         <action
               class="org.eclipse.rephraserengine.internal.ui.actions.EnsureDBUpToDateAction"
               id="org.eclipse.rephraserengine.ui.RefreshVPGDatabaseAction"
               label="%action.label.3"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/vpgdb"/>
         <action
               class="org.eclipse.rephraserengine.internal.ui.actions.DisplayModelAction"
               id="org.eclipse.rephraserengine.ui.DisplayVPGModelAction"
               label="%action.label.4"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/vpgdb"/>
         <action
               class="org.eclipse.rephraserengine.internal.ui.actions.DisplayDBAction"
               id="org.eclipse.rephraserengine.ui.DisplayVPGDatabaseAction"
               label="%action.label.5"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/vpgdb"/>
      </actionSet>
   </extension>

   <!-- Associate the action set with the Resource perspective -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <actionSet id="org.eclipse.rephraserengine.ui.DebugActionSet"/>
      </perspectiveExtension>
   </extension>

   <!--==============================================-->
   <!-- Browse Action in Refactor > (Debugging) Menu -->
   <!--==============================================-->

   <!-- 1. Define the command -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="VPG Debugging Commands"
            id="org.eclipse.rephraserengine.ui.VPGDebuggingCategory">
      </category>
      <command
            name="Browse VPG"
            categoryId="org.eclipse.photran.ui.RefactoringCategory"
            id="org.eclipse.rephraserengine.ui.BrowseCommand">
      </command>
   </extension>

   <!-- 2. Optionally associate the command with an accelerator key -->
   <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
         carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
   <extension
         point="org.eclipse.ui.bindings">
     <key
            sequence="M1+M2+M3+B"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            commandId="org.eclipse.rephraserengine.ui.BrowseCommand"
     />
   </extension>

   <!-- 3. Define an action set -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="VPG Browser Action"
            description="VPG Browser Action"
            visible="false"
            id="org.eclipse.rephraserengine.ui.vpg.BrowserActionSet">
         <action
               class="org.eclipse.rephraserengine.internal.ui.browser.BrowseDBAction"
               id="org.eclipse.rephraserengine.ui.BrowseVPGDatabaseAction"
               definitionId="org.eclipse.rephraserengine.ui.BrowseCommand"
               label="Browse VPG Database"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/debugging/vpgdb"/>
      </actionSet>
   </extension>

   <!-- 4. Associate the action set with the Resource perspective -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <actionSet id="org.eclipse.rephraserengine.ui.vpg.BrowserActionSet"/>
      </perspectiveExtension>
   </extension>


   <!--=========================================================================-->
   <!-- Refactoring Status Context Viewer for PostTransformationContext Objects -->
   <!--=========================================================================-->
   <extension
         point="org.eclipse.ltk.ui.refactoring.statusContextViewers">
      <statusContextViewer
            class="org.eclipse.rephraserengine.internal.ui.preservation.PostTransformationStatusContextViewer"
            id="org.eclipse.rephraserengine.ui.vpg.postTransformationStatusContextViewer">
         <enablement>
            <instanceof value="org.eclipse.rephraserengine.core.preservation.PostTransformationContext"/>
         </enablement>
      </statusContextViewer>
   </extension>
</plugin>
