<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.cell.simulator.architecture">
      <configuration
            id="singlesoma"
            name="Single EFP BE"
            tclscript="singlesoma.tcl"/>
   </extension>

</plugin>
