<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- ===========================================================================   -->
<!-- Extension point: org.eclipse.cdt.ui.textHovers                                -->
<!-- Extension Implementation: must implement org.eclipse.jface.text.ITextHover    -->
<!-- Purpose: Provide a perspective specific text hovering for FortranEditor files -->
<!-- ===========================================================================   -->
   <extension-point id="textHovers" name="%textHoversName"/>

   <!--extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.cdt.internal.ui.CElementAdapterFactory"
            adaptableType="org.eclipse.cdt.core.model.ICElement">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension-->

<!-- Define the document provider and participant for the FortranEditor -->
   <extension
         id="org.eclipse.fdt.ui.FortranDocumentSetupParticipant"
         name="%FortranDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.fdt.internal.ui.editor.FortranDocumentSetupParticipant"
            contentTypeId="org.eclipse.fdt.core.fortranSource">
      </participant>
      <participant
            class="org.eclipse.fdt.internal.ui.editor.FortranDocumentSetupParticipant"
            contentTypeId="org.eclipse.fdt.core.fortranHeader">
      </participant>
   </extension>
   <extension
         id="org.eclipse.fdt.ui.FortranDocumentFactory"
         name="%FortranDocumentFactory"
         point="org.eclipse.core.filebuffers.documentCreation">
      <factory
            class="org.eclipse.cdt.internal.ui.editor.CDocumentFactory"
            contentTypeId="org.eclipse.fdt.core.fortranSource">
      </factory>
      <factory
            class="org.eclipse.cdt.internal.ui.editor.CDocumentFactory"
            contentTypeId="org.eclipse.fdt.core.fortranHeader">
      </factory>
   </extension>
   <extension
         id="org.eclipse.fdt.ui.FortranEditor"
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="%FortranEditor.name"
            extensions="f,for,f77,f90,f95"
            icon="icons/full/obj16/f_file_obj.gif"
            class="org.eclipse.fdt.internal.ui.editor.FortranEditor"
            contributorClass="org.eclipse.fdt.internal.ui.editor.FortranEditorActionContributor"
            symbolicFontName="org.eclipse.cdt.ui.editors.textfont"
            id="org.eclipse.fdt.ui.editor.FortranEditor">
            <contentTypeBinding contentTypeId="org.eclipse.fdt.core.fortranSource"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.fdt.ui.editor.FortranEditor"
            id="org.eclipse.ui.texteditor.ruler.actions">
         <action
               label="%Dummy.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.cdt.ui.SearchActionSet">
         <!--part
               id="org.eclipse.fdt.ui.FortranView">
         </part-->
         <part
               id="org.eclipse.fdt.ui.editor.FortranEditor">
         </part>
         <!--part
               id="org.eclipse.search.SearchResultView">
         </part-->
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
         <part
               id="org.eclipse.fdt.ui.editor.FortranEditor">
         </part>
      </actionSetPartAssociation>      
   </extension>

   <!-- This extension point allows preferences to be loaded. Without it, color highlighting
        in the editor won't work.
     -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.fdt.ui.FortranUIPreferenceInitializer"/>
   </extension>

</plugin>
