<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin
   id="org.eclipse.ptp.help"
   name="PTP Help Plug-in"
   version="2.0.1.qualifier"
   provider-name="IBM Research"
   class="org.eclipse.ptp.help.HelpPlugin">

   <runtime>
      <library name="ptpHelp.jar"/> </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.ui.intro.universal"/>
   </requires>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <index path="org.eclipse.ptp.help.index1"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/ptpOverview.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/ptpWhatsnew.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/ptpTutorial.xml">
      </configExtension>

   </extension>

</plugin>
