<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

     <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
            <tocIcon
                  altText="%tocIcon.altText"
                  closedIcon="icons/analyze.gif"
                  id="org.eclipse.ptp.pldt.help.icon"
                  openIcon="icons/analyze.gif"/>
   </extension>

  <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/pldtOverview.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/pldtWhatsnew.xml">
      </configExtension>
  
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/pldtTutorial.xml">
      </configExtension>
   </extension>
</plugin>
