<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.ui.preferences.rmPreferencesPage"
            class="org.eclipse.ptp.rm.slurm.ui.preferences.SLURMPreferencePage"
            id="org.eclipse.ptp.slurm.ui.preferences.SLURMPreferencePage"
            name="SLURM">
      </page>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.slurm.ui.rmLaunchConfiguration.SLURMRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.slurm.ui.launchConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.ui.wizards.RMProviderContributor"
            id="org.eclipse.ptp.rm.slurm.resourceManager">
      </providerContributor>
   </extension>
    <extension
         point="org.eclipse.ptp.ui.runtimeModelPresentations">
      <runtimeModelPresentation
            class="org.eclipse.ptp.rm.slurm.ui.SLURMRuntimeModelPresentation"
            id="org.eclipse.ptp.rm.slurm.resourceManager">
      </runtimeModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationWizards">
      <configurationWizard
            class="org.eclipse.ptp.rm.slurm.ui.wizards.SLURMRMConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.slurm.resourceManager">
      </configurationWizard>
   </extension>
</plugin>
