<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rdt.sync.ui.synchronizeParticipants">
      <synchronizeParticipant
            class="org.eclipse.ptp.internal.rdt.sync.git.ui.GitParticipant"
            id="org.eclipse.ptp.rdt.sync.git.ui.gitParticipant"
            name="Git">
      </synchronizeParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.internal.rdt.sync.ui.preferences.SyncPreferencePage"
            class="org.eclipse.ptp.internal.rdt.sync.git.ui.preferences.SyncGitPreferencePage"
            id="org.eclipse.ptp.internal.rdt.sync.ui.preferences.SyncPreferencePage.SyncGitPreferencePage"
            name="%preferencePage.name">
      </page>
   </extension>
</plugin>
