<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="icons/openMPproblem.gif"
            category="org.eclipse.ptp.ui.views" 
            class="org.eclipse.ptp.pldt.openmp.ui.pv.views.OpenMPProblemsView"
            id="org.eclipse.ptp.pldt.openmp.ui.pv.views.OpenMPProblemsView">
      </view>
   </extension>
   <!--  openMP markers -->
   <!-- MARKER_ID       = "org.eclipse.ptp.pldt.openmp.ui.pv.openMPProblemMarker" -->
   <extension point="org.eclipse.core.resources.markers"
		id="openMPProblemMarker"
        name="%extension.name">
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="description"/>
      <attribute name="resource"/>
      <attribute name="infoldername"/>
      <attribute name="location"/>
      <attribute name="problem"/>
   </extension>

</plugin>
