<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 <extension-point id="parallelDebuggers" name="Parallel Debuggers" schema="schema/parallelDebuggers.exsd"/>

   <extension
         id="pBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.debug.core.breakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
     <attribute
           name="org.eclipse.ptp.debug.core.condition">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.ignoreCount">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.threadId">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.installCount">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.sourceHandle">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.jobid">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.setid">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.cursetid">
     </attribute>
   </extension>
   <extension
         id="commonPLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.core.pBreakpointMarker">
     </super>
     <super
           type="org.eclipse.debug.core.lineBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
   </extension>
   <extension
         id="pLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.core.commonPLineBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
     <attribute
           name="org.eclipse.ptp.debug.core.function">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.address">
     </attribute>
   </extension>
   <extension
         id="pAddressBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.core.commonPLineBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
   </extension>
   <extension
         id="pFunctionBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.core.commonPLineBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
   </extension>
   <extension
         id="pWatchpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.core.pBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
     <attribute
           name="org.eclipse.ptp.debug.core.expression">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.write">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.read">
     </attribute>
   </extension>

   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.ptp.debug.core.pLineBreakpointMarker"
            class="org.eclipse.ptp.internal.debug.core.breakpoint.PLineBreakpoint"
            name="%PLineBreakpoint.name"
            id="pLineBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="org.eclipse.ptp.debug.core.pAddressBreakpointMarker"
            class="org.eclipse.ptp.internal.debug.core.breakpoint.PAddressBreakpoint"
            name="%PAddressBreakpoint.name"
            id="pAddressBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="org.eclipse.ptp.debug.core.pFunctionBreakpointMarker"
            class="org.eclipse.ptp.internal.debug.core.breakpoint.PFunctionBreakpoint"
            name="%PFunctionBreakpoint.name"
            id="pFunctionBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="org.eclipse.ptp.debug.core.pWatchpointMarker"
            class="org.eclipse.ptp.internal.debug.core.breakpoint.PWatchpoint"
            name="%PWatchBreakpoint.name"
            id="pWatchpoint">
      </breakpoint>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.ptp.internal.debug.core.PreferenceInitializer"/>
   </extension>
	<extension
		point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer
			class="org.eclipse.ptp.internal.debug.core.sourcelookup.PSourcePathComputerDelegate"
			id="org.eclipse.ptp.debug.core.sourcePathComputer"/>
	</extension>
	<extension
		point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator
			class="org.eclipse.ptp.internal.debug.core.sourcelookup.PSourceLookupDirector"
			name="PTP Source Locator"
			id="org.eclipse.ptp.debug.core.sourceLocator"/>
	</extension>
	<extension
		point="org.eclipse.debug.core.sourceContainerTypes">
		<sourceContainerType
			class="org.eclipse.ptp.internal.debug.core.sourcelookup.ResourceMappingSourceContainerType"
			description="%containerDescription.mapping"
			id="org.eclipse.ptp.debug.core.containerType.resourceMapping"
			name="%containerName.mapping"/>
		<sourceContainerType
        class="org.eclipse.ptp.internal.debug.core.sourcelookup.PDirectorySourceContainerType"
        description="%containerDescription.directory"
        id="org.eclipse.ptp.debug.core.containerType.directory"
        name="%containerName.directory">
  </sourceContainerType>
	</extension>

</plugin>
