<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="icons/mpi.gif"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.pldt.mpi.core.views.MPITableView"
            id="org.eclipse.ptp.pldt.mpi.core.views.MPITableView">
      </view>

   </extension>
   <!--  MPI markers -->
   <extension point="org.eclipse.core.resources.markers"
		id="mpiMarker"
        name="%extension.name">
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="fileName"/>
      <attribute name="theLineNo"/>
      <attribute name="theNewLineNo"/>
      <attribute name="columnNo"/>
      <attribute name="name"/>
      <attribute name="description"/>
      <attribute name="constructType"/>
      <attribute name="uniqueID"/>
   </extension>
   <!-- this changes the marker image in the editor marker bar  -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.ptp.pldt.mpi.core.mpiMarker"
            name="org.eclipse.ptp.pldt.mpi.core.mpiMarkerAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.ptp.pldt.mpi.core.mpiMarkerAnnotation"
            icon="icons/mpi.gif" 
            
            presentationLayer="3"
            label="%specification.label"
            
            textPreferenceKey="mpiIndication"
            textPreferenceValue="true"
            highlightPreferenceKey="artifactHighlighting"
            highlightPreferenceValue="false"
            colorPreferenceKey="artifactIndicationColor"
            colorPreferenceValue="0,128,192"
            verticalRulerPreferenceKey="artifactIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
			showInNextPrevDropdownToolbarActionKey="showPortingInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="false"
            overviewRulerPreferenceKey="artifactIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            
            includeOnPreferencePage="true"
            isGoToPreviousNavigationTargetKey="isPortingGoToPreviousNavigationTarget"

            isGoToNextNavigationTargetKey="isPortingRecordGoToNextNavigationTarget"
            >
      </specification>  
   </extension>
  
   
   <extension
         point="org.eclipse.ui.preferencePages">

     <page
            class="org.eclipse.ptp.pldt.mpi.core.prefs.MPIPreferencePage"
            id="org.eclipse.ptp.pldt.mpi.core.prefpage"
            name="%page.name"
            category="org.eclipse.ptp.pldt.common.prefs.PLDTPreferencePage"
            />
 <!--          category="org.eclipse.ptp.ui.preferences.ptpPreferencesPage/org.eclipse.ptp.pldt.common.prefs.PLDTPreferencePage"
 -->
   </extension>
   
   <extension
         point="org.eclipse.cdt.ui.CHelpProvider">
      <provider
            class="org.eclipse.ptp.pldt.mpi.core.editorHelp.MpiCHelpProvider"
            id="org.eclipse.ptp.pldt.mpi.core.editorHelp.MpiCHelpProvider"/>
      <provider
            class="org.eclipse.ptp.pldt.mpi.core.editorHelp.MpiCPPHelpProvider"
            id="org.eclipse.ptp.pldt.mpi.core.editorHelp.MpiCPPHelpProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
               <initializer
            class="org.eclipse.ptp.pldt.mpi.core.prefs.MPIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ptp.pldt.mpi.core.actions.RunAnalyseMPIcommandHandler"
            id="org.eclipse.ptp.pldt.mpi.core.command2"
            name="%command.name">
      </command>
   </extension>
   <!-- these go under the dropdown menu; could come from another plugin -->
   <extension
         id="tempID"
         name="%extension.name.0"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ptp.pldt.common.toolbar.command1?after=separator1.mpi">
         <command
               commandId="org.eclipse.ptp.pldt.mpi.core.command2"
               icon="icons/mpi.gif"
               label="%command.label"
               style="push">
         </command>
        
      </menuContribution>
   </extension>

   <!-- Code templates -->
   <extension point="org.eclipse.ui.editors.templates">
     <include file="templates/mpi_templates.xml" />
   </extension>

   <!-- Artifact analysis extension point -->
   <extension-point
      id="artifactAnalysis"
      name="MPI Artifact Analysis"
      schema="schema/artifactAnalysis.exsd"/>
   <!-- Artifact analyses for C and C++ -->
   <extension point="org.eclipse.ptp.pldt.mpi.core.artifactAnalysis">
      <artifactAnalysis
            languageID="org.eclipse.cdt.core.gcc"
            class="org.eclipse.ptp.pldt.mpi.core.analysis.CMPIArtifactAnalysis" />
      <artifactAnalysis
            languageID="org.eclipse.cdt.core.g++"
            class="org.eclipse.ptp.pldt.mpi.core.analysis.CMPIArtifactAnalysis" />
   </extension>

</plugin>
