<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
# Copyright (c) 2006, 2008 Wind River Systems, Inc. and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
# Michael Scharf (Wind River) - initial API and implementation 
# Martin Oberhuber (Wind River) - fixed copyright headers and beautified
-->
<plugin>
   <extension
         point="org.eclipse.tm.terminal.terminalConnectors">
      <connector name="%connectionName"
      id="org.eclipse.ptp.remote.internal.terminal.RemoteToolsConnector"
      class="org.eclipse.ptp.internal.remote.terminal.RemoteConnector"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ptp.rm.lml.ui.SystemMonitoringPerspective">
         <view
               id="org.eclipse.tm.terminal.view.TerminalView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <view
               id="org.eclipse.tm.terminal.view.TerminalView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ptp.rdt.ui.remoteCPerspective">
         <view
               id="org.eclipse.tm.terminal.view.TerminalView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.remote.ui.RemoteDevelopmentPreferencePage"
            class="org.eclipse.ptp.internal.remote.terminal.TerminalPrefs"
            id="org.eclipse.ptp.remote.terminal.page1"
            name="%RemoteShellPreferences.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.eclipse.ptp.terminal.utils.action"
               label="Show Terminal"
               style="push">
            <visibleWhen>
                     <iterate>
                        <adapt type="org.eclipse.core.resources.IResource">
                           <or>
                              <test property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.ptp.rdt.sync.core.remoteSyncNature"/>
                              <test property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.ptp.rdt.core.remoteNature"/>
                              <test property="org.eclipse.core.resources.path"
                                 value="remotetools:*"/>
                           </or>
                        </adapt>
                     </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ptp.internal.remote.terminal.TerminalCommandHandler"
            id="org.eclipse.ptp.terminal.utils.action"
            name="Terminal">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.ptp.terminal.utils.action"
            name="Terminal">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="Terminal"
            class="org.eclipse.ptp.internal.remote.terminal.TerminalInfoView"
            id="org.eclipse.ptp.remote.terminal.view"
            name="%TerminalHistoryView.name"
            restorable="false">
      </view>
   </extension>

</plugin>
