<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%SDMPreferencePage.name"
            category="org.eclipse.ptp.debug.ui.PDebugPreferencePage"
            class="org.eclipse.ptp.internal.debug.sdm.ui.preferences.SDMPreferencePage"
            id="org.eclipse.ptp.debug.sdm.ui.SDMPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ptp.debug.ui.debuggerConfigurations">
      <debuggerConfiguration
            class="org.eclipse.ptp.internal.debug.sdm.ui.SDMPage"
            debuggerID="org.eclipse.ptp.debug.sdm"
            id="org.eclipse.ptp.debug.sdm.SDMPage">
      </debuggerConfiguration>
   </extension>
</plugin>
