<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- ============= -->
   <!-- Error Parsers -->
   <!-- ============= -->

   <!-- NOTE: The examples/ folder in this plug-in contains examples of these compilers' error outputs (for reference) -->

   <!-- Cray -->
   <extension
         id="CrayErrorParser"
         name="%CrayErrorParser.name"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            id="org.eclipse.ptp.cdt.compilers.core.CrayErrorParser"
            name="%CrayErrorParser.name"
            class="org.eclipse.ptp.compilers.internal.core.errorparsers.CrayErrorParser" />
   </extension>

   <!-- Portland Group -->
   <extension
         id="PGIErrorParser"
         name="%PGIErrorParser.name"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.cdt.core.errorparsers.RegexErrorParser"
            id="org.eclipse.ptp.cdt.compilers.core.PGIErrorParser"
            name="%PGIErrorParser.name">
         <!-- pgcc errors -->
         <!--                                                                                      Capture Group 1.........2......3 -->
         <pattern description-expr="$1" eat-processed-line="true" file-expr="$2" line-expr="$3" regex="PGC-W-\d+-(.+):* [(](\S+): (\d+)[)]" severity="Warning"/>
         <!--                                                                                         Capture Group 1.........2......3 -->
         <pattern description-expr="$1" eat-processed-line="true" file-expr="$2" line-expr="$3" regex="PGC-[^W]-\d+-(.+):* [(](\S+): (\d+)[)]" severity="Error"/>
         <!--                                                                                          Capture Group 1.......2 -->
         <pattern description-expr="$1" eat-processed-line="true" file-expr="$2"                regex="PGC-[A-Z]-\d+-(.+) [(](\S+)[)]" severity="Error"/>
         <!--                                                                                          Capture Group 1 -->
         <pattern description-expr="$1" eat-processed-line="true"                               regex="PGC-[A-Z]-\d+-(.+)" severity="Error"/>
         <!-- pgCC errors -->
         <!--                                                                                  Capture Group 1.................2.............3 -->
         <pattern description-expr="$3" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="&quot;(\S+)&quot;, line (\d+): error: (.+)" severity="Error"/>
         <!--                                                                                  Capture Group 1.................2...............3 -->
         <pattern description-expr="$3" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="&quot;(\S+)&quot;, line (\d+): warning: (.+)" severity="Warning"/>
         <!--                                                                                                 Capture Group 1 -->
         <pattern description-expr="$1" eat-processed-line="true"                               regex="^Catastrophic error: (.+)" severity="Error"/>
      </errorparser>
   </extension>

   <!-- Open64 -->
   <extension
         id="Open64ErrorParser"
         name="%Open64ErrorParser.name"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.cdt.core.errorparsers.RegexErrorParser"
            id="org.eclipse.ptp.cdt.compilers.core.Open64ErrorParser"
            name="%Open64ErrorParser.name">
         <!--                                                                                Capture Group 1......2....3.................4 -->
         <pattern description-expr="$4" eat-processed-line="true" file-expr="$2" line-expr="$3" regex="open(cc|CC)(-\d+(\.\d+)*)? ERROR: (.+)$" severity="Error"/>
         <pattern description-expr="$4" eat-processed-line="true" file-expr="$2" line-expr="$3" regex="open(cc|CC)(-\d+(\.\d+)*)? WARNING: (.+)$" severity="Warning"/>
         <!-- These patterns are from the GNU C error parser in org.eclipse.cdt.core (Open64 uses the GCC front end) -->
         <pattern description-expr="" eat-processed-line="true" file-expr="" line-expr="" regex="%CDTGNUCErrorParser.regex.ReportedOnlyOnce" severity="Ignore"/>
         <pattern description-expr="" eat-processed-line="true" file-expr="" line-expr="" regex="%CDTGNUCErrorParser.regex.ForEachFunctionItAppearsIn" severity="Ignore"/>
         <pattern description-expr="" eat-processed-line="true" file-expr="" line-expr="" regex="%CDTGNUCErrorParser.regex.ReportedOnlyOncePerInputFile" severity="Ignore"/>
         <pattern description-expr="$4" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.ErrorUndeclared" severity="Error" variable-expr="$5"/>
         <pattern description-expr="$4" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.ErrorConflictingTypesFor" severity="Error" variable-expr="$5"/>
         <pattern description-expr="$4" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.ParseErrorBefore" severity="Error" variable-expr="$5"/>
         <pattern description-expr="$4" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.DefinedButNotUsed" severity="Warning" variable-expr="$5"/>
         <pattern description-expr="$4" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.WarningConflictingTypesFor" severity="Warning" variable-expr="$5"/>
         <pattern description-expr="$5" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNULinkerErrorParser.regex.WarningDangerousFunction" severity="Warning" variable-expr="$6"/>
         <pattern description-expr="$4" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.InstantiatedFromHere" severity="Info"/>
         <pattern description-expr="$7" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.GenericError" severity="Error"/>
         <pattern description-expr="$7" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.GenericWarning" severity="Warning"/>
         <pattern description-expr="$9" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.GenericInfo" severity="Info"/>
         <pattern description-expr="$4" eat-processed-line="true" file-expr="$1" line-expr="$2" regex="%CDTGNUCErrorParser.regex.OtherError" severity="Error"/>
      </errorparser>
   </extension>

</plugin>
