<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="serviceProvider" name="Service Provider" schema="schema/serviceProvider.exsd"/>
   <extension-point id="service" name="Service" schema="schema/service.exsd"/>
   <extension
         point="org.eclipse.ptp.services.service">
      <service
            id="test1"
            name="Test1">
         <nature
               id="nature1"></nature>
         <nature
               id="nature2">
         </nature>
      </service>
      <service
            id="test2"
            name="Test2">
      </service>
   </extension>

</plugin>
