configurations=conf1 conf2

conf1.host=localhost
conf1.username=
conf1.password=thePassWord
conf1.remoteBaseDir=

conf2.host=localhost
conf2.username=
conf2.password=privateKeyPassphrase
conf2.privatekey=/path/to/key
conf2.remoteBaseDir=