<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.cldt.debug.mi.core"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.cldt.debug.mi.core.MIPlugin">

   <runtime>
      <library name="cldtmicore.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.cldt.debug.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.cldt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension
         point="org.eclipse.cldt.debug.core.CDebugger">
      <debugger
            platform="*"
            name="%GDBDebugger.name"
            modes="run,core,attach"
            cpu="native"
            class="org.eclipse.cldt.debug.mi.core.GDBCDIDebugger"
            id="org.eclipse.cldt.debug.mi.core.CDebugger">
      </debugger>
      <debugger
            platform="win32"
            name="%CygwinGDBDebugger.name"
            modes="run,core,attach"
            cpu="native"
            class="org.eclipse.cldt.debug.mi.core.CygwinGDBCDIDebugger"
            id="org.eclipse.cldt.debug.mi.core.CygwinCDebugger">
      </debugger>
      <debugger
            platform="*"
            name="%GDBServer.name"
            modes="run"
            cpu="*"
            class="org.eclipse.cldt.debug.mi.core.GDBServerCDIDebugger"
            id="org.eclipse.cldt.debug.mi.core.GDBServerCDebugger">
      </debugger>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.cldt.debug.mi.core.MIPreferenceInitializer"/>
   </extension>

</plugin>
