<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="debuggerConfigurations" name="Parallel Debugger Configurations" schema="schema/debuggerConfigurations.exsd"/>
	
	<!-- debug model presentation //-->
	<extension
		point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
			class="org.eclipse.ptp.internal.debug.ui.PDebugModelPresentation"
			id="org.eclipse.ptp.debug.core">
		</debugModelPresentation>
	</extension>
	<!-- view //-->
	<extension
		point="org.eclipse.ui.views">
		<view
			name="%SignalsView.name"
			icon="icons/view16/signals_view.gif"
			category="org.eclipse.ptp.ui.views"
			class="org.eclipse.ptp.internal.debug.ui.views.signals.SignalsView"
			id="org.eclipse.ptp.debug.ui.views.SignalsView">
		</view>
		<view
			name="%ParallelDebugView.name"
			icon="icons/view16/parallel_debug.gif"
			category="org.eclipse.ptp.ui.views"
			class="org.eclipse.ptp.internal.debug.ui.views.ParallelDebugView"
			id="org.eclipse.ptp.debug.ui.views.parallelDebugView">
		</view>
		<view
			name="%ArrayView.name"
			icon="icons/view16/arrays_view.gif"
			category="org.eclipse.ptp.ui.views"
			class="org.eclipse.ptp.internal.debug.ui.views.array.ArrayView"
			id="org.eclipse.ptp.debug.ui.views.ArrayView">
		</view>
		<view
			name="%PVariableView.name"
			icon="icons/view16/variables_view.gif"
			category="org.eclipse.ptp.ui.views"
			class="org.eclipse.ptp.internal.debug.ui.views.variable.PVariableView"
			id="org.eclipse.ptp.debug.ui.views.PVariableView">
		</view>
		<view
        category="org.eclipse.ptp.ui.views"
        class="org.eclipse.ptp.internal.debug.ui.views.locations.PLocationView"
        icon="icons/view16/debug_locations_view.gif"
        id="org.eclipse.ptp.debug.ui.views.PLocationView"
        name="%PLocationView.name">
		</view>
	</extension>
	<!-- perspective extensions //-->
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.ui.resourcePerspective">
			<perspectiveShortcut
				id="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			</perspectiveShortcut>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.debug.ui.DebugPerspective">
			<perspectiveShortcut
				id="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			</perspectiveShortcut>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			<perspectiveShortcut
				id="org.eclipse.debug.ui.DebugPerspective">
			</perspectiveShortcut>
			<view
				visible="true"
				relative="org.eclipse.ui.console.ConsoleView"
				relationship="stack"
				id="org.eclipse.ui.views.ProblemView">
			</view>      
			<viewShortcut
				id="org.eclipse.ui.views.ProblemView">
			</viewShortcut>
			<actionSet
				id="org.eclipse.debug.ui.launchActionSet">
			</actionSet>
			<actionSet
				id="org.eclipse.cdt.debug.ui.debugActionSet">
			</actionSet>
		</perspectiveExtension>
	</extension>   	
	<!-- preferences //-->
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			name="%PDebugPreferencePage.name"
			category="org.eclipse.ptp.ui.preferences.ptpPreferencesPage"
			class="org.eclipse.ptp.internal.debug.ui.preferences.PDebugPreferencePage"
			id="org.eclipse.ptp.debug.ui.PDebugPreferencePage">
		</page>
	</extension>

   	<!-- perspective //-->
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			name="%ParallelDebugPerspective.name"
			icon="icons/view16/parallel_debug.gif"
			class="org.eclipse.ptp.internal.debug.ui.PTPDebugPerspectiveFactory"
			id="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			<description>
				%ParallelDebugPerspective.description
			</description>
		</perspective>
	</extension>   

	<!-- annotation //-->		      
	<extension
		point="org.eclipse.debug.ui.breakpointOrganizers">
		<breakpointOrganizer
			othersLabel="%PBreakpointSet.others"
			label="%PBreakpointSet.label"
			icon="icons/debug/ptp_bpt_set.gif"
			class="org.eclipse.ptp.internal.debug.ui.views.breakpoints.PBreakpointSetOrganizer"
			id="org.eclipse.ptp.debug.ui.pBreakpointSetOrganizer"/>
	</extension>

	<!-- Extension //-->
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			<view
				relative="org.eclipse.debug.ui.VariableView"
				visible="false"
				relationship="stack"
				id="org.eclipse.ptp.debug.ui.SignalsView">
			</view>
			<viewShortcut
				id="org.eclipse.ptp.debug.ui.SignalsView">
			</viewShortcut>
			<viewShortcut
				id="org.eclipse.debug.ui.MemoryView">
			</viewShortcut>
			<viewShortcut
				id="org.eclipse.debug.ui.ExpressionView">
			</viewShortcut>
		</perspectiveExtension>
	</extension>

	<!-- Action sets //-->
	<extension
		point="org.eclipse.ui.actionSets">
		<actionSet
        id="org.eclipse.ptp.debug.ui.debugActionSet"
        label="%DebugActionSet.label"
        visible="true">
			<menu
				label="%RunMenu.label"
				path="additions"
				id="org.eclipse.ui.run">
			</menu>
			<action
				id="org.eclipse.ptp.debug.ui.actions.ResumeAtLine"
				class="org.eclipse.ptp.internal.debug.ui.actions.RetargetResumeAtLineAction"
				disabledIcon="icons/tool/jump_co_disable.gif"
				enablesFor="1"
				icon="icons/tool/jump_co_normal.gif"
				helpContextId="jump_to_line_action_context"
				label="%GlobalJumpToLineAction.label"
				menubarPath="org.eclipse.ui.run/stepGroup">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
			<action
				id="org.eclipse.ptp.debug.internal.ui.actions.SignalZeroWorkbenchActionDelegate"
				class="org.eclipse.ptp.internal.debug.ui.actions.SignalZeroWorkbenchActionDelegate"
				disabledIcon="icons/tool/signal0_co_disable.gif"
				enablesFor="1"
				icon="icons/tool/signal0_co_normal.gif"
				helpContextId="resume_without_signal_action_context"
				label="%SignalZeroAction.label"
				menubarPath="org.eclipse.ui.run/stepGroup"
				tooltip="%SignalZeroAction.tooltip">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
			<action
				id="org.eclipse.ptp.debug.ui.internal.actions.RestartActionDelegate"
				class="org.eclipse.ptp.internal.debug.ui.actions.RestartActionDelegate"
				disabledIcon="icons/tool/restart_disable.gif"
				enablesFor="1"
				icon="icons/tool/restart_normal.gif"
				helpContextId="restart_action_context"
				label="%RestartAction.label"
				menubarPath="org.eclipse.ui.run/stepGroup">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
		</actionSet>
	</extension>
	
	<!-- poupup menus //-->
	<extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.debug.ui.BreakpointView"
			id="org.eclipse.ptp.debug.ui.breakpointview.popupMenu">
			<action
				label="%GotoSet.label"
				icon="icons/debug/ptp_bpt_set.gif"
				class="org.eclipse.ptp.internal.debug.ui.actions.GotoSet"
				menubarPath="navigationGroup"
				enablesFor="1+"
				id="org.eclipse.ptp.debug.internal.ui.actions.GotoSet">
			</action>
		</viewerContribution>
		<objectContribution
			objectClass="org.eclipse.ptp.debug.core.model.IPBreakpoint"
			id="org.eclipse.ptp.debug.ui.PBreakpointActions">
			<action
				label="%BreakpointPropertiesAction.label"
				class="org.eclipse.ptp.internal.debug.ui.actions.PBreakpointPropertiesAction"
				menubarPath="additions"
				enablesFor="1"
				id="org.eclipse.ptp.debug.internal.ui.actions.PBreakpointPropertiesAction">
			</action>
		</objectContribution>      
		<objectContribution
			objectClass="org.eclipse.ptp.debug.core.model.IPSignal"
			id="org.eclipse.ptp.debug.ui.SignalActions">
			<action
				label="%SignalAction.label"
				class="org.eclipse.ptp.internal.debug.ui.actions.SignalActionDelegate"
				tooltip="%SignalAction.tooltip"
				menubarPath="additions"
				enablesFor="1"
				id="org.eclipse.ptp.debug.internal.ui.actions.SignalActionDelegate">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
			<action
				label="%SignalPropertiesAction.label"
				style="pulldown"
				helpContextId="signal_properties_action_context"
				class="org.eclipse.ptp.internal.debug.ui.actions.SignalPropertiesActionDelegate"
				tooltip="%SignalPropertiesAction.tooltip"
				enablesFor="1"
				id="org.eclipse.ptp.debug.ui.SignalPropertiesAction">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
		</objectContribution>
		<objectContribution
			objectClass="org.eclipse.ptp.debug.core.model.IResumeWithoutSignal"
			id="org.eclipse.ptp.debug.ui.DebugTargetActions">
		</objectContribution>
		<viewerContribution
			targetID="org.eclipse.debug.ui.DebugView"
			id="org.eclipse.ptp.debug.ui.debugview.popupMenu">
			<action
				label="%RestartAction.label"
				icon="icons/tool/restart_normal.gif"
				helpContextId="restart_action_context"
				class="org.eclipse.ptp.internal.debug.ui.actions.RestartActionDelegate"
				menubarPath="stepGroup"
				enablesFor="1"
				id="org.eclipse.ptp.debug.internal.ui.actions.RestartActionDelegate">
				<selection class="org.eclipse.ptp.debug.core.model.IRestart"/>
			</action>
			<action
				state="false"
				style="toggle"
				id="org.eclipse.ptp.debug.internal.ui.actions.ToggleInstructionStepModeActionDelegate"
				class="org.eclipse.ptp.internal.debug.ui.actions.ToggleInstructionStepModeActionDelegate"
				enablesFor="1"
				icon="icons/tool/stepinto_group_normal.png"
				helpContextId="toggle_instruction_step_mode_action_context"
				label="%ToggleInstructionStepModeAction.label"
				menubarPath="renderGroup"
				tooltip="%ToggleInstructionStepModeAction.tooltip">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
			<action
				helpContextId="signal_zero_action_context"
				enablesFor="1"
				label="%SignalZeroAction.label"
				tooltip="%SignalZeroAction.tooltip"
				class="org.eclipse.ptp.internal.debug.ui.actions.SignalZeroWorkbenchActionDelegate"
				menubarPath="threadGroup"
				id="org.eclipse.ptp.debug.internal.ui.actions.SignalZeroWorkbenchActionDelegate">
				<selection class="org.eclipse.ptp.debug.core.model.IResumeWithoutSignal"/>
			</action>
		</viewerContribution>
	</extension>
	
	<!-- text hovers //-->
	<extension
		point="org.eclipse.cdt.ui.textHovers">
		<hover
			label="%DebugTextHover.label"
			description="%DebugTextHover.description"
			class="org.eclipse.ptp.internal.debug.ui.editors.PDebugTextHover"
			id="org.eclipse.ptp.debug.internal.ui.editors.PDebugTextHover">
		</hover>
	</extension>		
	
	<!-- property pages //-->
	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			class="org.eclipse.ptp.internal.debug.ui.propertypages.PBreakpointPropertyPage"
			name="%CommonBreakpointPage.label"
			id="org.eclipse.ptp.debug.ui.propertypages.breakpoint.common">
			<enabledWhen>
				<adapt
					type="org.eclipse.ptp.debug.core.model.IPBreakpoint">
				</adapt>
			</enabledWhen>
		</page>
		<page
			class="org.eclipse.ptp.internal.debug.ui.propertypages.SignalPropertyPage"
			name="%CommonSignalPage.label"
			id="org.eclipse.ptp.debug.ui.propertypages.signal.common">
			<enabledWhen>
				<adapt
					type="org.eclipse.ptp.debug.core.model.IPSignal">
				</adapt>
			</enabledWhen>
		</page>
	</extension>
	
	<!-- source locators //-->
	<extension
		point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator
			name="%DefaultSourceLocator.name"
			class="org.eclipse.ptp.internal.debug.ui.sourcelookup.DefaultSourceLocator"
			id="org.eclipse.ptp.debug.ui.DefaultSourceLocator">
		</sourceLocator>
	</extension>

	<!-- new //-->
	<extension
		point="org.eclipse.ui.contexts">
		<context
			name="%DebuggingPContext.name"
			description="%DebuggingPContext.description"
			parentId="org.eclipse.debug.ui.debugging"
			id="org.eclipse.ptp.debug.ui.debugging">
		</context>
	</extension>
	<extension
		point="org.eclipse.debug.ui.debugModelContextBindings">
		<modelContextBinding
			debugModelId="org.eclipse.ptp.debug.core"
			contextId="org.eclipse.ptp.debug.ui.debugging">
		</modelContextBinding>
	</extension>
	<extension
		point="org.eclipse.debug.ui.contextViewBindings">
		<contextViewBinding
			viewId="org.eclipse.debug.ui.MemoryView"
			contextId="org.eclipse.ptp.debug.ui.debugging">
		</contextViewBinding>
		<contextViewBinding
			autoOpen="false"
			contextId="org.eclipse.ptp.debug.ui.debugging"
			viewId="org.eclipse.ptp.debug.ui.SignalsView">
		</contextViewBinding>
		<contextViewBinding
			viewId="org.eclipse.debug.ui.RegisterView"
			contextId="org.eclipse.ptp.debug.ui.debugging">
		</contextViewBinding>
	</extension>

	<!-- annotation //-->
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.ptp.debug.core.pBreakpointMarker"
			super="org.eclipse.debug.core.breakpoint"
			name="org.eclipse.ptp.debug.core.breakpoint">
		</type>
		<type
			markerType="org.eclipse.ptp.debug.ui.regCurrentIP"
			name="org.eclipse.ptp.debug.ui.regCurrentIP">
		</type>
		<type
			markerType="org.eclipse.ptp.debug.ui.regSecondaryIP"
			name="org.eclipse.ptp.debug.ui.regSecondaryIP">
		</type>      
		<type
			markerType="org.eclipse.ptp.debug.ui.currentSetIP"
			name="org.eclipse.ptp.debug.ui.currentSetIP">
		</type>      
		<type
			markerType="org.eclipse.ptp.debug.ui.setIP"
			name="org.eclipse.ptp.debug.ui.setIP">
		</type>      
	</extension>
	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
        annotationImageProvider="org.eclipse.ptp.internal.debug.ui.BreakpointImageProvider"
        annotationType="org.eclipse.ptp.debug.core.breakpoint"
        label="%PBreakpointAnnotation.label"
        presentationLayer="4">
		</specification>
		<specification
        annotationType="org.eclipse.ptp.debug.ui.regCurrentIP"
        colorPreferenceKey="ptpRegCurrentIPColor"
        colorPreferenceValue="102,204,255"
        highlightPreferenceKey="ptpRegCurrentIPHighlight"
        highlightPreferenceValue="true"
        icon="icons/debug/reg_cur_ip.gif"
        label="%CurrentRegIPAnnotation.label"
        overviewRulerPreferenceKey="ptpRegCucurrentIPOverviewRuler"
        overviewRulerPreferenceValue="true"
        presentationLayer="7"
        textPreferenceKey="ptpRegCurrentIPIndication"
        textPreferenceValue="false"
        verticalRulerPreferenceKey="ptpRegCurrentIPVerticalRuler"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="org.eclipse.ptp.debug.ui.regSecondaryIP"
        colorPreferenceKey="ptpRegSecondaryIPColor"
        colorPreferenceValue="204,255,102"
        highlightPreferenceKey="ptpRegSecondaryIPHighlight"
        highlightPreferenceValue="true"
        icon="icons/debug/reg_sec_ip.gif"
        label="%RegIPAnnotation.label"
        overviewRulerPreferenceKey="ptpRegSecondaryIPOverviewRuler"
        overviewRulerPreferenceValue="true"
        presentationLayer="7"
        textPreferenceKey="ptpRegSecondaryIPIndication"
        textPreferenceValue="false"
        verticalRulerPreferenceKey="ptpRegSecondaryIPVerticalRuler"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="org.eclipse.ptp.debug.ui.currentSetIP"
        colorPreferenceKey="ptpCurrentIPColor"
        colorPreferenceValue="255,204,102"
        highlightPreferenceKey="ptpCurrentSetIPHighlight"
        highlightPreferenceValue="true"
        icon="icons/debug/cur_set_ip.gif"
        label="%CurrentSetIPAnnotation.label"
        overviewRulerPreferenceKey="ptpCurrentSetIPOverviewRuler"
        overviewRulerPreferenceValue="true"
        presentationLayer="6"
        textPreferenceKey="ptpCurrentSetIPIndication"
        textPreferenceValue="false"
        verticalRulerPreferenceKey="ptpCurrentSetIPVerticalRuler"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="org.eclipse.ptp.debug.ui.setIP"
        colorPreferenceKey="ptpSecondaryIPColor"
        colorPreferenceValue="204,255,102"
        highlightPreferenceKey="ptpSetIPHighlight"
        highlightPreferenceValue="true"
        icon="icons/debug/set_ip.gif"
        label="%SetIPAnnotation.label"
        overviewRulerPreferenceKey="ptpSetIPOverviewRuler"
        overviewRulerPreferenceValue="true"
        presentationLayer="6"
        textPreferenceKey="ptpSetIPIndication"
        textPreferenceValue="false"
        verticalRulerPreferenceKey="ptpSetIPVerticalRuler"
        verticalRulerPreferenceValue="true">
		</specification>
	</extension>

	<!-- runtime adapters //-->
	<extension point="org.eclipse.core.runtime.adapters">
		<factory
			class="org.eclipse.ptp.internal.debug.ui.PBreakpointWorkbenchAdapterFactory"
			adaptableType="org.eclipse.ptp.debug.core.model.IPBreakpoint">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
		</factory>
		<factory
			adaptableType="org.eclipse.ptp.internal.debug.core.sourcelookup.ResourceMappingSourceContainer"
			class="org.eclipse.ptp.internal.debug.ui.sourcelookup.SourceContainerAdapterFactory">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
		</factory>
		<factory
			adaptableType="org.eclipse.debug.core.sourcelookup.containers.ProjectSourceContainer"
			class="org.eclipse.ptp.internal.debug.ui.sourcelookup.SourceContainerAdapterFactory">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
		</factory>
	</extension>

	<!-- Watch Expression //-->
	<extension
		point="org.eclipse.debug.core.watchExpressionDelegates">
		<watchExpressionDelegate
			debugModel="org.eclipse.ptp.debug.core"
			delegateClass="org.eclipse.ptp.internal.debug.ui.PWatchExpressionDelegate"/>
	</extension>
	<!-- Memory //-->
	<extension
		point="org.eclipse.debug.ui.memoryRenderings">
		<renderingBindings
			defaultIds="org.eclipse.debug.ui.rendering.raw_memory"
			primaryId="org.eclipse.debug.ui.rendering.raw_memory"
			renderingIds="org.eclipse.debug.ui.rendering.raw_memory,org.eclipse.debug.ui.rendering.ascii,org.eclipse.debug.ui.rendering.signedint,org.eclipse.debug.ui.rendering.unsignedint">
			<enablement>
				<instanceof value="org.eclipse.ptp.internal.debug.core.model.PMemoryBlockExtension"/>
			</enablement>
		</renderingBindings>
	</extension>
	<!-- source container //-->
	<extension
		point="org.eclipse.debug.ui.sourceContainerPresentations">
		<sourceContainerPresentation
			browserClass="org.eclipse.ptp.internal.debug.ui.sourcelookup.ResourceMappingSourceContainerBrowser"
			containerTypeID="org.eclipse.ptp.debug.core.containerType.resourceMapping"
			icon="icons/obj16/mapping_obj.gif"
			id="org.eclipse.ptp.debug.ui.sourceContainerPresentation.resourceMapping"/>
	</extension>
 <extension
       point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
    <toggleTargetFactory
          class="org.eclipse.ptp.internal.debug.ui.views.breakpoints.EditorToggleBreakpointsTargetFactory"
          id="org.eclipse.ptp.debug.ui.views.breakpoints.toggleBreakpointsTargetFactory">
       <enablement>
          <with
                variable="debugContext">
             <iterate>
                <or>
                   <test
                         property="org.eclipse.debug.ui.getModelIdentifier"
                         value="org.eclipse.ptp.debug.core">
                   </test>
                   <test
                         property="org.eclipse.debug.ui.getModelIdentifier"
                         value="">
                   </test>
                </or>
             </iterate>
          </with>
       </enablement>
    </toggleTargetFactory>
 </extension>
 <extension
       point="org.eclipse.ui.trace.traceComponents">
    <component
          id="org.eclipse.ptp.debug.core.component"
          label="PTP Debug Core">
       <bundle
             consumed="true"
             name="org.eclipse.ptp.debug.core">
       </bundle>
    </component>
 </extension>

</plugin>
