<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    
   <!-- perspective //-->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%ParallelDebugPerspective.name"
            icon="icons/ptp.gif"
            class="org.eclipse.ptp.debug.internal.ui.PTPDebugPerspectiveFactory"
            id="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
      </perspective>
   </extension>   

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%ParallelDebugViewCategory.name"
            id="org.eclipse.ptp.debug.ui.views">
      </category>
      <view
            name="%ParallelDebugView.name"
            icon="icons/ptp.gif"
            category="org.eclipse.ptp.debug.ui.views"
            class="org.eclipse.ptp.debug.ui.views.ParallelDebugView"
            id="org.eclipse.ptp.debug.ui.views.parallelDebugView">
      </view>
   </extension>

   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.ptp.debug.internal.ui.PDebugModelPresentation"
            id="org.eclipse.ptp.debug.ui">
      </debugModelPresentation>
   </extension>

   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.ptp.debug.ui.pBreakpointMarker"
            super="org.eclipse.debug.core.breakpoint"
            name="org.eclipse.ptp.debug.core.breakpoint">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="org.eclipse.ptp.debug.internal.ui.BreakpointImageProvider"
            annotationType="org.eclipse.ptp.debug.core.breakpoint"
            colorPreferenceValue="217,255,226"
            highlightPreferenceValue="true"
            icon="icons/debug/bpt.gif">
      </specification>	
   </extension>
   
   <!-- breakpointMarker -->
   <extension
         id="pBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.debug.core.breakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
     <attribute
           name="org.eclipse.ptp.debug.core.condition">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.ignoreCount">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.threadId">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.installCount">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.sourceHandle">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.jobid">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.setid">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.cursetid">
     </attribute>
   </extension>
   <extension
         id="commonPLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.ui.pBreakpointMarker">
     </super>
     <super
           type="org.eclipse.debug.core.lineBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
   </extension>
   <extension
         id="pLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.ui.commonPLineBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
     <attribute
           name="org.eclipse.ptp.debug.core.function">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.address">
     </attribute>
   </extension>
   <extension
         id="pAddressBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.ui.commonPLineBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
   </extension>
   <extension
         id="pFunctionBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.ui.commonPLineBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
   </extension>
   <extension
         id="pWatchpointBreakpointMarker"
         point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.ptp.debug.ui.pBreakpointMarker">
     </super>
     <persistent
           value="false">
     </persistent>
     <attribute
           name="org.eclipse.ptp.debug.core.expression">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.write">
     </attribute>
     <attribute
           name="org.eclipse.ptp.debug.core.read">
     </attribute>
   </extension>

   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.ptp.debug.ui.pLineBreakpointMarker"
            class="org.eclipse.ptp.debug.internal.core.breakpoints.PLineBreakpoint"
            name="%PLineBreakpoint.name"
            id="pLineBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="org.eclipse.ptp.debug.ui.pAddressBreakpointMarker"
            class="org.eclipse.ptp.debug.internal.core.breakpoints.PAddressBreakpoint"
            name="%PAddressBreakpoint.name"
            id="pAddressBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="org.eclipse.ptp.debug.ui.pFunctionBreakpointMarker"
            class="org.eclipse.ptp.debug.internal.core.breakpoints.PFunctionBreakpoint"
            name="%PFunctionBreakpoint.name"
            id="pFunctionBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="org.eclipse.ptp.debug.ui.pWatchBreakpointMarker"
            class="org.eclipse.ptp.debug.internal.core.breakpoints.PWatchBreakpoint"
            name="%PWatchBreakpoint.name"
            id="pWatchBreakpoint">
      </breakpoint>
   </extension>

   <extension
         point="org.eclipse.debug.ui.breakpointOrganizers">
      <breakpointOrganizer
            othersLabel="%PBreakpointSet.others"
            label="%PBreakpointSet.label"
            icon="icons/debug/ptp_bpt_set.gif"
            class="org.eclipse.ptp.debug.internal.ui.views.breakpoints.PBreakpointSetOrganizer"
            id="org.eclipse.ptp.debug.ui.pBreakpointSetOrganizer">
      </breakpointOrganizer>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.BreakpointView"
            id="org.eclipse.ptp.debug.ui.breakpointView.menu">
         <action
               label="%ShowFullPathsAction.label"
               icon="icons/tool/show_paths.gif"
               style="toggle"
               tooltip="%ShowFullPathsAction.tooltip"
               class="org.eclipse.ptp.debug.internal.ui.actions.ShowFullPathsAction"
               menubarPath="pDebugActions"
               id="org.eclipse.ptp.debug.internal.ui.actions.ShowFullPathsAction">
         </action>
      </viewContribution>
   </extension>
   //-->

   <!--
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.ptp.debug.core.model.IPBreakpoint"
            class="org.eclipse.ptp.debug.internal.ui.propertypages.PBreakpointPropertyPage"
            name="%CommonBreakpointPage.label"
            id="org.eclipse.ptp.debug.ui.propertypages.breakpoint.common"/>
      <page
            adaptable="true"
            objectClass="org.eclipse.ptp.debug.core.model.IPBreakpoint"
            class="org.eclipse.ptp.debug.internal.ui.propertypages.PBreakpointFilteringPage"
            name="%FilteringBreakpointPage.label"
            id="org.eclipse.ptp.debug.ui.propertypages.breakpoint.filtering"/>
   </extension>    
   //-->

   <extension point="org.eclipse.core.runtime.adapters">
      <factory 
            class="org.eclipse.ptp.debug.internal.ui.actions.RetargettableActionAdapterFactory" 
            adaptableType="org.eclipse.cdt.internal.ui.editor.CEditor">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IRunToLineTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IResumeAtLineTarget">
          </adapter>
      </factory>
      <factory
            class="org.eclipse.ptp.debug.internal.ui.actions.RetargettableActionAdapterFactory"
            adaptableType="org.eclipse.ui.views.contentoutline.ContentOutline">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            class="org.eclipse.ptp.debug.internal.ui.PBreakpointWorkbenchAdapterFactory"
            adaptableType="org.eclipse.ptp.debug.core.model.IPBreakpoint">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.cdt.ui.editor.CEditor"
            id="org.eclipse.ptp.debug.ui.CEditor.BreakpointRulerActions">
         <action
            label="%ToggleBreakpoint.label"
            class="org.eclipse.ptp.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate"
            actionID="RulerDoubleClick"
            id="org.eclipse.ptp.debug.ui.CEditor.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
   </extension>
   //-->
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CEditorRulerContext"
            id="org.eclipse.ptp.debug.ui.CEditorRulerActions">
        <menu
         	label="%EditorRulerAction.label"
         	path="debug"
         	id="org.eclipse.ptp.debug.ui.popupmenu.submenu">
            <groupMarker
                name="ptpGroup">
            </groupMarker>
        </menu>
        <action
            label="%PBreakpointProperties.label"
            class="org.eclipse.ptp.debug.internal.ui.actions.PBreakpointPropertiesRulerActionDelegate"
            menubarPath="org.eclipse.ptp.debug.ui.popupmenu.submenu/ptpGroup"
            id="org.eclipse.ptp.debug.internal.ui.actions.PBreakpointPropertiesRulerActionDelegate">
        </action>
        <action
            label="%EnableDisableBreakpoint.label"
            class="org.eclipse.ptp.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate"
            menubarPath="org.eclipse.ptp.debug.ui.popupmenu.submenu/ptpGroup"
            id="org.eclipse.ptp.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate">
        </action>
        <action
            label="%ToggleBreakpoint.label"
            class="org.eclipse.ptp.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate"
            menubarPath="org.eclipse.ptp.debug.ui.popupmenu.submenu/ptpGroup"
            id="org.eclipse.ptp.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate">
        </action>
      </viewerContribution>
      <viewerContribution
            targetID="org.eclipse.debug.ui.BreakpointView"
            id="org.eclipse.ptp.debug.ui.breakpointview.popupMenu">
         <action
               label="%GotoSet.label"
               icon="icons/debug/ptp_bpt_set.gif"
               class="org.eclipse.ptp.debug.internal.ui.actions.GotoSet"
               menubarPath="navigationGroup"
               enablesFor="1+"
               id="org.eclipse.ptp.debug.internal.ui.actions.GotoSet">
         </action>
      </viewerContribution>
      <objectContribution
            objectClass="org.eclipse.ptp.debug.core.model.IPBreakpoint"
            id="org.eclipse.ptp.debug.ui.PBreakpointActions">
         <action
               label="%BreakpointPropertiesAction.label"
               class="org.eclipse.ptp.debug.internal.ui.actions.PBreakpointPropertiesAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.ptp.debug.internal.ui.actions.PBreakpointPropertiesAction">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.ptp.debug.core.model.IPBreakpoint"
            class="org.eclipse.ptp.debug.internal.ui.propertypages.PBreakpointPropertyPage"
            name="%CommonBreakpointPage.label"
            id="org.eclipse.ptp.debug.ui.propertypages.breakpoint.common"/>
   </extension>   
</plugin>
