<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="PDebuggerPage" name="%PDebuggerPage.name" schema="schema/PDebuggerPage.exsd"/>

	<!-- preferences //-->
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.ptp.debug.internal.ui.preferences.PreferenceInitializer">
		</initializer>
	</extension>
   
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			name="%PDebugPreferencePage.name"
			category="org.eclipse.ptp.ui.preferences.ptpPreferencesPage"
			class="org.eclipse.ptp.debug.internal.ui.preferences.PDebugPreferencePage"
			id="org.eclipse.ptp.debug.ui.PDebugPreferencePage">
		</page>
	</extension>
	<extension
		point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator
			name="%DefaultSourceLocator.name"
			class="org.eclipse.ptp.debug.ui.sourcelookup.DefaultSourceLocator"
			id="org.eclipse.ptp.debug.ui.DefaultSourceLocator">
		</sourceLocator>
	</extension>
	<!-- 
	Not yet develop Source Map UI
	<extension
		point="org.eclipse.debug.ui.sourceContainerPresentations">
		<sourceContainerPresentation
			browserClass="org.eclipse.ptp.debug.internal.ui.sourcelookup.MappingSourceContainerBrowser"
			containerTypeID="org.eclipse.ptp.debug.core.containerType.mapping"
			icon="icons/obj16/mapping_obj.gif"
			id="org.eclipse.ptp.debug.ui.sourceContainerPresentation.mapping"/>
		<sourceContainerPresentation
			containerTypeID="org.eclipse.ptp.debug.core.containerType.mapEntry"
			icon="icons/obj16/mapentry_obj.gif"
			id="org.eclipse.ppt.debug.ui.sourceContainerPresentation.mapEntry"/>
	</extension>
	//-->
   	<!-- perspective //-->
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			name="%ParallelDebugPerspective.name"
			icon="icons/ptpdebug.gif"
			class="org.eclipse.ptp.debug.internal.ui.PTPDebugPerspectiveFactory"
			id="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			<description>
				%ParallelDebugPerspective.description
			</description>
		</perspective>
	</extension>   
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.ui.resourcePerspective">
			<perspectiveShortcut
				id="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			</perspectiveShortcut>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.debug.ui.DebugPerspective">
			<perspectiveShortcut
				id="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			</perspectiveShortcut>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			<perspectiveShortcut
				id="org.eclipse.ptp.ui.PTPRunPerspective">
			</perspectiveShortcut>
			<perspectiveShortcut
				id="org.eclipse.debug.ui.DebugPerspective">
			</perspectiveShortcut>
			<actionSet
				id="org.eclipse.debug.ui.launchActionSet">
			</actionSet>
			<actionSet
				id="org.eclipse.ptp.ui.actionSets">
			</actionSet>
		</perspectiveExtension>
	</extension>   

	<!-- view //-->
	<extension
		point="org.eclipse.ui.views">
		<category
			name="%ParallelDebugViewCategory.name"
			id="org.eclipse.ptp.debug.ui.views">
		</category>
		<view
			name="%SignalsView.name"
			icon="icons/signals_view.gif"
			category="org.eclipse.ptp.debug.ui.views"
			class="org.eclipse.ptp.debug.internal.ui.views.signals.SignalsView"
			id="org.eclipse.ptp.debug.ui.views.SignalsView">
		</view>
		<view
			name="%ParallelDebugView.name"
			icon="icons/ptpdebug.gif"
			category="org.eclipse.ptp.debug.ui.views"
			class="org.eclipse.ptp.debug.ui.views.ParallelDebugView"
			id="org.eclipse.ptp.debug.ui.views.parallelDebugView">
		</view>
		<view
			name="%ArrayView.name"
			icon="icons/ptparrayview.gif"
			category="org.eclipse.debug.ui"
			class="org.eclipse.ptp.debug.internal.ui.views.array.ArrayView"
			id="org.eclipse.ptp.debug.ui.views.ArrayView">
		</view>
		<view
			name="%PVariableView.name"
			icon="icons/ptpvariableview.gif"
			category="org.eclipse.debug.ui"
			class="org.eclipse.ptp.debug.internal.ui.views.variable.PVariableView"
			id="org.eclipse.ptp.debug.ui.views.PVariableView">
		</view>
	</extension>

	<extension
		point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
			class="org.eclipse.ptp.debug.internal.ui.PDebugModelPresentation"
			id="org.eclipse.ptp.debug.core">
		</debugModelPresentation>
	</extension>

	<!-- annotation //-->
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.ptp.debug.core.pBreakpointMarker"
			super="org.eclipse.debug.core.breakpoint"
			name="org.eclipse.ptp.debug.core.breakpoint">
		</type>
		<type
			markerType="org.eclipse.ptp.debug.ui.regCurrentIP"
			name="org.eclipse.ptp.debug.ui.regCurrentIP">
		</type>
		<type
			markerType="org.eclipse.ptp.debug.ui.regSecondaryIP"
			name="org.eclipse.ptp.debug.ui.regSecondaryIP">
		</type>      
		<type
			markerType="org.eclipse.ptp.debug.ui.currentSetIP"
			name="org.eclipse.ptp.debug.ui.currentSetIP">
		</type>      
		<type
			markerType="org.eclipse.ptp.debug.ui.setIP"
			name="org.eclipse.ptp.debug.ui.setIP">
		</type>      
	</extension>

	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationImageProvider="org.eclipse.ptp.debug.internal.ui.BreakpointImageProvider"
			annotationType="org.eclipse.ptp.debug.core.breakpoint"
			label="%PBreakpointAnnotation.label"
			presentationLayer="4">
		</specification>
		<specification
			annotationType="org.eclipse.ptp.debug.ui.regCurrentIP"
			icon="icons/debug/reg_cur_ip.gif"
			presentationLayer="7"
			colorPreferenceKey="ptpRegCurrentIPColor"
			colorPreferenceValue="198,219,174"
			highlightPreferenceValue="true"
			highlightPreferenceKey="ptpRegCurrentIPHighlight"
			textPreferenceValue="false"
			textPreferenceKey="ptpRegCurrentIPIndication"
			verticalRulerPreferenceValue="true"
			verticalRulerPreferenceKey="ptpRegCurrentIPVerticalRuler"
			overviewRulerPreferenceValue="true"
			overviewRulerPreferenceKey="ptpRegCucurrentIPOverviewRuler">
		</specification>
		<specification
			annotationType="org.eclipse.ptp.debug.ui.regSecondaryIP"
			icon="icons/debug/reg_sec_ip.gif"
			presentationLayer="7"
			colorPreferenceValue="219,235,204"
			colorPreferenceKey="ptpRegSecondaryIPColor"
			highlightPreferenceValue="true"
			highlightPreferenceKey="ptpRegSecondaryIPHighlight"
			textPreferenceValue="false"
			textPreferenceKey="ptpRegSecondaryIPIndication"
			verticalRulerPreferenceValue="true"
			verticalRulerPreferenceKey="ptpRegSecondaryIPVerticalRuler"
			overviewRulerPreferenceValue="true"
			overviewRulerPreferenceKey="ptpRegSecondaryIPOverviewRuler">
		</specification>
		<specification
			annotationType="org.eclipse.ptp.debug.ui.currentSetIP"
			icon="icons/debug/cur_set_ip.gif"
			presentationLayer="6"
			colorPreferenceValue="130,105,20"
			colorPreferenceKey="ptpCurrentIPColor"
			highlightPreferenceValue="true"
			highlightPreferenceKey="ptpCurrentSetIPHighlight"
			textPreferenceValue="false"
			textPreferenceKey="ptpCurrentSetIPIndication"
			verticalRulerPreferenceValue="true"
			verticalRulerPreferenceKey="ptpCurrentSetIPVerticalRuler"
			overviewRulerPreferenceValue="true"
			overviewRulerPreferenceKey="ptpCurrentSetIPOverviewRuler">
		</specification>
		<specification
			annotationType="org.eclipse.ptp.debug.ui.setIP"
			icon="icons/debug/set_ip.gif"
			presentationLayer="6"
			colorPreferenceValue="255,255,0"
			colorPreferenceKey="ptpSecondaryIPColor"
			highlightPreferenceValue="true"
			highlightPreferenceKey="ptpSetIPHighlight"
			textPreferenceValue="false"
			textPreferenceKey="ptpSetIPIndication"
			verticalRulerPreferenceValue="true"
			verticalRulerPreferenceKey="ptpSetIPVerticalRuler"
			overviewRulerPreferenceValue="true"
			overviewRulerPreferenceKey="ptpSetIPOverviewRuler">
		</specification>
	</extension>

	<!-- annotation //-->		      
	<extension
		point="org.eclipse.debug.ui.breakpointOrganizers">
		<breakpointOrganizer
			othersLabel="%PBreakpointSet.others"
			label="%PBreakpointSet.label"
			icon="icons/debug/ptp_bpt_set.gif"
			class="org.eclipse.ptp.debug.internal.ui.views.breakpoints.PBreakpointSetOrganizer"
			id="org.eclipse.ptp.debug.ui.pBreakpointSetOrganizer"/>
	</extension>
		   
	<!--
	<extension
		point="org.eclipse.ui.viewActions">
		<viewContribution
			targetID="org.eclipse.debug.ui.BreakpointView"
			id="org.eclipse.ptp.debug.ui.breakpointView.menu">
			<action
				label="%ShowFullPathsAction.label"
				icon="icons/tool/show_paths.gif"
				style="toggle"
				tooltip="%ShowFullPathsAction.tooltip"
				class="org.eclipse.ptp.debug.internal.ui.actions.ShowFullPathsAction"
				menubarPath="pDebugActions"
				id="org.eclipse.ptp.debug.internal.ui.actions.ShowFullPathsAction">
			</action>
		</viewContribution>
	</extension>
	//-->
		
	<extension point="org.eclipse.core.runtime.adapters">
		<factory 
			class="org.eclipse.ptp.debug.internal.ui.actions.RetargettableActionAdapterFactory" 
			adaptableType="org.eclipse.cdt.internal.ui.editor.CEditor">
			<adapter
				type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
			</adapter>
			<adapter
				type="org.eclipse.debug.ui.actions.IRunToLineTarget">
			</adapter>
		</factory>
		<factory
			class="org.eclipse.ptp.debug.internal.ui.actions.RetargettableActionAdapterFactory"
			adaptableType="org.eclipse.ui.views.contentoutline.ContentOutline">
			<adapter
				type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
			</adapter>
		</factory>
		<factory
			class="org.eclipse.ptp.debug.internal.ui.PBreakpointWorkbenchAdapterFactory"
			adaptableType="org.eclipse.ptp.debug.core.model.IPBreakpoint">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
		</factory>
	</extension>
	<!--
	<extension
		point="org.eclipse.ui.editorActions">
		<editorContribution
			targetID="org.eclipse.cdt.ui.editor.CEditor"
			id="org.eclipse.ptp.debug.ui.CEditor.BreakpointRulerActions">
			<action
				label="%ToggleBreakpoint.label"
				class="org.eclipse.ptp.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate"
				actionID="RulerDoubleClick"
				id="org.eclipse.ptp.debug.ui.CEditor.ManageBreakpointRulerAction">
			</action>
		</editorContribution>
	</extension>
	//-->
	<extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="#CEditorRulerContext"
			id="org.eclipse.ptp.debug.ui.CEditorRulerActions">
			<menu
				label="%EditorRulerAction.label"
				path="debug"
				id="org.eclipse.ptp.debug.ui.popupmenu.submenu">
				<groupMarker
					name="ptpGroup">
				</groupMarker>
			</menu>
			<action
				label="%PBreakpointProperties.label"
				class="org.eclipse.ptp.debug.internal.ui.actions.PBreakpointPropertiesRulerActionDelegate"
				menubarPath="org.eclipse.ptp.debug.ui.popupmenu.submenu/ptpGroup"
				id="org.eclipse.ptp.debug.internal.ui.actions.PBreakpointPropertiesRulerActionDelegate">
			</action>
			<action
				label="%EnableDisableBreakpoint.label"
				class="org.eclipse.ptp.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate"
				menubarPath="org.eclipse.ptp.debug.ui.popupmenu.submenu/ptpGroup"
				id="org.eclipse.ptp.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate">
			</action>
			<action
				label="%ToggleBreakpoint.label"
				class="org.eclipse.ptp.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate"
				menubarPath="org.eclipse.ptp.debug.ui.popupmenu.submenu/ptpGroup"
				id="org.eclipse.ptp.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate">
			</action>
		</viewerContribution>
		<viewerContribution
			targetID="org.eclipse.debug.ui.BreakpointView"
			id="org.eclipse.ptp.debug.ui.breakpointview.popupMenu">
			<action
				label="%GotoSet.label"
				icon="icons/debug/ptp_bpt_set.gif"
				class="org.eclipse.ptp.debug.internal.ui.actions.GotoSet"
				menubarPath="navigationGroup"
				enablesFor="1+"
				id="org.eclipse.ptp.debug.internal.ui.actions.GotoSet">
			</action>
		</viewerContribution>
		<objectContribution
			objectClass="org.eclipse.ptp.debug.core.model.IPBreakpoint"
			id="org.eclipse.ptp.debug.ui.PBreakpointActions">
			<action
				label="%BreakpointPropertiesAction.label"
				class="org.eclipse.ptp.debug.internal.ui.actions.PBreakpointPropertiesAction"
				menubarPath="additions"
				enablesFor="1"
				id="org.eclipse.ptp.debug.internal.ui.actions.PBreakpointPropertiesAction">
			</action>
		</objectContribution>      
		<!-- variable start -->
		<!--
		<objectContribution
			objectClass="org.eclipse.ptp.debug.core.model.IPVariable"
			id="org.eclipse.ptp.debug.ui.PVariableActions">
			<menu
				label="PVariableMenu"
				id="org.eclipse.ptp.debug.ui.PVariableMenu">
				<separator
					name="pVarGroup">
				</separator>
			</menu>
			<action
				helpContextId="ptp_add_variable_action_context"
				label="%AddPVariableAction.label"
				tooltip="%AddPVariableAction.tooltip"
				icon="icons/debug/ptp_bpt_set.gif"
				menubarPath="pVarGroup"
				enablesFor="1"
				class="org.eclipse.ptp.debug.internal.ui.actions.AddPVariableActionDelegate"
				id="org.eclipse.ptp.debug.internal.ui.actions.AddPVariableActionDelegate">
			</action>
		</objectContribution>
		//-->
		<!-- variable end -->
		<!-- signal start -->
		<objectContribution
			objectClass="org.eclipse.ptp.debug.core.model.IPSignal"
			id="org.eclipse.ptp.debug.ui.SignalActions">
			<action
				label="%SignalAction.label"
				class="org.eclipse.ptp.debug.internal.ui.actions.SignalActionDelegate"
				tooltip="%SignalAction.tooltip"
				menubarPath="additions"
				enablesFor="1"
				id="org.eclipse.ptp.debug.internal.ui.actions.SignalActionDelegate">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
			<action
				label="%SignalPropertiesAction.label"
				style="pulldown"
				helpContextId="signal_properties_action_context"
				class="org.eclipse.ptp.debug.internal.ui.actions.SignalPropertiesActionDelegate"
				tooltip="%SignalPropertiesAction.tooltip"
				enablesFor="1"
				id="org.eclipse.ptp.debug.ui.SignalPropertiesAction">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
		</objectContribution>
		<objectContribution
			objectClass="org.eclipse.ptp.debug.core.model.IResumeWithoutSignal"
			id="org.eclipse.ptp.debug.ui.DebugTargetActions">
		</objectContribution>
		<!-- signal end -->
		<!-- debug view start -->
		<viewerContribution
			targetID="org.eclipse.debug.ui.DebugView"
			id="org.eclipse.ptp.debug.ui.debugview.popupMenu">
			<action
				label="%RestartAction.label"
				icon="icons/tool/restart_normal.gif"
				helpContextId="restart_action_context"
				class="org.eclipse.ptp.debug.internal.ui.actions.RestartActionDelegate"
				menubarPath="stepGroup"
				enablesFor="1"
				id="org.eclipse.ptp.debug.internal.ui.actions.RestartActionDelegate">
				<selection class="org.eclipse.ptp.debug.core.model.IRestart"/>
			</action>
			<action
				state="false"
				style="toggle"
				id="org.eclipse.ptp.debug.internal.ui.actions.ToggleInstructionStepModeActionDelegate"
				class="org.eclipse.ptp.debug.internal.ui.actions.ToggleInstructionStepModeActionDelegate"
				enablesFor="1"
				icon="icons/tool/stepinto_normal.gif"
				helpContextId="toggle_instruction_step_mode_action_context"
				label="%ToggleInstructionStepModeAction.label"
				menubarPath="renderGroup"
				tooltip="%ToggleInstructionStepModeAction.tooltip">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
			<action
				helpContextId="signal_zero_action_context"
				enablesFor="1"
				label="%SignalZeroAction.label"
				tooltip="%SignalZeroAction.tooltip"
				class="org.eclipse.ptp.debug.internal.ui.actions.SignalZeroWorkbenchActionDelegate"
				menubarPath="threadGroup"
				id="org.eclipse.ptp.debug.internal.ui.actions.SignalZeroWorkbenchActionDelegate">
				<selection class="org.eclipse.ptp.debug.core.model.IResumeWithoutSignal"/>
			</action>
		</viewerContribution>
		<!-- debug view end -->
		<!-- variable view start -->
		<viewerContribution
			targetID="org.eclipse.debug.ui.VariableView"
			id="org.eclipse.ptp.debug.ui.variablesView.popupMenu">
		<!--//
			<action
				helpContextId="remove_all_globals_action_context"
				enablesFor="*"
				label="%RemoveAllGlobalsAction.label"
				tooltip="%RemoveAllGlobalsAction.tooltip"
				icon="icons/rem_all_co.gif"
				class="org.eclipse.ptp.debug.internal.ui.actions.RemoveAllGlobalsActionDelegate"
				menubarPath="additions"
				id="org.eclipse.ptp.debug.internal.ui.actions.RemoveAllGlobalsActionDelegate">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui"/>
				</enablement>
			</action>
			<action
				helpContextId="remove_globals_action_context"
				enablesFor="+"
				label="%RemoveGlobalsAction.label"
				tooltip="%RemoveGlobalsAction.tooltip"
				icon="icons/rem_co.gif"
				class="org.eclipse.ptp.debug.internal.ui.actions.RemoveGlobalsActionDelegate"
				menubarPath="additions"
				id="org.eclipse.ptp.debug.internal.ui.actions.RemoveGlobalsActionDelegate">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui"/>
				</enablement>
			</action>
			<action
				helpContextId="add_globals_action_context"
				enablesFor="1"
				label="%AddGlobalsAction.label"
				class="org.eclipse.ptp.debug.internal.ui.actions.AddGlobalsActionDelegate"
				icon="icons/watch_globals.gif"
				menubarPath="additions"
				id="org.eclipse.ptp.debug.internal.ui.actions.AddGlobalsActionDelegate">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui"/>
				</enablement>
			</action>
			<action
				label="%DisableVariablesAction.label"
				helpContextId="disable_variables_action_context"
				tooltip="%DisableVariablesAction.tooltip"
				class="org.eclipse.ptp.debug.internal.ui.actions.DisableVariablesActionDelegate"
				menubarPath="variableGroup"
				enablesFor="2+"
				id="org.eclipse.ptp.debug.internal.ui.actions.DisableVariablesActionDelegate">
				<selection
					class="org.eclipse.ptp.debug.core.model.IPVariable">
				</selection>
			</action>
			<action
				label="%EnableVariablesAction.label"
				helpContextId="enable_variables_action_context"
				tooltip="%EnableVariablesAction.tooltip"
				class="org.eclipse.ptp.debug.internal.ui.actions.EnableVariablesActionDelegate"
				menubarPath="variableGroup"
				enablesFor="2+"
				id="org.eclipse.ptp.debug.internal.ui.actions.EnableVariablesActionDelegate">
				<selection
					class="org.eclipse.ptp.debug.core.model.IPVariable">
				</selection>
			</action>
			//-->
		</viewerContribution>
		<!-- variable view end -->      
	</extension>

	<extension
		point="org.eclipse.ui.viewActions">
		<!-- variable toolbar start //-->
		<!--
		<viewContribution
			targetID="org.eclipse.debug.ui.VariableView"
			id="org.eclipse.debug.ui.variablesView.toolbar">
			<menu
				label="PVariableMenu"
				id="org.eclipse.ptp.debug.ui.PVariableMenu"
				path="additions">
				<separator name="pVarGroup" />
			</menu>
			<action
				helpContextId="ptp_variables_dialog_action_context"
				label="%OpenPVariableDialogAction.label"
				tooltip="%OpenPVariableDialogAction.tooltip"
				icon="icons/debug/ptp_bpt_set.gif"
				toolbarPath="Normal/pVarGroup"
				state="true"
				class="org.eclipse.ptp.debug.internal.ui.actions.OpenPVariableDialogActionDelegate"
				id="org.eclipse.ptp.debug.internal.ui.actions.OpenPVariableDialogActionDelegate">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui"/>
				</enablement>
			</action>
			<action
				helpContextId="ptp_update_all_variables_action_context"
				label="%UpdateAllPVariableAction.label"
				tooltip="%UpdateAllPVariableAction.tooltip"
				icon="icons/debug/ptp_bpt_set.gif"
				toolbarPath="Normal/pVarGroup"
				class="org.eclipse.ptp.debug.internal.ui.actions.UpdateVariablesActionDelegate"
				id="org.eclipse.ptp.debug.internal.ui.actions.UpdateVariablesActionDelegate">
			</action>
			<action
				helpContextId="ptp_remove_all_variables_action_context"
				label="%RemoveAllPVariableAction.label"
				tooltip="%RemoveAllPVariableAction.tooltip"
				icon="icons/debug/ptp_bpt_set.gif"
				toolbarPath="Normal/pVarGroup"
				class="org.eclipse.ptp.debug.internal.ui.actions.RemoveAllPVariableActionDelegate"
				id="org.eclipse.ptp.debug.internal.ui.actions.RemoveAllPVariableActionDelegate">
			</action>
			<action
				helpContextId="ptp_add_variable_action_context"
				label="%AddPVariableAction.label"
				tooltip="%AddPVariableAction.tooltip"
				icon="icons/debug/ptp_bpt_set.gif"
				toolbarPath="Normal/pVarGroup"
				enablesFor="1"
				class="org.eclipse.ptp.debug.internal.ui.actions.AddPVariableActionDelegate"
				id="org.eclipse.ptp.debug.internal.ui.actions.AddPVariableActionDelegate">
			</action>
		</viewContribution>
		//-->
		<!-- variable toolbar end //-->
	</extension>

	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			adaptable="true"
			objectClass="org.eclipse.ptp.debug.core.model.IPBreakpoint"
			class="org.eclipse.ptp.debug.internal.ui.propertypages.PBreakpointPropertyPage"
			name="%CommonBreakpointPage.label"
			id="org.eclipse.ptp.debug.ui.propertypages.breakpoint.common"/>
		<!--
		<page
			adaptable="true"
			objectClass="org.eclipse.ptp.debug.core.model.IPBreakpoint"
			class="org.eclipse.ptp.debug.internal.ui.propertypages.PBreakpointFilteringPage"
			name="%FilteringBreakpointPage.label"
			id="org.eclipse.ptp.debug.ui.propertypages.breakpoint.filtering"/>
		//-->
		<page
			objectClass="org.eclipse.ptp.debug.core.model.IPSignal"
			class="org.eclipse.ptp.debug.internal.ui.propertypages.SignalPropertyPage"
			name="%CommonSignalPage.label"
			id="org.eclipse.ptp.debug.ui.propertypages.signal.common"/>
	</extension>

	<extension
		point="org.eclipse.cdt.ui.textHovers">
		<hover
			label="%DebugTextHover.label"
			description="%DebugTextHover.description"
			perspective="org.eclipse.ptp.debug.ui.PTPDebugPerspective"
			class="org.eclipse.ptp.debug.internal.ui.editors.PDebugTextHover"
			id="org.eclipse.ptp.debug.internal.ui.editors.PDebugTextHover">
		</hover>
	</extension>

	<!-- Watch Expression //-->
	<extension
		point="org.eclipse.debug.core.watchExpressionDelegates">
		<watchExpressionDelegate
			debugModel="org.eclipse.ptp.debug.core"
			delegateClass="org.eclipse.ptp.debug.internal.ui.PWatchExpressionDelegate"/>
	</extension>
   
	<!-- Memory //-->
	<extension
		point="org.eclipse.debug.ui.memoryRenderings">
		<renderingBindings
			defaultIds="org.eclipse.debug.ui.rendering.raw_memory"
			primaryId="org.eclipse.debug.ui.rendering.raw_memory"
			renderingIds="org.eclipse.debug.ui.rendering.raw_memory,org.eclipse.debug.ui.rendering.ascii,org.eclipse.debug.ui.rendering.signedint,org.eclipse.debug.ui.rendering.unsignedint">
			<enablement>
				<instanceof value="org.eclipse.ptp.debug.internal.core.model.PTPMemoryBlockExtension"/>
			</enablement>
		</renderingBindings>
	</extension>

	<!-- Extension //-->
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
			<view
				relative="org.eclipse.debug.ui.VariableView"
				visible="false"
				relationship="stack"
				id="org.eclipse.ptp.debug.ui.SignalsView">
			</view>
			<viewShortcut
				id="org.eclipse.ptp.debug.ui.SignalsView">
			</viewShortcut>
			<viewShortcut
				id="org.eclipse.debug.ui.MemoryView">
			</viewShortcut>
			<viewShortcut
				id="org.eclipse.debug.ui.ExpressionView">
			</viewShortcut>
		</perspectiveExtension>
	</extension>

	<!-- Action sets //-->
	<extension
		point="org.eclipse.ui.actionSets">
		<actionSet
			label="%DebugActionSet.label"
			id="org.eclipse.ptp.debug.ui.debugActionSet">
			<menu
				label="%RunMenu.label"
				path="additions"
				id="org.eclipse.ui.run">
			</menu>
			<action
				id="org.eclipse.ptp.debug.ui.actions.ResumeAtLine"
				class="org.eclipse.ptp.debug.internal.ui.actions.RetargetResumeAtLineAction"
				disabledIcon="icons/tool/jump_co_disable.gif"
				enablesFor="1"
				icon="icons/tool/jump_co_normal.gif"
				helpContextId="jump_to_line_action_context"
				label="%GlobalJumpToLineAction.label"
				menubarPath="org.eclipse.ui.run/stepGroup">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
			<action
				id="org.eclipse.ptp.debug.internal.ui.actions.SignalZeroWorkbenchActionDelegate"
				class="org.eclipse.ptp.debug.internal.ui.actions.SignalZeroWorkbenchActionDelegate"
				disabledIcon="icons/tool/signal0_co_disable.gif"
				enablesFor="1"
				icon="icons/tool/signal0_co_normal.gif"
				helpContextId="resume_without_signal_action_context"
				label="%SignalZeroAction.label"
				menubarPath="org.eclipse.ui.run/stepGroup"
				tooltip="%SignalZeroAction.tooltip">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
			<action
				id="org.eclipse.ptp.debug.ui.internal.actions.RestartActionDelegate"
				class="org.eclipse.ptp.debug.internal.ui.actions.RestartActionDelegate"
				disabledIcon="icons/tool/restart_disable.gif"
				enablesFor="1"
				icon="icons/tool/restart_normal.gif"
				helpContextId="restart_action_context"
				label="%RestartAction.label"
				menubarPath="org.eclipse.ui.run/stepGroup">
				<enablement>
					<pluginState
						value="activated"
						id="org.eclipse.ptp.debug.ui">
					</pluginState>
				</enablement>
			</action>
		</actionSet>
	</extension>

</plugin>
