<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.remote.ui.RemoteDevelopmentPreferencePage"
            class="org.eclipse.ptp.remotetools.preferences.ui.TargetPreferencePage"
            id="org.eclipse.ptp.remotetools.preferences.ui.RemoteToolsPreferencePage"
            name="Remote Tools">
      </page>
      <page
            category="org.eclipse.ptp.remotetools.preferences.ui.RemoteToolsPreferencePage"
            class="org.eclipse.ptp.remotetools.preferences.ui.TargetEnvironmentPreferencePage"
            id="org.eclipse.ptp.remotetools.preferences.ui.RemoteToolsPreferencePage.EnvironmentPreferencePage"
            name="Environments"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.remotetools.preferences.ui.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
