<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Remote Tools"
            class="org.eclipse.ptp.remotetools.preferences.ui.CellPreferencePage"
            id="org.eclipse.ptp.remotetools.preferences.ui.RemoteToolsPreferencePage">
      </page>
      <page
            category="org.eclipse.ptp.remotetools.preferences.ui.RemoteToolsPreferencePage"
            class="org.eclipse.ptp.remotetools.preferences.ui.CellEnvironmentPreferencePage"
            id="org.eclipse.ptp.remotetools.preferences.ui.RemoteToolsPreferencePage.EnvironmentPreferencePage"
            name="Environment"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.remotetools.preferences.ui.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
