<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.ui.preferences.rmPreferencesPage.openmpi"
            class="org.eclipse.ptp.rm.mpi.openmpi.ui.preferences.OpenMpi12PreferencePage"
            id="org.eclipse.ptp.rm.openmpi.ui.preferences.openmpi12"
            name="openmpi 1.2">
      </page>
      <page
            category="org.eclipse.ptp.ui.preferences.rmPreferencesPage"
            class="org.eclipse.ptp.rm.mpi.openmpi.ui.preferences.EmptyPage"
            id="org.eclipse.ptp.ui.preferences.rmPreferencesPage.openmpi"
            name="openmpi">
      </page>
      <page
            category="org.eclipse.ptp.ui.preferences.rmPreferencesPage.openmpi"
            class="org.eclipse.ptp.rm.mpi.openmpi.ui.preferences.OpenMpi13PreferencePage"
            id="org.eclipse.ptp.rm.openmpi.ui.preferences.openmpi13"
            name="openmpi 1.3">
      </page>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurations">
      <configurationWizard
            class="org.eclipse.ptp.rm.mpi.openmpi.ui.wizards.OpenMpiRMConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.openmpi.ui.configurationWizard"/>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.mpi.openmpi.ui.launch.OpenMpiRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.rm.open.ui.launchConfiguration"/>
   </extension>
</plugin>
