<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationWizards">
      <configurationWizard
            class="org.eclipse.ptp.rm.mpi.openmpi.ui.wizards.OpenMPIRMConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.openmpi.ui.configurationWizard"/>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.mpi.openmpi.ui.launch.OpenMPIRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.rm.openmpi.ui.launchConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.rm.mpi.openmpi.ui.OpenMPIProviderContributor"
            id="org.eclipse.ptp.rm.mpi.openmpi.core.rmsystem.OpenMPIServiceProvider">
      </providerContributor>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationWizards">
      <configurationWizard
            class="org.eclipse.ptp.rm.mpi.openmpi.ui.wizards.OpenMPIRMServiceProviderConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.mpi.openmpi.ui.configurationWizard">
      </configurationWizard>
   </extension>
</plugin>
