<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.ui.preferences.rmPreferencesPage"
            class="org.eclipse.ptp.rm.ibm.bluegene.ui.preferences.BGPreferencePage"
            id="org.eclipse.ptp.bluegene.ui.preferences.BGPreferencePage"
            name="Blue Gene">
      </page>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmconfiguration">
      <configurationWizard
            class="org.eclipse.ptp.rm.ibm.bluegene.ui.wizards.BGResourceManagerConfigurationWizardPageFactory"
            id="org.eclipse.ptp.bluegene.ui.configurationWizard"/>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfiguration">
      <launchConfiguration
            class="org.eclipse.ptp.rm.ibm.bluegene.ui.rmLaunchConfiguration.BGRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.bluegene.ui.launchConfiguration"/>
   </extension>

</plugin>
