<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="MPI Barrier Analysis action set"
            visible="true"
            id="org.eclipse.ptp.pldt.mpi.analysis.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>

         <action
               class="org.eclipse.ptp.pldt.mpi.analysis.actions.MPIAnalysisMultipleAction"
               icon="icons/barrier.gif"
               id="org.eclipse.ptp.pldt.mpi.analysis.action1"
               label="MPI Barrier Analysis"
               menubarPath="sampleMenu/sampleGroup"
               style="push"
               toolbarPath="sampleGroup"
               tooltip="MPI barrier analysis">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="plugin.xml"
            id="org.eclipse.ptp.pldt.mpi.analysis.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="org.eclipse.ptp.pldt.mpi.analysis.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Action"
               class="org.eclipse.ptp.pldt.mpi.analysis.popup.actions.NewAction"
               menubarPath="org.eclipse.ptp.pldt.mpi.analysis.menu1/group1"
               enablesFor="1"
               id="org.eclipse.ptp.pldt.mpi.analysis.newAction">
         </action>
      </objectContribution>
 
      
      <!-- Match set annotation -->
      <!--
      <viewerContribution
            id="org.eclipse.ptp.pldt.mpi.analysis.CEditorContribution"
            targetID="#CEditorContext">
         <action
               class="org.eclipse.ptp.pldt.mpi.analysis.popup.actions.ShowMatchSet"
               id="org.eclipse.ptp.pldt.mpi.analysis.ShowMatchSet"
               label="Show Barrier Matching Set"
               menubarPath="additions"/>
      </viewerContribution>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="org.eclipse.ptp.pldt.mpi.analysis.preferences.SamplePreferencePage"
            id="org.eclipse.ptp.pldt.mpi.analysis.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.pldt.mpi.analysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="PTP MPI Views"
            id="org.eclipse.ptp.pldt.mpi">
      </category>
      <view
            name="MPI Barriers"
            icon="icons/barrier.gif"
            category="org.eclipse.ptp.pldt.mpi"
            class="org.eclipse.ptp.pldt.mpi.analysis.view.MPIBarrierView"
            id="org.eclipse.ptp.pldt.mpi.analysis.view.MPIBarrierTableView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="PTP MPI Views"
            id="org.eclipse.ptp.pldt.mpi">
      </category>
      <view
            name="Barrier Matches"
            icon="icons/barrier.gif"
            category="org.eclipse.ptp.pldt.mpi"
            class="org.eclipse.ptp.pldt.mpi.analysis.view.MPIBarrierMatchingSetView"
            id="org.eclipse.ptp.pldt.mpi.analysis.view.MPIBarrierMatchingSetTableView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="PTP MPI Views"
            id="org.eclipse.ptp.pldt.mpi">
      </category>
      <view
            name="Barrier Errors"
            icon="icons/barrier.gif"
            category="org.eclipse.ptp.pldt.mpi"
            class="org.eclipse.ptp.pldt.mpi.analysis.view.MPIErrorView"
            id="org.eclipse.ptp.pldt.mpi.analysis.view.MPIErrorView">
      </view>
   </extension>

   <!--  MPI Barrier markers -->
   <extension point="org.eclipse.core.resources.markers"
		id="mpiBarrierMarker"
        name="MPI Barrier Artifact Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="fileName"/>
      <attribute name="theLineNo"/>
      <attribute name="theNewLineNo"/>
      <attribute name="columnNo"/>
      <attribute name="name"/>
      <attribute name="description"/>
      <attribute name="constructType"/>
      <attribute name="uniqueID"/>
   </extension>
   <!-- this changes the marker image in the editor marker bar  -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.ptp.pldt.mpi.analysis.mpiBarrierMarker"
            name="org.eclipse.ptp.pldt.mpi.analysis.mpiBarrierMarkerAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.ptp.pldt.mpi.analysis.mpiBarrierMarkerAnnotation"
            icon="icons/barrier.gif" 
            
            presentationLayer="3"
            label="MPI Barrier Annotation Marker"
            
            textPreferenceKey="mpiIndication"
            textPreferenceValue="true"
            highlightPreferenceKey="artifactHighlighting"
            highlightPreferenceValue="false"
            colorPreferenceKey="artifactIndicationColor"
            colorPreferenceValue="0,128,192"
            verticalRulerPreferenceKey="artifactIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
			showInNextPrevDropdownToolbarActionKey="showPortingInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="false"
            overviewRulerPreferenceKey="artifactIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            
            includeOnPreferencePage="true"
            isGoToPreviousNavigationTargetKey="isPortingGoToPreviousNavigationTarget"

            isGoToNextNavigationTargetKey="isPortingRecordGoToNextNavigationTarget"
            >
      </specification>  
   </extension>

	<!--
   <extension
         id="MPIBarrierMatchSetMarker"
         name="MPIBarrierMatchSetMarker"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.ptp.pldt.mpi.analysis.matchset"
            colorPreferenceKey="concurrencyIndicationColor"
            colorPreferenceValue="250,230,110"
            contributesToHeader="false"
            highlightPreferenceKey="concurrencyHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="isConcurrencyRecordGoToNextNavigationTarget"
            label="Concurrency Marker"
            overviewRulerPreferenceKey="concurrencyIndicationInOverviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="5"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="showConcurrencyInNextPrevDropdownToolbarAction"
            textPreferenceKey="concurrencyIndication"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="concurrencyIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.core.resources.problemmarker"
            name="org.eclipse.ptp.pldt.mpi.analysis.matchset"/>
   </extension>
	-->
	
   <!-- Matching Set Artifacts -->
   <extension point="org.eclipse.core.resources.markers"
		id="mpiBarrierMatchingSetMarker"
        name="MPI Barrier Matching Set Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="fileName"/>
      <attribute name="theLineNo"/>
      <attribute name="theNewLineNo"/>
      <attribute name="columnNo"/>
      <attribute name="name"/>
      <attribute name="description"/>
      <attribute name="constructType"/>
      <attribute name="uniqueID"/>
   </extension>
   <!-- this changes the marker image in the editor marker bar  -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.ptp.pldt.mpi.analysis.mpiBarrierMatchingSetMarker"
            name="org.eclipse.ptp.pldt.mpi.analysis.mpiBarrierMatchingSetMarkerAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.ptp.pldt.mpi.analysis.mpiBarrierMatchingSetMarkerAnnotation"
            icon="icons/barrier.gif" 
            
            presentationLayer="3"
            label="MPI Barrier Matching Set Annotation Marker"
            
            textPreferenceKey="mpiIndication"
            textPreferenceValue="true"
            highlightPreferenceKey="artifactHighlighting"
            highlightPreferenceValue="false"
            colorPreferenceKey="artifactIndicationColor"
            colorPreferenceValue="0,128,192"
            verticalRulerPreferenceKey="artifactIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
			showInNextPrevDropdownToolbarActionKey="showPortingInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="false"
            overviewRulerPreferenceKey="artifactIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            
            includeOnPreferencePage="true"
            isGoToPreviousNavigationTargetKey="isPortingGoToPreviousNavigationTarget"

            isGoToNextNavigationTargetKey="isPortingRecordGoToNextNavigationTarget"
            >
      </specification>  
   </extension>

   <!-- Barrier Error Artifacts -->
   <extension point="org.eclipse.core.resources.markers"
		id="mpiErrorMarker"
        name="MPI Barrier Error Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="fileName"/>
      <attribute name="theLineNo"/>
      <attribute name="theNewLineNo"/>
      <attribute name="columnNo"/>
      <attribute name="name"/>
      <attribute name="description"/>
      <attribute name="constructType"/>
      <attribute name="uniqueID"/>
   </extension>
   <!-- this changes the marker image in the editor marker bar  -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.ptp.pldt.mpi.analysis.mpiBarrierErrorMarker"
            name="org.eclipse.ptp.pldt.mpi.analysis.mpiBarrierErrorMarkerAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.ptp.pldt.mpi.analysis.mpiBarrierErrorMarkerAnnotation"
            icon="icons/barrier.gif" 
            
            presentationLayer="3"
            label="MPI Barrier Error Annotation Marker"
            
            textPreferenceKey="mpiIndication"
            textPreferenceValue="true"
            highlightPreferenceKey="artifactHighlighting"
            highlightPreferenceValue="false"
            colorPreferenceKey="artifactIndicationColor"
            colorPreferenceValue="0,128,192"
            verticalRulerPreferenceKey="artifactIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
			showInNextPrevDropdownToolbarActionKey="showPortingInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="false"
            overviewRulerPreferenceKey="artifactIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            
            includeOnPreferencePage="true"
            isGoToPreviousNavigationTargetKey="isPortingGoToPreviousNavigationTarget"

            isGoToNextNavigationTargetKey="isPortingRecordGoToNextNavigationTarget"
            >
      </specification>  
   </extension>

</plugin>
