<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <remoteServices
            class="org.eclipse.ptp.internal.remote.rse.core.RSEServicesFactory"
            id="org.eclipse.ptp.remote.RSERemoteServices"
            name="%remoteServices.name.0"
            newConnections="true"
            scheme="rse">
      </remoteServices>
   </extension>
   <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            class="org.eclipse.ptp.internal.remote.rse.core.SpawnerSubsystemConfiguration"
            description="%configuration.description.0"
            id="org.eclipse.ptp.remote.rse.core.spawnerSubsystemConfiguration"
            name="%configuration.name.0"
            systemTypeIds="org.eclipse.rse.systemtype.unix;org.eclipse.rse.systemtype.windows;org.eclipse.rse.systemtype.linux"
            vendor="%configuration.vendor.0">
      </configuration>
      <configuration
            class="org.eclipse.ptp.internal.remote.rse.core.LocalSpawnerSubsystemConfiguration"
            description="Spawns and manipulates local processes"
            id="org.eclipse.ptp.remote.rse.core."
            name="Local Process Spawner"
            systemTypeIds="org.eclipse.rse.systemtype.local"
            vendor="%configuration.vendor.0">
      </configuration>
   </extension>

</plugin>
