<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.remote.remoteServices">
      <remoteServices
            class="org.eclipse.ptp.remote.rse.RSEServicesFactory"
            id="org.eclipse.ptp.remote.RSERemoteServices"
            name="RSE">
      </remoteServices>
   </extension>

</plugin>
