<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="althelp" name="Alternate Help file locations" schema="schema/althelp.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ptp.pldt.common.prefs.PLDTPreferencePage"
            id="org.eclipse.ptp.pldt.common.prefs.PLDTPreferencePage"
            name="%page.name"
            category="org.eclipse.ptp.ui.preferences.ptpPreferencesPage"
            />
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.ptp.pldt.common.prefs.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.ptp.pldt.common.analysisDropdownCategory"
            name="%category.name">
      </category>
      <command
            id="org.eclipse.ptp.pldt.common.dropDownCommand"
            categoryId="org.eclipse.ptp.pldt.common.analysisDropdownCategory"
            defaultHandler="org.eclipse.ptp.pldt.common.actions.AnalysisDropdownHandler"
            name="%command.name">
         <commandParameter
               id="org.eclipse.ptp.pldt.common.dropDownCommand.msg"
               name="%commandParameter.name"
               optional="true">
         </commandParameter>
         <!--
         <defaultHandler
               class="org.eclipse.ptp.pldt.common.actions.AnalysisDropdownHandler">
            <parameter
                  name="org.eclipse.ptp.pldt.common.parameter1"
                  value="test">
            </parameter>
         </defaultHandler>
         -->
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ptp.pldt.common.dropDownCommand"
            icon="icons/analyze.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               label="%menulabel"
               id="org.eclipse.ptp.pldt.common.toolbar1">
            <command
                  commandId="org.eclipse.ptp.pldt.common.dropDownCommand"
                  id="org.eclipse.ptp.pldt.common.toolbar.command1"
                  style="pulldown"
                  tooltip="%command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <or>
                        <with
                              variable="activeWorkbenchWindow.activePerspective">
                           <equals
                                 value="org.eclipse.cdt.ui.CPerspective">
                           </equals>
                        </with>
                        <with
                              variable="activeWorkbenchWindow.activePerspective">
                           <equals
                                 value="org.eclipse.ptp.rdt.ui.remoteCPerspective">
                           </equals>
                        </with>
                     </or>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.eclipse.photran.ui.FortranPerspective">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <!-- these go under the dropdown menu; could come from another plugin -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ptp.pldt.common.toolbar.command1?after=additions">
        
          <separator name="separator1.mpi"/>
          <separator name="separator2.openmp"/>
          <separator name="separator3.otherArtifact"/>
          <separator name="separator4.barrier"/>
          <separator name="separator5.other" visible="false"/>
          <separator
                name="additions">
          </separator>
        
      </menuContribution>
   </extension>


</plugin>
