<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rm.mpi.mpich2.core.rmsystem.MPICH2ServiceProvider"
            id="org.eclipse.ptp.rm.mpi.mpich2.MPICH2ServiceProvider"
            name="MPICH2"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.rm.mpi.mpich2.core.MPICH2PreferenceManager">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="org.eclipse.ptp.rm.mpi.mpich2.core.rmsystem.MPICH2ResourceManagerFactory"
            id="org.eclipse.ptp.rm.mpi.mpich2.MPICH2ServiceProvider"
            name="MPICH2">
      </resourceManager>
   </extension>
</plugin>
