<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="parser" name="%extension-point.name" schema="schema/feedback.exsd"/>
   <extension-point id="action" name="%extension-point.name.0" schema="schema/action.exsd"/>

   <extension
         id="feedbackMarker"
         name="%extension.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   
   <!-- this changes the marker image in the editor marker bar  -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.ptp.etfw.feedback.feedbackMarker"
            name="org.eclipse.ptp.etfw.feedback.compilerMarkerAnnotation">
      </type>
   </extension>
  
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.etfw.preferences.ExternalToolsMainPage"
            class="org.eclipse.ptp.internal.etfw.feedback.preferences.FeedbackPreferencePage"
            id="org.eclipse.ptp.etfw.feedback.preferences.SamplePreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.internal.etfw.feedback.preferences.PreferenceInitializer">
      </initializer>
   </extension>
    

</plugin>
