<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="feedback" name="%extension-point.name" schema="schema/feedback.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.eclipse.ptp.etfw.feedback">
      </category>
      <view
            name="%view.name"
            icon="icons/sample.gif"
            category="org.eclipse.ptp.etfw.feedback"
            class="org.eclipse.ptp.etfw.feedback.views.FeedbackTreeTableMarkerView"
            id="org.eclipse.ptp.etfw.feedback.views.feedbackView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="feedbackMarker"
         name="%extension.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   
   <!-- this changes the marker image in the editor marker bar  -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.ptp.etfw.feedback.feedbackMarker"
            name="org.eclipse.ptp.etfw.feedback.compilerMarkerAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name.0"
            id="org.eclipse.ptp.etfw.feedback.actions.commands.category">
      </category>
      <command
            name="%command.name"
            categoryId="org.eclipse.ptp.etfw.feedback.actions.commands.category"
            id="org.eclipse.ptp.etfw.feedback.actions.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ptp.etfw.feedback.actions.commands.sampleCommand"
            class="org.eclipse.ptp.etfw.feedback.actions.handlers.ShowFeedbackHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ptp.etfw.feedback.actions.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <!-- Disable ETFw feedback view icon for now  
   <extension
         point="org.eclipse.ui.menus">
         
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%menu.label"
               mnemonic="%menu.mnemonic"
               id="org.eclipse.ptp.etfw.feedback.actions.menus.sampleMenu">
            <command
                  commandId="org.eclipse.ptp.etfw.feedback.actions.commands.sampleCommand"
                  mnemonic="%command.mnemonic"
                  id="org.eclipse.ptp.etfw.feedback.actions.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.ptp.etfw.feedback.actions.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.ptp.etfw.feedback.actions.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="%command.tooltip"
                  id="org.eclipse.ptp.etfw.feedback.actions.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.ui.preferences.ptpPreferencesPage"
            class="org.eclipse.ptp.etfw.feedback.preferences.FeedbackPreferencePage"
            id="org.eclipse.ptp.etfw.feedback.preferences.SamplePreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.etfw.feedback.preferences.PreferenceInitializer">
      </initializer>
   </extension>
      <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml" primary="true">
      </toc>

   </extension>

</plugin>
