<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <builder
            commandLauncher="org.eclipse.ptp.rdt.core.remotemake.RemoteCommandLauncher"
            id="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.remoteMakeBuilder"
            isAbstract="false"
            isVariableCaseSensitive="false"
            name="%builder.name"
            superClass="cdt.managedbuild.target.gnu.builder">
      </builder>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="org.eclipse.ptp.rdt.managedbuild.target.xlupc.exe"
            isAbstract="false"
            isTest="false"
            name="%TargetName.xlupc.exe"
            projectEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.RemoteProjectEnvironmentSupplier"
            projectMacroSupplier="org.eclipse.cdt.managedbuilder.xlc.ui.XLCProjectMacroSupplier">
      	<configuration
      		name="%ConfigName.Dbg"
      		artifactExtension="exe"
      		cleanCommand="rm -rf"
      		errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
			id="org.eclipse.ptp.rdt.managedbuild.config.xlupc.exe.debug">
			<toolChain
         archList="all"
         configurationEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.environment.RemoteConfigurationEnvironmentSupplier"
         id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlupc.exe.debug"
         name="%ToolChainName.Dbg"
         osList="all"
         scannerConfigDiscoveryProfileId="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.RemoteXLUPCPerFileProfile"
         supportsManagedBuild="true"
         targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.exe.debug">
			      <targetPlatform
					  id="org.eclipse.ptp.rdt.managedbuild.target.xlupc.platform.exe.debug"
				 	  name="%PlatformName.Dbg"
					  osList="all"					  
					  archList="all">
				  </targetPlatform>
			  	  <builder
					  superClass="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.base"
					  id="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.exe.debug">		              
			      </builder>
			      <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.exe.debug"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.base">
	                  <option
	                        defaultValue="xlc.c.optimization.level.none"
	                        id="org.eclipse.ptp.rdt.xlupc.compiler.exe.debug.option.optimization.level"
	                        superClass="xlc.c.compiler.option.optimization.level">
	                  </option>
	                  <option
	                        defaultValue="true"
	                        id="org.eclipse.ptp.rdt.xlupc.compiler.exe.debug.option.debugging.g"
	                        superClass="xlc.c.compiler.option.ecd.g">
	                  </option>
                  </tool>
                  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.exe.debug"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.exe.base">
                  </tool>                  
				  <tool
					  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.exe.debug"
					  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.exe.base">
				  </tool>
			 </toolChain>  
		</configuration>
		<configuration
			name="%ConfigName.Rel"
			artifactExtension="exe"
			cleanCommand="rm -rf"
			errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
			id="org.eclipse.ptp.rdt.managedbuild.config.xlupc.exe.release">
			<toolChain
         archList="all"
         configurationEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.environment.RemoteConfigurationEnvironmentSupplier"
         id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlupc.exe.release"
         name="%ToolChainName.Rel"
         osList="all"
         scannerConfigDiscoveryProfileId="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.RemoteXLUPCPerFileProfile"
         supportsManagedBuild="true"
         targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.exe.release">
		          <targetPlatform
		              id="org.eclipse.ptp.rdt.managedbuild.target.xlupc.platform.exe.release"
		              name="%PlatformName.Rel"		             
		              osList="all"
		              archList="all">		              
		          </targetPlatform>
				  <builder
				  	  superClass="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.base"
				      id="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.release">
				  </builder> 
				  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.exe.release"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.base">                     
					  <option
						  id="org.eclipse.ptp.rdt.xlupc.compiler.exe.release.option.optimization.level"
						  defaultValue="xlc.c.optimization.level.Level5"
						  superClass="xlc.c.compiler.option.optimization.level"> 
					  </option>
					  <option
						  id="org.eclipse.ptp.rdt.xlupc.compiler.exe.release.option.debugging.g"
						  defaultValue="false"
						  superClass="xlc.c.compiler.option.ecd.g">
					  </option>
                  </tool>
                  <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.exe.release"
                      superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.exe.base">
                  </tool>  
				  <tool
					  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.exe.release"
					  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.exe.base">
				  </tool>
            </toolChain>
            
		</configuration>
	</projectType>
	<toolChain
                  archList="all"
                  configurationEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.environment.RemoteConfigurationEnvironmentSupplier"
                  id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlupc.base"
                  name="%ToolChainName.Dbg"
                  osList="all"
                  scannerConfigDiscoveryProfileId="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.RemoteXLUPCPerFileProfile"
		          supportsManagedBuild="false"
                  targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.exe.debug">
			  	  <builder
					  superClass="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.remoteMakeBuilder"
					  id="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.base">		              
			      </builder>
			      <tool
                      id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.base"
                      superClass="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.compiler">
                  </tool>
                  <tool
                        id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.exe.base"
                        natureFilter="both"
                        superClass="cdt.managedbuild.tool.xlupc.linker.exe">
                  </tool>                  
				  <tool
					  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.exe.base"
					  superClass="cdt.managedbuild.tool.xlc.assembler">
				  </tool>
				  
				  				  
				  
			 </toolChain>
			<tool
         id="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.compiler"
         isAbstract="false"
         name="%ToolName.compiler.xlupc"
         natureFilter="both"
         superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler.abstract">
			    <inputType
             id="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.compiler.input.upc"
             multipleOfType="false"
             name="%inputType.upc.name"
             primaryInput="true"
             scannerConfigDiscoveryProfileId="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.RemoteXLUPCPerFileProfile"
             superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.inputType.upc">
			    </inputType>
       <inputType
             id="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.compiler.input.c"
             multipleOfType="false"
             name="%inputType.c.name"
             primaryInput="true"
             scannerConfigDiscoveryProfileId="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.RemoteXLUPCPerFileProfile"
             superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.inputType.c">
       </inputType>
			    <outputType
						outputs="o"
			            buildVariable="OBJS"
			            id="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.compiler.output">
			            </outputType>
			 </tool>
   <projectType
         buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
         id="org.eclipse.ptp.rdt.managedbuild.target.xlupc.so"
         isAbstract="false"
         name="%projectType.so.name"
         projectEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.RemoteProjectEnvironmentSupplier"
         projectMacroSupplier="org.eclipse.cdt.managedbuilder.xlc.ui.XLCProjectMacroSupplier">
      <configuration
            artifactExtension="so"
            cleanCommand="rm -rf"
            errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
            id="org.eclipse.ptp.rdt.managedbuild.config.xlupc.so.debug"
            name="%ConfigName.Dbg">
         <toolChain
               archList="all"
               configurationEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.environment.RemoteConfigurationEnvironmentSupplier"
               id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlupc.so.debug"
               isAbstract="false"
               name="%ToolChainName.Rel"
               osList="all"
               scannerConfigDiscoveryProfileId="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.RemoteXLUPCPerFileProfile"
               supportsManagedBuild="true"
               targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.so.debug">
            <targetPlatform
                  archList="all"
                  id="org.eclipse.ptp.rdt.managedbuild.target.xlupc.platform.so.debug"
                  isAbstract="false"
                  name="%PlatformName.Dbg"
                  osList="all">
            </targetPlatform>
            <builder
                  id="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.so.debug"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.base">
            </builder>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.so.debug"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.exe.debug">
            </tool>
            <tool
                  command="${XL_compilerRoot}/xlupc"
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.so.debug"
                  isAbstract="false"
                  superClass="cdt.managedbuild.tool.xlupc.linker.so">
            </tool>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.so.debug"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.exe.base">
            </tool>
         </toolChain>
      </configuration>
      <configuration
            artifactExtension="so"
            cleanCommand="rm -rf"
            errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
            id="org.eclipse.ptp.rdt.managedbuild.config.xlupc.so.release"
            name="%ConfigName.Rel">
            <toolChain
               archList="all"
               configurationEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.environment.RemoteConfigurationEnvironmentSupplier"
               id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlupc.so.release"
               isAbstract="false"
               name="%ToolChainName.Rel"
               osList="all"
               scannerConfigDiscoveryProfileId="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.RemoteXLUPCPerFileProfile"
               supportsManagedBuild="true"
               targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.so.release">
            <targetPlatform
                  archList="all"
                  id="org.eclipse.ptp.rdt.managedbuild.target.xlupc.platform.so.release"
                  isAbstract="false"
                  name="%PlatformName.RelDbg"
                  osList="all">
            </targetPlatform>
            <builder
                  id="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.so.release"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.base">
            </builder>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.so.release"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.exe.release">
            </tool>
            <tool
                  command="${XL_compilerRoot}/xlupc"
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.linker.so.release"
                  isAbstract="false"
                  superClass="cdt.managedbuild.tool.xlupc.linker.so">
            </tool>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.so.release"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.exe.base">
            </tool>
         </toolChain>
      </configuration>
   </projectType>
      <projectType
         buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
         id="org.eclipse.ptp.rdt.managedbuild.target.xlupc.lib"
         isAbstract="false"
         name="%projectType.lib.name"
         projectEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.RemoteProjectEnvironmentSupplier"
         projectMacroSupplier="org.eclipse.cdt.managedbuilder.xlc.ui.XLCProjectMacroSupplier">
      <configuration
            artifactExtension="lib"
            cleanCommand="rm -rf"
            errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
            id="org.eclipse.ptp.rdt.managedbuild.config.xlupc.lib.debug"
            name="%ConfigName.Dbg">
         <toolChain
               archList="all"
               configurationEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.environment.RemoteConfigurationEnvironmentSupplier"
               id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlupc.lib.debug"
               isAbstract="false"
               name="%ToolChainName.Rel"
               osList="all"
               scannerConfigDiscoveryProfileId="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.RemoteXLUPCPerFileProfile"
               supportsManagedBuild="true"
               targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.archiver.debug">
            <targetPlatform
                  archList="all"
                  id="org.eclipse.ptp.rdt.managedbuild.target.xlupc.platform.lib.debug"
                  isAbstract="false"
                  name="%PlatformName.Dbg"
                  osList="all">
            </targetPlatform>
            <builder
                  id="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.lib.debug"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.base">
            </builder>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.lib.debug"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.exe.debug">
            </tool>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.archiver.debug"
                  isAbstract="false"
                  superClass="cdt.managedbuild.tool.xlc.archiver">
                  <option
                     defaultValue=" "
                     id="org.eclipse.ptp.rdt.managedbuilder.xlupc.archiver.otherOpts.debug"
                     isAbstract="false"
                     superClass="xlc.both.lib.option.flags">
               	  </option>
            </tool>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.lib.debug"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.exe.base">
            </tool>
         </toolChain>
      </configuration>
      <configuration
            artifactExtension="lib"
            cleanCommand="rm -rf"
            errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
            id="org.eclipse.ptp.rdt.managedbuild.config.xlupc.lib.release"
            name="%ConfigName.Rel">
            <toolChain
               archList="all"
               configurationEnvironmentSupplier="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.environment.RemoteConfigurationEnvironmentSupplier"
               id="org.eclipse.ptp.rdt.managedbuild.toolchain.xlupc.lib.release"
               isAbstract="false"
               name="%ToolChainName.Rel"
               osList="all"
               scannerConfigDiscoveryProfileId="org.eclipse.ptp.rdt.managedbuilder.xlupc.ui.RemoteXLUPCPerFileProfile"
               supportsManagedBuild="true"
               targetTool="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.archiver.release">
            <targetPlatform
                  archList="all"
                  id="org.eclipse.ptp.rdt.managedbuild.target.xlupc.platform.lib.release"
                  isAbstract="false"
                  name="%PlatformName.Rel"
                  osList="all">
            </targetPlatform>
            <builder
                  id="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.lib.release"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuilder.xlupc.builder.base">
            </builder>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.lib.release"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.compiler.exe.release">
            </tool>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.archiver.release"
                  isAbstract="false"
                  superClass="cdt.managedbuild.tool.xlc.archiver">
                  <option
                     defaultValue=" "
                     id="org.eclipse.ptp.rdt.managedbuilder.xlupc.archiver.otherOpts.release"
                     isAbstract="false"
                     superClass="xlc.both.lib.option.flags">
               	  </option>
            </tool>
            <tool
                  id="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.lib.release"
                  isAbstract="false"
                  superClass="org.eclipse.ptp.rdt.managedbuild.tool.xlupc.assembler.exe.base">
            </tool>
         </toolChain>
      </configuration>
   </projectType>
   </extension>
   <extension
         id="RemoteXLUPCPerProjectProfile"
         name="%extension.name"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
     <scannerInfoCollector
            class="org.eclipse.cdt.make.xlc.core.scannerconfig.PerProjectXLCScannerInfoCollector"
            scope="project"/>
     		<!-- The ScannerInfoProvider search for the information needed by the profile and send it to the ScannerInfoCollector -->
		<scannerInfoProvider providerId="specsFile">
			<!-- Specifies the compiler command that returns the information about standard include directories and standard definitions -->
			<!-- The compiler command used will be always a C compiler command -->
			<!-- The output for C or C++ projects will be different as the ScannerInfoProvider substitute the ${specs_file} variable below with a dummy "c" file or "cpp" file -->
			<run
					arguments="-E -v ${specs_file_path}"
					command="${XL_COMPILER_ROOT}/xlupc"
					class="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.scannerdiscovery.RemoteXLCSpecsRunSIProvider">
			</run>
			<!-- Specifies the parser for the output generated by the compiler with the above command line -->
			<scannerInfoConsoleParser
					class="org.eclipse.cdt.make.xlc.core.scannerconfig.XlCSpecsConsoleParser">
			</scannerInfoConsoleParser>
		</scannerInfoProvider>
  <buildOutputProvider>
     <scannerInfoConsoleParser
           class="org.eclipse.cdt.make.xlc.core.scannerconfig.XLCPerProjectBuildOutputParser">
     </scannerInfoConsoleParser>
  </buildOutputProvider>
   </extension>
   <extension
         id="RemoteXLUPCPerFileProfile"
         name="%scannerConfigProfile.name"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="org.eclipse.cdt.make.xlc.core.scannerconfig.PerFileXLCScannerInfoCollector"
            scope="file">
      </scannerInfoCollector>
      <scannerInfoProvider providerId="specsFile">
			<!-- Specifies the compiler command that returns the information about standard include directories and standard definitions -->
			<!-- The compiler command used will be always a C compiler command -->
			<!-- The output for C or C++ projects will be different as the ScannerInfoProvider substitute the ${specs_file} variable below with a dummy "c" file or "cpp" file -->
			<run
					arguments="-E -v ${specs_file_path}"
					command="${XL_COMPILER_ROOT}/xlupc"
					class="org.eclipse.ptp.rdt.managedbuilder.xlc.ui.scannerdiscovery.RemoteXLCSpecsRunSIProvider">
			</run>
			<!-- Specifies the parser for the output generated by the compiler with the above command line -->
			<scannerInfoConsoleParser
					class="org.eclipse.cdt.make.xlc.core.scannerconfig.XlCSpecsConsoleParser">
			</scannerInfoConsoleParser>
		</scannerInfoProvider>
      <buildOutputProvider>
         <scannerInfoConsoleParser
               class="org.eclipse.cdt.make.xlc.core.scannerconfig.XLCPerFileBuildOutputParser">
         </scannerInfoConsoleParser>
      </buildOutputProvider>
   </extension>
</plugin>
