<plugin>
	<extension
         point="org.eclipse.ptp.remote.core.remoteServices">
      <remoteServices
            class="org.eclipse.ptp.rm.smoa.core.SMOARemoteServicesFactory"
            id="org.eclipse.ptp.remote.SMOARemoteServices"
            name="%remoteServices.name" scheme="smoa-comp">
      </remoteServices>
   </extension>
   
     <!-- needed for PTP -->
  <extension
    point="org.eclipse.ptp.services.core.providers"
  >
    <provider
      class="org.eclipse.ptp.rm.smoa.core.rmsystem.SMOAResourceManagerConfiguration"
      id="org.eclipse.ptp.rm.smoa.SMOAServiceProvider"
      name="SMOA Computing"
      serviceId="org.eclipse.ptp.core.LaunchService"
    />
  </extension>
   <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="org.eclipse.ptp.rm.smoa.core.rmsystem.SMOAResourceManagerFactory"
            id="org.eclipse.ptp.rm.smoa.SMOAServiceProvider">
         <resourceManagerControl
             class="org.eclipse.ptp.rm.smoa.core.rmsystem.SMOAResourceManagerFactory"
             id="org.eclipse.ptp.rm.smoa.control">
         </resourceManagerControl>
         <resourceManagerMonitor
            class="org.eclipse.ptp.rm.smoa.core.rmsystem.SMOAResourceManagerFactory"
            id="org.eclipse.ptp.rm.smoa.monitor">
         </resourceManagerMonitor>
      </resourceManager>
   </extension>

</plugin>
