<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
           point="org.eclipse.ptp.remote.core.remoteServer">
        <remoteServer
              class="org.eclipse.ptp.rm.pbs.core.server.PBSProxyServerRunner"
              id="org.eclipse.ptp.rm.pbs.PBSProxyServer"
              launchCommand="java -Xms64m -Xmx128m -Xss2m ${javaargs} -jar ${payload} ${payload_args}"
              name="%PBSProxyServer.name"
              payload="pbs_proxy.jar"
              verifyCommand="java -version"
              verifyPattern ="^(java version )(.)(1\.[5-9]|[2-9]\.).*$"
              verifyFailMessage="Minimum Java 1.5 is required">
        </remoteServer>
     </extension>
</plugin>
