<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
        <extension
           point="org.eclipse.ptp.remote.server.core.remoteServer">
        <remoteServer
              class="org.eclipse.ptp.rm.lml.da.server.core.LMLDAServer"
              continuous="false"
              id="org.eclipse.ptp.rm.lml.da.server"
              launchCommand="perl LML_da_driver.pl"
              name="%LMLDAServer.name"
              payload="lml-driver.tar"
              unpackCommand="tar xvf ${payload}"
              verifyLaunchCommand="perl -V:version"
              verifyLaunchFailMessage="{0}: Invalid perl version or perl not installed on &quot;{1}&quot;"
              verifyLaunchPattern="^version=&apos;5\.[0-9]+\.[0-9]+&apos;;$">
        </remoteServer>
     </extension>
</plugin>
