<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rm.generic.core.rmsystem.GenericRMConfiguration"
            id="org.eclipse.ptp.rm.generic.GenericResourceManager"
            name="Generic Remote Launch"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.rm.generic.core.GenericRMPreferenceManager">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="org.eclipse.ptp.rm.generic.core.rmsystem.GenericResourceManagerFactory"
            id="org.eclipse.ptp.rm.generic.GenericResourceManager">
         <resourceManagerControl
               class="org.eclipse.ptp.rm.generic.core.rmsystem.GenericResourceManagerFactory"
               id="org.eclipse.ptp.rm.generic.core.control">
         </resourceManagerControl>
         <resourceManagerMonitor
               class="org.eclipse.ptp.rm.generic.core.rmsystem.GenericResourceManagerFactory"
               id="org.eclipse.ptp.rm.generic.core.monitor">
         </resourceManagerMonitor>
      </resourceManager>
   </extension>
   <extension
         point="org.eclipse.ptp.core.runtimeSystems">
      <runtimeSystem
            class="org.eclipse.ptp.rm.generic.core.rtsystem.GenericRuntimeSystemFactory"
            id="org.eclipse.ptp.rm.generic.GenericResourceManager">
      </runtimeSystem>
   </extension>
</plugin>
