<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rmsystem.ResourceManagerServiceProvider"
            id="org.eclipse.ptp.rm.pbs.resourceManager"
            name="PBS (Legacy)"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="org.eclipse.ptp.rm.pbs.core.rmsystem.PBSResourceManagerFactory"
            id="org.eclipse.ptp.rm.pbs.resourceManager">
         <resourceManagerControl
             class="org.eclipse.ptp.rm.pbs.core.rmsystem.PBSResourceManagerFactory"
             id="org.eclipse.ptp.rm.pbs.control">
         </resourceManagerControl>
         <resourceManagerMonitor
            class="org.eclipse.ptp.rm.pbs.core.rmsystem.PBSResourceManagerFactory"
            id="org.eclipse.ptp.rm.pbs.monitor">
         </resourceManagerMonitor>
      </resourceManager>
   </extension>
   <extension
         point="org.eclipse.ptp.core.runtimeSystems">
      <runtimeSystem
            class="org.eclipse.ptp.rm.pbs.core.rtsystem.PBSRuntimeSystemFactory"
            id="org.eclipse.ptp.rm.pbs.resourceManager">
      </runtimeSystem>
   </extension>
</plugin>
