<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.rm.jaxb.ui.JAXBProviderContributor"
            id="org.eclipse.ptp.rm.jaxb.JAXBServiceProvider">
      </providerContributor>
   </extension>

</plugin>
