<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.ui.wizards.RMProviderContributor"
            id="org.eclipse.ptp.rm.jaxb.JAXBServiceProvider">
      </providerContributor>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.jaxb.ui.launch.JAXBRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.rm.jaxb.ui.launchConfiguration">
      </launchConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationWizards">
      <configurationWizard
            class="org.eclipse.ptp.rm.jaxb.ui.wizards.JAXBRMControlConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.jaxb.control">
      </configurationWizard>
      <configurationWizard
            class="org.eclipse.ptp.rm.jaxb.ui.wizards.JAXBRMMonitorConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.jaxb.monitor">
      </configurationWizard>
   </extension>

</plugin>
