<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.ui.wizards.RMProviderContributor"
            id="org.eclipse.ptp.rm.jaxb.JAXBServiceProvider">
      </providerContributor>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.jaxb.ui.launch.JAXBRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.rm.jaxb.ui.launchConfiguration">
      </launchConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationWizards">
      <configurationWizard
            class="org.eclipse.ptp.rm.jaxb.ui.wizards.JAXBRMControlConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.jaxb.control">
      </configurationWizard>
      <configurationWizard
            class="org.eclipse.ptp.rm.jaxb.ui.wizards.JAXBRMMonitorConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.jaxb.monitor">
      </configurationWizard>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationSelections">
      <configurationSelection
            class="org.eclipse.ptp.rm.jaxb.ui.wizards.JAXBRMConfigurationSelectionFactory"
            id="org.eclipse.ptp.rm.jaxb.JAXBServiceProvider">
      </configurationSelection>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.ptp.rm.ResourceManagers"
            name="Resource Managers">
      </category>
      <wizard
            category="org.eclipse.ptp.rm.ResourceManagers"
            class="org.eclipse.ptp.rm.jaxb.ui.wizards.JAXBRMConfigurationImportWizard"
            icon="icons/sample.gif"
            id="org.eclipse.ptp.rm.jaxb.ui.wizards.JAXBRMConfigurationImportWizard"
            name="Resource Manager Definition from Plug-in">
         <description>
            Import XML configurations for the JAXB Resource Managers from plugins to the workspace
         </description>
      </wizard>
   </extension>

</plugin>
