<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.generic.ui.launch.GenericRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.rm.generic.launchConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.rm.generic.ui.GenericRMProviderContributor"
            id="org.eclipse.ptp.rm.generic.GenericRMServiceProvider">
      </providerContributor>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.runtimeModelPresentations">
      <runtimeModelPresentation
            class="org.eclipse.ptp.rm.generic.ui.GenericRMRuntimeModelPresentation"
            id="org.eclipse.ptp.rm.generic.GenericRMServiceProvider">
      </runtimeModelPresentation>
   </extension>
</plugin>
