<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.ui.preferences.rmPreferencesPage"
            class="org.eclipse.ptp.rm.ibm.ll.ui.preferences.IBMLLPreferencePage"
            id="org.eclipse.ptp.ibmll.ui.preferences.IBMLLPreferencePage"
            name="LoadLeveler">
      </page>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="org.eclipse.ptp.rm.ibm.ll.ui.rmLaunchConfiguration.IBMLLRMLaunchConfigurationFactory"
            id="org.eclipse.ptp.ibmll.ui.launchConfiguration"/>
   </extension>

   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.ui.wizards.RMProviderContributor"
            id="org.eclipse.ptp.rm.ibm.ll.LLServiceProvider">
      </providerContributor>
   </extension>
   <extension
         point="org.eclipse.ptp.ui.rmConfigurationWizards">
      <configurationWizard
            class="org.eclipse.ptp.rm.ibm.ll.ui.wizards.IBMLLConfigurationWizardPageFactory"
            id="org.eclipse.ptp.rm.ibm.ll.LLServiceProvider">
      </configurationWizard>
   </extension>
</plugin>
