<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
        <extension
           point="org.eclipse.ptp.remote.server.core.remoteServer">
        <remoteServer
              class="org.eclipse.ptp.internal.rdt.server.dstore.core.DStoreServer"
              continuous="true"
              id="org.eclipse.ptp.rdt.server.dstore.RemoteToolsDStoreServer"
              launchCommand="java -Xms64m -Xmx128m -Xss2m -DA_PLUGIN_PATH=. -DDSTORE_TRACING_ON=false -Dclient.username=$USER -DDSTORE_SPIRIT_ON=true -jar ${payload} 0 60000"
              name="%RemoteToolsDStoreServer.name"
              payload="rdt-server.jar"
              verifyLaunchCommand="java -version"
              verifyLaunchFailMessage="{0}: Invalid java version or java not installed on &quot;{1}&quot;"
              verifyLaunchPattern="^(java version )(.)(1\.[5-9]|[2-9]\.).*$">
        </remoteServer>
     </extension>
        <extension
              point="org.eclipse.ptp.services.core.providers">
           <provider
                 class="org.eclipse.ptp.internal.rdt.server.dstore.core.RemoteToolsCIndexServiceProvider"
                 id="org.eclipse.ptp.rdt.server.dstore.RemoteToolsCIndexServiceProvider"
                 name="%RemoteToolsCIndexingService.name"
                 serviceId="org.eclipse.ptp.rdt.core.CIndexingService">
           </provider>
        </extension>
        <extension
           point="org.eclipse.ptp.services.ui.providerContributors">
        <providerContributor
              class="org.eclipse.ptp.internal.rdt.server.dstore.ui.RemoteToolsCIndexServiceProviderContributer"
              id="org.eclipse.ptp.rdt.server.dstore.RemoteToolsCIndexServiceProvider">
        </providerContributor>
     </extension>
        <extension
              point="org.eclipse.ui.trace.traceComponents">
           <component
                 id="org.eclipse.ptp.rdt.server.dstore.component"
                 label="RDT DStore Server">
              <bundle
                    consumed="true"
                    name="org.eclipse.ptp.rdt.server.dstore">
              </bundle>
           </component>
        </extension>
</plugin>
