<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>

   <!-- Managed Build Verification Menu Group --> 
   <extension 
        point="org.eclipse.ui.popupMenus">
        
      <!-- PopUpMenus extension point and contributions (nameFilter="*.c") -->
      <objectContribution
            adaptable="true"
            id="org.eclipse.ptp.gem.verificationPopUpMenuC"
            nameFilter="*.c"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="GEM"
               path="additions"
               id="verificationMenu">
            <separator name="verificationGroup"/>
         </menu>
         <action
               class="org.eclipse.ptp.internal.gem.popup.actions.VerificationPopUpAction"
               enablesFor="1"
               id="org.eclipse.ptp.gem.verificationPopupC"
               label="Formally Verify MPI Program"
               menubarPath="verificationMenu/verificationGroup"
               icon="icons/trident.gif">
         </action>
      </objectContribution>
      
      <!-- PopUpMenus extension point and contributions (nameFilter="*.cpp") -->
      <objectContribution
            adaptable="true"
            id="org.eclipse.ptp.gem.verificationPopUpMenuCpp"
            nameFilter="*.cpp"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="GEM"
               path="additions"
               id="verificationMenu">
            <separator name="verificationGroup"/>
         </menu>
         <action
               class="org.eclipse.ptp.internal.gem.popup.actions.VerificationPopUpAction"
               enablesFor="1"
               id="org.eclipse.ptp.gem.verificationPopupCpp"
               label="Formally Verify MPI Program"
               menubarPath="verificationMenu/verificationGroup"
               icon="icons/trident.gif">
         </action>
      </objectContribution>
      
      <!-- PopUpMenus extension point and contributions (nameFilter="*.c++") -->
      <objectContribution
            adaptable="true"
            id="org.eclipse.ptp.gem.verificationPopUpMenuC++"
            nameFilter="*.c++"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="GEM"
               path="additions"
               id="verificationMenu">
            <separator name="verificationGroup"/>
         </menu>
         <action
               class="org.eclipse.ptp.internal.gem.popup.actions.VerificationPopUpAction"
               enablesFor="1"
               id="org.eclipse.ptp.gem.verificationPopupC++"
               label="Formally Verify MPI Program"
               menubarPath="verificationMenu/verificationGroup"
               icon="icons/trident.gif">
         </action>
      </objectContribution>
      
      <!-- PopUpMenus extension point and contributions (nameFilter="*.cp") -->
      <objectContribution
            adaptable="true"
            id="org.eclipse.ptp.gem.verificationPopUpMenuCp"
            nameFilter="*.cp"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="GEM"
               path="additions"
               id="verificationMenu">
            <separator name="verificationGroup"/>
         </menu>
         <action
               class="org.eclipse.ptp.internal.gem.popup.actions.VerificationPopUpAction"
               enablesFor="1"
               id="org.eclipse.ptp.gem.verificationPopupCp"
               label="Formally Verify MPI Program"
               menubarPath="verificationMenu/verificationGroup"
               icon="icons/trident.gif">
         </action>
      </objectContribution>
      
      <!-- PopUpMenus extension point and contributions (nameFilter="*.cc") -->
      <objectContribution
            adaptable="true"
            id="org.eclipse.ptp.gem.verificationPopUpMenuCc"
            nameFilter="*.cc"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="GEM"
               path="additions"
               id="verificationMenu">
            <separator name="verificationGroup"/>
         </menu>
         <action
               class="org.eclipse.ptp.internal.gem.popup.actions.VerificationPopUpAction"
               enablesFor="1"
               id="org.eclipse.ptp.gem.verificationPopupCc"
               label="Formally Verify MPI Program"
               menubarPath="verificationMenu/verificationGroup"
               icon="icons/trident.gif">
         </action>
      </objectContribution>
      
      <!-- Logfile Menu Group -->
      <!-- PopUpMenus extension point and contributions (nameFilter="*.log") -->      
      <objectContribution
            adaptable="true"
            id="org.eclipse.ptp.gem.logFilePopupMenu"
            nameFilter="*.log"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="GEM"
               path="additions"
               id="logFileMenu">
            <separator name="logFileGroup"/>
         </menu>
         <action
               class="org.eclipse.ptp.internal.gem.popup.actions.HbvLogFilePopUpAction"
               enablesFor="1"
               id="org.eclipse.ptp.gem.hbvLogPopup"
               label="Launch Happens Before Viewer"
               menubarPath="logFileMenu/logFileGroup"
               icon="icons/hbv-trident.gif">
         </action>
         <action
               class="org.eclipse.ptp.internal.gem.popup.actions.ProcessLogFilePopUpAction"
               enablesFor="1"
               id="org.eclipse.ptp.gem.LogFilePopUpAction"
               label="Process GEM Log File"
               menubarPath="logFileMenu/logFileGroup"
               icon="icons/trident.gif">
         </action>
      </objectContribution>
      
      <!-- Makefile Verification Menu Group -->
      <!-- PopUpMenus extension point and contributions (nameFilter="*.gem") -->
      <objectContribution
            adaptable="true"
            id="org.eclipse.ptp.gem.makefilePopupMenu"
            nameFilter="*.gem"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="GEM"
               path="additions"
               id="executableMenu">
            <separator name="executableGroup"/>
         </menu>
         <action
               class="org.eclipse.ptp.internal.gem.popup.actions.VerificationPopUpAction"
               enablesFor="1"
               id="org.eclipse.ptp.gem.executablePopup"
               label="Formally Verify Profiled MPI Executable"
               menubarPath="executableMenu/executableGroup"
               icon="icons/trident.gif">
         </action>
      </objectContribution>
   </extension>   

   
   <!-- Preferences extension point and Initializer -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ptp.ui.preferences.ptpPreferencesPage"
            class="org.eclipse.ptp.internal.gem.preferences.GemPreferencePage"
            id="org.eclipse.ptp.gem.preferences.GemPreferences"
            name="GEM">
      </page>
      <page
            category="org.eclipse.ptp.gem.preferences.GemPreferences"
            class="org.eclipse.ptp.internal.gem.preferences.IspPreferencePage"
            id="org.eclipse.ptp.gem.preferences.IspPreferences"
            name="ISP Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.internal.gem.preferences.PreferenceInitializer">
      </initializer>
   </extension>
    
    
   <!-- Commands extension point and contributions (for toolbar buttons) -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.ptp.gem.commands.category"
            name="GEM Commands Category">
      </category>
      <command
            categoryId="org.eclipse.ptp.gem.commands.category"
            id="org.eclipse.ptp.gem.commands.numprocsCommand"
            name="Set Number of Processes">
      </command>
      <command
            categoryId="org.eclipse.ptp.gem.commands.category"
            id="org.eclipse.ptp.gem.commands.gemCommand"
            name="Formally Verify MPI Program">
      </command>
   </extension>
   
       
   <!-- Handlers extension point -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ptp.internal.gem.handlers.GemHandler"
            commandId="org.eclipse.ptp.gem.commands.numprocsCommand">
      </handler>
      <handler
            class="org.eclipse.ptp.internal.gem.handlers.GemHandler"
            commandId="org.eclipse.ptp.gem.commands.gemCommand">
      </handler>
   </extension>
   

   <!-- Menus extension point and contributions (toolbar buttons) -->
   <extension
   		point="org.eclipse.ui.menus">
      <menuContribution
      		locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="org.eclipse.ptp.gem.toolbar"
                  label="%menulabel">
             <command
                  commandId="org.eclipse.ptp.gem.commands.gemCommand"
                  icon="icons/trident.gif"
                  id="org.eclipse.ptp.gem.toolbar.refCommand"
                  style="pulldown"
                  tooltip="Formally Verify MPI Program">
                <visibleWhen
                	checkEnabled="false">
                  <or>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.eclipse.cdt.ui.CPerspective">
                        </equals>
                     </with>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.eclipse.ptp.rdt.ui.remoteCPerspective">
                        </equals>
                     </with>
                  </or>
                </visibleWhen>
             </command>
         </toolbar>
      </menuContribution>
      <menuContribution locationURI="menu:org.eclipse.ptp.gem.toolbar.refCommand?after=additions">
            <command
                  commandId="org.eclipse.ptp.gem.commands.numprocsCommand"
                  icon="icons/triple-trident.gif"
                  id="org.eclipse.ptp.gem.toolbar.menu.numprocsCommand">
            </command>
            <command
                  commandId="org.eclipse.ptp.gem.commands.gemCommand"
                  icon="icons/trident.gif"
                  id="org.eclipse.ptp.gem.toolbar.menu.gemCommand">
            </command>
      </menuContribution>
    </extension>
    
    
   <!-- Views extension point -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="GEM Console"
            icon="icons/magnified-trident.gif"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.internal.gem.views.GemConsole"
            id="org.eclipse.ptp.gem.views.GemConsole">
      </view>
      <view
            name="GEM Analyzer"
            icon="icons/trident.gif"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.internal.gem.views.GemAnalyzer"
            id="org.eclipse.ptp.gem.views.GemAnalyzer">
      </view>
      <view
            name="GEM Browser"
            icon="icons/trident.gif"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.internal.gem.views.GemBrowser"
            id="org.eclipse.ptp.gem.views.GemBrowser">
      </view>
   </extension>
   
 </plugin>
