<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.rm.jaxb.ui.views.MonitorJobListView"
            icon="icons/parallel_perspective.gif"
            id="org.eclipse.ptp.jaxb.ui.views.MonitorJobListView"
            name="MonitorJobListView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.ptp.rm.jaxb.ui.persistentStatusContribution"
            objectClass="org.eclipse.ptp.rm.jaxb.ui.data.JobStatusData">
         <action
               class="org.eclipse.ptp.rm.jaxb.ui.actions.GetOutput"
               enablesFor="+"
               icon="icons/refresh.gif"
               id="org.eclipse.ptp.rm.jaxb.ui.GetOutput"
               label="Get Job Output"
               menubarPath="file"
               tooltip="Display the job output in a console.">
         </action>
         <action
               class="org.eclipse.ptp.rm.jaxb.ui.actions.GetError"
               enablesFor="+"
               icon="icons/refresh.gif"
               id="org.eclipse.ptp.rm.jaxb.ui.GetError"
               label="Get Job Error"
               menubarPath="file"
               tooltip="Display the job error in a console.">
         </action>
         <action
               class="org.eclipse.ptp.rm.jaxb.ui.actions.RefreshJobStatus"
               enablesFor="+"
               icon="icons/view-refresh.png"
               id="org.eclipse.ptp.rm.jaxb.ui.actions.refreshJobStatus"
               label="Refresh Job Status"
               menubarPath="status"
               tooltip="Refresh the state and state detail for this job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.jaxb.ui.actions.ReleaseJob"
               enablesFor="+"
               icon="icons/job_starting.gif"
               id="org.eclipse.ptp.rm.jaxb.ui.ReleaseJob"
               label="Release Job"
               menubarPath="job"
               tooltip="Release the job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.jaxb.ui.actions.HoldJob"
               enablesFor="+"
               icon="icons/job_suspended.gif"
               id="org.eclipse.ptp.rm.jaxb.ui.HoldJob"
               label="Hold Job"
               menubarPath="job"
               tooltip="Hold the job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.jaxb.ui.actions.ResumeJob"
               enablesFor="+"
               icon="icons/job_running.gif"
               id="org.eclipse.ptp.rm.jaxb.ui.ResumeJob"
               label="Resume Job"
               menubarPath="job"
               tooltip="Resume the job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.jaxb.ui.actions.SuspendJob"
               enablesFor="+"
               icon="icons/job_suspended.gif"
               id="org.eclipse.ptp.rm.jaxb.ui.SuspendJob"
               label="Suspend Job"
               menubarPath="job"
               tooltip="Suspend the job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.jaxb.ui.actions.CancelJob"
               enablesFor="+"
               icon="icons/job_completed.gif"
               id="org.eclipse.ptp.rm.jaxb.ui.CancelJob"
               label="Cancel Job"
               menubarPath="job"
               tooltip="Terminate the job.">
         </action>
         <action
               class="org.eclipse.ptp.rm.jaxb.ui.actions.RemoveJob"
               enablesFor="+"
               icon="icons/delete.gif"
               id="org.eclipse.ptp.rm.jaxb.ui.RemoveJob"
               label="Remove Job Entry"
               menubarPath="table"
               tooltip="Permanently remove job entry from table.">
         </action>
      </objectContribution>
   </extension>

</plugin>
