<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
            class="org.eclipse.ptp.pldt.lapi.prefs.LAPIPreferencePage"
            id="org.eclipse.ptp.pldt.lapi.prefpage"
            category="org.eclipse.ptp.pldt.common.prefs.PLDTPreferencePage"
            name="%lapi.page.name"/>
         
   </extension>

   <!--  LAPI markers -->
   <extension point="org.eclipse.core.resources.markers"
		id="lapiMarker"
        name="%lapi.artifactMarker.extension.name">
    <super type="org.eclipse.core.resources.textmarker"/>
   </extension>
   <!-- this changes the marker image in the editor marker bar  -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.ptp.pldt.lapi.lapiMarker"
            name="org.eclipse.ptp.pldt.lapi.lapiMarkerAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.ptp.pldt.lapi.lapiMarkerAnnotation"
            icon="icons/lapi.gif" 
            
            presentationLayer="3"
            label="%lapi.annotMarker.specification.label"
            
            textPreferenceKey="lapiIndication"
            textPreferenceValue="true"
            highlightPreferenceKey="artifactHighlighting"
            highlightPreferenceValue="false"
            colorPreferenceKey="artifactIndicationColor"
            colorPreferenceValue="128,128,192"
            verticalRulerPreferenceKey="artifactIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
			showInNextPrevDropdownToolbarActionKey="showPortingInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="false"
            overviewRulerPreferenceKey="artifactIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            
            includeOnPreferencePage="true"
            isGoToPreviousNavigationTargetKey="isPortingGoToPreviousNavigationTarget"

            isGoToNextNavigationTargetKey="isPortingRecordGoToNextNavigationTarget"
            >
      </specification>  
   </extension>
   <!-- end marker info -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="icons/lapi.gif"
            category="org.eclipse.ptp.ui.views"
            class="org.eclipse.ptp.pldt.lapi.views.LapiArtifactView"
            id="org.eclipse.ptp.pldt.lapi.views.LapiArtifactView">
      </view>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.CHelpProvider">
      <provider
            class="org.eclipse.ptp.pldt.lapi.editorHelp.LapiCHelpInfoProvider"
            id="org.eclipse.ptp.pldt.lapi.editorHelp.LapiCHelpInfoProvider"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ptp.pldt.lapi.actions.RunAnalyseLAPIcommandHandler"
            id="org.eclipse.ptp.pldt.lapi.command2"
            name="%find.lapi.artifacts.command.name">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ptp.pldt.common.toolbar.command1 ">
         <command
               commandId="org.eclipse.ptp.pldt.lapi.command2"
               icon="icons/lapi.gif"
               label="%show.lapi.artifacts.command.label">
         </command>
      </menuContribution>
   </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.eclipse.ptp.pldt.lapi.prefs.LAPIPreferenceInitializer">
         </initializer>
      </extension>
</plugin>
