<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-generic-batch.xml"
            name="PBS-Generic-Batch">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-generic-interactive.xml"
            name="PBS-Generic-Interactive">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/openmpi-generic-interactive.xml"
            name="Open MPI-Generic-Interactive">
      </JAXBResourceManagerConfiguration>
   </extension>

</plugin>
