<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.popupMenus"
            id="org.eclipse.fdt.refactoring.menu"
   >
	  <!-- Refactoring popup menu in Fortran editor -->
	  <viewerContribution 
	        targetID="#FortranEditorContext" 
	        id="org.eclipse.fdt.refactoring.constantreplacement">
	     <menu
	           id="org.eclipse.fdt.ui.refactoring.menu"
	           label="FDT Refactor"
	           path="fdtgroup.reorganize">
	        <separator name="fdtrefactorings"/>
	     </menu>
	     <action 
	           label="&amp;Constant Promotion..." 
	           class="org.eclipse.fdt.refactoring.ConstantPromotionEditorActionDelegate" 
	           menubarPath="org.eclipse.fdt.ui.refactoring.menu/fdtrefactorings" 
	           id="org.eclipse.fdt.refactoring.actions.constantpromotion"
	     />
	  </viewerContribution>

      <objectContribution 
            id="org.eclipse.fdt.refactoring.contrib"
            objectClass="org.eclipse.cdt.core.model.ICElement"
      >
         <visibility>
            <objectClass name="org.eclipse.cdt.core.model.ISourceReference"/>
         </visibility>
         <menu
               id="org.eclipse.fdt.ui.refactoring.menu"
               label="FDT Refactor"
               path="group.reorganize">
            <separator name="reorgGroup"/>
            <separator name="typeGroup"/>
            <separator name="codingGroup"/>
            <separator name="undoRedoGroup"/>
         </menu>
         <action 
               label="&amp;Constant Promotion..." 
               class="org.eclipse.fdt.refactoring.ConstantPromotionActionDelegate" 
               menubarPath="org.eclipse.fdt.ui.refactoring.menu/reorgGroup" 
               id="org.eclipse.cdt.refactoring.rename"
               definitionId="org.eclipse.cdt.ui.edit.text.c.rename.element"
         />
      </objectContribution>
   </extension>
   
</plugin>
