<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/com.ibm.pe.aix.xml"
            monitorType="PE"
            name="IBM Parallel Environment for AIX">
      </JAXBResourceManagerConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/com.ibm.pe.linux.xml"
            monitorType="PE"
            name="IBM Parallel Environment for Linux">
      </JAXBResourceManagerConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/com.ibm.ll.pe.aix.xml"
            monitorType="PE"
            name="IBM Parallel Environment with LoadLeveler for AIX">
      </JAXBResourceManagerConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/com.ibm.ll.pe.linux.xml"
            monitorType="PE"
            name="IBM Parallel Environment with LoadLeveler for Linux">
      </JAXBResourceManagerConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/com.ibm.pe.advanced.xml"
            monitorType="PE"
            name="IBM Parallel Environment Advanced Mode">
      </JAXBResourceManagerConfiguration>
   </extension>

</plugin>
