<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ptp.rcp.sysmon.Application">
         </run>
      </application>
   </extension>

	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Admin">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show Error View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.eclipse.pde.runtime.LogView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ptp.rm.ui.views.MonitorView?after=org.eclipse.ptp.rm.lml.monitor.ui.separator3">
         <separator
               name="org.eclipse.ptp.rcp.sysmon.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.debug.ui.commands.OpenRunConfigurations"
               icon="icons/run_exc.gif"
               style="pulldown">
         </command>
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.core.runtime.adapters">
 		<factory class="org.eclipse.core.runtime.IAdaptable"
           adaptableType="org.eclipse.core.resources.IResource">
     		<adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
		</factory>
	</extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ptp.rcp.sysmon.application"
            name="System Monitor">
         <property
               name="windowImages"
               value="/icons/icon_16.png,/icons/icon_32.png,/icons/icon_48.png,/icons/icon_64.png,/icons/icon_128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="4A95FF">
         </property>
         <property
               name="startupProgressRect"
               value="10,385,530,10">
         </property>
         <property
               name="startupMessageRect"
               value="10,365,530,20">
         </property>
         <property
               name="appName"
               value="System Monitor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property 
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources" 
               value="platform:/plugin/org.eclipse.platform/images/"> 
         </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.ptp.launch.ParallelLaunchConfigurationDelegate"
            delegateDescription="%ParallelLaunchDelegate.desc"
            id="org.eclipse.ptp.rcp.sysmon.launch"
            modes="run"
            name="%ParallelLaunchDelegate.name"
            type="org.eclipse.ptp.launch.parallelLaunch">
      </launchDelegate>
   </extension>

   <!-- 
        Tab ID's specified in the extension must be unique (across plugins), even if they are 
        not the same as the ID specified by the getId() method in the class. However, the 
        'placement' element MUST use the ID specified by the class. It all seems a bit clunky, 
        but it seems to work.
   -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <!-- Tabs for run mode -->
      <tab
            class="org.eclipse.ptp.launch.ui.tabs.ResourcesTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rcp.sysmon.resourcesTab"
            name="%ResourcesLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rcp.sysmon.launch">
         </associatedDelegate>
      </tab>
      <tab
            class="org.eclipse.ptp.rcp.sysmon.launch.ui.SysMonApplicationTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rcp.sysmon.applicationTab"
            name="%ApplicationLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rcp.sysmon.launch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.resourcesTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.tabs.ArgumentsTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rcp.sysmon.argumentsTab"
            name="%ArgumentsLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rcp.sysmon.launch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.rcp.sysmon.applicationTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.tabs.EnvironmentTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rcp.sysmon.environmentTab"
            name="%EnvironmentLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rcp.sysmon.launch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.argumentsTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.tabs.EnhancedSynchronizeTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rcp.sysmon.synchronizeTab"
            name="%SynchronizeLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rcp.sysmon.launch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.environmentTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="org.eclipse.ptp.launch.parallelLaunchConfigurationTabGroup"
            id="org.eclipse.ptp.rcp.sysmon.commonTab"
            name="%CommonLaunchTab.name">
         <associatedDelegate
               delegate="org.eclipse.ptp.rcp.sysmon.launch">
         </associatedDelegate>
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.synchronizeTab">
         </placement>
      </tab>
   </extension>
</plugin>
