<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.etfw.workflows">
           <workflowDefinitionXML
            XMLFile="data/toolxml/ppw_upc.xml">
      </workflowDefinitionXML>
   </extension>
   <extension
         point="org.eclipse.ptp.etfw.dataManagers">
      <PerformanceDataManager
            class="org.eclipse.ptp.etfw.ppw.PPWDataManager">
      </PerformanceDataManager>
   </extension>

</plugin>
