<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/tabbed-example.xml"
            name="Tabbed Example">
      </JAXBResourceManagerConfiguration>
   </extension>

</plugin>
