<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/browse-example.xml"
            name="Browse Example">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/button-group-example.xml"
            name="Button Group Example">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/control-state-example.xml"
            name="Control State Example">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/demo-example.xml"
            name="Demo Example">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/demo-example-with-action.xml"
            name="Demo Full (with Action) Example">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/discovered-properties-example.xml"
            name="Discovered Properties Example">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/namelist-example.xml"
            name="Namelist (Input) File Example">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/sharedvar-example.xml"
            name="Shared Variable Example">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/viewer-example.xml"
            name="Viewers Example">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/sharedvar-example-2.xml"
            name="Shared Variable Example 2">
      </JAXBResourceManagerConfiguration>
   </extension>

</plugin>
