<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="streamParserTokenizer" name="StreamParserTokenizer" schema="schema/streamParserTokenizer.exsd"/>
   <extension-point id="JAXBResourceManagerConfigurations" name="JAXBResourceManagerConfigurations" schema="schema/JAXBResourceManagerConfigurations.exsd"/>
</plugin>
