<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="streamParserTokenizer" name="StreamParserTokenizer" schema="schema/streamParserTokenizer.exsd"/>
   <extension-point id="JAXBResourceManagerConfigurations" name="JAXBResourceManagerConfigurations" schema="schema/JAXBResourceManagerConfigurations.exsd"/>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.JAXBResourceManagerConfigurations">
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-torque-generic.xml"
            name="PBS Torque (Generic)">
      </JAXBResourceManagerConfiguration>
      <JAXBResourceManagerConfiguration
            configurationFile="data/pbs-torque-interactive.xml"
            name="PBS Torque (Interactive)">
      </JAXBResourceManagerConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rmsystem.ResourceManagerServiceProvider"
            id="org.eclipse.ptp.rm.jaxb.JAXBServiceProvider"
            name="JAXB (test monitor)"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.rm.jaxb.core.JAXBPreferenceManager">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="Dynamic resource manager configuration variable"
            name="ptp_rm"
            resolver="org.eclipse.ptp.rm.jaxb.core.variables.RMVariableResolver"
            supportsArgument="true">
      </variable>
      <variable
            description="Dynamic variable backed by LaunchConfiguration"
            name="ptp_lc"
            resolver="org.eclipse.ptp.rm.jaxb.core.variables.LCVariableResolver">
      </variable>
   </extension>
   <extension
         point="org.eclipse.ptp.rm.jaxb.core.streamParserTokenizer">
      <streamParserTokenizer
            class="org.eclipse.ptp.rm.jaxb.core.runnable.command.ConfigurableRegexTokenizer"
            id="org.eclipse.ptp.rm.jaxb.configurableRegexTokenizer"
            name="Configurable Regex Tokenizer">
      </streamParserTokenizer>
   </extension>
   <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="org.eclipse.ptp.rm.jaxb.core.rm.JAXBResourceManagerFactory"
            id="org.eclipse.ptp.rm.jaxb.JAXBServiceProvider">
         <resourceManagerControl
             class="org.eclipse.ptp.rm.jaxb.core.rm.JAXBResourceManagerFactory"
             id="org.eclipse.ptp.rm.jaxb.control">
         </resourceManagerControl>
         <resourceManagerMonitor
            class="org.eclipse.ptp.rm.jaxb.core.rm.JAXBResourceManagerMonitorFactory"
            id="org.eclipse.ptp.rm.jaxb.monitor">
         </resourceManagerMonitor>
      </resourceManager>
   </extension>
</plugin>
