<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Extension point for contributing new environment managers -->
   <extension-point
      id="org.eclipse.ptp.ems.core.envmanager"
      name="Environment Managers"
      schema="schema/org.eclipse.ptp.ems.core.envmanager.exsd"/>

   <!-- Environment manager contributions for Modules and SoftEnv -->
   <extension point="org.eclipse.ptp.ems.core.envmanager">
      <envManager class="org.eclipse.ptp.internal.ems.core.managers.ModulesEnvManager" />
      <envManager class="org.eclipse.ptp.internal.ems.core.managers.LmodEnvManager" />
      <envManager class="org.eclipse.ptp.internal.ems.core.managers.SoftEnvManager" />
   </extension>

</plugin>
