<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="workloadController" name="Remote Environment Workload Controller" schema="schema/workloadController.exsd"/>
   <extension-point id="doubleClickHandler" name="Double Click Handler" schema="schema/doubleClickHandler.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Remote Tools"
            id="org.eclipse.ptp.remotetools">
      </category>
      <view
            name="Remote Environments"
            icon="icons/iprocess.gif"
            category="org.eclipse.ptp.remotetools"
            class="org.eclipse.ptp.remotetools.environment.ui.views.RemoteToolsEnvironmentView"
            id="org.eclipse.ptp.remotetools.environment.ui.views.RemoteEnvironmentsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <view
               id="org.eclipse.ptp.remotetools.environment.ui.views.RemoteEnvironmentsView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ptp.rm.lml.ui.SystemMonitoringPerspective">
         <view
               id="org.eclipse.ptp.remotetools.environment.ui.views.RemoteEnvironmentsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ptp.rdt.ui.remoteCPerspective">
         <view
               id="org.eclipse.ptp.remotetools.environment.ui.views.RemoteEnvironmentsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ptp.rdt.ui.callHierarchy">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
