<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rm.mpi.openmpi.core.rmsystem.OpenMPIResourceManagerConfiguration"
            id="org.eclipse.ptp.rm.mpi.openmpi.OpenMPIServiceProvider"
            name="Open MPI"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ptp.rm.mpi.openmpi.core.OpenMPIPreferenceManager">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="org.eclipse.ptp.rm.mpi.openmpi.core.rmsystem.OpenMPIResourceManagerFactory"
            id="org.eclipse.ptp.rm.mpi.openmpi.OpenMPIServiceProvider"
            name="Open MPI">
      </resourceManager>
   </extension>
</plugin>
