<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.rdt.sync.ui.synchronizeParticipants">
      <synchronizeParticipant
            class="org.eclipse.ptp.rdt.sync.rsync.ui.RsyncParticipant"
            id="org.eclipse.ptp.rdt.sync.rsync.ui.rsyncParticipant"
            name="Rsync">
      </synchronizeParticipant>
   </extension>

</plugin>
